Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

tests: observe TSO overflow instead of elapsed request time
  tests/server/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: avoid token reconnects on unchanged RM fallback
  client/servicediscovery/resource_manager_service_discovery.go
  client/servicediscovery/resource_manager_service_discovery_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: report metric fixture response write errors
  tools/pd-heartbeat-bench/metrics/util_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: preserve cluster state during restarts and leader transfers
  tests/cluster.go
  tests/cluster_test.go
  tests/config.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: add per-instance RU max-per-sec metric
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule: separate limit and store diagnostic histories
  pkg/schedule/schedulers/diagnostic_recorder.go
  pkg/schedule/schedulers/diagnostic_recorder_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: start time monitoring after retryable initialization
  server/server.go
  tests/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: expose old GC barriers through metrics and warnings
  conf/config.toml
  pkg/gc/barrier_metrics.go
  pkg/gc/barrier_metrics_integration_test.go
  pkg/gc/barrier_metrics_test.go
  pkg/gc/gc_state_manager.go
  pkg/gc/metrics.go
  pkg/keyspace/gc_barrier_lifecycle_test.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
  server/config/config.go
  server/config/config_test.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: preserve the existing time-monitor log definition
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: verify complete witness migration operators
  client/http/types.go
  pkg/core/peer.go
  pkg/core/region.go
  pkg/schedule/operator/create_operator_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: return token proxy errors without waiting on the client
  server/resource_group_proxy_service.go
  server/resource_group_proxy_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wait for scheduler initialization before CLI mutations
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: pin RU max-per-sec clamp and tick wiring in tests
  client/resource_group/controller/group_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: clear barrier observations after legacy force deletion
  pkg/gc/barrier_metrics_integration_test.go
  pkg/gc/gc_state_manager.go
  server/api/service_gc_safepoint.go
  tests/integrations/client/http_client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

etcd: close health clients created during shutdown
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/etcdutil/health_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: cover limit>1 in TestGetKeyspaceIDInRange
  pkg/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: replenish zero-capacity service buckets
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

statistics: group isolation label values case-insensitively
  pkg/schedule/scatter/placement_test.go
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #11244
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: warm keyspace cache on load, retrigger split check on region-bound miss
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  server/keyspace_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: refine WatchGCStates server design
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

docs: add WatchGCStates implementation plan
  docs/superpowers/plans/2026-09-03-watch-gc-states.md
Due: none

docs: consolidate WatchGCStates implementation tasks
  docs/superpowers/plans/2026-09-03-watch-gc-states.md
Due: none

docs: add WatchGCStates server design
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

docs: streamline WatchGCStates server design
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

gc: add GC state watcher lifecycle
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: publish and observe GC state changes
  errors.toml
  pkg/errs/errno.go
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  pkg/gc/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: satisfy WatchGCStates static checks
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  server/gc_service.go
  server/gc_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: implement WatchGCStates stream
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  server/gc_service.go
  server/gc_service_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: tighten WatchGCStates integration coverage
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: tighten WatchGCStates lifecycle guarantees
  errors.toml
  pkg/errs/errno.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: cover WatchGCStates lifecycle
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

storage, cluster: fence writes with the leader lease
  pkg/storage/etcd_backend.go
  pkg/storage/kv/etcd_fencing_test.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/storage.go
  pkg/storage/storage_fencing_test.go
  server/cluster/cluster.go
  tests/server/cluster/leader_write_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

grpcutil: isolate test certificate directories (#11247)
  pkg/utils/grpcutil/grpcutil_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: backfill GetKeyspaceIDInRange from storage, clear cache on leadership loss
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/util.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

etcdutil: synchronize health checker shutdown (#11241)
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/etcdutil/health_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: warn on barriers older than 24 hours without configuration
  conf/config.toml
  pkg/gc/barrier_metrics.go
  pkg/gc/barrier_metrics_test.go
  pkg/gc/gc_state_manager.go
  server/config/config.go
  server/config/config_test.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: track the RU peak per wall-clock second
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
