Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

client: back off RM service URL updates
  client/servicediscovery/resource_manager_service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: test RM service URL update backoff
  client/servicediscovery/resource_manager_service_discovery_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: make RM update backoff testable
  client/servicediscovery/resource_manager_service_discovery.go
  client/servicediscovery/resource_manager_service_discovery_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: remove meta revision
  client/resource_group/controller/global_controller.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: reload RM snapshot before watch retry
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: sync new RM groups from snapshot reload
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

[skip ci] update README.md file
  README.md
Due: none

tests: pin split bucket priorities and cover cpu fallback
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: lock RM service URL logging
  client/servicediscovery/resource_manager_service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/tso: stabilize TestRandomShutdown (#10440)
  tests/integrations/mcs/utils/testutil.go
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/schedule/schedulers/balance_range_test.go
  pkg/schedule/schedulers/init.go
  server/api/scheduler.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

dep: upgrade go-deadlock to work with synctest
  go.mod
  go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix tidy
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ci: add workflow to build and publish pd-server binary on release branches
  .github/workflows/release-pd-server.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ci: name release assets with arch suffix to avoid overwrite
  .github/workflows/release-pd-server.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ci: build pd-server with CGO_ENABLED=0 for glibc compatibility
  .github/workflows/release-pd-server.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ci: build pd-server without dashboard for static binary (no glibc deps)
  .github/workflows/release-pd-server.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_control: add paging bytes pre-charge in RU calculation
  client/resource_group/controller/model.go
  client/resource_group/controller/testutil.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_control: add unit test for paging bytes pre-charge
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/testutil.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add new err ErrOptionTypeNotMatch
  errors.toml
  pkg/errs/errno.go
  pkg/utils/apiutil/apiutil.go
  server/api/scheduler.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ci: set RELEASE_VERSION=v8.5.2 to satisfy PD semver version check
  .github/workflows/release-pd-server.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "add new err ErrOptionTypeNotMatch"
  errors.toml
  pkg/errs/errno.go
  pkg/utils/apiutil/apiutil.go
  server/api/scheduler.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add new error ErrOptionTypeInvalid
  errors.toml
  pkg/errs/errno.go
  pkg/utils/apiutil/apiutil.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: stabilize TestUpdateMemberWhenRecovery (#10442)
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: extend region keyspace lookup to table ranges
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/pdctl/command/region_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: fix potential bug by ai in pkg/schedule/schedulers (#10312)
  errors.toml
  pkg/errs/errno.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_hot_region_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/utils/apiutil/apiutil.go
  server/api/scheduler.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: add backoff mechanism for service URL updates (#10540)
  client/servicediscovery/resource_manager_service_discovery.go
  client/servicediscovery/resource_manager_service_discovery_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

dep: upgrade go-deadlock to work with synctest (#10545)
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add lock
  pkg/keyspace/keyspace.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: refine leader-ready failure logging
  server/cluster/cluster.go
  server/cluster/metrics.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: harden flaky triage skill handoffs
  .agents/skills/pd-ci-flaky-triage/SKILL.md
  .agents/skills/pd-ci-flaky-triage/scripts/prepare_logs.py
  .agents/skills/pd-ci-flaky-triage/scripts/tests/test_prepare_logs.py
  .agents/skills/pd-ci-flaky-triage/scripts/tests/test_skill_docs.py
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: drop flaky triage skill doc tests
  .agents/skills/pd-ci-flaky-triage/scripts/tests/test_prepare_logs.py
  .agents/skills/pd-ci-flaky-triage/scripts/tests/test_skill_docs.py
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso:support remove archive & tombstone keyspace from keyspace group (#420)
  pkg/keyspace/tso_keyspace_group.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/server/apiv2/handlers/testutil.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ci(actions): match all nextgen release branches
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-function-test.yaml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove label.yml
  .github/workflows/label.yaml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: rename raft cluster start log prefix
  server/cluster/cluster.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Add tests; do not generate event when nothing is changed
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/http: expose approximate_kv_size in RegionInfo
  client/http/types.go
  client/http/types_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
