Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

agents: drop --template from gh issue create command
  .agents/skills/create-issue/SKILL.md
Due: none

client: drop redundant RUV2 source test
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: split RUv2 metering by engine
  client/go.mod
  client/go.sum
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/model.go
  client/resource_group/controller/model_test.go
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/metering.go
  pkg/mcs/resourcemanager/server/metering_test.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: export ReportRUV2Consumption and remove per-engine wrappers
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: use PD root path for keyspace ID lookup (#503)
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
  pkg/mcs/resourcemanager/server/ru_version_policy_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: split RUv2 metering by engine (#10476)
  client/go.mod
  client/go.sum
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/model.go
  client/resource_group/controller/model_test.go
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/metering.go
  pkg/mcs/resourcemanager/server/metering_test.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: add code-review skill for PD-specific PR review
  .agents/skills/code-review/SKILL.md
  AGENTS.md
Due: none

agents: address code-review skill review feedback
  .agents/skills/code-review/SKILL.md
Due: none

agents: generalize examples in code-review skill
  .agents/skills/code-review/SKILL.md
Due: none

agents: soften absolute rules verified against codebase
  .agents/skills/code-review/SKILL.md
Due: none

agents: clarify create-issue skill description with usage context
  .agents/skills/create-issue/SKILL.md
Due: none

agents: clarify skill positioning and remove redundant references
  .agents/skills/code-review/SKILL.md
Due: none

agents: remove trailing blank line for consistency
  .agents/skills/code-review/SKILL.md
Due: none

tests,resourcemanager: cover watcher matrix recovery
  tests/integrations/mcs/resourcemanager/watcher_matrix_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: refine code-review skill from reviewer comment analysis
  .agents/skills/code-review/SKILL.md
Due: none

tso: add dynamic switching integration tests
  server/server_test.go
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment and add some explanations
  .agents/skills/fix-flaky-test/SKILL.md
  .agents/skills/fix-flaky-test/references/flaky-fix-playbook.md
Due: none

tests,resourcemanager: wait for watcher recovery signal
  tests/integrations/mcs/resourcemanager/watcher_matrix_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server,tests: forward metadata writes to PD leader
  server/resource_group_proxy_service.go
  tests/integrations/mcs/resourcemanager/redirector_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests,resourcemanager: bound watcher RPC attempts
  tests/integrations/mcs/resourcemanager/watcher_matrix_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: clarify callback failure exit
  pkg/mcs/resourcemanager/server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: format callback exit comment
  pkg/mcs/resourcemanager/server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10438
  go.mod
  go.sum
  pkg/metering/writer.go
  pkg/metering/writer_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metering: add Azure Blob Storage support
  go.mod
  go.sum
  pkg/metering/writer.go
  pkg/metering/writer_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metering: stop requiring region for Azure
  pkg/metering/writer.go
  pkg/metering/writer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Fix CI
  go.mod
  tests/integrations/go.mod
  tests/integrations/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: remove generic checklist items from code-review skill
  .agents/skills/code-review/SKILL.md
Due: none

metering: normalize root module metadata for Azure cherry-pick
  go.mod
  go.sum
  pkg/gctuner/memory_limit_tuner_test.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/scheduling/rule_test.go
  tests/server/api/scheduler_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/operator/operator_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: address review feedback for dual-writer prevention
  pkg/storage/endpoint/tso.go
  pkg/storage/storage_tso_test.go
  pkg/utils/keypath/absolute_key_path.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: add integration test for dual-writer prevention
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: split RUv2 metering by engine (#507)
  client/go.mod
  client/go.sum
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/model.go
  client/resource_group/controller/model_test.go
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove grpc
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/cpu.go
  pkg/statistics/cpu_test.go
  pkg/statistics/store.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

adjust version
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_solver_test.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/versioninfo/versioninfo.go
  pkg/versioninfo/versioninfo_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/tso: avoid fixed sleeps in shutdown test
  tests/integrations/mcs/utils/testutil.go
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add some test and comments
  go.mod
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_config_test.go
  pkg/statistics/utils/kind.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: retry canceled etcd startup (#10441)
  tests/cluster.go
  tests/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fallback in bucket
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix failpoint
  pkg/mcs/resourcemanager/server/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wait for startup cleanup before retry
  tests/cluster.go
  tests/cluster_test.go
  tests/main_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: surface startup errors early
  tests/cluster.go
  tests/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
