Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

agents: filter pre-fix flaky evidence
  .agents/skills/pd-ci-flaky-triage/SKILL.md
Due: none

add more tests
  pkg/gc/gc_state_manager_test.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix go mod
  client/go.mod
  client/go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix make check
  pkg/core/region.go
  pkg/gc/gc_state_manager_test.go
  server/gc_service.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: add checkTSOPrimary to SaveTimestamp log fields
  pkg/storage/endpoint/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

revert dashboard section
  Makefile
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/http: expose approximate_kv_size in RegionInfo (#10568)
  client/http/types.go
  client/http/types_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

makefile: extract git commands (#10514)
  Makefile
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: fix TSO stream-loop timeout reset
  client/clients/tso/dispatcher.go
  client/clients/tso/dispatcher_test.go
  client/opt/option.go
  client/opt/option_test.go
  client/pkg/retry/backoff.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ci: match all nextgen release branches in GitHub Actions (#10550)
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-function-test.yaml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: remove label.yml (#10564)
  .github/workflows/label.yaml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: fix region keyspace table query escaping
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/pdctl/command/region_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: inline save reason in persist logs
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: fix region keyspace static checks
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/pdctl/command/region_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "add new err ErrOptionTypeNotMatch"
  errors.toml
  pkg/errs/errno.go
  pkg/utils/apiutil/apiutil.go
  server/api/scheduler.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: remove raft cluster start log prefix
  server/cluster/cluster.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: refine leader-ready failure logging
  server/cluster/cluster.go
  server/cluster/metrics.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: rename raft cluster start log prefix
  server/cluster/cluster.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: address review comments for group removal
  pkg/keyspace/tso_keyspace_group.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wrap failpoint cleanup assertions in defer funcs
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: align persistence log fields
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: remove excessive comment
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: bump tidb-dashboard version
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "client: sync new RM groups from snapshot reload"
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "client: reload RM snapshot before watch retry"
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  client/clients/tso/request.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: bump tidb-dashboard version (#10580)
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: bump golang.org/x/tools for Go 1.25 failpoint build
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove extra log
  server/cluster/cluster.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso, server: add debug logs for TSO sync, closure, and forwarding paths (#10439)
  metrics/grafana/pd.json
  pkg/tso/allocator.go
  pkg/tso/tso.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: cache request source RU metrics
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/metrics/metrics.go
  client/resource_group/controller/model.go
  client/resource_group/controller/request_source_metrics_test.go
  client/resource_group/controller/testutil.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: support force merge ranges for physical table drop
  errors.toml
  pkg/errs/errno.go
  pkg/mock/mockcluster/mockcluster.go
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/cluster.go
  server/schedule/pkdbforcemerge/pkdb_manager.go
  server/schedule/pkdbforcemerge/pkdb_manager_test.go
  server/storage/endpoint/key_path.go
  server/storage/endpoint/pkdb_force_merge.go
  server/storage/storage.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_control: refund excess pre-charged tokens on response settlement
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove unnecessary change
  pkg/core/region.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests(tso): address review feedback for dynamic switching tests
  server/server_test.go
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add delete ranges api
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/schedule/pkdbforcemerge/pkdb_manager.go
  server/schedule/pkdbforcemerge/pkdb_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Do not rely on external cancel when deregistering listerner from inside gc state manager; distinguish not leader error
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  server/gc_service.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
