Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

address comment
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_test.go
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/checker/replica_strategy.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

core: keep RegionInfo ref count consistent on flow-only updates (#10723) (#10732)
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/checker/replica_strategy.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: close failed follower streams (#10685) (#10709)
  pkg/syncer/client.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
  tests/server/region_syncer/region_syncer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: bump tidb-dashboard version
  go.mod
  go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: fix close response static lint
  pkg/syncer/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update tidb-dashboard dependency to latest version
  go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update tidb-dashboard dependency to version v0.0.0-20260529061714-1cb61c10a52a
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update tidb-dashboard dependency to version v0.0.0-20260529061714-1cb61c10a52a
  tests/integrations/go.mod
  tests/integrations/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update tidb-dashboard version to v0.0.0-20260529044421-78d2144… (#10738)
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10724
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10688
  pkg/schedule/affinity/manager.go
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_test.go
  pkg/schedule/checker/checker_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

update UpdateKeyspaceConfig return
  client/http/interface.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: resolve cherry-pick conflict markers
  pkg/schedule/checker/checker_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/schedule/checker/affinity_checker.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: fix resource group controller cherry-pick
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

make check
  client/http/interface.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

affinity: use isRegionPlacementRuleSatisfiedWithBestLocation instead of IsRegionReplicated (#10192)
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_test.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/replica_strategy.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/placement/fit.go
  pkg/schedule/placement/rule_manager.go
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
  tools/pd-ctl/pdctl/command/label_command.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comments
  client/http/client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler,evict-slow-store: allow draining multiple stores from AZ
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: keep lim.last monotonic on token updates
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc,client: Make UpdateServiceSafePointV2 public
  client/client.go
  client/gc_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

owners: add ystaticy and AmoebaProtozoa as community reviewers
  OWNERS_ALIASES
Due: none

tools: add show region by keyspace-id or table-id (#9850)
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/pdctl/command/region_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

http client: support update keyspce config (#10717)
  client/http/client.go
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

polish
  client/gc_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: cover stale limiter timestamps
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/mcs/scheduling/server/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: signal RG GC goroutines to exit properly (#10724) (#10739)
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: skip affinity limit metric without groups (#10688) (#10740)
  pkg/schedule/affinity/manager.go
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_test.go
  pkg/schedule/checker/checker_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

polish
  client/client.go
  client/clients/gc/client.go
  client/gc_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

reduce lock time
  pkg/mcs/scheduling/server/grpc_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: use map for close response streams
  pkg/syncer/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: model concurrency in CancelAt stale-now test
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: lower missing bucket store log level
  pkg/mcs/scheduling/server/grpc_service.go
  server/grpc_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix
  client/client.go
  client/clients/gc/client.go
  client/gc_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: log panic when closing streams
  pkg/syncer/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10252
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

core: inherit region size and keys together for uninitialized statistics (#10011)
  server/core/region.go
  server/core/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
