Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

checker: use proto getters in split scatter test
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mod: restore go.mod section spacing
  go.mod
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "README: use <host-ip> placeholder in /members example output"
  README.md
Due: none

README: use real git_hash for v8.5.6 in /members example
  README.md
Due: none

syncer: test follower reconnect after send failure
  pkg/syncer/server.go
  tests/server/region_syncer/region_syncer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: use InjectCall for send failure test
  pkg/syncer/server.go
  tests/server/region_syncer/region_syncer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: bump kvproto for QueryRegion backport
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

feat: backport QueryRegion gRPC server to release-8.5
  pkg/core/metrics.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/slice/slice.go
  pkg/slice/slice_test.go
  server/grpc_service.go
  server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: gate paging metrics by IsCop signal
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/model.go
  client/resource_group/controller/testutil.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: clarify paging metric scope after IsCop gating
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: wake acquireTokens retries on RefundTokens
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: clean up paging metric series on group deletion
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: add OnRequestCancel to refund pre-charge on RPC failure
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

make swagger and address comment
  server/apiv2/handlers/affinity.go
  tests/server/apiv2/handlers/safe_point_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: add safe point HTTP API v2 (#10661)
  server/apiv2/handlers/affinity.go
  server/apiv2/handlers/safe_point.go
  server/apiv2/router.go
  tests/server/apiv2/handlers/safe_point_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: skip empty affinity limit metric
  pkg/schedule/affinity/manager.go
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_metrics_test.go
  pkg/schedule/checker/checker_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: reuse affinity checker test
  pkg/schedule/checker/affinity_checker_metrics_test.go
  pkg/schedule/checker/affinity_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: align split scatter metric tests with source PR
  go.mod
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: close failed follower streams (#10685)
  pkg/syncer/server.go
  pkg/syncer/server_test.go
  tests/server/region_syncer/region_syncer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: support split scatter for keyspaces
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_group.go
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: address region read router comments
  server/api/middleware.go
  server/api/router.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix check
  client/clients/gc/client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: address split scatter pending review comments
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: align split scatter metric tests with source PR
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: cleanup split scatter before dispatch backoff
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: require true follower region header
  server/api/middleware.go
  server/server.go
  tests/server/api/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: refresh outdated README build and example info (#10647)
  README.md
Due: none

server/api: keep follower handle header compatibility
  server/api/middleware.go
  tests/server/api/api_test.go
  tools/pd-ctl/tests/region/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso:update tso timestamp when met logic exhaust (#10137)
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/metrics.go
  pkg/tso/tso.go
  pkg/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: align leader lease validation with config
  server/config/config_test.go
  server/config/persist_options.go
  server/server.go
  tests/server/api/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: allow follower local region reads (#10682)
  server/api/middleware.go
  server/api/router.go
  server/server.go
  tests/server/api/api_test.go
  tools/pd-ctl/tests/region/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pass ut
  tests/server/tso/global_tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: address leader lease test lint
  server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: align leader lease tests with project style
  server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix lint
  client/clients/gc/client.go
  server/apiv2/handlers/safe_point.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule: add split-scatter for release-8.5-20251204-v8.5.4 (#10678)
  go.mod
  go.sum
  pkg/codec/codec.go
  pkg/codec/codec_test.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_group.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/config/config.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/create_operator.go
  pkg/schedule/operator/create_operator_test.go
  pkg/schedule/operator/kind.go
  pkg/schedule/operator/operator.go
  pkg/schedule/operator/operator_test.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/schedule/types/type.go
  pkg/statistics/store_collection.go
  server/cluster/cluster_worker.go
  server/cluster/split_scatter_test.go
  server/config/persist_options.go
  server/grpc_service.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/server/config/config_test.go
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: skip affinity limit metric without groups (#10688)
  pkg/schedule/affinity/manager.go
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_test.go
  pkg/schedule/checker/checker_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: update tidb-dashboard to v9.0.0-8efaf2f7
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pkg/election: add lease keepalive metrics (#10622)
  metrics/grafana/pd.json
  pkg/election/lease.go
  pkg/election/lease_test.go
  pkg/election/metrics.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/server.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
