Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

address comment
  client/client.go
  client/servicediscovery/router_service_discovery.go
  tests/integrations/mcs/router/server_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

[cp-v7.5.6] metrics: add slow store scheduler status graph to Grafana dashboard (#9941) (#9980)
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix conflict
  pkg/mcs/resourcemanager/server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: cherry pick some fixes (#466)
  pkg/core/region.go
  pkg/core/region_option.go
  pkg/core/region_test.go
  pkg/core/store.go
  pkg/core/store_test.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/handler/handler.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/splitter/region_splitter_test.go
  pkg/statistics/collector.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/store_load.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  server/server.go
  tests/integrations/client/client_test.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/utils/expected_primary.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  pkg/mcs/utils/expected_primary.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comments
  pkg/mcs/scheduling/server/affinity/watcher_test.go
  pkg/schedule/affinity/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

support to update controller config
  server/api/config.go
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test log
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tikv mark
  pkg/core/store.go
  pkg/core/store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

feat: implement transfer primary functionality in resource manager (#10146)
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/utils/expected_primary.go
  tests/integrations/mcs/members/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  client/clients/metastorage/client.go
  client/clients/router/client.go
  client/servicediscovery/router_service_discovery.go
  tests/integrations/mcs/router/server_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

memory leak fix
  pkg/keyspace/util.go
  pkg/schedule/operator/operator_queue.go
  pkg/statistics/utils/topn.go
  server/api/region.go
  server/keyspace_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add key range into suspect range
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/schedule/labeler/rules.go
  tests/server/api/rule_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pass ut
  pkg/core/store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: validate callee id for tso requests (#439)
  client/errs/errno.go
  client/errs/errs.go
  client/go.mod
  client/go.sum
  client/mock_pd_service_discovery.go
  client/pd_service_discovery.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  client/tso_stream.go
  go.mod
  go.sum
  pkg/mcs/tso/server/grpc_service.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

affinity: support ids query and skip-exist create
  client/http/interface.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/affinity/parse.go
  pkg/schedule/affinity/txn.go
  server/apiv2/handlers/affinity.go
  tests/server/apiv2/handlers/affinity_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs(agents): update build guide and add failpoint handling discipline
  AGENTS.md
Due: none

docs: add comprehensive AGENTS.md
  AGENTS.md
Due: none

docs: remove outdated sections
  AGENTS.md
Due: none

docs: add comprehensive AGENTS.md (#10147)
  AGENTS.md
Due: none

chore(deps): bump stretchr/testify to v1.11.1
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(deps): update tidb-dashboard to eliminate vulnerable JWT dependency
  client/go.mod
  client/go.sum
  client/pkg/utils/grpcutil/grpcutil.go
  client/pkg/utils/testutil/leak.go
  client/servicediscovery/service_discovery_test.go
  go.mod
  go.sum
  pkg/mcs/router/server/sync.go
  pkg/mcs/tso/server/testutil.go
  pkg/syncer/client.go
  pkg/utils/grpcutil/grpcutil.go
  pkg/utils/testutil/leak.go
  pkg/utils/testutil/testutil.go
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/mcs/tso/server_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-api-bench/main.go
  tools/pd-region-bench/main.go
  tools/pd-simulator/simulator/client.go
  tools/pd-tso-bench/main.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix(tests): pin testify to v1.10.0 to avoid breaking changes in Eventually behavior
  go.mod
  go.sum
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: improve reliability of GC tuner and client integration tests
  pkg/gctuner/memory_limit_tuner_test.go
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(mcs/scheduling): refine rule and label watcher tests for data consistency
  tests/integrations/mcs/scheduling/rule_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(scheduler): replace fixed sleep delays with eventual consistency checks
  tests/server/api/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(client): fix TTL range assertions in GC state integration tests
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  server/api/config.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(scheduler): improve reliability of pause/resume tests with eventual consistency check
  tests/server/api/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(scheduler): fix TestSchedulerConfig
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(mcs): fix TestDefaultKeyspaceGroup
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(server): improve stability of rule and scheduler API tests with eventual consistency checks
  tests/server/api/rule_test.go
  tests/server/api/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(storage): stabilize hot region iterator test with Eventually check
  tests/server/storage/hot_region_storage_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(server): ensure rule manager sync in region rule tests
  tests/server/api/rule_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(server/rule): improve reliability of key range deletion check
  tests/server/api/rule_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

feat(cache,scheduling): add cache key removal and update TTL watcher handling
  pkg/cache/ttl.go
  pkg/mcs/scheduling/server/config/watcher.go
  tests/server/api/rule_test.go
  tests/server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(mcs/resourcemanager): fix resource group controller test assertions
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

feat(config): add test coverage for EnableHeartbeatConcurrentRunner option
  tools/pd-ctl/tests/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
