Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

tiny fix
  pkg/schedule/checker/rule_checker.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add FitRegionWithoutCache in rule manager
  pkg/schedule/placement/rule_manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add test
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tiny fix
  pkg/schedule/placement/rule_manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add IsRegionLabelIsolationSatisfied
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/placement/fit.go
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
  tools/pd-ctl/pdctl/command/label_command.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/schedule/checker/affinity_checker_test.go
  pkg/schedule/checker/replica_strategy.go
  pkg/schedule/checker/rule_checker.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tiny fix
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/placement/fit.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix test
  pkg/schedule/checker/affinity_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

rm: add RM metadata handler with redirector scaffold (#10246)
  errors.toml
  pkg/errs/errno.go
  pkg/mcs/resourcemanager/metadataapi/config_service.go
  pkg/mcs/resourcemanager/metadataapi/config_service_test.go
  pkg/mcs/resourcemanager/redirector/metadata_handler.go
  pkg/mcs/resourcemanager/redirector/metadata_handler_test.go
  pkg/mcs/resourcemanager/redirector/redirector.go
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/manager.go
  tests/integrations/mcs/resourcemanager/api_test.go
  tests/integrations/mcs/resourcemanager/redirector_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(dashboard): update TiDB Dashboard to 20260316045729-aa6178a60657 [master]
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: add create-issue skill [master]
  .agents/skills/create-issue/SKILL.md
  .agents/skills/create-issue/agents/openai.yaml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: refine create-issue skill workflow [master]
  .agents/skills/create-issue/SKILL.md
Due: none

agents: align create-issue skill with repo conventions [master]
  .agents/skills/create-issue/SKILL.md
  .agents/skills/create-issue/agents/openai.yaml
  AGENTS.md
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: trim create-issue skill prompt [master]
  .agents/skills/create-issue/SKILL.md
Due: none

test(pd-ut): pin child go toolchain
  tools/pd-ut/ut.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: log malformed watcher paths
  pkg/mcs/resourcemanager/server/metadata_watcher.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: warn on malformed watcher keys
  pkg/mcs/resourcemanager/server/metadata_watcher.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: drop watcher log assertion test
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "cp:feat(active-to-active): impl unique tso index (#10180)"
  client/tso_batch_controller.go
  client/tso_dispatcher.go
  client/tso_stream.go
  client/tso_stream_test.go
  pkg/mcs/tso/server/config.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/testutil.go
  pkg/tso/tso.go
  pkg/tso/util_test.go
  pkg/utils/tsoutil/tso_dispatcher.go
  pkg/utils/tsoutil/tso_request.go
  server/config/config.go
  server/server.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/tso/testutil.go
  tests/server/tso/allocator_test.go
  tests/server/tso/common_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "cp:feat(active-to-active): impl unique tso index (#10180)" (#10432)
  client/tso_batch_controller.go
  client/tso_dispatcher.go
  client/tso_stream.go
  client/tso_stream_test.go
  pkg/mcs/tso/server/config.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/testutil.go
  pkg/tso/tso.go
  pkg/tso/util_test.go
  pkg/utils/tsoutil/tso_dispatcher.go
  pkg/utils/tsoutil/tso_request.go
  server/config/config.go
  server/server.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/tso/testutil.go
  tests/server/tso/allocator_test.go
  tests/server/tso/common_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

revert
  pkg/mcs/tso/server/config.go
  server/config/config.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/tso/testutil.go
  tests/server/tso/common_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test(tools): pin resolved go toolchain
  tools/Makefile
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove local tso test
  tests/server/tso/allocator_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(dashboard): update TiDB Dashboard to 20260316045729-aa6178a60657 [master] (#10429)
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/Makefile
  tools/go.mod
  tools/go.sum
  tools/pd-ut/ut.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(dashboard): update TiDB Dashboard to 20260316034444-321d01b0e300 [release-8.5]
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/Makefile
  tools/go.mod
  tools/go.sum
  tools/pd-ut/ut.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: support tso client suffixbit mechanism (#10340)
  pkg/mcs/tso/server/config.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/testutil.go
  pkg/tso/tso.go
  pkg/tso/util_test.go
  server/config/config.go
  server/server.go
  tests/integrations/client/client_test.go
  tests/server/tso/allocator_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

evict leader
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

stop gc if primary or leader changed
  pkg/gctuner/tuner.go
  pkg/gctuner/tuner_test.go
  pkg/mcs/scheduling/server/config/watcher.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: add downstream dependency propagation skill
  .agents/skills/propagate-pd-downstream-deps/SKILL.md
  AGENTS.md
Due: none

*: add gRPC stream operation duration metrics (#10254) (#10339) (#496)
  pkg/errs/errno.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/mcs/metastorage/server/metrics.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/metrics.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/metrics.go
  pkg/utils/grpcutil/stream.go
  pkg/utils/grpcutil/stream_test.go
  server/grpc_service.go
  server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: make Go best practices skill PD-specific
  .agents/skills/apply-google-go-best-practices/SKILL.md
  .agents/skills/apply-google-go-best-practices/references/google-go-best-practices.md
  .agents/skills/apply-pd-go-best-practices/SKILL.md
  .agents/skills/apply-pd-go-best-practices/references/pd-go-best-practices.md
  AGENTS.md
Due: none

tests/tso: avoid restarting cluster in fallback consistency test
  tests/integrations/tso/consistency_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(dashboard): update TiDB Dashboard to 20260316045729-aa6178a60657 [master] (#10429) (#10433)
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/Makefile
  tools/go.mod
  tools/go.sum
  tools/pd-ut/ut.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/tso: reinitialize allocator for failpoint setup
  tests/integrations/tso/consistency_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: add failpoint semantic guidance to AGENTS
  AGENTS.md
Due: none

fix lint
  pkg/mcs/resourcemanager/server/manager.go
  tests/integrations/mcs/resourcemanager/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  client/resource_group/controller/global_controller.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/manager.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Update client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: merge RU version policy into ControllerConfig
  client/resource_group/controller/config.go
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_manager_client_test.go
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/ru_version_policy_test.go
  tests/integrations/mcs/resourcemanager/api_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  tests/integrations/mcs/resourcemanager/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
