Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

docs: add WatchGCStates implementation plan
  docs/superpowers/plans/2026-09-03-watch-gc-states.md
Due: none

docs: add WatchGCStates server design
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

docs: refine WatchGCStates server design
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

docs: streamline WatchGCStates server design
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

docs: consolidate WatchGCStates implementation tasks
  docs/superpowers/plans/2026-09-03-watch-gc-states.md
Due: none

gc: interrupt blocked watch sends on watcher termination
  docs/superpowers/plans/2026-09-16-watch-gc-states-blocked-send.md
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: tighten WatchGCStates lifecycle guarantees
  errors.toml
  pkg/errs/errno.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: tighten WatchGCStates integration coverage
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: stop tracking local WatchGCStates design and plans
  docs/superpowers/plans/2026-09-03-watch-gc-states.md
  docs/superpowers/plans/2026-09-16-watch-gc-states-blocked-send.md
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

tests: cover WatchGCStates lifecycle
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: add GC state watcher lifecycle
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  pkg/gc/metrics_test.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: publish and observe GC state changes
  errors.toml
  pkg/errs/errno.go
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  pkg/gc/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: satisfy WatchGCStates static checks
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  server/gc_service.go
  server/gc_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: implement WatchGCStates stream
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  server/gc_service.go
  server/gc_service_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: preserve watch ordering across initial and live states
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  server/gc_service.go
  server/gc_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: reuse WatchGCStates concurrency limit helper
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: add microservice resource-manager subcommand
  tools/pd-ctl/pdctl/command/microservice_command.go
  tools/pd-ctl/tests/microservice/microservice_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule, operator: fix TransferLeader multi-target check
  pkg/schedule/operator/step.go
  pkg/schedule/operator/step_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: update microservice command usage
  tools/pd-ctl/pdctl/command/microservice_command.go
  tools/pd-ctl/pdctl/command/microservice_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cluster: retry store limit cleanup before deletion
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: validate resource-manager test members, fix cleanup leak
  tools/pd-ctl/tests/microservice/microservice_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedulers, pd-ctl: address evict-leader-scheduler review feedback
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
  tools/pd-ctl/pdctl/command/scheduler_command.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: fix resource-manager teardown order, strengthen registration test
  tools/pd-ctl/pdctl/command/microservice_command_test.go
  tools/pd-ctl/tests/microservice/microservice_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

statistics: clarify label grouping comment
  pkg/statistics/region_collection.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: test host isolation with overlapping rules
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: verify internal planning failure accounting
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wait for follower region sync before fallback checks
  tests/integrations/client/router_client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: preserve witness status when selecting peers
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: separate label isolation statistics correction
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

statistics: compare isolation labels case-insensitively
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker, scatter: fold split-scatter skip reasons into retry-later
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server, keyspace: complete bootstrap after leader changes
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/server.go
  tests/server/cluster/cluster_step_down_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: decouple split-scatter pending TTL from SlowStepWaitTime
  pkg/schedule/checker/split_scatter.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: synchronize gotPath in resource-manager command test
  tools/pd-ctl/pdctl/command/microservice_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cluster: drop unpersisted removedStoreIDs, fix heartbeat contract, tighten test signal
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/router: simplify follower retry response handling
  client/clients/router/client.go
  client/clients/router/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: restore keyspaces/{id} region label rule as a rolling-upgrade dual-write
  pkg/keyspace/keyspace.go
  server/cluster/keyspace_label_compat_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: restore ENABLED-only filtering in collectStorageSize
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  server/cluster/cluster.go
  server/cluster/metering_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: classify foreign-mode keys by key-block position, skip range scan for adjacent keyspace IDs
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: skip a redundant backfill confirmation once past the highest self-created ID
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
