Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

test: adapt GC state tests to API v3
  client/gc_client_test.go
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: fix watcher-mode default clobbering and SetKeyspaceServiceLimit cross-term races
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: reject writes when the term context source returns nil
  pkg/keyspace/meta_service_group.go
  pkg/keyspace/meta_service_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: document region meta consistency checker
  tools/pd-ctl/pdctl/command/regionmeta/README.md
Due: none

tools: add region meta consistency checker
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/exit_error.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/global_test.go
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/pdctl/command/region_meta_consistency_command.go
  tools/pd-ctl/pdctl/command/regionmeta/checker.go
  tools/pd-ctl/pdctl/command/regionmeta/checker_test.go
  tools/pd-ctl/pdctl/command/regionmeta/http.go
  tools/pd-ctl/pdctl/command/regionmeta/resource_test.go
  tools/pd-ctl/pdctl/command/regionmeta/scan.go
  tools/pd-ctl/pdctl/command/regionmeta/types.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/pdctl/ctl_test.go
  tools/pd-ctl/tests/region/meta_consistency_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: replace ICMP ping with TCP dial for store address validation
  go.mod
  go.sum
  server/grpc_service.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: close two more cross-term races found in follow-up review
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
  pkg/mcs/resourcemanager/server/resource_group.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

treat gc_management_type as authoritative
  client/client_test.go
  client/keyspace_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: route default-group synthesis through publishResourceGroupMutation
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: translate region meta consistency guide
  tools/pd-ctl/pdctl/command/regionmeta/README.md
Due: none

client: recognize v2 keyspace-level GC (#11100)
  client/client_test.go
  client/keyspace_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: make pd-ut test order deterministic
  tools/pd-ut/ut.go
  tools/pd-ut/ut_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: preserve pd-ut package scattering
  tools/pd-ut/ut.go
  tools/pd-ut/ut_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: skip syncBurstabilityWithServiceLimitLocked's group lock when no service limit is set
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: simplify locking helpers and dedupe error-wrapping
  pkg/errs/errno.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/manager.go
  server/resource_group_proxy_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: update vulnerable Go dependencies (#11052) (#11053)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: expose global barriers on GCState
  client/clients/gc/client.go
  client/clients/gc/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: read global barriers with GC state
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: return global barriers from GetGCState
  server/gc_service.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: validate combined GC state reads
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: use kvproto GetGCState barrier schema
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: request global barriers from GetGCState
  client/client_test.go
  client/gc_client.go
  tests/integrations/client/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: fix enable-after-split persistence and wait-split failure handling
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: treat raft snapshot install as etcd start progress
  server/etcd_start_test.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: retry and fall back to bulk value when loadServiceLimits' point re-read fails
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: log store address dial failures instead of rejecting PutStore
  server/grpc_service.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pkg/utils/etcdutil: reload watcher after compaction
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

watcher: enable compaction reload for bounded caches
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/router/server/meta/watcher.go
  pkg/mcs/scheduling/server/affinity/watcher.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/meta/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  server/keyspace_service.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

evict: support new_primary in /primary/evict endpoint
  pkg/mcs/tso/server/apis/v1/api.go
  tests/integrations/mcs/members/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: don't let loadServiceLimits' fallback clobber a concurrently-set newer value
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: load keyspace by ID through gRPC (#10911)
  client/keyspace_client.go
  client/keyspace_client_test.go
  client/metrics/metrics.go
  server/keyspace_service.go
  tests/server/keyspace/keyspace_service_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: make load by ID return persisted metadata (#11050)
  client/keyspace_client.go
  server/keyspace_service.go
  tests/server/keyspace/keyspace_service_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build: update kvproto for load keyspace by ID
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: fix cache leak, add startup warm-up, fix conservative-span logic
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  pkg/mcs/scheduling/server/keyspace_meta/watch_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs: fix expected-primary transient marker races (#11122)
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/utils/expected_primary.go
  pkg/mcs/utils/expected_primary_test.go
  pkg/tso/allocator.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

watcher: avoid unbounded reconciliation indexes
  pkg/mcs/scheduling/server/affinity/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs: reconcile large watcher snapshots
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/metadata_watcher.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/service_limit.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/rule_test.go
  pkg/schedule/labeler/rules.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: load persisted metadata by ID through gRPC (#10911, #11050) (#11119)
  client/go.mod
  client/go.sum
  client/keyspace_client.go
  client/keyspace_client_test.go
  client/metrics/metrics.go
  go.mod
  go.sum
  server/keyspace_service.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/server/keyspace/keyspace_service_test.go
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: use KeyspaceMeta.GetId() in mcs/tso integration tests
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
