Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

resource_manager: decode oneof fields with protobuf JSON
  pkg/mcs/resourcemanager/metadataapi/config_service.go
  tests/integrations/mcs/resourcemanager/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: confirm a modified default instead of leaving it reserved
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

deps: mark protobuf JSON dependency direct
  go.mod
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: mark protobuf JSON dependency direct
  tests/integrations/go.mod
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_manager: document legacy protobuf JSON runtime
  pkg/mcs/resourcemanager/metadataapi/config_service.go
  tests/integrations/mcs/resourcemanager/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

replace tcp dial with icmp ping
  go.mod
  go.sum
  server/grpc_service.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: simplify dynamic switching comments
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: wait for previous lifecycle on init
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: preserve confirmed state when republishing a modified group
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wait for resource manager keyspace sync
  tests/integrations/mcs/resourcemanager/redirector_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add lease check for alloc nodes
  pkg/keyspace/tso_keyspace_group.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs: set registry lease to half of leader lease
  pkg/mcs/utils/util.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: avoid reported consumption allocations
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/model.go
  client/resource_group/controller/model_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "*: add gRPC stream operation duration metrics (#10254)"
  pkg/errs/errno.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/mcs/metastorage/server/metrics.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/router/server/grpc_service.go
  pkg/mcs/router/server/metrics.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/metrics.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/metrics.go
  pkg/utils/grpcutil/stream.go
  pkg/utils/grpcutil/stream_test.go
  server/grpc_service.go
  server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Revert "metrics: add gRPC stream send duration and rate Grafana panels (#10339)"
  metrics/grafana/pd.json
  pkg/utils/grpcutil/stream.go
  pkg/utils/grpcutil/stream_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: revert gRPC stream operation duration metrics (#11048)
  metrics/grafana/pd.json
  pkg/errs/errno.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/mcs/metastorage/server/metrics.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/router/server/grpc_service.go
  pkg/mcs/router/server/metrics.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/metrics.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/metrics.go
  pkg/utils/grpcutil/stream.go
  pkg/utils/grpcutil/stream_test.go
  server/grpc_service.go
  server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: revert gRPC stream operation duration metrics (#11048)
  pkg/errs/errno.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/mcs/metastorage/server/metrics.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/router/server/grpc_service.go
  pkg/mcs/router/server/metrics.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/metrics.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/metrics.go
  pkg/utils/grpcutil/stream.go
  pkg/utils/grpcutil/stream_test.go
  server/grpc_service.go
  server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: preserve protobuf field order
  client/clients/tso/stream.go
  client/servicediscovery/tso_service_discovery.go
  pkg/utils/tsoutil/tso_proto_factory.go
  server/forward.go
  server/gc_service.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: merge loaded groups in bounded batches
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: gate reserved-default backfill on the load epoch
  pkg/mcs/resourcemanager/server/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

PD: fix alert description by removing incorrect `type` label
  metrics/alertmanager/pd.rules.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: harden async loading error paths and observability
  pkg/mcs/resourcemanager/metadataapi/config_service.go
  pkg/mcs/resourcemanager/metadataapi/config_service_test.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
  pkg/mcs/resourcemanager/server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: preserve meta-service count deltas
  pkg/keyspace/keyspace.go
  pkg/keyspace/meta_service_group.go
  pkg/keyspace/meta_service_group_test.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_manager: reject invalid keyspace IDs
  pkg/mcs/resourcemanager/metadataapi/config_service.go
  pkg/mcs/resourcemanager/metadataapi/config_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: make load by ID return persisted metadata
  server/keyspace_service.go
  tests/server/keyspace/keyspace_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: explain load-by-ID split dependency
  server/keyspace_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

member, server: bound readiness checks before leader transfer
  pkg/member/member.go
  server/member_ready.go
  server/member_ready_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: clarify load-by-ID readiness
  client/keyspace_client.go
  tests/server/keyspace/keyspace_service_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: narrow PD mode metadata cleanup
  server/microservice_cleanup.go
  server/microservice_cleanup_test.go
  tests/integrations/mcs/tso/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

member, server: address leader transfer readiness review comments
  pkg/member/member.go
  server/member_ready.go
  server/member_ready_test.go
  tests/server/member/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: use readyz leader-promotion for PD 8.6.0
  pkg/versioninfo/feature.go
  pkg/versioninfo/versioninfo_test.go
  server/member_ready.go
  server/member_ready_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: add region syncer observability
  metrics/grafana/pd.json
  pkg/syncer/client.go
  pkg/syncer/history_buffer.go
  pkg/syncer/history_buffer_test.go
  pkg/syncer/metrics.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: fix region syncer metric synchronization
  metrics/grafana/pd.json
  pkg/syncer/client.go
  pkg/syncer/history_buffer.go
  pkg/syncer/history_buffer_test.go
  pkg/syncer/metrics.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: update vulnerable golang.org/x dependencies
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: track only member transport failures
  client/servicediscovery/member_refresh_controller.go
  client/servicediscovery/member_refresh_controller_test.go
  client/servicediscovery/service_discovery.go
  client/servicediscovery/service_discovery_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: upgrade Go to 1.25.12
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: document keyspace label index readiness target
  docs/keyspace-region-label-index.md
Due: none

client: simplify member refresh state handling
  client/servicediscovery/member_refresh_controller.go
  client/servicediscovery/member_refresh_controller_test.go
  client/servicediscovery/service_discovery.go
  client/servicediscovery/service_discovery_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule/labeler: document benchmark readiness target
  docs/keyspace-region-label-index.md
  pkg/schedule/labeler/keyspace_index_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
