Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

storage: expose etcd's transaction as LowLevelTxn interface to kv.Base (#9016)
  errors.toml
  pkg/errs/errno.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
  pkg/storage/kv/levedb_kv.go
  pkg/storage/kv/mem_kv.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

PiTR Restore mode API in PD
  client/http/api.go
  client/http/interface.go
  client/http/request_info.go
  server/api/admin.go
  server/api/admin_test.go
  server/api/router.go
  server/server.go
  tests/integrations/client/http_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

placement-rule: move placement rule initialization after LoadStores (#9616) (#9752)
  server/cluster/cluster.go
  tests/integrations/client/http_client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove ci key
  Makefile
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Add 'store' label to metric pd_cluster_status in 8.5. (#9865)
  pkg/statistics/metrics.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/utils/labels.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests(tso): check TSO availability after each leader transfer
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metering: backport Azure Blob Storage support to release-nextgen (#10484)
  go.mod
  go.sum
  pkg/metering/writer.go
  pkg/metering/writer_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

atoimc
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/metrics.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  server/apiv2/handlers/keyspace.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

update log
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: align member recovery comments
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: refine flaky playbook examples
  .agents/skills/fix-flaky-test/references/flaky-fix-playbook.md
Due: none

resource_group: add server-side allocation metrics for Resource Manager
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/token_buckets.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: add client-side observability metrics for Controller
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: add Resource Control Grafana panels for client metrics
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

lock and unlock
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/metrics.go
  pkg/keyspace/tso_keyspace_group.go
  server/apiv2/handlers/keyspace.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: emphasize commit requirements in create-pr skill
  .agents/skills/create-pr/SKILL.md
Due: none

agents: add failpoint-testing skill
  .agents/skills/failpoint-testing/SKILL.md
  .agents/skills/failpoint-testing/references/failpoints.md
  .agents/skills/failpoint-testing/scripts/test-pd-leader-stuck.sh
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: complete failpoint-testing skill with all 97 failpoints
  .agents/skills/failpoint-testing/SKILL.md
  .agents/skills/failpoint-testing/examples/pd-leader-stuck-alert.md
  .agents/skills/failpoint-testing/references/failpoints.md
  .agents/skills/failpoint-testing/scripts/test-pd-leader-stuck.sh
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: auto-fix DCO sign-offs in create-pr skill
  .agents/skills/create-pr/SKILL.md
Due: none

agents: fix format inconsistencies in create-pr skill
  .agents/skills/create-pr/SKILL.md
Due: none

agents: fix failpoint-testing skill per PR review
  .agents/skills/failpoint-testing/SKILL.md
  .agents/skills/failpoint-testing/examples/pd-leader-stuck-alert.md
Due: none

agents: require confirmation for DCO sign-off rebase
  .agents/skills/create-pr/SKILL.md
Due: none

agents: fix CodeRabbit review comments on failpoint-testing skill
  .agents/skills/failpoint-testing/SKILL.md
  .agents/skills/failpoint-testing/examples/pd-leader-stuck-alert.md
Due: none

scheduler: log hot operator cpu snapshots
  pkg/schedule/schedulers/hot_region_solver.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: log filter hot peer decisions
  .gitignore
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: shrink read cpu-byte filter logs
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: emphasize DCO sign-off must be human author not agent
  .agents/skills/create-pr/SKILL.md
Due: none

agents: consolidate DCO policy and add make check requirement
  .agents/skills/create-pr/SKILL.md
Due: none

agents: fix failpoint-testing skill cleanup and heading accuracy
  .agents/skills/failpoint-testing/SKILL.md
  .agents/skills/failpoint-testing/scripts/test-pd-leader-stuck.sh
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: fix create-pr skill review comments
  .agents/skills/create-pr/SKILL.md
Due: none

scheduler: add CPU zombie extension and count-based adaptive pending amp
  .gitignore
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc, server: Add WatchGCStates API
  go.mod
  go.sum
  pkg/gc/gc_state_manager.go
  server/gc_service.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: bump kvproto to 678ff92b1edd
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add retry for prealloc
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

self test
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/util.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/split_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: add store-level hot direction metric
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
  pkg/schedule/schedulers/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: cap read cpu-byte hot ops per source store
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: restore dst cpu guard and add epoch source cap
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: add source feedback epoch guard
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: add zombie gating to source feedback guard
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
