Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

revert Makefile retry wiring and scripts/retry.sh
  Makefile
  scripts/retry.sh
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

revert embed-dashboard-ui.sh retry wiring
  scripts/embed-dashboard-ui.sh
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

core, statistics, operator: require zero keys for empty regions
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/schedule/operator/operator_test.go
  pkg/statistics/region_collection_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedulers: revert diagnostic_recorder limit-status change
  pkg/schedule/schedulers/diagnostic_recorder.go
  pkg/schedule/schedulers/diagnostic_recorder_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: replace rollback's TOMBSTONE seal with one compensating txn
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

split scatter: stabilize pending and avoid read-pool pressure (#10856)
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/config/store_config.go
  pkg/schedule/config/store_config_test.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/statistics/store.go
  server/cluster/cluster_worker.go
  server/cluster/scheduling_controller.go
  server/cluster/split_scatter_test.go
  server/config/persist_options.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: check completed leader handoff in TSO startup test (#11255)
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cluster: pin TestSetStoreLimitCannotRaceStoreDeletion to a deterministic window
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

election: protect leadership state with a single mutex
  pkg/election/leadership.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: read RM discovery lock-free in the PD leader callback
  client/client.go
  client/inner_client.go
  client/resource_manager_client_test.go
  client/zz_jmpotato_repro_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: silence gosec G703 in pd-ut temp-dir tests
  tools/pd-ut/ut_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: rename repro test file
  client/jm_potato_repro_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: drop superseded repro test filename
  client/zz_jmpotato_repro_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: use errs directly
  pkg/keyspace/meta_service_group.go
  pkg/keyspace/meta_service_group_test.go
  pkg/keyspace/util.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/router: preserve QueryRegion caller attribution
  client/client.go
  client/client_test.go
  client/clients/router/client.go
  client/clients/router/client_test.go
  client/clients/router/request.go
  client/pkg/caller/caller.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: avoid reloading the RM discovery pointer in reset
  client/inner_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

election: use RWMutex for read-heavy leadership state
  pkg/election/leadership.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: fold mode-switch leader-change test into the RM test file
  client/jm_potato_repro_test.go
  client/resource_manager_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: use require.Equal for the mode switch test
  client/resource_manager_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

errs: move meta service errors
  pkg/errs/errno.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client, server: preserve logical QueryRegion attribution
  client/client_test.go
  client/clients/router/client.go
  client/clients/router/client_test.go
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/mcs/router/server/grpc_service.go
  pkg/utils/grpcutil/metrics.go
  pkg/utils/grpcutil/metrics_test.go
  server/gc_service.go
  server/grpc_service.go
  tests/integrations/client/router_client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: clean up temporary files after test runs (#11224)
  pkg/audit/audit_test.go
  pkg/election/leadership_test.go
  pkg/gc/gc_state_manager_test.go
  pkg/mcs/discovery/register_test.go
  pkg/mcs/scheduling/server/affinity/watcher_test.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/storage/hot_region_storage_test.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/testutil/testutil.go
  tests/cluster.go
  tests/cluster_test.go
  tests/config.go
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/mcs/resourcemanager/watcher_matrix_test.go
  tests/server/api/api_test.go
  tests/server/api/version_test.go
  tests/server/cluster/cluster_test.go
  tests/server/member/member_test.go
  tools/pd-backup/pdbackup/backup_test.go
  tools/pd-ctl/pdctl/command/global_test.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/health/health_test.go
  tools/pd-ctl/tests/store/store_test.go
  tools/pd-ut/coverProfile.go
  tools/pd-ut/ut.go
  tools/pd-ut/ut_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: cancel stale RM token streams on endpoint changes (#11227)
  client/client.go
  client/inner_client.go
  client/resource_manager_client.go
  client/resource_manager_client_test.go
  client/servicediscovery/resource_manager_service_discovery.go
  client/servicediscovery/resource_manager_service_discovery_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: add placeholder version in README.md file (#11299)
  README.md
Due: none

statistics, schedule: stop republishing metrics for a known-tombstoned store (#11166)
  pkg/core/store.go
  pkg/core/store_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/coordinator.go
  pkg/schedule/placement/region_rule_cache.go
  pkg/schedule/placement/region_rule_cache_test.go
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/placement/rule_manager_test.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/store_hot_peers_infos.go
  pkg/statistics/store_load.go
  pkg/statistics/store_load_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/persist_options.go
  server/handler.go
  tests/server/api/store_test.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: isolate statement RUv2 accounting from the KV lock
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/model.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: cache enabled keyspaces at applied etcd revisions
  pkg/gc/enabled_keyspace_cache.go
  pkg/gc/enabled_keyspace_cache_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedulers: simplify parseMultiStoreIDsArg
  pkg/schedule/schedulers/evict_leader.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedulers, server/api: make evict-leader multi-store creation atomic
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/scheduler_controller.go
  server/api/scheduler.go
  tests/server/api/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: make keyspace cache recovery observable and bounded
  pkg/gc/enabled_keyspace_cache.go
  pkg/gc/enabled_keyspace_cache_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: initialize watchers from enabled keyspace index
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

election: keep hot-path getters lock-free
  pkg/election/leadership.go
  pkg/election/leadership_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build: roll back Go version to 1.25.14
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-function-test.yaml
  Dockerfile
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: limit enabled keyspace index to NextGen watches
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  server/server.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

election: serialize leadership publish against reset
  pkg/election/leadership.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: log initial enabled keyspace cache load
  pkg/gc/enabled_keyspace_cache.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: log every full enabled keyspace cache load
  pkg/gc/enabled_keyspace_cache.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: drop Go-version-sensitive URL cases in TestValidateURLWithScheme
  server/config/util_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

errs: normalize meta service errors
  errors.toml
  pkg/errs/errno.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
