Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

resource_group: add rcu tracker and record consume rate
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/tso: fix race in stream setup that cancels in-flight requests (#10703)
  client/clients/router/client.go
  client/clients/tso/client.go
  client/clients/tso/dispatcher_test.go
  client/clients/tso/stream.go
  client/pkg/connectionctx/manager.go
  client/pkg/connectionctx/manager_test.go
  tests/integrations/tso/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

adding a condition to allow bootstrapping
  pkg/storage/endpoint/region_syncer.go
  pkg/storage/endpoint/region_syncer_test.go
  pkg/storage/storage.go
  pkg/syncer/server.go
  pkg/utils/keypath/absolute_key_path.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fixing sending the end-of-history marker too soon
  pkg/storage/endpoint/region_syncer_test.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: keep lim.last monotonic on token updates (#10745)
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keeping the gate closed when failed to read from etcd
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: fix rcu metric cleanup
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/router: handle nil response when finishing QueryRegion requests
  client/clients/router/client.go
  client/errs/errno.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: remove unused full sync wrapper
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/router: normalize a nil key to an empty key in GetRegion/GetPrevRegion
  client/clients/router/request.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: lower push metrics failure log level
  pkg/mcs/resourcemanager/server/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/router: observe RequestFailedDurationQueryRegion on send failure
  client/clients/router/client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

storage: split raw txn capability from Base
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
  pkg/storage/kv/levedb_kv.go
  pkg/storage/kv/mem_kv.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

errors: clarify etcd txn response error
  errors.toml
  pkg/errs/errno.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

storage: require raw txn capability in endpoint
  pkg/storage/endpoint/endpoint.go
  pkg/storage/endpoint/gc_states.go
  pkg/storage/endpoint/maintenance.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: keep lim.last monotonic on token updates (#10745) (#10845)
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: update push metrics config dynamically
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: bump go-m1cpu to v0.2.1 to fix SIGSEGV on newer Apple Silicon (#10766)
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wait for region sync to follower in TestFollowerDirect
  tools/pd-ctl/tests/region/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

OWNERS: Auto Sync OWNERS files from community membership (#10767)
  OWNERS_ALIASES
Due: none

fixed
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

storage: expose raw txn capability interface (#9016) (#10686)
  errors.toml
  pkg/errs/errno.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Adderss some of the comments
  pkg/gc/gc_state_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build: update Go version to 1.25.10 (#10798)
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wait for region sync to follower in TestFollowerDirect (#10849)
  tools/pd-ctl/tests/region/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/keyspace/keyspace.go
  server/api/config.go
  tests/server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

call id
  client/servicediscovery/service_discovery.go
  pkg/mcs/tso/server/config_test.go
  pkg/mcs/tso/server/server.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mem leak
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/scheduling/server/server_test.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: isolate downstream state by stream (#10716)
  pkg/syncer/history_buffer.go
  pkg/syncer/history_buffer_test.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10716
  pkg/syncer/history_buffer.go
  pkg/syncer/history_buffer_test.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/router: only return buckets to requests that asked for them
  client/clients/router/client.go
  client/clients/router/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: resync follower region cache reset
  pkg/syncer/client.go
  pkg/syncer/client_test.go
  pkg/syncer/history_buffer.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
  pkg/utils/apiutil/apiutil.go
  server/api/admin.go
  server/api/middleware.go
  server/api/router.go
  server/server.go
  tests/server/api/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: add follower region reset coverage
  server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: skip reserved engine label in realcluster
  tests/integrations/realcluster/reboot_pd_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: test full sync history overflow
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: avoid loading regions during follower storage reset
  server/server.go
  server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: catch up history after full sync
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: batch delete follower region storage
  server/server.go
  server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
