Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

[skip ci] Update OWNERS file
  OWNERS_ALIASES
Due: none

fix test
  pkg/schedule/checker/affinity_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cp:feat(active-to-active): impl unique tso index (#10180)
  client/tso_batch_controller.go
  client/tso_dispatcher.go
  client/tso_stream.go
  client/tso_stream_test.go
  pkg/mcs/tso/server/config.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/testutil.go
  pkg/tso/tso.go
  pkg/tso/util_test.go
  pkg/utils/tsoutil/tso_dispatcher.go
  pkg/utils/tsoutil/tso_request.go
  server/config/config.go
  server/server.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/tso/testutil.go
  tests/server/tso/allocator_test.go
  tests/server/tso/common_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comments
  pkg/mcs/scheduling/server/affinity/watcher.go
  pkg/mcs/scheduling/server/affinity/watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

merge test
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

save work
  errors.toml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

unknown configuration
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tiny fix
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/placement/fit.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: cache meta-service group status (#463)
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/meta_service_group.go
  pkg/keyspace/meta_service_group_test.go
  server/server.go
  tests/integrations/client/meta_service_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add more comment for update purpose
  pkg/tso/allocator.go
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

unknown configuration
  pkg/utils/apiutil/apiutil.go
  server/api/admin.go
  server/api/config.go
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

improve alert
  Makefile
  cmd/pd-server/main.go
  go.mod
  go.sum
  metrics/alertmanager/pd.rules.test.yml
  metrics/alertmanager/pd.rules.yml
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools.go
  tools/go.mod
  tools/go.sum
  tools/pd-api-bench/main.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-simulator/main.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: add preconditions for keyspace config update
  errors.toml
  pkg/errs/errno.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  server/apiv2/handlers/keyspace.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/apiv2/handlers/testutil.go
  tools/pd-ctl/pdctl/command/keyspace_command.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add more tests
  tests/integrations/mcs/resourcemanager/redirector_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

config: support to update controller config by pd-ctl (#10150)
  pkg/utils/apiutil/apiutil.go
  server/api/admin.go
  server/api/config.go
  tests/integrations/mcs/resourcemanager/redirector_test.go
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add some config test
  pkg/mcs/tso/server/config_test.go
  server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix flaky test
  server/server.go
  tests/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

feat(core): optimize region query efficiency with batched lookups (#10194)
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/slice/slice.go
  pkg/slice/slice_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Add 'store' label to metric pd_cluster_status in 7.5. (#9865) (#10060)
  pkg/statistics/metrics.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/utils/labels.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add some config test (#10202)
  pkg/mcs/tso/server/config_test.go
  server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: add CLAUDE.md
  CLAUDE.md
Due: none

replace kvproto
  go.mod
  go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

impl pd cas for key rotation
  pkg/keyspace/keyspace.go
  pkg/keyspace/rotation_error.go
  pkg/storage/endpoint/keyspace.go
  pkg/storage/endpoint/keyspace_rotation.go
  pkg/utils/keypath/absolute_key_path.go
  server/apiv2/handlers/keyspace.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10194
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/slice/slice.go
  pkg/slice/slice_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

update go.mod
  client/go.mod
  client/go.sum
  server/cluster/cluster.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: add key range into suspect range to speed up split region (#10153)
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/rules.go
  tests/server/api/rule_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cp go1.23
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  .golangci.yml
  Dockerfile
  Makefile
  README.md
  client/client.go
  client/go.mod
  client/resource_manager_client.go
  cmd/pd-server/main.go
  go.mod
  go.sum
  pkg/gc/safepoint.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/schedule/filter/candidates_test.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  pkg/utils/reflectutil/tag.go
  pkg/window/policy_test.go
  server/api/pprof.go
  server/api/store_test.go
  server/forward.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/tso/testutil.go
  tests/server/tso/common_test.go
  tests/tso_cluster.go
  tools/go.mod
  tools/go.sum
  tools/pd-api-bench/README.md
  tools/pd-ctl/README.md
  tools/pd-recover/README.md
  tools/pd-simulator/README.md
  tools/pd-tso-bench/README.md
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update Go version to 1.23.1 in workflow and module files
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

refactor: comment out pprof trace handler in combineBuilderServerHTTPService
  server/util.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

config: disable pprof in embedded etcd configuration
  server/config/config.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(go): bump Go version to 1.25.6 across modules
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: add CLAUDE.md (#10207)
  CLAUDE.md
Due: none

gc
  pkg/gctuner/tuner.go
  pkg/gctuner/tuner_test.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/schedule/config/config.go
  server/cluster/cluster.go
  tests/integrations/mcs/scheduling/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

misc fixes
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: prevent blocking on etcd close by handling it in the background
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

online config
  pkg/utils/reflectutil/tag.go
  pkg/utils/reflectutil/tag_test.go
  server/api/config.go
  server/config/config.go
  tests/server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address ai comment
  pkg/gctuner/tuner.go
  pkg/gctuner/tuner_test.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
