Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

syncer: tidy stream lock fields
  pkg/syncer/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

GetSafePointV2 -> GetMinServiceSafePointV2
  client/clients/gc/client.go
  client/gc_client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix github action
  .github/workflows/pd-tests.yaml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: lower missing bucket store log level (#10753)
  pkg/mcs/scheduling/server/grpc_service.go
  server/grpc_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

use OrderedSingleFlight to reduce data race
  pkg/tso/allocator.go
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: initialize flight field in unit test struct literals
  pkg/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: use server context for close responses
  pkg/syncer/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: cover CancelAt stale-now via concurrent acquireTokens
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcegroup: replace blind sleep with signal-aware wait in acquireTokens (#10252) (#10507)
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/tso/tso.go
  pkg/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: handle region sync close responses safely (#10733)
  pkg/syncer/client.go
  pkg/syncer/client_test.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10733
  pkg/syncer/client.go
  pkg/syncer/client_test.go
  pkg/syncer/server.go
  pkg/syncer/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

syncer: resolve cherry-pick conflicts
  pkg/syncer/client.go
  pkg/syncer/client_test.go
  pkg/syncer/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: fix missing slices.Sort in UpdateKeyspaceGroup
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs/scheduling: clean primary resources on exit (#10645)
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/apis/v1/api_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/scheduling/server/server_test.go
  pkg/schedule/hbstream/heartbeat_streams.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: update Go directive to 1.25.10
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10682
  server/api/middleware.go
  server/api/router.go
  server/server.go
  tests/server/api/api_test.go
  tools/pd-ctl/tests/region/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/keyspace/meta_service_group.go
  pkg/utils/keypath/absolute_key_path.go
  pkg/utils/keypath/meta_service_group.go
  server/config/config.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

context
  pkg/keyspace/keyspace.go
  pkg/keyspace/meta_service_group.go
  pkg/keyspace/meta_service_group_test.go
  server/apiv2/handlers/meta_service_group.go
  server/config/config.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add test case
  client/gc_client.go
  tests/integrations/client/gc_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_manager: reflow future reservations
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update tidb-dashboard version
  scripts/dashboard-version
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update dashboard version to 8.5.4-1cb61c10 (#10763)
  scripts/dashboard-version
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

introduce group-eviction-labels config
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker, scatter: backport split-scatter to release-8.5 (#10714)
  go.mod
  pkg/codec/codec.go
  pkg/codec/codec_test.go
  pkg/core/region.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/grpc_service_test.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_group.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/config/config.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/create_operator.go
  pkg/schedule/operator/create_operator_test.go
  pkg/schedule/operator/kind.go
  pkg/schedule/operator/operator.go
  pkg/schedule/operator/operator_test.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/schedule/types/type.go
  pkg/statistics/store_collection.go
  server/cluster/cluster_worker.go
  server/cluster/split_scatter_test.go
  server/config/persist_options.go
  server/grpc_service.go
  server/grpc_service_test.go
  tests/server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: fix release-8.5 cherry-pick
  server/api/middleware.go
  tests/server/api/api_test.go
  tools/pd-ctl/tests/region/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: bump go-m1cpu to v0.2.1 to fix SIGSEGV on newer Apple Silicon
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: allow follower local region reads (#10682) (#10760)
  server/api/middleware.go
  server/api/router.go
  server/server.go
  tests/server/api/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_manager: refine future reservation wakeups
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

[skip ci] Update OWNERS file
  OWNERS_ALIASES
Due: none

keyspace: fix missing slices.Sort in UpdateKeyspaceGroup (#10758)
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: keep lim.last monotonic on token updates (#10745)
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10745
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

check argument
  client/gc_client.go
  tests/integrations/client/gc_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group/controller: resolve release-8.5 cherry-pick conflict
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server,storage: speed up large region load
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/storage/endpoint/meta.go
  pkg/storage/endpoint/meta_test.go
  pkg/storage/kv/levedb_kv.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/keyspace/keyspace.go
  pkg/keyspace/meta_service_group.go
  pkg/keyspace/meta_service_group_test.go
  server/api/config.go
  server/apiv2/handlers/meta_service_group.go
  server/config/config.go
  server/config/config_test.go
  server/config/persist_options.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: update Go directive to 1.25.10 (#10759)
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
