Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

resource_group: support reporting RUv2 consumption
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/model.go
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  .agents/skills/fix-cherry-pick-pr/SKILL.md
Due: none

address comment
  pkg/gctuner/tuner.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

adopt ai comment
  pkg/gctuner/tuner.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metrics: add PD_leader_service_stuck alert for etcd-leader without PD service
  metrics/alertmanager/pd.rules.yml
  tests/alertmanager/pd.rules.test.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Apply suggestion from @Copilot
  tests/alertmanager/pd.rules.test.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: add eval-time checks and staggered-failover case for PD_leader_service_stuck
  tests/alertmanager/pd.rules.test.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Apply suggestion from @coderabbitai[bot]
  tests/alertmanager/pd.rules.test.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: tighten PD_leader_service_stuck boundary and fix pd-2 fixture accuracy
  tests/alertmanager/pd.rules.test.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: set FillRate in non-trickle token bucket responses
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(dashboard): update TiDB Dashboard to 20260305120502-70e5bb19e006 [master]
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: fix watcher review follow-ups
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/metadata_watcher.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(dashboard): update TiDB Dashboard to 20260305120502-70e5bb19e006 [master] (#10324)
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: fix raw-load validation and config save
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

affinity: add ids filtering and skip-exist create options (#10157) (#10265)
  client/http/interface.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/affinity/parse.go
  pkg/schedule/affinity/txn.go
  server/apiv2/handlers/affinity.go
  tests/server/apiv2/handlers/affinity_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

use lock to protect global tuner
  pkg/gctuner/tuner.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: regroup metadata watcher tests
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: fix watcher test static lint
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove unuseless change
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/grant_leader_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: add pd ci flaky triage skill
  .agents/skills/pd-ci-flaky-triage/SKILL.md
  .agents/skills/pd-ci-flaky-triage/references/stack_snippet_examples.jsonl
  .agents/skills/pd-ci-flaky-triage/references/stack_snippet_guidelines.md
  .agents/skills/pd-ci-flaky-triage/scripts/tests/test_triage_pd_ci_flaky.py
  .agents/skills/pd-ci-flaky-triage/scripts/tests/test_validate_flaky_snippets.py
  .agents/skills/pd-ci-flaky-triage/scripts/triage_pd_ci_flaky.py
  .agents/skills/pd-ci-flaky-triage/scripts/validate_flaky_snippets.py
  AGENTS.md
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(dashboard): update TiDB Dashboard to 20260310032717-0e2f5f3a00bc [release-8.5]
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Bump and just run go mod tidy
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: upgrade Golang to 1.25.7 and tidb-dashboard dependency
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: fix golangci-lint gosec findings and exclude false-positive rules
  .golangci.yml
  Makefile
  client/go.mod
  go.mod
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/rules.go
  server/api/region.go
  tests/integrations/go.mod
  tests/server/api/region_label_test.go
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore: update dependencies for cherry-pick #10110 to release-8.5
  client/go.mod
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/region_command.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: init default group in watcher
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

squash commit
  pkg/codec/codec.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/checker/split_checker.go
  pkg/schedule/checker/split_checker_test.go
  pkg/utils/keyutil/keyrange.go
  server/cluster/cluster.go
  server/cluster/metering_test.go
  tests/integrations/mcs/scheduling/meta_test.go
  tests/server/keyspace/keyspace_test.go
  tools/pd-ctl/pdctl/command/keyspace_command.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: drop pd prefix from flaky skill
  .agents/skills/fix-flaky-test/SKILL.md
  .agents/skills/fix-flaky-test/references/flaky-fix-playbook.md
Due: none

fix check
  server/apiv2/handlers/tso_keyspace_group.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: keep watcher default init cache-only
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: update representative PRs for data race fixes in the playbook
  .agents/skills/fix-flaky-test/references/flaky-fix-playbook.md
Due: none

tests: stabilize TestGetAllKeyspaceGCStates TTL bounds (#10275)
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: stabilize TestUpdateMemberWhenRecovery retry path (#10285)
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: prefer tracking cherry-pick branch name
  .agents/skills/fix-cherry-pick-pr/SKILL.md
Due: none

add hot cpu
  .agents/skills/pd-hotspot-troubleshooting/SKILL.md
Due: none

add load split
  .agents/skills/pd-hotspot-troubleshooting/SKILL.md
Due: none

fix: threshold via geometric mean
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/utils/topn.go
  pkg/statistics/utils/topn_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
