Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

add cache skill
  .agents/skills/pd-hotspot-troubleshooting/SKILL.md
Due: none

split
  pkg/codec/codec.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address test comment
  tests/integrations/mcs/scheduling/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove leader and follower
  .agents/skills/pd-hotspot-troubleshooting/SKILL.md
Due: none

docs: add 404 error response documentation for resource group and keyspace service limit endpoints
  pkg/mcs/resourcemanager/server/apis/v1/api.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: add Google Go best practices skill
  .agents/skills/apply-google-go-best-practices/SKILL.md
  .agents/skills/apply-google-go-best-practices/agents/openai.yaml
  .agents/skills/apply-google-go-best-practices/references/google-go-best-practices.md
  AGENTS.md
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: add skill for cherry-pick PR repair (#10313)
  .agents/skills/fix-cherry-pick-pr/SKILL.md
  AGENTS.md
Due: none

This is an automated cherry-pick of #10313
  .agents/skills/fix-cherry-pick-pr/SKILL.md
  AGENTS.md
Due: none

*: make Go best practices skill platform-neutral
  .agents/skills/apply-google-go-best-practices/SKILL.md
  .agents/skills/apply-google-go-best-practices/agents/openai.yaml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: remove local path from Go best practices skill
  .agents/skills/apply-google-go-best-practices/references/google-go-best-practices.md
Due: none

*: narrow Go best practices skill scope
  .agents/skills/apply-google-go-best-practices/SKILL.md
  .agents/skills/apply-google-go-best-practices/references/google-go-best-practices.md
  AGENTS.md
Due: none

metrics: add gRPC stream send duration and rate Grafana panels
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(deps): update tidb-dashboard to eliminate vulnerable JWT dependency (#10110) (#10186)
  client/go.mod
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: update kvproto RUv2 fields
  client/go.mod
  client/go.sum
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/model.go
  client/resource_group/controller/model_test.go
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: split TiKV and TiDB RUv2 reports
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/model.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metrics: rename label client_ip to target for stream send panels
  metrics/grafana/pd.json
  pkg/utils/grpcutil/stream.go
  pkg/utils/grpcutil/stream_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_group: record split RUv2 metrics
  pkg/mcs/resourcemanager/server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

suffixbit
  client/tso_batch_controller.go
  client/tso_dispatcher.go
  client/tso_stream.go
  client/tso_stream_test.go
  pkg/mcs/tso/server/config.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/tso.go
  pkg/tso/util_test.go
  tests/integrations/client/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

revert some changes
  pkg/mcs/tso/server/config.go
  pkg/utils/tsoutil/tso_dispatcher.go
  pkg/utils/tsoutil/tso_request.go
  server/config/config.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

refactor
  pkg/mcs/tso/server/config.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/tso.go
  pkg/tso/util_test.go
  server/config/config.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

rm: normalize keyspace lookup not-found error
  errors.toml
  pkg/errs/errno.go
  pkg/mcs/resourcemanager/metadataapi/config_service.go
  pkg/mcs/resourcemanager/metadataapi/config_service_test.go
  pkg/mcs/resourcemanager/server/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build(deps): update kvproto to master
  client/go.mod
  client/go.sum
  go.mod
  go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix test
  tools/pd-ctl/tests/global_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build(deps): sync kvproto in submodules
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

core: avoid deprecated region cpu usage getter
  pkg/core/region.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove grpc
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/cpu.go
  pkg/statistics/cpu_test.go
  pkg/statistics/store.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add write cpu statistic
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/core/region.go
  pkg/core/region_option.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/collector.go
  pkg/statistics/cpu.go
  pkg/statistics/cpu_test.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/utils/constant.go
  pkg/statistics/utils/kind.go
  pkg/statistics/utils/kind_test.go
  server/cluster/cluster.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: tighten flaky triage reopen checks
  .agents/skills/pd-ci-flaky-triage/SKILL.md
  .agents/skills/pd-ci-flaky-triage/scripts/tests/test_triage_pd_ci_flaky.py
  .agents/skills/pd-ci-flaky-triage/scripts/triage_pd_ci_flaky.py
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/tso: avoid restarting cluster in fallback consistency test
  tests/integrations/tso/consistency_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: add determine-affected-versions skill
  .agents/skills/determine-affected-versions/SKILL.md
  AGENTS.md
Due: none

rm: clean up metadata handler naming
  pkg/mcs/resourcemanager/metadataapi/config_service.go
  pkg/mcs/resourcemanager/metadataapi/config_service_test.go
  pkg/mcs/resourcemanager/redirector/metadata_handler.go
  pkg/mcs/resourcemanager/redirector/metadata_handler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix nil panic in TestDisableSchedulingServiceFallback (#10282)
  tests/integrations/mcs/scheduling/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/config/config.go
  tests/integrations/mcs/scheduling/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

lint
  pkg/tso/local_allocator.go
  pkg/tso/tso.go
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address ai comment
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/tests/global_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: address metadata watcher review
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/metadata_watcher.go
  pkg/utils/keypath/resource_group.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: simplify controller config update locking
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tiny fix
  pkg/schedule/checker/rule_checker.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add test
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/affinity_checker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pick fixBetterLocation to affinity checker
  pkg/schedule/checker/affinity_checker.go
  pkg/schedule/checker/replica_strategy.go
  pkg/schedule/checker/rule_checker.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
