Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

upgrade deadlock to v0.3.6
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

skip flaky test
  pkg/schedule/schedulers/hot_region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

OWNERS: Auto Sync OWNERS files from community membership (#10196)
  OWNERS_ALIASES
Due: none

add metrics
  go.mod
  pkg/keyspace/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix import cycle
  pkg/tso/gauge.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/metrics.go
  pkg/utils/tsoutil/tso_request.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix import cycle
  pkg/tso/gauge.go
  pkg/tso/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix import cycle
  pkg/tso/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix check
  pkg/tso/keyspace_group_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix check
  pkg/keyspace/tso_keyspace_group.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(go): bump Go version to 1.25.6 across modules (#10211)
  client/go.mod
  go.mod
  tests/integrations/go.mod
  tools/go.mod
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Add unit tests
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Check removed store in TestGetClusterFeatureFlags
  server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

feat(mcs/resourcemanager): add keyspace service-limit lookup by ID
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  tests/integrations/mcs/resourcemanager/api_test.go
  tests/integrations/mcs/resourcemanager/service_limit_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fast sync
  pkg/mcs/router/server/sync.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: add gotest wrapper for failpoints
  .github/copilot-instructions.md
  AGENTS.md
  Makefile
  client/Makefile
  tests/integrations/Makefile
  tools/Makefile
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add one option to access pd leader directly
  client/opt/option.go
  client/opt/option_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add store option
  client/opt/option.go
  client/opt/option_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc
  pkg/gctuner/tuner.go
  pkg/gctuner/tuner_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: print tso batch size stats
  tools/go.mod
  tools/utils/stats.go
  tools/utils/stats_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: fix linter on mac (#9863)
  .golangci.yml
  pkg/cgroup/cgroup_cpu_test.go
  pkg/cgroup/cgroup_mock_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(deps): bump golang.org/x packages
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: clarify failpoint discipline rules
  AGENTS.md
Due: none

docs: reference copilot instructions
  AGENTS.md
Due: none

Revert "tools: print tso batch size stats"
  tools/go.mod
  tools/utils/stats.go
  tools/utils/stats_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

api: add affinity forwarding
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/utils/apiutil/serverapi/middleware.go
  pkg/utils/apiutil/serverapi/middleware_test.go
  server/apiv2/middlewares/microservice_redirector.go
  server/apiv2/router.go
  tests/server/apiv2/handlers/affinity_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

refactor watcher test and add more cases
  pkg/mcs/scheduling/server/affinity/watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

affinity: handle out-of-order label rules
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/schedule/affinity/manager.go
  pkg/schedule/affinity/manager_test.go
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/rules.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduling: add affinity watcher
  pkg/mcs/scheduling/server/affinity/watcher.go
  pkg/mcs/scheduling/server/affinity/watcher_test.go
  pkg/mcs/scheduling/server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server,tests: add tso batch metric and fix test server lock
  metrics/grafana/pd.json
  server/grpc_service.go
  server/metrics.go
  tests/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: sync CLAUDE failpoint guidance
  CLAUDE.md
Due: none

address comments
  pkg/mcs/scheduling/server/affinity/watcher.go
  pkg/mcs/scheduling/server/affinity/watcher_test.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/schedule/affinity/manager.go
  pkg/schedule/labeler/labeler.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

adjust log level
  pkg/schedule/labeler/labeler.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: add write roles and metadata gates
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/resourcemanager/server/service_limit.go
  pkg/mcs/resourcemanager/server/write_role.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  pkg/mcs/resourcemanager/server/token_buckets.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add more comment to update timestamp
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

call runtime.GC to reduce flaky
  pkg/gctuner/memory_limit_tuner_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
