Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

tests: fix Go 1.25 loop lint
  tests/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: drop duplicate TestMain after rebase
  tests/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/mcs: tighten TSO readiness helpers
  tests/integrations/mcs/utils/testutil.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource-manager: add billing RU metric by keyspace version
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso, keypath: enable non-default keyspace group to read all timestamps
  PR_DESCRIPTION_issue6972.md
  pkg/storage/endpoint/tso.go
  pkg/tso/tso.go
  pkg/utils/keypath/absolute_key_path.go
  tests/cluster.go
  tests/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix CI
  PR_DESCRIPTION_issue6972.md
Due: none

metering: backport Azure Blob Storage support to release-nextgen
  go.mod
  go.sum
  pkg/metering/writer.go
  pkg/metering/writer_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metering: remove stale root go.sum entries
  go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

reserve write cpu
  pkg/core/region.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/hot_peer.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/hot_peer_test.go
  pkg/statistics/store_load.go
  pkg/statistics/utils/constant.go
  pkg/statistics/utils/kind.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

lint
  pkg/response/easyjson-bootstrap1600012051.go
  pkg/response/region_easyjson.go
  pkg/response/region_easyjson.go.tmp
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: add create-issue skill (#10431)
  .agents/skills/create-issue/SKILL.md
  AGENTS.md
Due: none

fix client
  client/http/types.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace meta
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource-manager: rename billing RU metric to active resource
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource-manager: rename RU metric to active request unit
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource-manager: add active request unit metric by keyspace version (#10482)
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: back off callback failure retry
  pkg/mcs/resourcemanager/server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

rename direct to no-forward
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/tests/global_test.go
  tools/pd-ctl/tests/region/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

core: init placement rule after load store info (#509)
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/placement/rule_manager_test.go
  server/cluster/cluster.go
  tests/integrations/client/http_client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: gate proxy reconnect on transport errors
  server/resource_group_proxy_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource-manager: add active request unit metric by keyspace version (#510)
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
  pkg/mcs/resourcemanager/server/ru_version_policy_test.go
  pkg/mcs/resourcemanager/server/utils.go
  pkg/mcs/resourcemanager/server/utils_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: fix delayConsume duration cast
  pkg/mcs/resourcemanager/server/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build: add testify replace workaround
  go.mod
  go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build: align nested testify workaround
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove some lines
  .agents/skills/fix-flaky-test/references/flaky-fix-playbook.md
Due: none

*: add skill for update-dashboard routine
  .agents/skills/update-dashboard/SKILL.md
Due: none

*: register update-dashboard and add-metrics skills in AGENTS.md
  AGENTS.md
Due: none

*: add issue search/creation step to update-dashboard skill
  .agents/skills/update-dashboard/SKILL.md
Due: none

*: use create-issue skill in update-dashboard workflow
  .agents/skills/update-dashboard/SKILL.md
Due: none

chore(dashboard): update TiDB Dashboard to 20260320031923-63e5fff26585 [master]
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

build: merge root require blocks
  go.mod
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  tools/pd-ctl/pdctl/command/global.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cp 10302 to master
  pkg/core/metrics.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/cluster.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/metrics.go
  tests/testutil.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: address review comments
  metrics/alertmanager/pd.rules.yml
  tests/alertmanager/pd.rules.test.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add leader priority
  server/metrics.go
  server/server.go
  tests/server/member_leader_priority_metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

statistics: align read cpu with query hot signals
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/statistics/store.go
  pkg/statistics/store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

skip flaky tests
  pkg/tso/util_test.go
  tests/server/join/join_test.go
  tests/server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: upgrade github.com/aws/aws-sdk-go-v2/config from v1.18 to v1.25 (#8883)
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: fix tso proxy error propagation and add test (#9268)
  pkg/utils/tsoutil/tso_dispatcher.go
  tests/server/tso/tso_proxy_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

maintenance: implement PD maintenance endpoints to serialize TiKV maintenance operations (#9478)
  pkg/maintenance/metrics.go
  pkg/storage/endpoint/maintenance.go
  pkg/storage/storage.go
  pkg/utils/keypath/key_path.go
  pkg/utils/keypath/maintenance.go
  server/apiv2/handlers/maintenance.go
  server/apiv2/router.go
  tests/server/apiv2/handlers/maintenance_test.go
  tools/pd-ctl/pdctl/command/maintenance_command.go
  tools/pd-ctl/pdctl/command/maintenance_command_test.go
  tools/pd-ctl/pdctl/ctl.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
