Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

schedule: support placement-constrained hot scheduling (#11057)
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/placement/config.go
  pkg/schedule/placement/label_constraint.go
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/placement/rule_manager_test.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_rank_v2_test.go
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/metrics.go
  pkg/statistics/store_hot_peers_infos.go
  pkg/statistics/store_load.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: share the RU timeline object with tombstones
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/ru_timeline.go
  client/resource_group/controller/ru_timeline_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: fix enabled keyspace cache lint failures
  pkg/gc/enabled_keyspace_cache.go
  pkg/gc/enabled_keyspace_cache_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: support WatchGCStates forwarding
  server/forward.go
  server/gc_service.go
  server/gc_service_test.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: check peer targets against the updated region layout (#11204)
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_manager: express unavailable RU peak minutes as missing samples
  pkg/mcs/resourcemanager/server/ru_timeline.go
  pkg/mcs/resourcemanager/server/ru_timeline_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

election: prevent keepalive restart during reset
  pkg/election/leadership.go
  pkg/election/leadership_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: judge idle groups over whole cleanup interval
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/request_source_metrics_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: keep the tombstone active in the default keep-alive test
  client/resource_group/controller/ru_timeline_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

statistics: tighten case-insensitive isolation test cases
  pkg/statistics/region_collection_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_manager: bound RU peaks to foreground seconds within 90s
  pkg/mcs/resourcemanager/server/metrics_test.go
  pkg/mcs/resourcemanager/server/ru_timeline.go
  pkg/mcs/resourcemanager/server/ru_timeline_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: keep untimed consumption out of RU timelines without gaps
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/ru_timeline.go
  client/resource_group/controller/ru_timeline_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

statistics: skip rune folding for ASCII label values
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule: compare location label values case-insensitively
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/builder_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: judge idle groups over whole cleanup interval (#11308)
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/request_source_metrics_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedulers: preserve pre-existing config on restore failure
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/scheduler_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: batch removal from TSO keyspace groups (#11170)
  pkg/election/leadership.go
  pkg/gc/metrics_test.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/meta_service_group.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/storage/endpoint/endpoint.go
  pkg/storage/endpoint/keyspace.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/storage/endpoint/tso_keyspace_group_test.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
  pkg/storage/storage.go
  server/apiv2/handlers/tso_keyspace_group.go
  server/microservice_cleanup.go
  server/microservice_cleanup_test.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

election: drop the resetting flag, Keep reads the current lease
  pkg/election/leadership.go
  pkg/election/leadership_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

election: detach lease before reset cleanup
  pkg/election/leadership.go
  pkg/election/leadership_test.go
  tests/server/member/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: design batched GC cache warming
  CONTEXT.md
  docs/analysis/gc-cold-loads-11311-review.md
  docs/analysis/gc-cold-loads-11311.md
  docs/superpowers/plans/2026-09-29-gc-cache-warmup.md
Due: none

storage: batch GC safe point reads
  pkg/storage/endpoint/endpoint.go
  pkg/storage/endpoint/gc_state_batch.go
  pkg/storage/endpoint/gc_state_batch_test.go
  pkg/storage/endpoint/gc_states.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: load the enabled keyspace index concurrently
  pkg/gc/enabled_keyspace_cache.go
  pkg/gc/enabled_keyspace_cache_test.go
  pkg/gc/enabled_keyspace_loader.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: share cold loads across a leadership generation
  pkg/gc/gc_state_lifecycle.go
  pkg/gc/gc_state_loader.go
  pkg/gc/gc_state_loader_test.go
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/metrics_test.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: record the GC warmup interface handoff
  docs/superpowers/plans/2026-09-29-gc-cache-warmup.md
Due: none

gc: warm initial keyspace states in NextGen
  pkg/gc/gc_state_lifecycle.go
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_warmup.go
  pkg/gc/gc_state_warmup_test.go
  server/server.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: mark x/sync as a direct dependency
  go.mod
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: verify cold-load overlap and cross-page batch density
  pkg/gc/gc_state_loader_test.go
  pkg/gc/gc_state_warmup_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: record GC cache warmup completion
  docs/superpowers/plans/2026-09-29-gc-cache-warmup.md
Due: none

docs: remove GC cache implementation notes
  CONTEXT.md
  docs/analysis/gc-cold-loads-11311-review.md
  docs/analysis/gc-cold-loads-11311.md
  docs/superpowers/plans/2026-09-29-gc-cache-warmup.md
Due: none

gc: encapsulate warmup eligibility in the keyspace index
  pkg/gc/enabled_keyspace_cache.go
  pkg/gc/gc_state_warmup.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: clarify warmup state and share metadata decoding
  pkg/gc/enabled_keyspace_cache.go
  pkg/gc/enabled_keyspace_loader.go
  pkg/gc/gc_state_lifecycle.go
  pkg/gc/gc_state_loader.go
  pkg/gc/gc_state_warmup.go
  pkg/gc/gc_state_warmup_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

operator: fix panic for `WithRangeOption` (#10292)
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

statistics: simplify ASCII label folding
  pkg/statistics/region_collection.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_manager: expire silent RU timeline sources after 30s
  pkg/mcs/resourcemanager/server/ru_timeline.go
  pkg/mcs/resourcemanager/server/ru_timeline_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: share port allocation across pd-ut processes
  pkg/utils/tempurl/tempurl.go
  pkg/utils/tempurl/tempurl_test.go
  tools/pd-ut/alloc/server.go
  tools/pd-ut/alloc/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: close shared allocator connections before leak checks
  pkg/utils/tempurl/tempurl.go
  pkg/utils/tempurl/tempurl_test.go
  tools/pd-ut/alloc/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: use contexts for the shared allocator server
  tools/pd-ut/alloc/server.go
  tools/pd-ut/alloc/server_test.go
  tools/pd-ut/ut.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: keep gosec G704 suppression on shared allocator request
  pkg/utils/tempurl/tempurl.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: suppress gosec G704 on allocator test HTTP calls
  tools/pd-ut/alloc/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resource_control: delete metric children by creation-time keyspace_name
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
