Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

operator: guard nil operator in HasRelatedMergeRegion
  pkg/schedule/operator/status_tracker.go
  pkg/schedule/operator/status_tracker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

make GCStateManager leadership-aware
  pkg/gc/gc_state_manager.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Add GC state cache metrics
  pkg/gc/gc_state_manager.go
  pkg/gc/metrics.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs, response: drop scheduling cpu usage
  go.mod
  go.sum
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/response/region.go
  server/grpc_service.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: widen paging residual histogram to +/-64MB
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metrics: drop EMA/cold-start phrasing from paging metric Help text
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs, response: keep scheduling cpu usage temporarily
  go.mod
  go.sum
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/response/region.go
  server/grpc_service.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

controller: add paging RU observability metrics
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metrics: group paging metrics by sampling unit and add doc comments
  client/resource_group/controller/metrics/metrics.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: keep current placement on build failure
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Invalidate cache on node becomes leader; double check leadership after fetching GC states
  pkg/gc/gc_state_manager.go
  server/gc_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Address comments
  pkg/gc/gc_state_manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Address commets
  pkg/gc/gc_state_manager.go
  pkg/gc/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Invalid cache on HTTP DeleteGCSafePoint API call
  pkg/gc/gc_state_manager.go
  server/api/service_gc_safepoint.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: gate paging hint on read requests only
  client/resource_group/controller/model.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: test paging refund on failed read
  client/resource_group/controller/group_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

operator: remove nil merge-region test
  pkg/schedule/operator/status_tracker_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: promote PredictedReadBytes to RequestInfo method
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/model.go
  client/resource_group/controller/testutil.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: delay paging precharge metrics until acquire succeeds
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove keyspace meta in etcd
  pkg/keyspace/keyspace.go
  pkg/storage/endpoint/keyspace.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix scheduling cpu integration checks
  tests/integrations/mcs/scheduling/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: clean up per-group source state on controller stop
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/request_source_metrics_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

core: avoid syncing cpu-only heartbeat deltas
  pkg/core/region.go
  pkg/core/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

join, etcdutil: make member list consistency explicit
  pkg/mcs/router/server/sync.go
  pkg/mcs/scheduling/server/server.go
  pkg/member/member.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/etcdutil/testutil.go
  server/api/member.go
  server/cluster/cluster.go
  server/server.go
  tests/server/join/join_test.go
  tools/pd-ctl/tests/member/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

etcdutil: keep health checker member sync local
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/health_checker.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server, tools: thread member list contexts
  pkg/dashboard/adapter/manager.go
  server/api/health.go
  server/api/member.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/server.go
  tools/pd-ctl/tests/health/health_test.go
  tools/pd-ctl/tests/member/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server, dashboard: use lifecycle ctx for member list
  pkg/dashboard/adapter/manager.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/tso: stabilize logical overflow check
  tests/server/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/tso: run gofmt on overflow test
  tests/server/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests, client: stabilize flaky RM, affinity, and limiter tests
  client/resource_group/controller/limiter_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/server/apiv2/handlers/affinity_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: fix potential reverse metric handling
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_region_test.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/utils.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: align potential reverse diagnostics
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/utils.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc_state_manager: Workaround mutex contention in high-concurrency scenario (#10615)
  pkg/gc/gc_state_manager.go
  pkg/gc/metrics.go
  server/api/service_gc_safepoint.go
  server/cluster/cluster.go
  server/gc_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc,server: add gc state cache coverage
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  server/gc_service.go
  tests/server/api/service_gc_safepoint_test.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc,server: polish GC state cache tests
  tests/server/api/service_gc_safepoint_test.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc,server: add GC state cache test coverage (#10617)
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  server/gc_service.go
  tests/server/api/service_gc_safepoint_test.go
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker, scatter, server: add load-based split-scatter with range-aware group baseline
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_group.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
  server/cluster/cluster_worker.go
  server/cluster/split_scatter_test.go
  server/grpc_service.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comments
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_group.go
  pkg/schedule/scatter/region_scatterer_test.go
  server/cluster/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: replace BenMeadowcroft with likidu in OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
