Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

client: expose keyspace-level GC mode
  client/clients/gc/client.go
  client/gc_client.go
  client/gc_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: cover empty global GC barriers
  tools/pd-ctl/pdctl/command/gc_state_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: test gc-state against PD
  tests/integrations/client/client_test.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: merge GC state command refactor stages
  docs/superpowers/plans/2026-08-11-gc-state-global-barrier-refactor.md
Due: none

docs: add GC state refactor implementation plan
  docs/superpowers/plans/2026-08-11-gc-state-global-barrier-refactor.md
Due: none

pd-ctl: harden GC state inspection
  tools/pd-ctl/pdctl/command/gc_state_command.go
  tools/pd-ctl/pdctl/command/gc_state_command_test.go
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: require GC state fixtures
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: add GC state JSON projections
  tools/pd-ctl/pdctl/command/gc_state_command.go
  tools/pd-ctl/pdctl/command/gc_state_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: omit unified GC placeholders
  tools/pd-ctl/README.md
  tools/pd-ctl/pdctl/command/gc_state_command.go
  tools/pd-ctl/pdctl/command/gc_state_command_test.go
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: adapt GC state tests to API v3
  client/gc_client_test.go
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: fix GC test license header
  client/gc_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: hide expired GC barriers by default
  tools/pd-ctl/README.md
  tools/pd-ctl/pdctl/command/gc_state_command.go
  tools/pd-ctl/pdctl/command/gc_state_command_test.go
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: preserve GC mode with global barriers
  client/gc_client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pd-ctl: use GetGCState for global barriers
  tools/pd-ctl/pdctl/command/gc_state_command.go
  tools/pd-ctl/pdctl/command/gc_state_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: cover optional global GC state output
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: update GC state troubleshooting workflow
  tools/pd-ctl/README.md
Due: none

pd-ctl: fix GC state test formatting
  tools/pd-ctl/pdctl/command/gc_state_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs, tso: drop post-transfer verification, cap marker TTL at 1 lease
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/utils/constant/constant.go
  pkg/mcs/utils/expected_primary.go
  pkg/tso/keyspace_group_manager.go
  tests/integrations/mcs/members/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address review feedback: fix gci import order, drop unsafe dedup, harden test
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/store_collection.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: safely clear stale default group members
  server/microservice_cleanup.go
  server/microservice_cleanup_test.go
  tests/integrations/mcs/tso/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule/filter, schedule/hbstream: sweep tombstoned-store metrics every tick
  pkg/mcs/scheduling/server/cluster.go
  server/cluster/scheduling_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs, resourcemanager: hold the lock across SetKeyspaceRUVersion's save
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_async_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: gate PD readiness on mode cleanup
  pkg/utils/etcdutil/etcdutil.go
  server/metrics.go
  server/microservice_cleanup.go
  server/microservice_cleanup_test.go
  server/server.go
  tests/integrations/mcs/tso/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: add microservice metadata cleanup API
  server/api/admin.go
  server/api/router.go
  server/microservice_cleanup.go
  server/microservice_cleanup_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/server/api/admin_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: design GC state read cancellation
  docs/superpowers/specs/2026-08-11-gc-state-read-cancellation-design.md
Due: none

schedulers: group slow stores by isolation prefix
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  server/cluster/cluster_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: remove GC state agent workflow artifacts
  docs/superpowers/plans/2026-08-11-gc-state-global-barrier-refactor.md
  docs/superpowers/specs/2026-08-11-gc-state-global-barrier-refactor-design.md
Due: none

docs: plan GC state read cancellation
  docs/superpowers/plans/2026-08-12-gc-state-read-cancellation.md
Due: none

utils/etcdutil: add context-aware get
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/testutil.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

storage/kv: add context-aware etcd operations
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

storage/endpoint: add context-aware GC transactions
  pkg/storage/endpoint/endpoint.go
  pkg/storage/endpoint/gc_states.go
  pkg/storage/endpoint/gc_states_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs, resourcemanager: hold the lock across initControllerConfig's save
  pkg/mcs/resourcemanager/server/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: cancel GC state reads
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  server/api/service_gc_safepoint.go
  server/apiv2/handlers/safe_point.go
  server/gc_service.go
  tests/integrations/client/client_test.go
  tests/server/api/service_gc_safepoint_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: preserve GC read cancellation status
  server/api/service_gc_safepoint.go
  server/apiv2/handlers/safe_point.go
  server/gc_service.go
  server/gc_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule/filter, schedule/hbstream: reset counters on scheduling stop
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/filter/metrics.go
  pkg/schedule/hbstream/metric.go
  server/cluster/scheduling_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: harden controller lifecycle against races
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/ownership_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/resourcemanager/service_limit_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: distinguish GC request cancellation
  server/gc_service.go
  server/gc_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: guard double Start and foreign-controller Stop
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/ownership.go
  client/resource_group/controller/ownership_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: document that a stopped controller must not be reused
  client/resource_group/controller/global_controller.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: remove superpowers implementation documents
  docs/superpowers/plans/2026-08-12-gc-state-read-cancellation.md
  docs/superpowers/specs/2026-08-11-gc-state-read-cancellation-design.md
Due: none
