Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

scheduling:add suspect range when watch region label (#461)
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/schedule/labeler/rules.go
  tests/server/api/rule_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix typo
  client/inner_client.go
  client/servicediscovery/resource_manager_service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

close gRPC connections after testing
  pkg/utils/testutil/testutil.go
  tests/integrations/client/client_test.go
  tests/integrations/client/router_client_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/server_test.go
  tests/scheduling_cluster.go
  tests/server/api/api_test.go
  tests/server/cluster/cluster_test.go
  tests/server/gc/gc_test.go
  tests/server/id/id_test.go
  tests/server/member/member_test.go
  tests/server/server_test.go
  tests/server/tso/tso_proxy_test.go
  tests/server/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix
  tests/integrations/client/client_test.go
  tests/integrations/client/router_client_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix
  tests/integrations/client/client_test.go
  tests/integrations/mcs/scheduling/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix test
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: resource manager service discovery (#9785)
  client/client.go
  client/inner_client.go
  client/pkg/retry/interval_retry.go
  client/resource_group/controller/global_controller.go
  client/resource_manager_client.go
  client/servicediscovery/resource_manager_service_discovery.go
  client/servicediscovery/tso_service_discovery.go
  tests/integrations/mcs/discovery/register_test.go
  tests/integrations/mcs/members/member_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cluster: async load rules if pd is api mode (#454)
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_checker.go
  pkg/schedule/labeler/labeler.go
  server/cluster/cluster.go
  tests/integrations/mcs/scheduling/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix the issue that precheck blocks the change of other PD configurations
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add test
  tests/server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: threshold via geometric mean
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

update kvproto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: isolate keyspace according to the given label (#10121)
  client/http/interface.go
  client/http/request_info.go
  tests/server/keyspace/keyspace_test.go
  tools/pd-ctl/pdctl/command/keyspace_command.go
  tools/pd-ctl/pdctl/command/keyspace_command_test.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

OWNERS: Auto Sync OWNERS files from community membership (#10094)
  OWNERS
  OWNERS_ALIASES
Due: none

test: distinguish MustHandleStoreHeartbeat (#10092)
  tests/server/api/store_test.go
  tests/server/apiv2/handlers/affinity_test.go
  tests/testutil.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resolve conflict
  client/client.go
  client/clients/metastorage/client.go
  client/clients/router/client.go
  client/clients/router/request.go
  client/inner_client.go
  client/opt/option.go
  client/pkg/connectionctx/manager.go
  client/servicediscovery/router_service_discovery.go
  client/servicediscovery/service_discovery.go
  client/servicediscovery/tso_service_discovery.go
  pkg/mcs/utils/util.go
  server/grpc_service.go
  tests/integrations/mcs/discovery/register_test.go
  tests/integrations/mcs/router/server_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix TestSet
  tests/server/api/rule_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  client/clients/tso/request.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix TestGetAllKeyspaceGCStates
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: close gRPC connections after testing (#10102)
  pkg/utils/testutil/testutil.go
  tests/integrations/client/client_test.go
  tests/integrations/client/router_client_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/server_test.go
  tests/scheduling_cluster.go
  tests/server/api/api_test.go
  tests/server/cluster/cluster_test.go
  tests/server/gc/gc_test.go
  tests/server/id/id_test.go
  tests/server/member/member_test.go
  tests/server/server_test.go
  tests/server/tso/tso_proxy_test.go
  tests/server/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix TestRemoveStoreLimit
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove store limit ttl
  pkg/mcs/scheduling/server/config/config.go
  pkg/schedule/config/config.go
  server/api/store.go
  server/cluster/cluster.go
  server/config/persist_options.go
  server/handler.go
  tests/server/api/store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comments
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix TestStoresList
  tests/server/api/store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix lint
  pkg/mcs/scheduling/server/config/config.go
  server/config/persist_options.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix some unstable tests (#10134)
  pkg/schedule/scatter/region_scatterer_test.go
  tests/integrations/client/client_test.go
  tests/server/api/rule_test.go
  tests/server/api/store_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  client/clients/router/client.go
  client/servicediscovery/router_service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Add 'store' label to metric pd_cluster_status in 8.5. (#9865)
  pkg/statistics/metrics.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/utils/labels.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #9898
  pkg/statistics/metrics.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/utils/labels.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add a comment
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix test
  tests/server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

config: fix precheck blocking the change of other PD configurations (#10132)
  server/server.go
  tests/server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule: enable slow store scheduler by default in nextgen (#9949) (#10096)
  pkg/schedule/config/config.go
  pkg/schedule/types/type.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add metric resource_manager_resource_unit_service_limit to record RU fillrate (#464)
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

update tso timestamp when met logic exhaust
  pkg/tso/allocator.go
  pkg/tso/metrics.go
  pkg/tso/tso.go
  pkg/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add check
  server/api/store.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
