Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

Add 'store' label to metric pd_cluster_status in 8.5. (#9865)
  pkg/statistics/metrics.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/utils/labels.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resolve conflicts
  tools/pd-ctl/pdctl/command/keyspace_command.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resolve conflicts
  tools/pd-ctl/pdctl/command/keyspace_command.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

api: remove /trend api
  server/api/router.go
  server/api/trend.go
  tests/server/api/api_test.go
  tests/server/api/trend_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

chore(deps): update tidb-dashboard to eliminate vulnerable JWT dependency (#10110)
  client/go.mod
  client/go.sum
  client/pkg/utils/grpcutil/grpcutil.go
  client/pkg/utils/testutil/leak.go
  client/servicediscovery/service_discovery_test.go
  go.mod
  go.sum
  pkg/mcs/router/server/sync.go
  pkg/mcs/tso/server/testutil.go
  pkg/syncer/client.go
  pkg/utils/grpcutil/grpcutil.go
  pkg/utils/testutil/leak.go
  pkg/utils/testutil/testutil.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/mcs/tso/server_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-api-bench/main.go
  tools/pd-region-bench/main.go
  tools/pd-simulator/simulator/client.go
  tools/pd-tso-bench/main.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix
  tests/cluster.go
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix(resourcemanager): call getServiceLimit to prevent data race
  pkg/mcs/resourcemanager/server/keyspace_manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix(resourcemanager): call getServiceLimit to prevent data race (#10176)
  pkg/mcs/resourcemanager/server/keyspace_manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: reduce repeat newRegionInfo
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/utils/testutil/region/region.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: retry when address already in use (#10162)
  tests/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

save event when save successful
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix version
  pkg/schedule/schedulers/hot_region_config.go
  pkg/versioninfo/versioninfo.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

region: fix the potential panic . (#7143) (#8916)
  server/core/region.go
  server/core/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: isolate keyspace according to the given label (#10121) (#10172)
  client/http/interface.go
  client/http/request_info.go
  tests/server/keyspace/keyspace_test.go
  tools/pd-ctl/pdctl/command/keyspace_command.go
  tools/pd-ctl/pdctl/command/keyspace_command_test.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

merge
  client/tso_batch_controller.go
  client/tso_dispatcher.go
  client/tso_stream.go
  client/tso_stream_test.go
  pkg/mcs/tso/server/config.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/testutil.go
  pkg/tso/tso.go
  pkg/tso/util_test.go
  pkg/utils/tsoutil/tso_dispatcher.go
  pkg/utils/tsoutil/tso_request.go
  server/config/config.go
  server/server.go
  tests/integrations/client/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix
  tests/server/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix data race of progress
  pkg/progress/progress.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

debug
  client/clients/router/client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  server/api/config.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

core: make `isTikv` function more stable (#10151)
  client/clients/router/client.go
  pkg/core/store.go
  pkg/core/store_test.go
  server/api/store.go
  server/grpc_service.go
  tests/integrations/client/http_client_test.go
  tests/server/cluster/cluster_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: fix wrong usage of gRPC interface (io.EOF wrapping) (#9390)
  server/grpc_service.go
  server/grpc_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

feat: implement resource group management and write operations in resource manager
  pkg/mcs/resourcemanager/redirector/redirector.go
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/pd_write_helpers.go
  server/resource_group_proxy_service.go
  tests/integrations/mcs/resourcemanager/redirector_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: improve PR description readability and formatting
  PR_DESCRIPTION.md
Due: none

add component(resource-manager) into metrics/grafana
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Resolve the conflicts
  client/client_test.go
  client/go.mod
  client/go.sum
  client/grpcutil/grpcutil.go
  client/pd_service_discovery_test.go
  client/testutil/leak.go
  go.mod
  go.sum
  pkg/mcs/tso/server/testutil.go
  pkg/syncer/client.go
  pkg/utils/grpcutil/grpcutil.go
  pkg/utils/testutil/leak.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/registry/registry_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-simulator/simulator/client.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #9945
  pkg/core/store.go
  pkg/mcs/router/server/meta/watcher.go
  pkg/statistics/metrics.go
  pkg/statistics/store_collection.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

remove duplicated job
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix prd
  PR_DESCRIPTION.md
Due: none

docs: restore PR description
  PR_DESCRIPTION.md
Due: none

tests: refactor tests (#10170)
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/utils/assertutil/assertutil.go
  pkg/utils/assertutil/assertutil_test.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/testutil.go
  tests/cluster.go
  tests/integrations/client/client_test.go
  tests/integrations/client/global_config_test.go
  tests/integrations/client/router_client_test.go
  tests/server/api/version_test.go
  tests/server/join/join_test.go
  tests/server/member/member_test.go
  tests/server/server_test.go
  tests/testutil.go
  tools/pd-ctl/tests/global_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: add integration test for gRPC stream EOF and update PR description
  PR_DESCRIPTION.md
  tests/server/grpc_service_regr_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

debug
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

grafana: add job(resource-manager) into metrics/grafana (#10187)
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
