Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

tests: stabilize TestPreparingProgress
  tests/server/api/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests/tso: pause updater during failpoint reinit
  pkg/tso/allocator.go
  tests/integrations/tso/consistency_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: simplify fallback tso consistency
  pkg/tso/allocator.go
  tests/integrations/tso/consistency_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

support multi tso nodes
  client/servicediscovery/tso_service_discovery.go
  client/servicediscovery/tso_service_discovery_test.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/tso/keyspace_group_manager.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: assert WaitLeader result before bootstrap
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: stabilize TestRemovingProgress
  tests/server/api/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add test for https://github.com/tikv/pd/issues/6770
  client/servicediscovery/tso_service_discovery.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: add metadata watcher scaffold (#10259)
  errors.toml
  pkg/errs/errno.go
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/metadata_watcher.go
  pkg/mcs/resourcemanager/server/metadata_watcher_test.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/utils/keypath/resource_group.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: trim PD-specific AGENTS guidance
  AGENTS.md
Due: none

docs: add failpoint semantic guidance to AGENTS (#10437)
  AGENTS.md
Due: none

resourcemanager: reject invalid RU groups
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: keep upstream failpoints discipline text
  AGENTS.md
Due: none

docs: expand repo skill documentation
  .agents/skills/add-metrics/SKILL.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/fix-cherry-pick-pr/SKILL.md
  AGENTS.md
Due: none

tests: stabilize TestResourceGroupRUConsumption
  pkg/mcs/resourcemanager/server/manager.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: remove unused save duration variable
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso, server: fix missing logs for TSO persistence and switching state
  pkg/tso/tso.go
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: refine persistence log fields
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: reorder persistence log fields
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server: add forwarded TSO stream metric
  metrics/grafana/pd.json
  server/grpc_service.go
  server/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: remove member id from persistence logs
  pkg/tso/tso.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/tso: reject requests during recv teardown
  client/clients/tso/stream.go
  client/clients/tso/stream_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedulers: wait for cleanup on removal
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/scheduler_controller_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: stabilize TestResignTSOPrimaryForward
  tests/integrations/mcs/tso/server_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

wrap one txn
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

comment
  client/servicediscovery/tso_service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add write schedule
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/utils/kind.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: restore retry path semantics
  tests/cluster.go
  tests/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server,resourcemanager: route metadata writes via PD
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/server.go
  server/resource_group_metadata_manager.go
  server/resource_group_proxy_service.go
  server/server.go
  tests/integrations/mcs/resourcemanager/redirector_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

metering: add Azure Blob Storage support (#10438)
  go.mod
  go.sum
  pkg/metering/writer.go
  pkg/metering/writer_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

atomic to create keyspace
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/labeler_test.go
  pkg/schedule/labeler/plan.go
  pkg/schedule/labeler/rules.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: stabilize TestStoreWatch tombstone transition
  tests/integrations/mcs/scheduling/meta_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: fix delayConsume failpoint path
  pkg/mcs/resourcemanager/server/manager.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: stabilize TestConfigTTLAfterTransferLeader (#10274)
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

router bench skill
  .openclaw/benchmark-router-cluster/SKILL.md
  .openclaw/benchmark-router-cluster/references/tiup-router-cluster-template.yaml
  .openclaw/benchmark-router-cluster/scripts/prepare_router_cluster.sh
  .openclaw/benchmark-router-cluster/scripts/run_sysbench_controller.sh
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/schedule/schedulers/transfer_witness_leader_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

labeler
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  pkg/mcs/scheduling/server/rule/watcher.go
  tests/server/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

agents: explicitly pass template labels via --label
  .agents/skills/create-issue/SKILL.md
Due: none

tests: stabilize resource group controller timing
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tso: prevent dual writers when upgrading from PD service mode
  pkg/storage/endpoint/tso.go
  pkg/storage/storage_tso_test.go
  pkg/tso/allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/tso.go
  pkg/utils/keypath/absolute_key_path.go
  server/server.go
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
