Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

fix lint
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: replace BenMeadowcroft with likidu in OWNERS_ALIASES (#10625)
  OWNERS_ALIASES
Due: none

checker: guard stale split scatter pending
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: deduplicate split scatter test helper
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Notify leadership change from Start and Stop method of RaftCluster
  server/cluster/cluster.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix make check
  server/cluster/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

use singleflight to reduce request on start
  client/go.mod
  client/go.sum
  client/servicediscovery/service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: wait split scatter batch source version
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
  server/cluster/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: fix split scatter source version helper
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: cap split scatter pending entries
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: document split scatter dispatch ordering
  pkg/schedule/checker/split_scatter.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address check test
  client/servicediscovery/service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: avoid split scatter pending order assumption
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: account for failed-write payback in per-source RU metrics
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/request_source_metrics_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

key add url detail
  client/servicediscovery/service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: address split scatter review follow-ups
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/scatter/region_scatterer_test.go
  server/cluster/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: document internal scatter operator priority
  pkg/schedule/scatter/region_scatterer.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: use non-admin kind for internal scatter
  pkg/schedule/operator/create_operator.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: keep priority assignment in scatterer
  pkg/schedule/operator/create_operator.go
  pkg/schedule/scatter/region_scatterer.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: use stable group for split scatter accounting
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_group.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
  server/cluster/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: respect leader target checks for internal scatter
  pkg/schedule/operator/create_operator.go
  pkg/schedule/operator/create_operator_test.go
  server/cluster/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: cover repeated source split scatter group
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Optimize unsafe recovery overlap check
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  server/api/unsafe_operation.go
  tests/server/api/unsafe_operation_test.go
  tools/pd-ctl/pdctl/command/unsafe_command.go
  tools/pd-ctl/tests/unsafe/unsafe_operation_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

pkg/unsaferecovery: add unsafe recovery abort
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  server/api/router.go
  server/api/unsafe_operation.go
  tests/server/api/unsafe_operation_test.go
  tools/pd-ctl/pdctl/command/unsafe_command.go
  tools/pd-ctl/tests/unsafe/unsafe_operation_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Validate unsafe recovery plan execution timeout
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
  tests/server/api/unsafe_operation_test.go
  tools/pd-ctl/pdctl/command/unsafe_command.go
  tools/pd-ctl/pdctl/command/unsafe_command_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scatter: keep special stores out of leader candidates
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

use select
  client/servicediscovery/service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: add split scatter schedule limit
  pkg/mcs/scheduling/server/config/config.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/config/config.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/operator/create_operator.go
  pkg/schedule/operator/kind.go
  pkg/schedule/operator/operator_test.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/schedule/types/type.go
  pkg/statistics/store_collection.go
  server/config/persist_options.go
  tests/server/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: cover split scatter kind isolation
  pkg/schedule/operator/create_operator_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

ErrClientGetClusterInfo
  client/servicediscovery/service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: shorten split scatter pending lock
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_group.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: refine split scatter pending collection
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
  pkg/schedule/scatter/region_scatterer.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

config: support online leader lease update
  server/api/config.go
  server/config/config_test.go
  server/config/persist_options.go
  server/server.go
  tests/server/api/api_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

link
  pkg/keyspace/keyspace.go
  pkg/storage/endpoint/keyspace.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

unsaferecovery,api,pd-ctl: fix unsafe recovery reviews
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
  tests/server/api/unsafe_operation_test.go
  tools/pd-ctl/pdctl/command/unsafe_command.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: reject duplicate unsafe recovery option aliases
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
  tests/server/api/unsafe_operation_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: polish unsafe option parsing helpers
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

server/api: validate unsafe recovery timeout input
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
  tests/server/api/unsafe_operation_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client: use singleflight to reduce request press (#10632)
  client/go.mod
  client/go.sum
  client/servicediscovery/service_discovery.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

checker: add split scatter pending metrics
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/split_scatter.go
  pkg/schedule/checker/split_scatter_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
