Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

auto-update-pd-gomod:
  decorate: true
  spec:
    containers:
    - name: build
      image: golang:1.23
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

pull-build-next-gen:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

non-block/pull-unit-test-next-gen:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: ghcr.io/pingcap-qe/ci/base:v2025.6.8-1-g5c4ef89-go1.23
      command:
      - bash
      - -ce
      env:
      - name: NEXT_GEN
        value: '1'
      args:
  ...

pull-integration-realcluster-test-next-gen:
  decorate: false
  optional: true

pull-build:
  decorate: true
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
              - amd64
    containers:
    - name: build
  ...

pull-error-log-review:
  decorate: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

tests: fix lint issues and nil panic from CI round 1
  pkg/utils/testutil/api_check.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/server/api/api_test.go
  tests/server/apiv2/handlers/affinity_test.go
  tests/server/apiv2/handlers/testutil.go
  tests/server/member/member_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: delete unused mightExec function
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix more flaky tests exposed by testify v1.11.1 upgrade
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/scheduling/rule_test.go
  tests/server/api/scheduler_test.go
  tests/server/config/config_test.go
  tools/pd-ctl/tests/operator/operator_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix TestAffinityGroupCreateSkipExistCheck and TestStoreVersionChange
  server/cluster/cluster.go
  tests/server/apiv2/handlers/affinity_test.go
  tests/server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: delete unused mustGetAllAffinityGroups function
  tests/server/apiv2/handlers/affinity_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix TestRegionPlacementRule and TestScheduler timing issues
  tests/server/api/rule_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

AcquireTokenBuckets fallback
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix TestGlobalMemoryTuner, TestTSOStreamBasic, and TestGetTSAfterTransferLeader
  client/clients/tso/stream_test.go
  pkg/gctuner/memory_limit_tuner_test.go
  tests/integrations/client/client_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix TestConfig sync race and lint unused parameter
  client/clients/tso/stream_test.go
  tools/pd-ctl/tests/config/config_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix TestGlobalMemoryTuner and TestHotRegionStorage flakiness
  pkg/gctuner/memory_limit_tuner_test.go
  tests/server/storage/hot_region_storage_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

scheduler: fix rule watcher deleteFn loading from already-deleted storage
  pkg/mcs/scheduling/server/rule/watcher.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix review issues from testify upgrade PR
  pkg/utils/testutil/api_check.go
  tests/integrations/mcs/scheduling/rule_test.go
  tests/integrations/tso/server_test.go
  tests/server/api/api_test.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/server/api/store_test.go
  tests/server/member/member_test.go
  tests/testutil.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: relax checkShowRuleKey RegionFit length check
  tools/pd-ctl/tests/config/config_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: deduplicate assert/try helper function pairs
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/server/api/store_test.go
  tests/server/apiv2/handlers/testutil.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: add regression test for rule watcher deleteFn key parsing
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

address comment
  pkg/schedule/operator/operator_controller.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

follower can handler scan region request
  pkg/utils/grpcutil/cluster.go
  pkg/utils/grpcutil/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: address PR review comments
  pkg/mcs/discovery/register_test.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/utils/testutil/api_check.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: migrate simple failpoint.Inject to failpoint.InjectCall
  client/clients/tso/client.go
  pkg/election/leadership.go
  pkg/election/leadership_test.go
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/storage_tso_test.go
  pkg/tso/tso.go
  server/api/region.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  server/server.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/router/server_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/tso/client_test.go
  tests/server/api/region_test.go
  tests/server/api/version_test.go
  tests/server/cluster/cluster_test.go
  tests/server/member/member_test.go
  tests/server/server_test.go
  tests/server/tso/tso_test.go
  tests/server/watch/leader_watch_test.go
  tools/pd-ctl/tests/keyspace/keyspace_group_test.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

test: replace all getKeyAfterLeaseExpired with Eventually+tryGetKey
  pkg/mcs/discovery/register_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: remove redundant assertions after Eventually
  tests/server/api/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

skills: add metrics skills (#10289)
  .agents/skills/add-metrics/SKILL.md
Due: none

cas fixed
  pkg/core/metrics.go
  pkg/core/region.go
  pkg/mcs/scheduling/server/cluster.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10131
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix comment
  client/clients/tso/request.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix flaky TestSwitchModeDuringWorkload (#10283)
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix inherit
  pkg/core/metrics.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/cluster.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/testutil.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix flaky TestRegionCheck by using reflect.DeepEqual in Eventually (#10279)
  tests/server/api/region_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix data race in TestUnavailableTimeAfterLeaderIsReady (#10280)
  tests/integrations/client/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

add panel
  metrics/grafana/pd.json
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: improve alert rule (#10201)
  Makefile
  cmd/pd-server/main.go
  metrics/alertmanager/pd.rules.test.yml
  metrics/alertmanager/pd.rules.yml
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

operator: fix panic for `WithRangeOption` (#10292)
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: fix multiple flaky tests, panics, deadlocks, and goroutine leaks
  client/resource_group/controller/global_controller.go
  pkg/schedule/filter/filters_test.go
  tests/cluster.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/utils/testutil.go
  tests/integrations/tso/client_test.go
  tools/pd-ctl/tests/keyspace/keyspace_group_test.go
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: address review feedback
  tests/cluster.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/utils/testutil.go
  tests/integrations/tso/client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #10292
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: extract checkRUStats helper to reduce duplication
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: add safe type assertions for store-id elements in scheduler test
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: guard against nil resource group before accessing RUStats
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

fix: add comment explaining concurrency safety of unlocked server.Run
  tests/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
