Repository tikv/pd: changes, and which Prow jobs are due for each by the changed paths.
All: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

Path conditions:
  auto-update-pd-gomod: any of: ^client/.*$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  non-block/pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$

gc: centralize barrier metric definitions in metrics.go
  pkg/gc/barrier_metrics.go
  pkg/gc/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: consolidate GC barrier lifecycle test
  pkg/keyspace/gc_barrier_lifecycle_test.go
  pkg/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: consolidate barrier metrics in metrics.go
  pkg/gc/barrier_metrics.go
  pkg/gc/metrics.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: align metric test filenames with metrics.go
  pkg/gc/metrics_integration_test.go
  pkg/gc/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: preserve watch ordering across initial and live states
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
  pkg/gc/gc_state_watcher.go
  pkg/gc/gc_state_watcher_test.go
  server/gc_service.go
  server/gc_service_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: consolidate metric tests in one file
  pkg/gc/metrics_integration_test.go
  pkg/gc/metrics_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: interrupt blocked watch sends on watcher termination
  docs/superpowers/plans/2026-09-16-watch-gc-states-blocked-send.md
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
  tests/server/gc/gc_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

docs: stop tracking local WatchGCStates design and plans
  docs/superpowers/plans/2026-09-03-watch-gc-states.md
  docs/superpowers/plans/2026-09-16-watch-gc-states-blocked-send.md
  docs/superpowers/specs/2026-09-03-watch-gc-states-design.md
Due: none

client/resource_group: fix RU peak sampling and metric lifecycle
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/metrics/metrics.go
  client/resource_group/controller/request_source_metrics_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

cluster, storage: preserve leader-term ownership across restart
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/storage/endpoint/endpoint.go
  pkg/storage/kv/etcd_fencing_test.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/storage.go
  pkg/storage/storage_fencing_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/scheduling_controller.go
  server/config/persist_options.go
  server/config/persist_options_fencing_test.go
  server/handler.go
  server/server.go
  tests/server/cluster/leader_write_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: enable barrier metric export automatically on leadership
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/metrics.go
  pkg/gc/metrics_test.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: isolate RU peak sampling
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/request_source_metrics_test.go
  client/resource_group/controller/ru_max_per_sec.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: unify RU max sampler naming
  client/resource_group/controller/global_controller.go
  client/resource_group/controller/global_controller_test.go
  client/resource_group/controller/group_controller_test.go
  client/resource_group/controller/ru_max_sampler.go
  client/resource_group/controller/ru_max_sampler_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: normalize the first RU peak sample
  client/resource_group/controller/metrics/metrics.go
  client/resource_group/controller/ru_max_sampler.go
  client/resource_group/controller/ru_max_sampler_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

client/resource_group: log RU sampler lifecycle
  client/resource_group/controller/ru_max_sampler.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tools: add pd-add-preparing-stores
  tools/pd-add-preparing-stores/README.md
  tools/pd-add-preparing-stores/main.go
  tools/pd-add-preparing-stores/main_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: skip a redundant backfill confirmation once past the highest self-created ID
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: classify foreign-mode keys by key-block position, skip range scan for adjacent keyspace IDs
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: restore ENABLED-only filtering in collectStorageSize
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  server/cluster/cluster.go
  server/cluster/metering_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

schedule: skip slow/evicted stores in hot region scheduling (#10946) (#10972)
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/shuffle_hot_region.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: expose old GC barriers through metrics and warnings (#11259)
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/metrics.go
  pkg/gc/metrics_test.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  server/api/service_gc_safepoint.go
  server/server.go
  tests/integrations/client/http_client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #11259
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/metrics.go
  pkg/gc/metrics_test.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  server/api/service_gc_safepoint.go
  server/server.go
  tests/integrations/client/http_client_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: resolve observability cherry-pick conflicts
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/metrics_test.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  server/server.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: fix Go upgrade compatibility and regression tests
  client/http/client_test.go
  client/http/request_info.go
  pkg/gctuner/memory_limit_tuner_test.go
  pkg/gctuner/tuner_test.go
  pkg/keyspace/util.go
  server/config/util_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/global_test.go
  tools/pd-ctl/tests/config/config_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: restore keyspaces/{id} region label rule as a rolling-upgrade dual-write
  pkg/keyspace/keyspace.go
  server/cluster/keyspace_label_compat_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: address witness removal review feedback
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/checker_controller_test.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/builder_test.go
  pkg/utils/etcdutil/health_checker.go
  tests/cluster_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: fix client allocation under service limits
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: explain service allocation budget semantics
  pkg/mcs/resourcemanager/server/token_buckets.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs: clean up error wrapping, dead branch, and log diagnostics
  pkg/mcs/discovery/register.go
  pkg/mcs/discovery/register_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

resourcemanager: fix client allocation under service limits (#11213)
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

This is an automated cherry-pick of #11213
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: wait for non-pending scheduler diagnostic
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

*: address follow-up review feedback
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/builder_test.go
  scripts/embed-dashboard-ui.sh
  tests/cluster.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

gc: disable unified GC in NextGen and freeze GC modes
  client/http/client_test.go
  client/http/interface.go
  client/http/types.go
  pkg/gc/gc_mode_test.go
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/gc/metrics_test.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  server/apiv2/handlers/keyspace.go
  tests/integrations/client/client_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/client/keyspace_test.go
  tests/server/apiv2/handlers/keyspace_test.go
  tools/pd-ctl/tests/safepoint/gc_state_test.go
Due: auto-update-pd-gomod, pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

mcs: reject registration reusing another instance's address (#11043)
  pkg/mcs/discovery/register.go
  pkg/mcs/discovery/register_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

keyspace: seal rollback keyspace as TOMBSTONE, fix group race
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  server/apiv2/handlers/keyspace.go
  tests/server/apiv2/handlers/keyspace_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: isolate scheduler diagnostic history (#11253)
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review

tests: verify logical overflow without timing (#11248)
  pkg/tso/tso.go
  tests/server/tso/tso_test.go
Due: pull-check-deps, pull-build-next-gen, non-block/pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-build, pull-error-log-review
