Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

Fix punctuation and blank line in owners doc
  docs/guides/owners/tidb-master-owners.md
Due: none

Update docs/guides/owners/tidb-master-owners.md
  docs/guides/owners/tidb-master-owners.md
Due: none

Remove kaniko-build pipeline and update kustomize
  tekton/v1/pipelines/kaniko-build.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

fix(tekton/v1): remove useless pipelines and tasks (#3866)
  tekton/v1/pipelines/kaniko-build.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

fix(presubmits): Enable skip_if_only_changed and run_before_merge
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ci): Enable skip_if_only_changed for next-gen jobs
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v1): Iterate images via args in task and fix trigger refs
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

fix(tekton/v1): Iterate images via args in task and fix trigger refs (#3869)
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

fix(tekton/v1/pipelines): fix kustomization.yaml file
  tekton/v1/pipelines/kustomization.yaml
Due: none

fix(tekton/v1/pipelines): fix kustomization.yaml file (#3870)
  tekton/v1/pipelines/kustomization.yaml
Due: none

fix(tekton/v1/triggers/triggers): add cloud image delivery notify to kustomization
  tekton/v1/triggers/triggers/kustomization.yaml
Due: none

fix(tekton/v1): fix trigger `notified-successful-image-delivery-cloud-tidbx` for template params
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

fix(tekton/v1): extract META JSON and use string images param to update ops for tidb-x
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

fix: no required pr complete approved
  tools/error-log-review/github.go
Due: none

fix(error-log-review): no required pr complete approved (#3872)
  tools/error-log-review/github.go
Due: none

fix(presubmits): update error-log-review tool version to a specific commit
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ticdc): Enable run_before_merge for mysql integration test
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ticdc: Enable `skip_if_only_changed` for next-gen presubmit jobs (#3868)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ci): Comment out skip_if_only_changed for integration test
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ticdc: Remove redundant skip_if_only_changed from mysql integration test (#3873)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update TikV arm_go_pod_image version
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

Add shebang and drop /home/jenkins volume
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix(ci/jenkins/cd): update TikV arm_go_pod_image version (#3876)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines): increase timeout duration for prepare stage in DM compatibility test
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/tiflow): increase timeout duration for prepare stage in dm compatibility test (#3877)
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

fix(scripts/flow/build): refactor versioning checks and feature suffix
  scripts/flow/build/versioning-strategy.ts
Due: none

Fix feature branch detection ordering
  scripts/flow/build/versioning-strategy.ts
Due: none

Nest feature branch logic under non-release check
  scripts/flow/build/versioning-strategy.ts
Due: none

fix(scripts/flow/build): refactor versioning checks and feature suffix (#3879)
  scripts/flow/build/versioning-strategy.ts
Due: none

feat(tekton/v1): add ops-config workspace and call Ops API
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

Extract ops API call and refactor image parsing
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

feat(tekton/v1): add ops-config workspace and call Ops API (#3880)
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

fix(tekton/v1/tasks): fix task `pingcap-notify-to-update-ops-tidbx`
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

fix(tekton/v1/tasks): fix task `pingcap-notify-to-update-ops-tidbx` (#3882)
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

chore(prow-jobs/tikv/pd): enable skip_if_only_changed and use skip_report for job `pull_integration_realcluster_test_next_gen`
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/tikv/pd): enable auto runs for job pull_integration_realcluster_test_next_gen (#3883)
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): Add release-8.5 branch jobs and pipelines
  jobs/pingcap/ticdc/release-8.5/aa_folder.groovy
  jobs/pingcap/ticdc/release-8.5/pull_cdc_kafka_integration_heavy.groovy
  jobs/pingcap/ticdc/release-8.5/pull_cdc_kafka_integration_light.groovy
  jobs/pingcap/ticdc/release-8.5/pull_cdc_mysql_integration_heavy.groovy
  jobs/pingcap/ticdc/release-8.5/pull_cdc_mysql_integration_light.groovy
  jobs/pingcap/ticdc/release-8.5/pull_cdc_pulsar_integration_light.groovy
  jobs/pingcap/ticdc/release-8.5/pull_cdc_storage_integration_heavy.groovy
  jobs/pingcap/ticdc/release-8.5/pull_cdc_storage_integration_light.groovy
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_storage_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-8.5/pod-pull_cdc_storage_integration_light.yaml
  pipelines/pingcap/ticdc/release-8.5/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-8.5/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-8.5/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-8.5/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-8.5/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-8.5/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-8.5/pull_cdc_storage_integration_light.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/ticdc/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v1): fix taskrun `auto-add-approved-label-to-pr-on-special-branch-`
  tekton/v1/triggers/triggers/_/github-pr-labeled-with-lgtm.yaml
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
