Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

chore(prow-jobs): migrate tikv/pd latest jobs to target jenkins (#4991)
  prow-jobs/tikv/pd/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate tikv/migration latest jobs to target jenkins (#4992)
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate tikv/copr-test latest jobs to target jenkins (#4993)
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate 3 more verified pingcap/tidb latest pre-submits to target jenkins (#4994)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton): correct stage param reference in request-kernel-image-sync
  tekton/v1/step-actions/request-kernel-image-sync.yaml
Due: none

fix(tekton): correct stage param reference in request-kernel-image-sync (#4995)
  tekton/v1/step-actions/request-kernel-image-sync.yaml
Due: none

chore(prow-jobs): migrate 5 verified tidb latest pre-submits to target jenkins (#4972)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate 6 verified pingcap/tiflow latest jobs to target jenkins
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate 4 verified pingcap/ticdc latest jobs to target jenkins
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate 2 verified pingcap/tiproxy latest jobs to target jenkins
  prow-jobs/pingcap/tiproxy/latest-postsubmits.yaml
  prow-jobs/pingcap/tiproxy/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): keep only unverified tiproxy jobs in this PR
  prow-jobs/pingcap/tiproxy/latest-postsubmits.yaml
  prow-jobs/pingcap/tiproxy/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate 6 verified pingcap/tiflow latest jobs to target jenkins (#4996)
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate 4 verified pingcap/ticdc latest jobs to target jenkins (#4997)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate 2 verified pingcap/tiproxy latest jobs to target jenkins (#4998)
  prow-jobs/pingcap/tiproxy/latest-postsubmits.yaml
  prow-jobs/pingcap/tiproxy/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(.ci): add param fallback and infra-fail classification to verify-jenkins-migration
  .ci/verify-jenkins-migration.sh
Due: none

chore(prow-jobs): migrate verified pull_common_test pre-submit to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(.ci): add param fallback and infra-fail classification to verify-jenkins-migration (#4999)
  .ci/verify-jenkins-migration.sh
Due: none

fix(tekton): remove stale notify-config workspace binding from tidbx delivery trigger
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

fix(tekton): remove stale notify-config workspace binding from tidbx delivery trigger (#5001)
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

chore(prow-jobs): migrate verified pull_common_test pre-submit to target jenkins (#5000)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate pull_br/lightning integration tests to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(.ci): support --source-build to copy params from a specific build
  .ci/verify-jenkins-migration.sh
Due: none

fix(tekton): run delivery scripts via /bin/sh instead of chmod +x
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
Due: none

fix(tekton): run delivery scripts via /bin/sh instead of chmod +x (#5004)
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
Due: none

chore(prow-jobs): migrate pingcap/tiproxy latest jobs to target jenkins (#4988)
  prow-jobs/pingcap/tiproxy/latest-postsubmits.yaml
  prow-jobs/pingcap/tiproxy/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate pull_br/lightning integration tests to target jenkins (#5002)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(.ci): support --source-build to copy params from a specific build (#5003)
  .ci/verify-jenkins-migration.sh
Due: none

fix(tekton): use /busybox/sh to run delivery scripts
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
Due: none

fix(tekton): use /busybox/sh to run delivery scripts (#5005)
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
Due: none

chore(prow-jobs): migrate verified ghpr_integration_mysql_test to target jenkins
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton): add / to PATH so crane is resolvable in deliver steps
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
Due: none

fix(tekton): add / to PATH so crane is resolvable in deliver steps (#5007)
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
Due: none

chore(prow-jobs): migrate verified ghpr_integration_mysql_test to target jenkins (#5006)
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate ghpr_check2 pre-submit to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

jobs(tidb): remove periodics_tidb_next_gen_smoke_test job
  jobs/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_tidb_next_gen_smoke_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(tidb): remove periodics_tidb_next_gen_smoke_test job (#5009)
  jobs/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_tidb_next_gen_smoke_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(pipelines): skip ghpr_check2 prepare sub-steps on matrix cache hit
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(tekton): use lowercase resourcetemplates field in tidbx notify triggers
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-ops-when-tidbx-image-distributed-to-clouds.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-tcms-when-tidbx-image-distributed-to-clouds.yaml
Due: none

fix(tekton): use lowercase resourcetemplates field in tidbx notify triggers (#5012)
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-ops-when-tidbx-image-distributed-to-clouds.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-tcms-when-tidbx-image-distributed-to-clouds.yaml
Due: none

refactor(pipelines): remove unused DM codecov/coveralls credential declarations in tiflow
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.0/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.3/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
