Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix(prow-jobs): fix crawl periodic jobs for pingcap-qe/ci repo (#3450)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): fix git remote setup in periodic jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): fix git remote setup in periodic jobs (#3451)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(prow-jobs/pingcap-qe/ci): switch from Ubuntu/pixi to Alpine/uv for crawl jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(prow-jobs/pingcap-qe/ci): switch from Ubuntu/pixi to Alpine/uv for crawl jobs (#3452)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): modify golang and net-tool cpu for kafka light pipelines
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
Due: none

feat(ticdc): modify golang and net-tool cpu for kafka light pipelines (#3453)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
Due: none

refactor(prow-jobs/pingcap-qe/ci): simplify PR creation and merge in periodic workflows
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): modify golang and net-tool cpu for mysql, kafka, pulsar, storage
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
Due: none

feat(prow-jobs/pingcap-qe/ci): add cloud storage caching support for crawl job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "refactor(prow-jobs/pingcap-qe/ci): switch from Ubuntu/pixi to Alpine/…"
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "refactor(prow-jobs/pingcap-qe/ci): switch from Ubuntu/pixi to Alpine/uv for crawl jobs" (#3456)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): modify golang and net-tool cpu for mysql, kafka, pulsar and storage (#3454)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
Due: none

fix(prow-jobs/pingcap-qe/ci): fix crawl jobs (#3455)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap-qe/ci): remove redundant uv run command in periodics job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): remove timeout constraint from commit crawler
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/tidb): update binary download script to use computed branch name
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines

Update pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tidb): update binary download script to use computed branch name (#3459)
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines

feat(ticdc): modify kafka, pulsar and storage prow-jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): modify kafka, pulsar and storage prow-jobs (#3461)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/tidb): update binary download script to use computed branch name
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines

chore(prow-jobs/pingcap-qe/ci): expand GitHub data collection scope and adjust resources
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap/tidb): add skip_submodules flag to avoid fetch the private submodule
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap/tidb): add skip_submodules flag to avoid fetch the private submodule (#3463)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap/tiflash): refactor TiFlash presubmits with YAML anchors
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap/tiflash): refactor TiFlash presubmits with YAML anchors (#3464)
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap-qe/ci): expand GitHub data collection scope and adjust resources (#3462)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): remove --auto flag from gh pr merge commands
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

opt(prow-jobs/pingcap-qe/ci): speed up the crawlings
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap/tidb-engine-ext): update latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pigncap/tidb-engine-ext): add OWNERS file
  prow-jobs/pingcap/tidb-engine-ext/OWNERS
Due: none

chore(prow-jobs/pingcap/tidb-engine-ext): update latest-presubmits.yaml (#3465)
  prow-jobs/pingcap/tidb-engine-ext/OWNERS
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): improve GitHub crawler job configuration and frequency
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(prow-jobs/pigncap-qe/ci): refactor GitHub crawler to process multiple repos in parallel
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): update order of YAML fields in crawler container definitions
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): fix GitHub repo crawler job setup and variable names
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): remove initContainer and move setup to main crawlers
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

opt(prow-jobs/pingcap-qe/ci): speedup crawling jobs (#3467)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "opt(prow-jobs/pingcap-qe/ci): speedup crawling jobs (#3467)"
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
