Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat(tiflash): start use rocky8 as base image (#3186)
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: adjust test.sh params
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add 8.5 jobs
  jobs/pingcap/tiflash/release-8.5/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.5/aa_folder.groovy
  jobs/tikv/tikv/release-8.5/pull_unit_test.groovy
Due: none

feat: add 8.5 presubmit conf
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add 8.5 pipelines
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add merged pipeline in tiflash 8.5
  jobs/pingcap/tiflash/release-8.5/merged_build.groovy
  jobs/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  prow-jobs/pingcap/tiflash/release-8.5-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update presubmit
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add 8.5 jobs
  jobs/pingcap/tiflow/release-8.5/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Due: none

feat: add 8.5 presubmits
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add 8.5 presubmits
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add 8.5 pipelines
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add 8.5 jobs
  jobs/pingcap/tidb/release-8.5/aa_folder.groovy
  jobs/pingcap/tidb/release-8.5/pull_build.groovy
  jobs/pingcap/tidb/release-8.5/pull_check.groovy
  jobs/pingcap/tidb/release-8.5/pull_check2.groovy
  jobs/pingcap/tidb/release-8.5/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_tiflash_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_unit_test.groovy
Due: none

feat: add 8.5 jobs
  jobs/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
Due: none

feat: add 8.5 presubmit
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add 8.5 pipelines
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_lightning_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_build.groovy
  pipelines/pingcap/tidb/release-8.5/pull_check.groovy
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore
  pipelines/pingcap/tiflash/latest/merged_build.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflow): split release 8.5 jobs for tiflow (#3198)
  jobs/pingcap/tiflow/release-8.5/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add ut ddlv1 job
  jobs/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update monitoring periodics job
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflash&tikv): split release 8.5 jobs for tiflash and tikv (#3197)
  jobs/pingcap/tiflash/release-8.5/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.5/merged_build.groovy
  jobs/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  jobs/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.5/aa_folder.groovy
  jobs/tikv/tikv/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
  prow-jobs/pingcap/tiflash/release-8.5-postsubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: correct fetch version from tiflow branch
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

fix(cd): correct fetch version from tiflow branch (#3200)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

chore(tiflash): use clang-format in image
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Apply suggestions from code review
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(tiflash): use clang-format in image (#3201)
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: adjust trigger for branch release-6.5-20241101-v6.5.7
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: skip trigger on release-6.5-20241101-v6.5.7
  prow-jobs/tikv/pd/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pd): adjust trigger for branch release-6.5-20241101-v6.5.7 (#3203)
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add cargo-home cache mitigate download failures caused by the network.
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: fix indentation format issues
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: fix indentation format issues
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

add cargo cache
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

add affinity to linux amd64 node
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb-engine-ext): add cargo cache for tidb-eninge-ext (#3204)
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv/raft-engine): enable ci for raft-engine
  OWNERS_ALIASES
  prow-jobs/tikv/raft-engine/OWNERS
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv/raft-engine): enable ci for raft-engine (#3206)
  OWNERS_ALIASES
  prow-jobs/tikv/raft-engine/OWNERS
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tikv/raft-engine): disable cargo home cache
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tikv/raft-engine): disable the max concurrency limit for rust-nightly job
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
