Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat(tidb): add long unit test daily pipeline (#3313)
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: executed every night at 10 PM UTC
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tidb): executed every night at 10 PM UTC (#3314)
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

change CI
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

remove unnecessary mkdir
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

remove some changes
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

revert
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Remove sync_diff_inspector version check from tiflow CI (#3315)
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

Update CI
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

docs: migrate from Qiniu Cloud to Tencent Cloud
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

Change tiflow CI to build sync_diff_inspector from source (#3316)
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix error
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

fix
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflow): fix go env set error on go1.20
  pipelines/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix upload error
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

feat: support specify image branch in pr title
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: adjust default branch to LTS branch
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflash): support specify image branch in pr title (#3319)
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

ensure proper pattern matching
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

update the timeout for docs
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

- remove install rclone step and update the image version - update timeout for docs pipeline
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
Due: pull-verify-jenkins-pipelines

docs: migrate from Qiniu Cloud to Tencent Cloud (#3317)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
Due: pull-verify-jenkins-pipelines

feat: add new ticdc presubmit config
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): add new ticdc presubmit config (#3320)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: checkout to minor version of tidb-test for hotfix
  libraries/tipipeline/vars/component.groovy
Due: none

chore: make detecting branches of tidb-test simple
  libraries/tipipeline/vars/component.groovy
Due: none

feat: determine whether tidbRefs is valid in different situations
  libraries/tipipeline/vars/component.groovy
Due: none

feat: add more comments
  libraries/tipipeline/vars/component.groovy
Due: none

feat: add check pipeline
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): add check pipeline (#3322)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(cd): fix build-comon for tikv when given builder image
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix(cd): fix build-comon for tikv when given builder image (#3323)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

Remove mac test pipeline
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/rust-rocksdb/rust_rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rust-rocksdb/rust_rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/titan/titan_ghpr_test.groovy
  jenkins/pipelines/ci/titan/titan_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

chore: rename tidbTestRefs
  libraries/tipipeline/vars/component.groovy
Due: none

chore: remove
  libraries/tipipeline/vars/component.groovy
Due: none

Update pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

Update pod-pull_cdc_integration_kafka_test.yaml (#3325)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

chore: fix error
  libraries/tipipeline/vars/component.groovy
Due: none

chore: add some comments
  libraries/tipipeline/vars/component.groovy
Due: none

fix(tidb): checkout to minor version of tidb-test for hotfix (#3321)
  libraries/tipipeline/vars/component.groovy
Due: none
