Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat: set ssl-mode to disabled in pod init containers
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
Due: none

chore: update cpu
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
Due: none

fix: correct missing line break
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
Due: none

feat: set ssl-mode to disable in init container
  pipelines/pingcap/tidb/latest/pod-merged_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
Due: none

fix: kafka test need tini image
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

feat(tiflow): update base image to use rockylinux8 (#3189)
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_engine_integration_test.yaml
Due: none

docs: bump pdf stable version to release-8.5
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): update base image to rocky linux8 (#3192)
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
Due: pull-verify-jenkins-pipelines

chore: support feature branch
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: auto handle tidb-test pr support feature branch (#3276)
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: update to use rocky8 image
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_lightning_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_test.yaml
Due: none

chore(tidb): update to use rocky8 image (#3277)
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_lightning_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_test.yaml
Due: none

fix: correct script parameter passing
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb): correct script parameter passing (#3278)
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap-qe/ee-apps): add a scan job `pull-scan-deps`
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: add test data in pod init
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
Due: none

fix(tidb): prepare sqllogic test data in pod init (#3280)
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
Due: none

Update prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap-qe/ee-apps): add a scan job `pull-scan-deps` (#3279)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update presubmits.yaml
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(deps): bump tag image for security scan task (#3281)
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap-ee-apps): fix the limits and requests for scan job
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap-ee-apps): fix the limits and requests for scan job (#3282)
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: adjust image from centos7 to rocky8
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
Due: pull-verify-jenkins-pipelines

feat(tidb-test): adjust image from centos7 to rocky8 (#3283)
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
Due: pull-verify-jenkins-pipelines

feat: split 8.5 and 7.1 presubmit for tidb-test
  prow-jobs/pingcap/tidb-test/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-test/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb-test/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: split jobs for 8.5 and 7.1
  jobs/pingcap-qe/tidb-test/release-7.1/aa_folder.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_build.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_common_test.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_integration_common_test.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_integration_jdbc_test.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_integration_nodejs_test.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_integration_python_orm_test.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/aa_folder.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_build.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_common_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_integration_common_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_integration_jdbc_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_integration_nodejs_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_integration_python_orm_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_mysql_test.groovy
Due: none

feat: split pipelines
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_integration_nodejs_test.groovy
  jobs/pingcap-qe/tidb-test/release-7.1/ghpr_integration_python_orm_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_integration_nodejs_test.groovy
  jobs/pingcap-qe/tidb-test/release-8.5/ghpr_integration_python_orm_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-7.1/ghpr_build.groovy
  pipelines/PingCAP-QE/tidb-test/release-7.1/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-7.1/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-7.1/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-7.1/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-7.1/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/release-7.1/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-7.1/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-7.1/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-7.1/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-7.1/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-8.5/ghpr_build.groovy
  pipelines/PingCAP-QE/tidb-test/release-8.5/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-8.5/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-8.5/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-8.5/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/release-8.5/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/release-8.5/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-8.5/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-8.5/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-8.5/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-8.5/pod-ghpr_mysql_test.yaml
Due: pull-verify-jenkins-pipelines

feat: add presubmits for 8.5 and 7.1
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-test/release-6.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "fix(tiflow): temp bypass qiniuyun block download (#3269)"
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "fix(tiflow): temp bypass qiniuyun block download" (#3285)
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update scan dep job
  OWNERS
  OWNERS_ALIASES
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: update scan dep job (#3287)
  OWNERS
  OWNERS_ALIASES
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

docs: update documents
  README.md
  docs/README.md
  docs/contributing.md
  docs/core-concepts.md
  docs/designs/README.md
  docs/guides/README.md
  docs/jobs/README.md
  docs/jobs/pingccap/tidb/ci-jobs-latest.md
  docs/jobs/pingccap/tidb/ci-jobs-v6.5.md
  docs/jobs/pingccap/tidb/ci-jobs-v7.1.md
  docs/jobs/pingccap/tiflow/ci-jobs-latest.md
  docs/jobs/pingccap/tiflow/ci-jobs-v7.1.md
  docs/jobs/pingccap/tiflow/ci-jobs-v7.2.md
  docs/jobs/tikv/pd/ci-jbos-v6.5.md
  docs/jobs/tikv/pd/ci-jobs-latest.md
  docs/jobs/tikv/tikv/ci-jobs-v6.5.md
Due: none

docs(docs/guides): add docker-build.md
  docs/guides/README.md
  docs/guides/docker-build.md
Due: none

chore: fix OWNERS
  OWNERS
  jobs/OWNERS
Due: none

chore: fix OWNERS (#3289)
  OWNERS
  jobs/OWNERS
Due: none

docs: update documents (#3288)
  README.md
  docs/README.md
  docs/contributing.md
  docs/core-concepts.md
  docs/designs/README.md
  docs/guides/README.md
  docs/guides/docker-build.md
  docs/jobs/README.md
  docs/jobs/pingccap/tidb/ci-jobs-latest.md
  docs/jobs/pingccap/tidb/ci-jobs-v6.5.md
  docs/jobs/pingccap/tidb/ci-jobs-v7.1.md
  docs/jobs/pingccap/tiflow/ci-jobs-latest.md
  docs/jobs/pingccap/tiflow/ci-jobs-v7.1.md
  docs/jobs/pingccap/tiflow/ci-jobs-v7.2.md
  docs/jobs/tikv/pd/ci-jbos-v6.5.md
  docs/jobs/tikv/pd/ci-jobs-latest.md
  docs/jobs/tikv/tikv/ci-jobs-v6.5.md
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
