Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

refactor(pipelines/tidb-test): align release-7.1 with 8.5 and rename release-6.2 to release-6.5 (#4796)
  jobs/pingcap-qe/tidb-test/release-6.0/aa_folder.groovy
  jobs/pingcap-qe/tidb-test/release-6.0/ghpr_build.groovy
  jobs/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-6.2/ghpr_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-6.5/aa_folder.groovy
  jobs/pingcap-qe/tidb-test/release-6.5/ghpr_build.groovy
  jobs/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-6.0/pod-ghpr_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-6.2/pod-ghpr_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_jdbc_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_common_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_integration_common_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_integration_jdbc_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_mysql_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/tidb-test/release-6.2-presubmits.yaml
  prow-jobs/pingcap-qe/tidb-test/release-6.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refactor(pipelines/tidb-test): align release-6.2 with release-8.5
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_mysql_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tidb-test): align release-6.5 with release-8.5 (#4797)
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_mysql_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

prow-jobs(tidb-test): enable master label for release-7.1 presubmits
  prow-jobs/pingcap-qe/tidb-test/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): enable master trigger for release branch presubmits
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
  prow-jobs/tikv/pd/release-7.1-presubmits.yaml
  prow-jobs/tikv/pd/release-7.5-presubmits.yaml
  prow-jobs/tikv/pd/release-8.1-presubmits.yaml
  prow-jobs/tikv/pd/release-9.0-beta-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): update master trigger for release branch presubmits (#4799)
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
  prow-jobs/tikv/pd/release-7.1-presubmits.yaml
  prow-jobs/tikv/pd/release-7.5-presubmits.yaml
  prow-jobs/tikv/pd/release-8.1-presubmits.yaml
  prow-jobs/tikv/pd/release-9.0-beta-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(scripts): replace hardcoded internal URLs with env vars (E1-E9)
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/download_pingcap_artifact.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/refresh-tiup.sh
  scripts/ops/get-artifacts-of-pull-request.sh
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
  scripts/ops/release-check-version/README.md
  scripts/ops/release-check-version/check_offline_package.py
  scripts/ops/release-check-version/check_tiup.py
  scripts/ops/release-check-version/config.py
  scripts/ops/release-check-version/main.py
  scripts/ops/statics-prow-jobs-weekly.py
  scripts/ops/statics-prow-jobs.ts
  scripts/pingcap/br/integration_test_download_dependency.sh
  scripts/pingcap/tidb/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

refactor(scripts): replace hardcoded internal URLs with env vars
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/download_pingcap_artifact.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/refresh-tiup.sh
  scripts/ops/get-artifacts-of-pull-request.sh
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
  scripts/ops/release-check-version/README.md
  scripts/ops/release-check-version/check_offline_package.py
  scripts/ops/release-check-version/check_tiup.py
  scripts/ops/release-check-version/config.py
  scripts/ops/release-check-version/main.py
  scripts/ops/statics-prow-jobs-weekly.py
  scripts/ops/statics-prow-jobs.ts
  scripts/pingcap/br/integration_test_download_dependency.sh
  scripts/pingcap/tidb/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

fix(.ci): allow pingcap.net hosts used as env var defaults in content policy
  .ci/check-pr-content-policy.sh
Due: none

fix(.ci): fix PINGCAP_HOST_PATTERN regex to not match leading dashes
  .ci/check-pr-content-policy.sh
Due: none

fix(ci): add backward-compat hosts to content policy allowlist
  .ci/check-pr-content-policy.sh
Due: none

fix(ci): tighten hostname regex in content policy checker
  .ci/check-pr-content-policy.sh
Due: none

refactor(scripts): replace hardcoded internal URLs with env vars (#4801)
  .ci/check-pr-content-policy.sh
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/download_pingcap_artifact.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/refresh-tiup.sh
  scripts/ops/get-artifacts-of-pull-request.sh
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
  scripts/ops/release-check-version/README.md
  scripts/ops/release-check-version/check_offline_package.py
  scripts/ops/release-check-version/check_tiup.py
  scripts/ops/release-check-version/config.py
  scripts/ops/release-check-version/main.py
  scripts/ops/statics-prow-jobs-weekly.py
  scripts/ops/statics-prow-jobs.ts
  scripts/pingcap/br/integration_test_download_dependency.sh
  scripts/pingcap/tidb/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

chore(tools): move deprecated scripts and tools to tools/deprecated directory
  tools/deprecated/download_pingcap_artifact.sh
  tools/deprecated/gethash.py
  tools/deprecated/gethash/Dockerfile
  tools/deprecated/gethash/Makefile
  tools/deprecated/gethash/Readme.md
  tools/deprecated/gethash/gethash.py
  tools/deprecated/scripts/check-images-internal.sh
  tools/deprecated/scripts/delete_qiniu.py
  tools/deprecated/scripts/list_qiniu.py
  tools/deprecated/scripts/upload_qiniu.py
Due: none

chore(tools): move deprecated scripts and tools to tools/deprecated directory (#4802)
  tools/deprecated/download_pingcap_artifact.sh
  tools/deprecated/gethash.py
  tools/deprecated/gethash/Dockerfile
  tools/deprecated/gethash/Makefile
  tools/deprecated/gethash/Readme.md
  tools/deprecated/gethash/gethash.py
  tools/deprecated/scripts/check-images-internal.sh
  tools/deprecated/scripts/delete_qiniu.py
  tools/deprecated/scripts/list_qiniu.py
  tools/deprecated/scripts/upload_qiniu.py
Due: none

chore(tools): move release-checker and release-check-version to tools/deprecated
  release-checker
  tools/deprecated/release-check-version/.dockerignore
  tools/deprecated/release-check-version/Dockerfile
  tools/deprecated/release-check-version/README.md
  tools/deprecated/release-check-version/check_docker_images.py
  tools/deprecated/release-check-version/check_info.py
  tools/deprecated/release-check-version/check_offline_package.py
  tools/deprecated/release-check-version/check_tiup.py
  tools/deprecated/release-check-version/config.py
  tools/deprecated/release-check-version/create_components_json.py
  tools/deprecated/release-check-version/create_components_json.ts
  tools/deprecated/release-check-version/example_components-v8.0.0.json
  tools/deprecated/release-check-version/log_config.py
  tools/deprecated/release-check-version/main.py
  tools/deprecated/release-check-version/requirements.txt
Due: none

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(owners): move lybcodes to emeritus and remove from tidb-operator
  OWNERS_ALIASES
  prow-jobs/pingcap/tidb-operator/OWNERS
Due: none

refactor(prow-jobs/pingcap-qe/tidb-test): update master label for release-7.1 presubmits (#4798)
  prow-jobs/pingcap-qe/tidb-test/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(scripts): replace hardcoded internal URLs with env vars (E1-E9)
  scripts/ops/get-artifacts-of-pull-request.sh
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
  scripts/ops/statics-prow-jobs-weekly.py
  scripts/ops/statics-prow-jobs.ts
Due: none

feat(scripts): replace hardcoded internal URLs with env vars (E1-E9) (#4800)
  .ci/check-pr-content-policy.sh
  scripts/ops/get-artifacts-of-pull-request.sh
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
  scripts/ops/statics-prow-jobs-weekly.py
  scripts/ops/statics-prow-jobs.ts
Due: none

feat(tools): replace hardcoded internal URLs with env vars and remove dead code (PR2)
  tools/check_artifact/Dockerfile
  tools/check_artifact/Readme.md
  tools/check_artifact/check_artifact.sh
  tools/deprecated/gethash/Makefile
  tools/deprecated/gethash/gethash.py
  tools/deprecated/misc_tools/create_branch.sh
  tools/deprecated/misc_tools/create_tag.py
  tools/deprecated/misc_tools/get_hash.sh
  tools/deprecated/plugins/report-flaky-cases.ts
  tools/deprecated/plugins/report_job_result.sh
  tools/deprecated/release-checker/checker/Makefile
Due: none

feat(tools): replace hardcoded internal URLs with env vars + remove dead deprecated code (#4801)
  tools/check_artifact/Dockerfile
  tools/check_artifact/Readme.md
  tools/check_artifact/check_artifact.sh
  tools/deprecated/gethash/Makefile
  tools/deprecated/gethash/gethash.py
  tools/deprecated/misc_tools/create_branch.sh
  tools/deprecated/misc_tools/create_tag.py
  tools/deprecated/misc_tools/get_hash.sh
  tools/deprecated/plugins/report-flaky-cases.ts
  tools/deprecated/plugins/report_job_result.sh
  tools/deprecated/release-checker/checker/Makefile
Due: none

feat(tools): replace hardcoded internal URLs with env vars + remove dead deprecated code (#4808)
  tools/check_artifact/Dockerfile
  tools/check_artifact/Readme.md
  tools/check_artifact/check_artifact.sh
  tools/deprecated/gethash/Makefile
  tools/deprecated/gethash/gethash.py
  tools/deprecated/misc_tools/create_branch.sh
  tools/deprecated/misc_tools/create_tag.py
  tools/deprecated/misc_tools/get_hash.sh
  tools/deprecated/plugins/report-flaky-cases.ts
  tools/deprecated/plugins/report_job_result.sh
  tools/deprecated/release-checker/checker/Makefile
Due: none

feat(scripts,pipelines): add --tiproxy support for pre-built binary download
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(tiproxy): add --tiproxy support for pre-built binary download from OCI (#4809)
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(tekton): add trigger to auto-remove do-not-merge/hold on cherry-pick PRs
  tekton/v1/triggers/triggers/env-gcp/_/github-pr-synchronized-remove-hold.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
Due: none

fix(tekton): fix pagination bug in bot-origin check
  tekton/v1/triggers/triggers/env-gcp/_/github-pr-synchronized-remove-hold.yaml
Due: none

feat(tekton): add trigger to auto-remove do-not-merge/hold on cherry-pick PRs (#4810)
  tekton/v1/triggers/triggers/env-gcp/_/github-pr-synchronized-remove-hold.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
Due: none

chore(pipelines): remove unused gocache and gopathcache PVCs and GOPATH/GOCACHE env vars
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.0/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.3/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_syncdiff_integration_test.yaml
Due: none

chore(pipelines): remove unused gocache and gopathcache PVCs and GOPATH/GOCACHE env vars (#4815)
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.0/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.3/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_syncdiff_integration_test.yaml
Due: none

refactor(pipelines/tiflow): align release-6.5 pipelines with release-7.5
  jobs/pingcap/tiflow/release-6.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refactor(pipelines/tiflow): align release-6.5 pipelines with release-7.5 (#4816)
  jobs/pingcap/tiflow/release-6.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(pipelines): downgrade etcd image tag to v3.5.15 for tiflow release-6.5
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): drop 'args: cat' from release-6.5 dm/cdc test pods
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_integration_test.yaml
Due: none

pipelines(tiflow): switch to centos7 base image and fix container command
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_kafka_test.yaml
Due: none

Apply suggestion from @wuhuizuo
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_kafka_test.yaml
Due: none

fix(pipelines/tiflow): drop 'args: cat' from release-6.5 dm/cdc test pods (#4817)
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_integration_test.yaml
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
