Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix(tekton/v1/tasks): fix task pingcap-get-set-release-version
  tekton/v1/tasks/pingcap-get-set-release-version.yaml
Due: none

fix(tekton/v1/tasks): fix task pingcap-get-set-release-version (#4122)
  tekton/v1/tasks/pingcap-get-set-release-version.yaml
Due: none

prow: make pull_integration_ddl_test optional and manual-trigger
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
Due: pull-verify-jenkins-pipelines

fixi(pipelines/pingcap/tiflash): update JNLP agent image in pipeline pods
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
Due: none

fixi(pipelines/pingcap/tiflash): update JNLP agent image in pipeline pods (#4125)
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
Due: none

tidb_integration_test: enhance tici test
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci: add trigger aliases for ticdc integration jobs
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ticdc: add trigger aliases for ticdc integration jobs (#4128)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): add Pulsar integration heavy tests for multiple branches
  docs/jobs/README.md
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen.groovy
  jobs/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_pulsar_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_heavy.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/release-9.0-beta-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci: add ticdc pulsar heavy presubmits
  docs/plans/2026-01-29-ticdc-pulsar-heavy-ci.md
Due: none

feat(cdc): add pulsar heavy integration CI jobs for TiCDC
  docs/plans/2026-01-29-ticdc-pulsar-heavy-ci.md
Due: none

feat(pipelines/pingcap/tiflash): cache build for release-7.5 PR jobs
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

ci: adjust pulsar heavy presubmits
  jobs/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_pulsar_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_heavy.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/release-9.0-beta-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Use current path for git safe.directory
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Apply suggestion from @wuhuizuo
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines

prow: make pull_integration_ddl_test optional and manual-trigger (#4123)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Pass stage to get_git_tag_metadata
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

tidb_integration_test: enhance tici test (#4127)
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Handle missing git tag metadata
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

Use image_repo for tag metadata and show payload
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

feat(pipelines): Reduce memory limit for Pulsar integration test
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pod-test.yaml
Due: none

ticdc: add pulsar heavy integration CI jobs (#4129)
  docs/jobs/README.md
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pod.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Read release_id and change_id from meta.ops_req
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

feat(tekton/v1): support ops ticket relate with release ticket (#4119)
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

feat: add new prow jobs for refactoring tidb-operator e2e tests
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add new prow jobs for refactoring tidb-operator e2e tests (#4133)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

docs: add AGENTS.md guidance for repository automation
  AGENTS.md
  docs/designs/README.md
Due: none

refactor: encapsulate cloudevents sending into shared function
  libraries/tipipeline/vars/prow.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_unit_test.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflash): cache build for release-7.5 PR pipelines (#4130)
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

refactor: encapsulate cloudevents sending into shared function (#4134)
  libraries/tipipeline/vars/prow.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_unit_test.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat: update prow jobs for refactoring tidb-operator e2e tests
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update prow jobs for refactoring tidb-operator e2e tests
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update prow jobs for refactoring tidb-operator e2e tests
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update prow jobs for refactoring tidb-operator e2e tests (#4137)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
