Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

Revert "chore(deps): update denoland/deno docker tag to v2.9.5" (#4914)
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/periodics.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/ticdc/common-postsubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/pingcap/tiflash/common-postsubmits.yaml
  prow-jobs/pingcap/tiflow/common-postsubmits.yaml
  prow-jobs/tikv/community/postsubmits.yaml
  tekton/v1/tasks/pingcap-get-set-release-version.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

tools(flaky-tests): replace deno.land dependencies with npm packages
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/Database.ts
  tools/reporters/ci/flaky-tests/deno.json
  tools/reporters/ci/flaky-tests/deno.lock
  tools/reporters/ci/flaky-tests/utils/EmailClient.ts
  tools/reporters/ci/flaky-tests/utils/db.ts
Due: none

tools(flaky-tests): fix mysql2 ssl option to object form
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
Due: none

chore(prow-jobs): remove extra_refs from flaky reporter periodic job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tools/flaky-tests): replace deno.land dependencies with npm packages (#4916)
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/Database.ts
  tools/reporters/ci/flaky-tests/deno.json
  tools/reporters/ci/flaky-tests/deno.lock
  tools/reporters/ci/flaky-tests/utils/EmailClient.ts
  tools/reporters/ci/flaky-tests/utils/db.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tekton): request kernel image sync after tidbx image delivery
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

fix(tekton): deploy missing hotfix pr-creation tasks to v1 kustomization
  tekton/v1/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v1/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

fix(tekton): deploy missing hotfix pr-creation tasks to v1 kustomization (#4925)
  tekton/v1/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v1/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

fix(pipelines): fix unclosed quote in OCI_ARTIFACT_HOST_COMMUNITY
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines): fix missing quote in tidb merged_common_test
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci: parallelize jenkins pipeline verification with 4 workers
  .ci/verify-jenkins-pipelines.sh
Due: none

ci: parallelize jenkins pipeline verification with 4 workers (#4926)
  .ci/verify-jenkins-pipelines.sh
Due: none

chore(tekton): restrict kernel image sync to dev stage
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
Due: none

fix(prow-jobs): raise pod pending timeout for tiflash sanitizer jobs
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

docs(guides): add Prow pod timeouts guide
  docs/guides/README.md
  docs/guides/prow-pod-timeouts.md
Due: none

fix(prow-jobs): raise pod pending timeout for tiflash sanitizer jobs (#4928)
  docs/guides/README.md
  docs/guides/prow-pod-timeouts.md
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tekton): request kernel image sync after tidbx image delivery (#4921)
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

fix(tools): guard indirect variable expansion against empty env_var (#4826)
  tools/validate-repair-zot-image.sh
Due: none

fix(tekton): make github event simulation deliver events to the event listener
  tekton/tests/test-github-events.ts
Due: none

fix(tekton): make github event simulation deliver events to the event listener (#4933)
  tekton/tests/test-github-events.ts
Due: none

chore(tekton/v1/triggers): update tidb-binlog git-push branch filter
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-binlog/git-push.yaml
Due: none

fix(scripts): skip creating empty OWNERS sync PRs
  scripts/pingcap/community/prow-owners-updater.ts
  scripts/pingcap/community/prow-owners.ts
Due: none

fix(scripts): skip creating empty OWNERS sync PRs (#4935)
  scripts/pingcap/community/prow-owners-updater.ts
  scripts/pingcap/community/prow-owners.ts
Due: none

refactor(tekton): extract request-kernel-image-sync step into StepAction
  tekton/v1/step-actions/kustomization.yaml
  tekton/v1/step-actions/request-kernel-image-sync.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
Due: none

refactor(tekton): extract request-kernel-image-sync step into StepAction (#4936)
  tekton/v1/step-actions/kustomization.yaml
  tekton/v1/step-actions/request-kernel-image-sync.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
Due: none

fix(prow-jobs): use serviceAccountName field for ee-infra gcp terraform job
  prow-jobs/pingcap-qe/ee-infra/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): use serviceAccountName field for ee-infra gcp terraform job (#4937)
  prow-jobs/pingcap-qe/ee-infra/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tekton): send kernel image sync images array per stage
  tekton/v1/step-actions/request-kernel-image-sync.yaml
Due: none

feat(tekton): send kernel image sync images array per stage (#4938)
  tekton/v1/step-actions/request-kernel-image-sync.yaml
Due: none

refactor(pipelines): drop manual tidbx-docker-config ~/.docker copies
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(ci): support multiple pod templates in replay script
  .ci/replay-jenkins-build.sh
Due: none

refactor(pipelines): drop manual tidbx-docker-config ~/.docker copies (#4939)
  .ci/replay-jenkins-build.sh
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(tekton): enable kernel image sync step with configurable stages
  tekton/v1/step-actions/request-kernel-image-sync.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
Due: none
