Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

refactor(tidb/release-8.5): remove the stage-level timeout setting (#3985)
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
Due: pull-verify-jenkins-pipelines

chore: upgrade tidb CI image for go1.25
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

add ready-for-review job for tidb-operator (#3983)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: upgrade tidb CI image for go1.25 (#3986)
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

chore: update golang image and increase resource requests for CI pod (#3987)
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
Due: none

chore(tiflow): update golang image to 1.25 and increase resource requests for CI pod in tiflow release-8.5 (#3987)
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
Due: none

feat(tekton/v1/task): add gitInsteadOf parameter to configure Git URL rewrites
  tekton/v1/tasks/git-clone.yaml
Due: none

Apply suggestion from @wuhuizuo
  tekton/v1/tasks/git-clone.yaml
Due: none

feat(tekton/v1/task): add gitInsteadOf parameter to configure Git URL rewrites (#3988)
  tekton/v1/tasks/git-clone.yaml
Due: none

Revert "chore: upgrade tidb CI image for go1.25 (#3986)"
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

Revert "chore: upgrade tidb CI image for go1.25" (#3989)
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

refactor(tekton): move community darwin build trigger from prod to prod2 environment
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

Add git-push-branch-build-community-darwin trigger
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

refactor(tekton): move community darwin build trigger from prod to prod2 cluster (#3990)
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

feat(pd): use component.fetchAndExtractArtifact replace for artifact download
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tekton/v1/tasks): add echo task
  tekton/v1/tasks/echo.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

fix(tekton/v1/pipelines): update Darwin pipeline to remove publisher-url parameter
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
Due: none

fix(tekton/v1): fix darwin builds pipelines and tasks (#3992)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/tasks/echo.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

fix(prow-jobs/ti-community-infra/configs): update checkconfig image to v20251023-c4199afa4
  prow-jobs/ti-community-infra/configs/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/ti-community-infra/configs): update checkconfig image to `v20251023-c4199afa4` (#3993)
  prow-jobs/ti-community-infra/configs/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v1): adjust TiDB and TiFlash build resources and timeouts
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
Due: none

fix(tekton/v1): adjust TiDB and TiFlash build resources and timeouts (#3994)
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
Due: none

refactor(tekton): move building triggers for classic from tekton/v0 to prod2 in tekton/v1
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/ticdc/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/ticdc/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-binlog/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-ctl/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-ctl/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-tools/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-tools/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiproxy/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiproxy/git-push.yaml
Due: none

chore(tekton/v1): update resource ordering in kustomization and in trigger bindings
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-push.yaml
Due: none

refactor(tekton): move building triggers for classic from tekton/v0 to prod2 in tekton/v1 (#3995)
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/ticdc/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/ticdc/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-binlog/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-ctl/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-ctl/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-tools/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-tools/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiproxy/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiproxy/git-push.yaml
Due: none

fix ready-for-review command
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v1/triggers/bindings): update boskos server URL for ksy-classic build params
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
Due: none

fix(tekton/v1/triggers): add service accounts to build-component-all-platforms tasks
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
Due: none

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix ready-for-review command (#3996)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add repo parameter to ready for review job
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add repo parameter to ready for review job (#3997)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pd): use component.fetchAndExtractArtifact replace for artifact download (#3991)
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(tekton): move artifact push triggers to v1
  .ci/update-tekton-kustomizations.sh
  tekton/v0/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
  tekton/v0/triggers/triggers/_/harbor/image-push-on-harbor.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/templates/kustomization.yaml
  tekton/v1/triggers/templates/pingcap/ctl/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/ctl/artifact-push-on-harbor.yaml
  tekton/v1/triggers/triggers/env-prod2/harbor/artifact-push-on-harbor.yaml.disable
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

Add harbor trigger for pingkai image push
  tekton/v0/triggers/triggers/_/harbor/image-push-on-harbor-for-pingkai.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
Due: none

Apply suggestion from @gemini-code-assist[bot]
  .ci/update-tekton-kustomizations.sh
Due: none

Add Tekton tasks kustomization file
  tekton/v1/tasks/kustomization.yaml
Due: none

Add schema reference to kustomization file
  tekton/v1/tasks/kustomization.yaml
Due: none

refactor(tekton): move artifact push triggers to v1 (#3998)
  .ci/update-tekton-kustomizations.sh
  tekton/v0/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
  tekton/v0/triggers/triggers/_/harbor/image-push-on-harbor-for-pingkai.yaml
  tekton/v0/triggers/triggers/_/harbor/image-push-on-harbor.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/templates/kustomization.yaml
  tekton/v1/triggers/templates/pingcap/ctl/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/ctl/artifact-push-on-harbor.yaml
  tekton/v1/triggers/triggers/env-prod2/harbor/artifact-push-on-harbor.yaml.disable
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none
