Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

chore(prow-jobs): bump image tag for ci jobs (#4155)
  prow-jobs/pingcap/tiproxy/latest-presubmits.yaml
  skills/prow-image-bump-keep-variant/SKILL.md
  skills/prow-image-bump-keep-variant/agents/openai.yaml
  skills/prow-image-bump-keep-variant/scripts/bump_prow_job_images.sh
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update rust toolchain for raft-engine
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update raft engine ci (#4158)
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tekton/v1/tasks/release): switch upload task to use internal2 dl URL
  tekton/v1/tasks/release/pingcap-upload-offline-package.yaml
Due: none

chore(tekton/v1/tasks/release): switch upload task to use internal2 dl URL (#4161)
  tekton/v1/tasks/release/pingcap-upload-offline-package.yaml
Due: none

fix(ticdc): skip empty log archive in integration pipelines
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

chore(prow-jobs): disable automatic pre-merge execution for pulsar integration test
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ticdc): skip empty log archive in integration pipelines (#4162)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_light.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): allow feature/release branches in failpoint build trigger
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-failpoint.yaml
Due: none

ci(tekton): allow feature/release branches in failpoint build trigger (#4163)
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-failpoint.yaml
Due: none

a
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update tidb-operator e2e tests prow job yaml
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tekton/v1/tasks): add tidbx tcms notify task
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-update-tcms-tidbx.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

feat(tekton/v1/triggers): add tcms update taskrun for tidbx notify
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

chore(tekton): update TiDB-X notify task metadata
  tekton/v1/tasks/delivery/pingcap-notify-to-update-tcms-tidbx.yaml
Due: none

feat(tekton/v1): push image records to test platform after tidbx images are delivered (#4166)
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-update-tcms-tidbx.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

ci(prow): add release-fts-202602 branch filters
  prow-jobs/pingcap-inc/tici/presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): allow release-fts branches in git-push triggers
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
Due: none

Apply suggestions from code review
  prow-jobs/pingcap-inc/tici/presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestions from code review
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v1/triggers): add tikv build presets for darwin trigger
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
Due: none

feat: support CI/CD for FTS release branches (#4170)
  prow-jobs/pingcap-inc/tici/presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): drop ti-community-infra prow postsubmit job
  prow-jobs/kustomization.yaml
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): drop ti-community-infra prow postsubmit job (#4172)
  prow-jobs/kustomization.yaml
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(skills): add ci pr failure diagnosis skill
  skills/ci-pr-failure-diagnosis/SKILL.md
  skills/ci-pr-failure-diagnosis/agents/openai.yaml
  skills/ci-pr-failure-diagnosis/scripts/log_peek.py
Due: none

docs(skills): trim tool availability list in ci diagnosis skill
  skills/ci-pr-failure-diagnosis/SKILL.md
Due: none

ci(prow): standardize pod labels for qe presubmit jobs
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @gemini-code-assist[bot]
  skills/ci-pr-failure-diagnosis/SKILL.md
Due: none

Apply suggestion from @gemini-code-assist[bot]
  skills/ci-pr-failure-diagnosis/scripts/log_peek.py
Due: none

chore(skills): add ci pr failure diagnosis skill (#4173)
  skills/ci-pr-failure-diagnosis/SKILL.md
  skills/ci-pr-failure-diagnosis/agents/openai.yaml
  skills/ci-pr-failure-diagnosis/scripts/log_peek.py
Due: none

ci(tekton): treat release-fts-* refs as trunk
  tekton/v1/tasks/pingcap-git-clone-ext.yaml
Due: none

To avoid duplication
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): standardize pod labels for qe presubmit jobs (#4174)
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): treat release-fts-* refs as trunk (#4175)
  tekton/v1/tasks/pingcap-git-clone-ext.yaml
Due: none

chore(prow-jobs): Don't merge, test run prow job
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): add tidb-operator fips tag trigger
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-create-tag-fips.yaml
Due: none

ci(tekton): add tidb-operator fips tag trigger (#4177)
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-create-tag-fips.yaml
Due: none

fix(tools): add labels and type to flaky issue links
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none
