Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

chore: build tiflash with rust cargo cache
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

chore: build tiflash with rust cargo cache (#3034)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

feat(prow-jobs/tikv/raft-engine): add prow job
  .ci/update-prow-job-kustomization.sh
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/tikv/raft-engine): add prow job (#2985)
  .ci/update-prow-job-kustomization.sh
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tools/list-rust-dependencies): add script to list rust dependencies to csv
  tools/list-rust-dependencies/list.ts
Due: none

feat(tools/list-rust-dependencies): add script to list rust dependencies to csv (#3035)
  tools/list-rust-dependencies/list.ts
Due: none

fix(prow-jobs/tikv/raft-engine): delete curl install steps
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/tikv/raft-engine): install cmake
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb,pingcap/tiflash,tikv/tikv): support feature branch
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tiflow,pingcap/pd): support feature branch
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tiflow,pingcap/pd): support feature branch (#3036)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/tidb): fix the cache too large problem
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tidb): fix the cache too large problem (#3037)
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): update trigger for CI job `pull-br-integration-test`
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): update trigger for CI job `pull-br-integration-test` (#3040)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feature(pingcap/tiflash): intergration support feature branch and ci params in PR title
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feature(pingcap/tiflash): intergration support feature branch and ci params in PR title (#3042)
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: support specify pd&tikv branch in pr title
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): intergration support feature branch and ci params in PR title (#3045)
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
Due: pull-verify-jenkins-pipelines

fix(scripts/artifacts): fix check-images-internal.sh
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-images-internal.ts
  scripts/artifacts/check-tiup.ts
  scripts/ops/search-lark-user-by-githubid.ts
Due: none

chore(prow-jobs): bump docker image denoland/deno to v1.45.5
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-canary.yaml
  prow-jobs/tikv/community/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts/artifacts): fix check-images-internal.sh (#3046)
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-images-internal.ts
  scripts/artifacts/check-tiup.ts
  scripts/ops/search-lark-user-by-githubid.ts
Due: none

chore: add support for feature branch build
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

chore: add support for feature branch build (#3047)
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

feat: add some presubmit jobs
  jobs/pingcap/tidb/release-8.1/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
Due: none

fix: mysql-test support batch merge
  pipelines/pingcap/tidb/release-6.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tidb): mysql-test support batch merge in 8.1 (#3049)
  pipelines/pingcap/tidb/release-6.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

Update common-postsubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update branch regex
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: support auto-handle in more branches (#3050)
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(br,dm): delete jenkins/pipelines/ci/br and jenkins/pipelines/ci/dm folder
  jenkins/pipelines/ci/br/br_check_release_note.groovy
  jenkins/pipelines/ci/br/br_dbaas_auto_test.groovy
  jenkins/pipelines/ci/br/br_ghpr_build.groovy
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/br/br_s3_auto_test.groovy
  jenkins/pipelines/ci/dm/dm_compatibility_test.groovy
  jenkins/pipelines/ci/dm/dm_ghpr_new_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add more presubmit about integration test
  jobs/pingcap/tidb/release-8.1/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
Due: none

a
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add support branch for proxy (#3054)
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add more presubmit pipelines on 8.1
  pipelines/pingcap/tidb/release-8.1/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

chore: add some presubmit trigger on 8.1
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add python-orm-test on trigger
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add presubmit pipeline on 8.1 (#3055)
  jobs/pingcap/tidb/release-8.1/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
