Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-optional
      decorate: true
      max_concurrency: 1
      always_run: false
      optional: false
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            command: [bash, -ce]
            args:
              - |
                echo "This is a optional job, it will always fail."
                exit 1
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-prow-jobs
      decorate: true
      extra_refs:
        - org: ti-community-infra
          repo: configs
          base_ref: main
          repo_link: https://github.com/ti-community-infra/configs
      max_concurrency: 1
      run_if_changed: "^prow-jobs/.*\\.(yaml|yml)"
      branches:
        - ^main$
      spec:
        containers:
          - image: ticommunityinfra/checkconfig:v20230621-df5abce
            command:
              - /ko-app/checkconfig
            args:
              - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
              - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
              - --job-config-path=prow-jobs/
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            securityContext:
              runAsUser: 0 # the default user or the image is not root.
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m

fix(monitoring): fix job step on fetch (#2752)
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: fix ut bind cpu failed
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflash): fix set CPU affinity failed in ut (#2753)
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

ignore failed case
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Due: pull-verify-jenkins-pipelines

tikv: fix code coverage script (#2748)
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Due: pull-verify-jenkins-pipelines

feat: upload codecoverage to codecov in ut
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: correct make cmds
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): upload codecoverage to codecov in ut (#2754)
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/monitoring): fix step in update content jobs
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/monitoring): fix step in update content jobs (#2755)
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/monitoring): fix step in update content jobs (#2756)
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix container
  pipelines/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
Due: pull-verify-jenkins-pipelines

tiproxy: fix container for nodejs test (#2757)
  pipelines/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiflash release-7.5 jobdsl
  jobs/pingcap/tiflash/release-7.5/aa_folder.groovy
  jobs/pingcap/tiflash/release-7.5/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-7.5/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflash-release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tiflash release-7.5 pipelines
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: tools already pre-install in image
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: tiflash add lts-7.5 new pipelines (#2758)
  jobs/pingcap/tiflash/release-7.5/aa_folder.groovy
  jobs/pingcap/tiflash/release-7.5/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-7.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflash-release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/monitoring): auto update files for release branches
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/monitoring): auto update files for release branches (#2759)
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Fix environment variable and optimize test scenarios
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflash ): correct env currentBuild.description (#2760)
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: fix cachefile against base_branch
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add other lts branch jobdsl
  jobs/pingcap/tiflash/release-6.1/aa_folder.groovy
  jobs/pingcap/tiflash/release-6.1/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-6.5/aa_folder.groovy
  jobs/pingcap/tiflash/release-6.5/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-7.1/aa_folder.groovy
  jobs/pingcap/tiflash/release-7.1/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-7.1/pull_unit_test.groovy
Due: none

feat: add other lts presubmits config
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflash-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflash-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflash-release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add other lts branch pipelines
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: corrent env
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflash): tiflash add other lts new pipelines (#2761)
  jobs/pingcap/tiflash/release-6.1/aa_folder.groovy
  jobs/pingcap/tiflash/release-6.1/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-6.5/aa_folder.groovy
  jobs/pingcap/tiflash/release-6.5/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-7.1/aa_folder.groovy
  jobs/pingcap/tiflash/release-7.1/pull_build_and_integration_test.groovy
  jobs/pingcap/tiflash/release-7.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflash-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflash-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflash-release-7.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: not report status on debug stage
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap-docs-cn-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

make a larger timeout for enterprise-extension repo
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

make a larger timeout for enterprise-extension repo (#2762)
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

fix: not fetch origin again
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

feat: use matrix to simply logics
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

chore: not report status on debug stage
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-latest-presubmits.yaml
  prow-jobs/pingcap-docs-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: download script in prepare stage
  pipelines/pingcap/docs/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

chore: download script in prepare stage
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/docs-cn): add docs-cn presubmit (#2738)
  jobs/pingcap/docs-cn/aa_folder.groovy
  jobs/pingcap/docs-cn/latest/pull_verify.groovy
  pipelines/pingcap/docs-cn/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-cn-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/docs): add presubmit job on pingcap/docs (#2708)
  jobs/pingcap/docs/aa_folder.groovy
  jobs/pingcap/docs/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs/latest/pull_verify.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: use better io nvme for pod
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Due: pull-verify-jenkins-pipelines
