Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

fix(prow-jobs): use official apache/skywalking-eyes image for license check
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): use official apache/skywalking-eyes image for license check (#5053)
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): handle containers without an explicit command in validator
  .ci/verify-prow-jobs-run.sh
Due: none

fix(prow-jobs): handle containers without an explicit command in validator (#5054)
  .ci/verify-prow-jobs-run.sh
Due: none

fix(prow-jobs): set explicit command for license-eye container
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): set explicit command for license-eye container (#5055)
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pipelines): drop in-pipeline license check for pull-license-check
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/pull_integration_test.groovy
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refactor(prow-jobs): drop optional field (defaults to false)
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pipelines): drop in-pipeline license check for pull-license-check (#5056)
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/pull_integration_test.groovy
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(pipelines/tiflash): unblock tiflash latest pod scheduling on target Jenkins
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflash): unblock pull_integration_test pod scheduling (#5057)
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(tekton): add hotfix gomod-update trigger for release-8.5+ and refresh golang images
  tekton/v1/triggers/triggers/env-gcp/_/git-create-branch-gomod-update.yaml
Due: none

feat(tekton): add hotfix gomod-update trigger for release-8.5+ and refresh golang images (#5061)
  tekton/v1/triggers/triggers/env-gcp/_/git-create-branch-gomod-update.yaml
Due: none

chore(prow-jobs): isolate tiflash pull unit test migration
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(libraries): support Git CDN HTTP credentials
  libraries/tipipeline/vars/prow.groovy
Due: none

feat(libraries): refactor git askpass to use library script
  libraries/tipipeline/scripts/git_askpass.sh
  libraries/tipipeline/vars/prow.groovy
Due: none

feat(libraries): support Git CDN HTTP credentials (#5063)
  libraries/tipipeline/scripts/git_askpass.sh
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(pipelines/tiflash): adjust pull_unit_test pod resources and ccache location
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Revert "feat(libraries): support Git CDN HTTP credentials (#5063)"
  libraries/tipipeline/scripts/git_askpass.sh
  libraries/tipipeline/vars/prow.groovy
Due: none

Revert "feat(libraries): support Git CDN HTTP credentials" (#5065)
  libraries/tipipeline/scripts/git_askpass.sh
  libraries/tipipeline/vars/prow.groovy
Due: none

feat(libraries): add Git HTTP askpass helper
  libraries/tipipeline/scripts/git_askpass.sh
Due: none

feat(libraries): integrate Git HTTP askpass
  libraries/tipipeline/vars/prow.groovy
Due: none

test(ci): validate Jenkins shared library sources
  .ci/verify-jenkins-libraries.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

test(libraries): reproduce invalid askpass syntax
  libraries/tipipeline/vars/prow.groovy
Due: none

test(libraries): add shared library loadability check
  libraries/tipipeline/tests/TestProw.groovy
Due: none

feat(libraries): add Git HTTP askpass helper (#5066)
  libraries/tipipeline/scripts/git_askpass.sh
Due: none

test(libraries): use existing library test job
  .ci/verify-jenkins-libraries.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(libraries): close Git askpass credential scopes
  libraries/tipipeline/vars/prow.groovy
Due: none

test(libraries): cover prow checkout behavior
  libraries/tipipeline/tests/TestProw.groovy
Due: none

test(libraries): align prow tests with junit style
  libraries/tipipeline/tests/TestProw.groovy
Due: none

fix(libraries): guard askpass cleanup path
  libraries/tipipeline/tests/TestProw.groovy
  libraries/tipipeline/vars/prow.groovy
Due: none

feat(libraries): integrate Git HTTP askpass (#5067)
  libraries/tipipeline/tests/TestProw.groovy
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(libraries): place askpass helper in resources
  libraries/tipipeline/resources/scripts/git_askpass.sh
  libraries/tipipeline/tests/TestProw.groovy
Due: none

fix(libraries): place askpass helper in resources (#5068)
  libraries/tipipeline/resources/scripts/git_askpass.sh
  libraries/tipipeline/tests/TestProw.groovy
Due: none

fix(pipelines): reserve memory for TiDB ghpr build
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
Due: none

fix(pipelines/tiflash): adjust pull_unit_test pod resources and ccache location (#5064)
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Apply suggestion from @wuhuizuo
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
Due: none

ci(replay-jenkins-build): fix pod template inference and fallback logic
  .ci/replay-jenkins-build.sh
Due: none

fix(pipelines/tiflash): bump pull_unit_test pod cpu limit to 12
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
Due: none

chore(pipelines): rename pod template for tiflash unit test
  pipelines/pingcap/tiflash/latest/pod-pull_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines
