Repository pingcap/tidb: changes, and which Prow jobs are due for each by the changed paths.
All: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, canary-notify-when-compatibility-sections-changed, pull-notify-when-compatibility-sections-changed, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

Path conditions:
  ci/e2e-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-ddl-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-jdbc-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/sqllogic-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-copr-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/tiflash-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/build: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  canary-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  pull-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  idc-jenkins-ci-tidb/build: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev_2: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  auto-sync-go-mods: any of: go\.mod$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/unit-test-ddlv1: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-python-orm-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-nodejs-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-br-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-lightning-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/tiflash-integration-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-ddlv1: any of: pkg/(ddl|meta)/.*
  pull-integration-e2e-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-br-integration-test: any of: (br|pkg/(ddl|domain|infoschema))/.*
  pull-lightning-integration-test: any of: (lightning|pkg/(domain|statistics|ddl|infoschema)|br/pkg/(checksum|httputil|membuf|pdutil|restore/split|storage))/.*
  pull-integration-ddl-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-scan-deps: any of: go\.mod

executor: separate import query building from execution
  pkg/executor/query_runtime.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

refactor: streamline memory arbitrator handling in StatementContext and Tracker
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/util/memory/tracker.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #71268
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/precheck_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

server: address global variables API review feedback
  docs/tidb_http_api.md
  pkg/server/handler/tests/global_variables_test.go
  pkg/server/handler/tikvhandler/global_variables.go
  pkg/sessionctx/variable/AGENTS.md
  pkg/sessionctx/variable/variable.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

This is an automated cherry-pick of #70923
  pkg/ddl/modify_column.go
  pkg/ddl/modify_column_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

expression: cover signed IN boundaries and cloned vector evaluation
  pkg/expression/builtin_other_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

util: preserve accumulated null rejection in hash join keys (#71205)
  pkg/util/codec/codec.go
  pkg/util/codec/codec_test.go
  tests/integrationtest/r/executor/mixed_null_join_keys.result
  tests/integrationtest/t/executor/mixed_null_join_keys.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

util: preserve accumulated null rejection in hash join keys
  pkg/util/codec/codec.go
  pkg/util/codec/codec_test.go
  tests/integrationtest/r/executor/mixed_null_join_keys.result
  tests/integrationtest/t/executor/mixed_null_join_keys.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

dxf, metrics: monitor residual global sort data
  pkg/dxf/framework/scheduler/BUILD.bazel
  pkg/dxf/framework/scheduler/global_sort_residual_monitor.go
  pkg/dxf/framework/scheduler/global_sort_residual_monitor_test.go
  pkg/dxf/framework/scheduler/global_sort_residual_scan.go
  pkg/dxf/framework/scheduler/global_sort_residual_scan_test.go
  pkg/dxf/framework/scheduler/scheduler_manager.go
  pkg/dxf/framework/scheduler/scheduler_manager_nokit_test.go
  pkg/metrics/BUILD.bazel
  pkg/metrics/globalsort.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_internal_test.go
  pkg/metrics/metrics_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

types: ignore leading integer zeros in decimal multiplication
  pkg/expression/integration_test/integration_test.go
  pkg/types/mydecimal.go
  pkg/types/mydecimal_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: allow dropping columns with fulltext indexes
  pkg/ddl/column.go
  pkg/ddl/index_modify_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

infoschema: cover explicit schema-name comparison semantics
  pkg/infoschema/test/infoschemav2test/v2_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: decouple local Go validation from Bazel metadata generation
  .agents/skills/README.md
  .agents/skills/tidb-bazel-prepare-gate/SKILL.md
  .agents/skills/tidb-verify-profile/SKILL.md
  AGENTS.md
  docs/agents/ddl/04-dev-checklist.md
  docs/agents/metadata-generation-flow.md
  docs/agents/testing-flow.md
Due: none

executor: align primary index usage test expectations
  pkg/executor/test/infoschema/infoschema_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

refactor: limit trackedHeap to approximate capacity in awaitFreePoolUsed
  pkg/util/memory/arbitrator.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

domain: report cross-keyspace worker read timestamps for GC
  pkg/domain/crossks/BUILD.bazel
  pkg/domain/crossks/coordinator.go
  pkg/domain/crossks/cross_ks.go
  pkg/domain/crossks/reporter.go
  pkg/domain/crossks/reporter_test.go
  pkg/executor/query_runtime_test.go
  pkg/executor/query_session.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

expression: align vectorized REPEAT length limits
  pkg/expression/builtin_string_test.go
  pkg/expression/builtin_string_vec.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

expression: cover large REPEAT in table and CTE queries
  pkg/expression/integration_test/integration_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: keep multi-valued partition cleanup on existing Delete API
  pkg/ddl/index.go
  pkg/ddl/tests/partition/global_index_version_test.go
  pkg/table/index.go
  pkg/table/tables/index.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

This is an automated cherry-pick of #70568
  pkg/executor/adapter.go
  pkg/executor/adapter_internal_test.go
  pkg/executor/adapter_test.go
  pkg/executor/select.go
  pkg/executor/select_internal_test.go
  pkg/server/BUILD.bazel
  pkg/server/conn_test.go
  pkg/session/BUILD.bazel
  pkg/session/nontransactional.go
  pkg/session/nontransactionaltest/nontransactional_test.go
  pkg/session/session.go
  pkg/session/session_test.go
  pkg/session/test/variable/BUILD.bazel
  pkg/session/test/variable/variable_test.go
  pkg/session/test/vars/vars_test.go
  pkg/session/tidb.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/setvar_affect.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/util/processinfo.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

lightning: accept OSS source URLs
  pkg/lightning/config/config.go
  pkg/lightning/config/config_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: same-box Go parity measurements on the synced tree, two neutral fixes recorded
  rust/docs/perf-parity-2026-09-17.md
Due: none

statistics: preserve partitioned historical statistics version
  pkg/executor/historical_stats_test.go
  pkg/statistics/handle/storage/stats_read_writer.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: reuse index iterator for global index cleanup
  pkg/ddl/index.go
  pkg/table/index.go
  pkg/table/tables/index_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: use original index iterator advancement for cleanup
  pkg/ddl/index.go
  pkg/table/index.go
  pkg/table/tables/index_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

expression: avoid BIT constant pushdown to TiKV
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
  pkg/expression/integration_test/integration_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

refactor: optimize memory statistics sampling with sync.Pool
  pkg/util/memory/utils.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

address conflicts
  pkg/executor/BUILD.bazel
  pkg/executor/adapter.go
  pkg/executor/adapter_internal_test.go
  pkg/executor/adapter_test.go
  pkg/executor/select.go
  pkg/executor/select_internal_test.go
  pkg/server/BUILD.bazel
  pkg/server/conn_test.go
  pkg/session/BUILD.bazel
  pkg/session/session.go
  pkg/session/session_test.go
  pkg/session/test/variable/BUILD.bazel
  pkg/session/test/variable/variable_test.go
  pkg/session/test/vars/vars_test.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/tidb_vars.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

server: return unimplemented for unsupported TiKV RPCs
  pkg/server/rpc_server.go
  pkg/server/rpc_server_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

server: update generated RPC test Bazel metadata
  pkg/server/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

objstore: preserve OSS scheme in storage URIs
  br/pkg/stream/crr/internal/checkpoint/checkpoint_calculator_test.go
  br/pkg/stream/crr/internal/checkpoint/storage.go
  pkg/importsdk/BUILD.bazel
  pkg/importsdk/file_scanner_test.go
  pkg/objstore/ossstore/BUILD.bazel
  pkg/objstore/ossstore/store.go
  pkg/objstore/ossstore/store_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #71267
  pkg/executor/importer/kv_encode_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: preserve early cancellation errors in slow logs
  pkg/executor/adapter.go
  pkg/executor/adapter_test.go
  pkg/executor/statement_ru_plan_walk_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

lightning: close owned source storage
  lightning/pkg/importer/BUILD.bazel
  lightning/pkg/importer/import.go
  lightning/pkg/importer/import_test.go
  lightning/pkg/importer/precheck_impl.go
  lightning/pkg/importer/precheck_impl_test.go
  lightning/pkg/server/BUILD.bazel
  lightning/pkg/server/lightning.go
  lightning/pkg/server/lightning_serial_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: observe cancellation in check constraint scans
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_internal_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

server: restore session on change user auth failure (#69692)
  pkg/server/conn.go
  pkg/server/conn_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "lightning: close owned source storage"
  lightning/pkg/importer/BUILD.bazel
  lightning/pkg/importer/import.go
  lightning/pkg/importer/import_test.go
  lightning/pkg/importer/precheck_impl.go
  lightning/pkg/importer/precheck_impl_test.go
  lightning/pkg/server/BUILD.bazel
  lightning/pkg/server/lightning.go
  lightning/pkg/server/lightning_serial_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

refactor: adjust memory budget checks to use SmallPoolLimit for better allocation management
  pkg/util/memory/tracker.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: precheck import SELECT plans before task submission
  pkg/executor/import_into.go
  pkg/executor/import_into_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review
