Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

chore(prow-jobs): migrate ghpr_check2 pre-submit to target jenkins (#5008)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(tools): move check_artifact to deprecated directory
  tools/deprecated/check_artifact/Dockerfile
  tools/deprecated/check_artifact/Readme.md
  tools/deprecated/check_artifact/check_artifact.sh
Due: none

refactor(pipelines): remove unused DM codecov/coveralls credential declarations in tiflow (#5013)
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.0/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.3/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate tiflow kafka integration test and merged unit test to target jenkins
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): keep tiflow dm integration test migration in this PR
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap-qe/ci): make verify-jenkins-migration as required
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate ticdc v8.1 mysql light integration and tidb-test ghpr_mysql_test to target jenkins
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): drop ghpr_check2 from this PR
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tiflow kafka integration test and merged unit test to target jenkins (#5015)
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ci): use source-build params for jenkins migration verification
  .ci/verify-jenkins-migration.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate pingcap/tiflow latest jobs to target jenkins (#4985)
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate remaining unverified pingcap/tidb latest pre-submits to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate remaining 5 unverified pingcap/tidb latest pre-submits to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate ticdc v8.1 mysql light integration and tidb-test ghpr_mysql_test to target jenkins (#5016)
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate remaining 5 pingcap/tidb latest pre-submits to target jenkins (#5018)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate unverified pingcap/tiflash latest jobs to target jenkins (4)
  prow-jobs/pingcap/tiflash/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate unverified tikv/tikv latest jobs to target jenkins (2)
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tidb-test ghpr_build to target jenkins
  .ci/verify-jenkins-migration.sh
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tidb-test ghpr_build to target jenkins (#5019)
  .ci/verify-jenkins-migration.sh
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate 4 verified pingcap/ticdc latest jobs to target jenkins (heavy, kafka heavy, storage light, v8.1 heavy)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate 4 verified pingcap/ticdc latest jobs to target jenkins (#5020)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton): use self-hosted release image for deliver-images run step
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/step-actions/request-kernel-image-sync.yaml
  tekton/v1/tasks/ci/resolve-cherrypick-conflicts.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

fix(tekton): use self-hosted release image for deliver-images run step (#5021)
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v1/step-actions/request-kernel-image-sync.yaml
  tekton/v1/tasks/ci/resolve-cherrypick-conflicts.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

fix(tekton): replace removed bitnami/git image in hotfix tasks
  tekton/v0/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v0/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
  tekton/v1/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v1/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
Due: none

refactor(tekton): move ci-helper-for-pr task from v0 to v1
  tekton/v0/tasks/kustomization.yaml
  tekton/v1/tasks/ci/ci-helper-for-pr.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

chore(tekton): bump release utils image to v2026.7.12-4-g372cd24
  tekton/v0/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
  tekton/v1/tasks/ci/ci-helper-for-pr.yaml
  tekton/v1/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
Due: none

fix(tekton): replace removed bitnami/git image and move ci-helper-for-pr to v1 (#5022)
  tekton/v0/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v0/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
  tekton/v0/tasks/kustomization.yaml
  tekton/v1/tasks/ci/ci-helper-for-pr.yaml
  tekton/v1/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v1/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

chore(prow-jobs): remove CI jobs for out-of-support pingcap/tiflash release branches
  jobs/pingcap/tiflash/release-8.2/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.2/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-8.3/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.3/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-8.2-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.3-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove CI jobs for out-of-support tikv/tikv release branches
  jobs/tikv/tikv/release-8.2/aa_folder.groovy
  jobs/tikv/tikv/release-8.2/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.3/aa_folder.groovy
  jobs/tikv/tikv/release-8.3/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.4/aa_folder.groovy
  jobs/tikv/tikv/release-8.4/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.3/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.3/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.4/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.4/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove CI jobs for out-of-support tikv/pd release branches
  jobs/tikv/pd/release-6.5-fips/aa_folder.groovy
  jobs/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/pod-ghpr_build.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/pd/release-6.5-fips-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove enterprise-extensions le-release-7.4 CI jobs
  jobs/pingcap-inc/enterprise-extensions/le-release-7.4/aa_folder.groovy
  jobs/pingcap-inc/enterprise-extensions/le-release-7.4/pr_verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap-inc/enterprise-extensions/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove CI jobs for out-of-support pingcap/tiflash release branches (#5026)
  jobs/pingcap/tiflash/release-8.2/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.2/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-8.3/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.3/pull_unit_test.groovy
  jobs/pingcap/tiflash/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-8.2-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.3-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove CI jobs for out-of-support tikv/tikv release branches (#5027)
  jobs/tikv/tikv/release-8.2/aa_folder.groovy
  jobs/tikv/tikv/release-8.2/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.3/aa_folder.groovy
  jobs/tikv/tikv/release-8.3/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.4/aa_folder.groovy
  jobs/tikv/tikv/release-8.4/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.3/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.3/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.4/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.4/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove CI jobs for out-of-support tikv/pd release branches (#5028)
  jobs/tikv/pd/release-6.5-fips/aa_folder.groovy
  jobs/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/pod-ghpr_build.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/pd/release-6.5-fips-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove enterprise-extensions le-release-7.4 CI jobs (#5029)
  jobs/pingcap-inc/enterprise-extensions/le-release-7.4/aa_folder.groovy
  jobs/pingcap-inc/enterprise-extensions/le-release-7.4/pr_verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap-inc/enterprise-extensions/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(prow-jobs): remove orphan pingcap/tiflow release-6.2 CI resources
  jobs/pingcap/tiflow/release-6.2/aa_folder.groovy
  jobs/pingcap/tiflow/release-6.2/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.2/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.2/pod-ghpr_verify.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
