Repository pingcap/tidb: changes, and which Prow jobs are due for each by the changed paths.
All: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, canary-notify-when-compatibility-sections-changed, pull-notify-when-compatibility-sections-changed, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

Path conditions:
  ci/e2e-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-ddl-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-jdbc-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/sqllogic-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-copr-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/tiflash-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/build: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  canary-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  pull-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  idc-jenkins-ci-tidb/build: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev_2: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  auto-sync-go-mods: any of: go\.mod$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/unit-test-ddlv1: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-python-orm-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-nodejs-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-br-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-lightning-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/tiflash-integration-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-ddlv1: any of: pkg/(ddl|meta)/.*
  pull-integration-e2e-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-br-integration-test: any of: (br|pkg/(ddl|domain|infoschema))/.*
  pull-lightning-integration-test: any of: (lightning|pkg/(domain|statistics|ddl|infoschema)|br/pkg/(checksum|httputil|membuf|pdutil|restore/split|storage))/.*
  pull-integration-ddl-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-scan-deps: any of: go\.mod

stmtsummary: unify digest filtering and projected history decoding
  pkg/util/stmtsummary/v2/BUILD.bazel
  pkg/util/stmtsummary/v2/reader.go
  pkg/util/stmtsummary/v2/reader_projection.go
  pkg/util/stmtsummary/v2/reader_projection_test.go
  pkg/util/stmtsummary/v2/reader_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: move semi join rewrite rule to rule package
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/optimizer.go
  pkg/planner/core/rule/BUILD.bazel
  pkg/planner/core/rule/rule_semi_join_rewrite.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

stmtsummary: preallocate projection test columns
  pkg/util/stmtsummary/v2/reader_projection_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

server: host cluster peer RPCs on the shared status listener
  rust/Cargo.lock
  rust/crates/tidb-server/Cargo.toml
  rust/crates/tidb-server/src/cluster_session_node/boot.rs
  rust/crates/tidb-server/src/cluster_session_node/settings.rs
  rust/crates/tidb-server/src/http_request.rs
  rust/crates/tidb-server/src/http_status.rs
  rust/crates/tidb-server/src/lib.rs
  rust/crates/tidb-server/src/peer_rpc.rs
  rust/crates/tidb-server/src/status_transport.rs
  rust/crates/tidb-server/src/unistore_node.rs
  rust/crates/tidb-session/src/infoschema.rs
  rust/crates/tidb-session/src/process_arm.rs
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/peer-host-validation.json
  rust/docs/parity/current-audit/remaining-batches.json
  rust/docs/parity/current-audit/remaining-batches.md
  rust/docs/parity/current-audit/repair-sequence.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/docs/peer-host-execplan.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: allow non-prepared plan cache for multi-statements without prebuilt plans
  pkg/planner/optimize.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor, infoschema: expose phase-specific backoff types
  pkg/executor/cluster_table_test.go
  pkg/executor/slow_query.go
  pkg/executor/slow_query_sql_test.go
  pkg/executor/slow_query_test.go
  pkg/infoschema/tables.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/util/execdetails/execdetails.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: test non-prepared plan cache for multi-statements
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/tests/commontest/tidb_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

types: fix JSON double formatting in containers and non-ASCII path keys
  pkg/types/json_binary.go
  pkg/types/json_binary_test.go
  pkg/types/json_path_expr.go
  pkg/types/json_path_expr_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: retry materialized view rollback atomically
  pkg/ddl/job_worker.go
  pkg/ddl/mview_worker.go
  pkg/ddl/schema.go
  pkg/ddl/table.go
  pkg/ddl/tests/materializedview/materialized_view_create_test.go
  pkg/ddl/tests/materializedview/materialized_view_drop_test.go
  pkg/ddl/tests/materializedviewlog/BUILD.bazel
  pkg/ddl/tests/materializedviewlog/materialized_view_create_test.go
  pkg/ddl/tests/materializedviewlog/materialized_view_drop_test.go
  pkg/infoschema/infoschema_v2.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

dxf, ingestor, metrics: address orphan data monitor review comments
  pkg/dxf/framework/mock/scheduler_mock.go
  pkg/dxf/framework/scheduler/BUILD.bazel
  pkg/dxf/framework/scheduler/interface.go
  pkg/dxf/framework/scheduler/scheduler_manager.go
  pkg/dxf/framework/scheduler/scheduler_manager_nokit_test.go
  pkg/dxf/importinto/conflictpath/path.go
  pkg/ingestor/globalsort/orphandata/BUILD.bazel
  pkg/ingestor/globalsort/orphandata/monitor.go
  pkg/ingestor/globalsort/orphandata/monitor_test.go
  pkg/metrics/globalsort.go
  pkg/metrics/metrics_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: test multi-statement prebuilt point plans bypass cache
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/tests/commontest/tidb_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: share cluster summary schemas and peer readers
  rust/crates/tidb-executor/src/driver/infoschema_meta.rs
  rust/crates/tidb-server/src/peer_rpc.rs
  rust/crates/tidb-session/src/dispatch.rs
  rust/crates/tidb-session/src/process_arm.rs
  rust/crates/tidb-session/src/tests_system_schemas.rs
  rust/docs/cluster-summary-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/cluster-summary-validation.json
  rust/docs/parity/current-audit/remaining-batches.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: share live cluster diagnostic readers
  rust/crates/tidb-executor/src/driver/infoschema_meta.rs
  rust/crates/tidb-server/src/cluster_session_node/settings.rs
  rust/crates/tidb-server/src/peer_rpc.rs
  rust/crates/tidb-session/src/dispatch.rs
  rust/docs/cluster-diagnostics-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/cluster-diagnostics-validation.json
  rust/docs/parity/current-audit/remaining-batches.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #71666
  pkg/executor/slow_query_sql_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fixup
  tests/integrationtest/r/planner/core/plan_cache.result
  tests/integrationtest/t/planner/core/plan_cache.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: share diagnostic digest lookup across summary owners
  rust/crates/tidb-exec/src/cluster_peer.rs
  rust/crates/tidb-server/src/cluster_session_node/settings.rs
  rust/crates/tidb-server/src/peer_rpc.rs
  rust/crates/tidb-session/src/dispatch.rs
  rust/crates/tidb-session/src/process_arm.rs
  rust/crates/tidb-stmtsummary/src/statement_summary.rs
  rust/docs/digest-readers-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/digest-readers-validation.json
  rust/docs/parity/current-audit/remaining-batches.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: recheck job metadata after transaction rollback
  pkg/ddl/job_worker.go
  pkg/ddl/tests/materializedview/BUILD.bazel
  pkg/ddl/tests/materializedview/materialized_view_create_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix bug
  pkg/ddl/mview_worker.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: compose compute topology and MPP placement
  rust/crates/tidb-exec/src/lib.rs
  rust/crates/tidb-exec/src/tiflash_compute.rs
  rust/crates/tidb-exec/src/tiflash_mpp_scan.rs
  rust/crates/tidb-executor/src/remote_scan.rs
  rust/crates/tidb-executor/src/stmt_context.rs
  rust/crates/tidb-server/src/lib.rs
  rust/crates/tidb-session/src/stmt_ctx.rs
  rust/crates/tidb-session/src/sysvar.rs
  rust/crates/tidb-session/src/tests_core/lifecycle.rs
  rust/docs/compute-topology-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/compute-topology-validation.json
  rust/docs/parity/current-audit/remaining-batches.json
  rust/docs/parity/current-audit/remaining-batches.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

types: follow MySQL whitespace and UTF-8 rules in JSON path parsing
  pkg/types/json_binary_test.go
  pkg/types/json_path_expr.go
  pkg/types/json_path_expr_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: compose MPP failure admission and gather recovery
  rust/crates/tidb-exec/src/real_tikv_read.rs
  rust/crates/tidb-exec/src/tiflash_mpp_scan.rs
  rust/crates/tidb-executor/src/remote_scan.rs
  rust/crates/tidb-executor/src/stmt_context.rs
  rust/crates/tidb-server/src/lib.rs
  rust/crates/tidb-session/src/stmt_ctx.rs
  rust/crates/tidb-session/src/tests_core/lifecycle.rs
  rust/crates/tidb-txnkv/src/mpp_probe.rs
  rust/docs/full-structural-parity-execplan.md
  rust/docs/mpp-failure-lifecycle-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/mpp-failure-lifecycle-validation.json
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: retire superseded MPP plans and duplicate tests
  rust/crates/tidb-exec/src/tiflash_mpp_scan.rs
  rust/docs/compute-topology-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/mpp-read-batch-execplan.md
  rust/docs/mpp-recovery-execplan.md
  rust/docs/mpp-transport-batch-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/mpp-cleanup-validation.json
  rust/docs/parity/current-audit/mpp-read-batch-repair.md
  rust/docs/parity/current-audit/mpp-transport-batch-repair.md
  rust/docs/parity/current-audit/shared-mpp-lifecycle-repair.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/docs/shared-mpp-lifecycle-execplan.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

statistics: refactor FM sketch merging in ANALYZE (#71784)
  pkg/statistics/fmsketch.go
  pkg/statistics/row_sampler.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: consolidate datatype tests and retire stale numeric plans
  rust/crates/tidb-datatype/src/charset.rs
  rust/crates/tidb-datatype/src/vector.rs
  rust/crates/tidb-datatype/tests/parser_charset_package_source.rs
  rust/crates/tidb-datatype/tests/vector_source.rs
  rust/docs/full-structural-parity-execplan.md
  rust/docs/json-numeric-batch-execplan.md
  rust/docs/numeric-production-batch-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/datatype-cleanup-validation.json
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/testport/receipts/b035.md
  rust/testport/receipts/b037.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

types: fix parsing `last` and `to` in JSON path array ranges
  pkg/types/json_path_expr.go
  pkg/types/json_path_expr_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test ddl: fix mlog rollback expectations
  pkg/ddl/tests/materializedviewlog/materialized_view_create_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: stabilize flaky TestLoadDataSpecifiedColumns (#68735)
  pkg/executor/test/loaddatatest/load_data_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: share diagnostic projection and peer digest selection
  rust/crates/tidb-exec/src/cluster_peer.rs
  rust/crates/tidb-server/src/cluster_session_node/settings.rs
  rust/crates/tidb-server/src/peer_rpc.rs
  rust/crates/tidb-session/src/dispatch.rs
  rust/crates/tidb-session/src/process_arm.rs
  rust/docs/digest-projection-batch-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/digest-projection-validation.json
  rust/docs/parity/current-audit/remaining-batches.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: bump tipb for the sampled NDV fields
  DEPS.bzl
  go.mod
  go.sum
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

rust: share native compute discovery and MPP cache invalidation
  rust/crates/tidb-exec/src/tiflash_mpp_scan.rs
  rust/crates/tidb-txnkv/src/region/background.rs
  rust/docs/compute-cache-batch-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/compute-cache-validation.json
  rust/docs/parity/current-audit/remaining-batches.json
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/third_party/tikv-client-rs-SYNC-LOG.md
  rust/third_party/tikv-client-rs/src/lib.rs
  rust/third_party/tikv-client-rs/src/region_cache.rs
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

expression: fix CastIntAsTime Year to Date conversion to truncate time (#71755)
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_test.go
  pkg/expression/builtin_cast_vec.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: align switch index dispatch for YEAR case in TestCastFuncSig
  pkg/expression/builtin_cast_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fts: unify TiDB and TiFlash Local MATCH evaluation
  go.mod
  go.sum
  pkg/expression/BUILD.bazel
  pkg/expression/builtin.go
  pkg/expression/builtin_match_against.go
  pkg/expression/builtin_match_against_test.go
  pkg/expression/distsql_builtin.go
  pkg/expression/expr_to_pb.go
  pkg/expression/expr_to_pb_test.go
  pkg/expression/fts_tipb.go
  pkg/expression/fts_tipb_test.go
  pkg/expression/infer_pushdown.go
  pkg/expression/local_match_against_tipb.go
  pkg/expression/local_match_against_tipb_test.go
  pkg/expression/localfts/BUILD.bazel
  pkg/expression/localfts/analyzer.go
  pkg/expression/localfts/analyzer_test.go
  pkg/expression/localfts/document.go
  pkg/expression/localfts/query.go
  pkg/expression/localfts/query_test.go
  pkg/expression/match_against_helper.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/local_match_against_pushdown_test.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/tidb_vars.go
  tests/ftse2e/fts_e2e_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

topsql: share statement KV execution counting across read dispatch
  rust/Cargo.lock
  rust/crates/tidb-distsql/src/cop_paging/direct_unary_query_transport.rs
  rust/crates/tidb-distsql/src/distsql_runtime.rs
  rust/crates/tidb-distsql/src/lib.rs
  rust/crates/tidb-distsql/src/transport.rs
  rust/crates/tidb-distsql/tests/direct_unary_paging_and_close.rs
  rust/crates/tidb-distsql/tests/direct_unary_query_seed.rs
  rust/crates/tidb-distsql/tests/distsql_runtime_source.rs
  rust/crates/tidb-exec/src/cop_scan.rs
  rust/crates/tidb-exec/src/tiflash_mpp_scan.rs
  rust/crates/tidb-executor/src/remote_scan.rs
  rust/crates/tidb-executor/src/stmt_context.rs
  rust/crates/tidb-session/src/observation.rs
  rust/crates/tidb-session/src/stmt_ctx.rs
  rust/crates/tidb-session/src/tests_observation_batch.rs
  rust/crates/tidb-txnkv/Cargo.toml
  rust/crates/tidb-txnkv/src/driver/client_bridge.rs
  rust/crates/tidb-txnkv/src/option.rs
  rust/crates/tidb-txnkv/src/rpc/unary.rs
  rust/crates/tidb-txnkv/src/transaction/client.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/crates/tidb-util/src/topsql_stmtstats/kv_exec_count.rs
  rust/crates/tidb-util/src/topsql_stmtstats/mod.rs
  rust/docs/full-structural-parity-execplan.md
  rust/docs/kv-exec-batch-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/kv-exec-batch-validation.json
  rust/docs/parity/current-audit/remaining-batches.json
  rust/docs/parity/current-audit/remaining-batches.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

server: keep lingering after commands that expect no response
  pkg/server/conn.go
  pkg/server/tests/commontest/tidb_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

distsql: retire unused policy seeds and duplicate metadata tests
  rust/crates/tidb-distsql/src/distsql_runtime.rs
  rust/crates/tidb-distsql/src/lib.rs
  rust/crates/tidb-distsql/tests/all.rs
  rust/crates/tidb-distsql/tests/distsql_runtime_source.rs
  rust/crates/tidb-distsql/tests/query_runtime_source.rs
  rust/docs/client-rust-migration-execplan.md
  rust/docs/distsql-coprocessor-parity.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/go-divergence-sweep.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/distsql-cleanup-validation.json
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/testport/receipts/b064.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: retire duplicate DistSQL row iterator scaffolding
  rust/crates/tidb-distsql/src/channel_iter.rs
  rust/crates/tidb-distsql/src/lib.rs
  rust/crates/tidb-distsql/src/response_channel.rs
  rust/crates/tidb-distsql/src/select_iter.rs
  rust/crates/tidb-distsql/tests/all.rs
  rust/crates/tidb-distsql/tests/channel_iter_source.rs
  rust/crates/tidb-distsql/tests/select_iter_source.rs
  rust/crates/tidb-distsql/tests/select_result_source.rs
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/row-iterator-cleanup-validation.json
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/testport/receipts/b064.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: remove unused wire seeds and obsolete benchmark scaffolding
  rust/crates/tidb-distsql/src/lib.rs
  rust/crates/tidb-distsql/src/stream_decode.rs
  rust/crates/tidb-distsql/src/transport.rs
  rust/crates/tidb-distsql/tests/all.rs
  rust/crates/tidb-distsql/tests/coprocessor_request_source.rs
  rust/crates/tidb-distsql/tests/kv_request_source.rs
  rust/crates/tidb-distsql/tests/region_task_builder_source.rs
  rust/crates/tidb-distsql/tests/request_builder_source.rs
  rust/crates/tidb-distsql/tests/stream_decode_source.rs
  rust/crates/tidb-executor/benches/pipeline.rs
  rust/docs/client-rust-migration-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/docs/parity/current-audit/wire-seed-cleanup-validation.json
  rust/docs/perf-parity-2026-09-17.md
  rust/docs/planner/physicalop-package-parity-execplan.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pd: compose independent membership and timestamp refresh
  rust/crates/tidb-pd-client/src/client/failover.rs
  rust/crates/tidb-pd-client/src/client/mod.rs
  rust/crates/tidb-pd-client/src/client/requests.rs
  rust/crates/tidb-pd-client/src/client/worker.rs
  rust/crates/tidb-pd-client/tests/tso_source.rs
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/pd-independent-observation-validation.json
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/docs/pd-independent-observation-execplan.md
  rust/third_party/tikv-client-rs-SYNC-LOG.md
  rust/third_party/tikv-client-rs/src/pd/cluster.rs
  rust/third_party/tikv-client-rs/src/pd/retry.rs
  rust/third_party/tikv-client-rs/src/pd/service_discovery.rs
  rust/third_party/tikv-client-rs/src/pd/timestamp_tests.rs
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rust: retire disconnected PD classifiers and stale plans
  rust/crates/tidb-pd-client/src/engine.rs
  rust/crates/tidb-pd-client/src/lib.rs
  rust/crates/tidb-pd-client/src/model.rs
  rust/crates/tidb-pd-client/tests/all.rs
  rust/crates/tidb-pd-client/tests/engine_source.rs
  rust/docs/client-rust-migration-execplan.md
  rust/docs/full-structural-parity-execplan.md
  rust/docs/parity/current-audit/README.md
  rust/docs/parity/current-audit/pd-seed-cleanup-validation.json
  rust/docs/parity/current-audit/structural-findings.json
  rust/docs/parity/current-audit/structural-findings.md
  rust/docs/pd-availability-batch-execplan.md
  rust/docs/pd-bootstrap-policy-batch-execplan.md
  rust/docs/pd-channel-batch-execplan.md
  rust/docs/pd-forwarding-batch-execplan.md
  rust/docs/pdclient-tso-parity-audit.md
  rust/testport/TESTPORT_EXECPLAN.md
  rust/testport/receipts/util_engine.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review
