Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

refactor(pingcap/tidb-binlog): refactor check job to prow style (#3370)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/tidb-binlog): refactor unit-test job to prow style
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/tidb-binlog): refactor unit-test job to prow style (#3371)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/tidb-binlog): refactor integration-test job to prow style
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/tidb-binlog): refactor integration-test job to prow style (#3372)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "refactor(pingcap/tidb-binlog): refactor integration-test job to prow …"
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "refactor(pingcap/tidb-binlog): refactor integration-test job to prow style" (#3373)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "refactor(pingcap/tidb-binlog): refactor unit-test job to prow style (…"
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "refactor(pingcap/tidb-binlog): refactor unit-test job to prow style" (#3374)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "Revert "refactor(pingcap/tidb-binlog): refactor unit-test job to prow…"
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(cd): update docker image repo and dockerfiles for devbuild job (#3335)
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tidb-binlog): fix unit-test job
  jenkins/jobs/ci2/pingcap/tidb-binlog/ghpr_check.groovy
  jenkins/jobs/ci2/pingcap/tidb-binlog/ghpr_unit_test.groovy
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/tidb-binlog): refactor unit-test job to prow style (#3375)
  jenkins/jobs/ci2/pingcap/tidb-binlog/ghpr_check.groovy
  jenkins/jobs/ci2/pingcap/tidb-binlog/ghpr_unit_test.groovy
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): update UT job for master branch to cover enterprise extension
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): update UT job for master branch to cover enterprise extension (#3378)
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Reapply "refactor(pingcap/tidb-binlog): refactor integration-test job to prow style" (#3373)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb-binlog): add controlling for sidecar containers
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/tidb-binlog): refactor integration-test job to prow style (#3379)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add scripts to download binary by version tag
  scripts/pingcap/tiflow/release-8.1/ticdc_download_test_binaries_by_tag.sh
Due: none

feat: add func extractHotfixInfo to lib
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

fix(prow/jobs/pingcap/tidb-binlog): implement sidecar for integration test
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb-binlog): add integration test job (#3384)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: update download url
  scripts/pingcap/tiflow/release-8.1/ticdc_download_test_binaries_by_tag.sh
Due: none

add new CI
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

change task name
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

change task name
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update to only download pingcap&tikv test binary
  scripts/pingcap/tiflow/release-8.1/ticdc_download_test_binaries_by_tag.sh
Due: none

feat: support download exact version test binary on hotfix branch
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

feat: download script support only download one component
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  scripts/pingcap/tiflow/release-8.1/ticdc_download_test_binaries_by_tag.sh
  scripts/pingcap/tiflow/ticdc_integration_test_download_dependency.sh
Due: pull-verify-jenkins-pipelines

feat: script support download binary by tag
  scripts/pingcap/tiflow/download_test_binaries_by_tag.sh
Due: none

chore: update comment
  scripts/pingcap/tiflow/download_test_binaries_by_tag.sh
Due: none

feat(tiflow): script support download binary by tag (#3388)
  scripts/pingcap/tiflow/download_test_binaries_by_tag.sh
Due: none

chore: update script path
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  scripts/pingcap/tiflow/release-8.1/ticdc_download_test_binaries_by_tag.sh
Due: pull-verify-jenkins-pipelines

chore: update to remove the release branch binary
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update cp src and target path
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update imagetag
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: match branch like feature/release-8.1-xxx
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
