Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-optional
      decorate: true
      max_concurrency: 1
      always_run: false
      optional: false
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            command: [bash, -ce]
            args:
              - |
                echo "This is a optional job, it will always fail."
                exit 1
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-prow-jobs
      decorate: true
      extra_refs:
        - org: ti-community-infra
          repo: configs
          base_ref: main
          repo_link: https://github.com/ti-community-infra/configs
      max_concurrency: 1
      run_if_changed: "^prow-jobs/.*\\.(yaml|yml)"
      branches:
        - ^main$
      spec:
        containers:
          - image: ticommunityinfra/checkconfig:v20230621-df5abce
            command:
              - /ko-app/checkconfig
            args:
              - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
              - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
              - --job-config-path=prow-jobs/
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            securityContext:
              runAsUser: 0 # the default user or the image is not root.
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m

format: add new line
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
Due: none

feat(enterprise-extension): use better io nvme for pod (#2764)
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

fix: correct job name
  prow-jobs/pingcap-docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap-docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(docs): correct job name to match jobdsl (#2765)
  prow-jobs/pingcap-docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap-docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

wait kafka ready
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

update script
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines

tikv-migration: wait Kafka ready before test (#2766)
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

Update ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

Increase timeout for tiflow test (#2767)
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(tidb): adjust timeout for check_dev2 (#2768)
  pipelines/pingcap/tidb/release-7.6/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

collect logs with -maxdepth 2
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

tikv-migration: collect logs with -maxdepth 2 (#2769)
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: skip ci on no-code pr for lts branch
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.6-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: skip ci on no-code pr for master branch
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): skip ci on no-code pr for tiflow master branch (#2771)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.6-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: skip on svg files
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.6-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: skip on svg files
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: skip on svg files
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): skip ci on no-code pr for toflow release branch (#2770)
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.6-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): skip ci on svg files for tiflow master branch (#2772)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: skip ci on some images file change
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: skip ci on some images file change on 6.1 & 6.5
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-with-kv-timeout-feature-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: skip ci on some images file change on 7.1 & 7.5
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

debug: print node info for debug
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
  pipelines/tikv/migration/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

debug(tikv/migration): print node info for debug (#2776)
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
  pipelines/tikv/migration/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix and add some debug cmds
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

increase pipeline timeout
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix shell syntax
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

timeout for test stage 25 -> 45
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix and add some debug cmds (#2777)
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

tikv-migration: increase pipeline timeout (#2778)
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: adjust cmds
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

fix(enterprise-plugin): adjust cmds (#2779)
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

chore: adjust pipeline name
  jobs/pingcap/tiflash/latest/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tiflash): adjust pipeline name (#2780)
  jobs/pingcap/tiflash/latest/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): make the updating pull requests auto mergable for monitoring repo
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
