Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

fix(pipelines/pingcap/tidb): update mysql test.sh arguments
  pipelines/pingcap/tidb/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/pingcap/tidb): update mysql test.sh arguments (#4855)
  pipelines/pingcap/tidb/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Update job configurations in latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap/ticdc): make next-gen jobs be required (#4856)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): update client-go nextgen base image to go 1.25.12
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): use Go 1.25.12 base for client-go
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): use Go 1.25.12 base for client-go (#4858)
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton): add publisher-url param to tidbx-image-distributed trigger
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-ops-when-tidbx-image-distributed-to-clouds.yaml
Due: none

fix(tekton): add publisher-url param to tidbx-image-distributed trigger (#4860)
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-ops-when-tidbx-image-distributed-to-clouds.yaml
Due: none

fix(pipelines): revert tidb release-7.5/8.1 unit test go image to go121
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_unit_test.yaml
Due: none

fix(pipelines): revert tidb release-7.5/8.1 unit test go image to go121 (#4861)
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_unit_test.yaml
Due: none

fix(pipelines): revert tidb release-7.5/8.1 check2 go image to go121
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
Due: none

fix(pipelines): revert tidb release-7.5/8.1 check2 go image to go121 (#4862)
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
Due: none

fix(tekton): map last line git-instead-of (#4844)
  tekton/v1/tasks/pingcap-git-clone.yaml
Due: none

chore(tekton/v1): increase ticdc timeout to 40m
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

chore(tekton/v1): increase ticdc timeout to 40m (#4865)
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

chore(pipelines): increase pod resource requests for tidb release-7.5
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
Due: none

chore(tekton): remove ops-config from tidbx image delivery
  docs/guides/tekton/trigger-CEL.md
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-ops-when-tidbx-image-distributed-to-clouds.yaml
Due: none

chore(tekton): remove ops-config from tidbx image delivery (#4868)
  docs/guides/tekton/trigger-CEL.md
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/update-ops-when-tidbx-image-distributed-to-clouds.yaml
Due: none

fix(pipelines/pingcap/tiflash): resource limits in pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
Due: none

fix(pipelines/pingcap/tiflash): resource limits in pod-pull_build.yaml (#4869)
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
Due: none

fix(libraries): use codecov bundled in ci image for coverage upload
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(libraries): use codecov bundled in ci image for coverage upload (#4870)
  libraries/tipipeline/vars/prow.groovy
Due: none

chore(dockerfiles): add codecov-cli to ci base image
  dockerfiles/ci/base/Dockerfile
Due: none

chore(dockerfiles): add codecov-cli to ci base image (#4871)
  dockerfiles/ci/base/Dockerfile
Due: none

fix(pipelines/pingcap/tiflash): increase resource limits for pod-pull_build
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
Due: none

fix(pipelines/pingcap/tiflash): increase resource limits for pod-pull_build (#4872)
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
Due: none

feat(libraries): add bazel workspace preparation helpers with per-cloud cache config
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
Due: none

feat(libraries): add bazel workspace preparation helpers with per-cloud cache config (#4874)
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
Due: none

pipelines(tidb): use bazel.prepareWorkspace in latest ghpr_check
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(libraries): run bazel workspace prep from shell script
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
  scripts/pingcap/tidb/prepare-bazel-workspace.sh
Due: none

refactor(libraries): run bazel workspace prep from shell script (#4876)
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
  scripts/pingcap/tidb/prepare-bazel-workspace.sh
Due: none

fix(pipelines): guard devtoolset-8 enable in tikv pull_unit_test pipelines
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.3/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): align tikv release-8.1 pull_unit_test with release-8.5
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.3/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): drop imagePullPolicy Always in tikv release-8.1 pod template
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
Due: none

fix(pipelines): align tikv release-8.1 pull_unit_test with release-8.5 (#4877)
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): drop imagePullPolicy Always in tikv release-7.5 pod template
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
Due: none
