Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat: add ddlv1 unit test pipeline
  jobs/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): add ddlv1 unit test pipeline (#3150)
  jobs/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): tiflow master bump go version to 1.23 (#3137)
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_engine_integration_test.yaml
Due: none

feat(pd): pd master bump go version to 1.23 (#3140)
  pipelines/tikv/pd/latest/pod-ghpr_build.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
  pipelines/tikv/pd/latest/pod-pull_unit_test.yaml
Due: none

support go1.23
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_unit_test.yaml
Due: pull-verify-jenkins-pipelines

support go1.23
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_unit_test.yaml
Due: none

update
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_lightning_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_test.yaml
Due: none

support go1.23 for tidb master branch (#3154)
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_lightning_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_test.yaml
Due: pull-verify-jenkins-pipelines

fix Permission for go1.23
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

fix Permission for go1.23 (#3155)
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

feat(tidb-test): tidb-test master bump go version to 1.23 (#3139)
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_nodejs_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_connector_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
Due: none

feat: support go1.23 after v8.4
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

feat(build): multi-branch build on master bump go version to 1.23 (#3141)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_pd_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_test_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_tools_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

feat(tiproxy): tiproxy master bump go version to 1.23 (#3138)
  pipelines/pingcap/tiproxy/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tiproxy/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tiproxy/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_mysql_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_sqllogic_test.yaml
Due: none

feat: support go1.23
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

feat: support go1.23 for build-common (#3156)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

chore: increase resource for merged ut to increase stability
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
Due: none

chore: increase resource for merged ut to increase stability (#3158)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
Due: none

Update tikv_ghpr_cache.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat: add cache image build for 8.4 (#3159)
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiflow 8.4 jobs
  jobs/pingcap/tiflow/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.4/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
Due: none

feat: add tiflow 8.4 pipelines
  pipelines/pingcap/tiflow/release-8.4/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/monitoring): update periodics.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tiflow 8.4 prow trigger
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tidb 8.4 jobs
  jobs/pingcap/tidb/release-8.4/aa_folder.groovy
  jobs/pingcap/tidb/release-8.4/pull_build.groovy
  jobs/pingcap/tidb/release-8.4/pull_check.groovy
  jobs/pingcap/tidb/release-8.4/pull_check2.groovy
  jobs/pingcap/tidb/release-8.4/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_lightning_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_mysql_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_tiflash_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_unit_test.groovy
Due: none

chore(pingcap/monitoring): update periodics.yaml (#3160)
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tidb 8.4 pipelines
  pipelines/pingcap/tidb/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_br_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_lightning_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.4/pull_build.groovy
  pipelines/pingcap/tidb/release-8.4/pull_check.groovy
  pipelines/pingcap/tidb/release-8.4/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.4/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tidb 8.4 prow presubmit
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-8.4-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: disable old pipelines trigger
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

feat: add 8.4 jobs
  jobs/pingcap/tiflash/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.4/aa_folder.groovy
  jobs/tikv/tikv/release-8.4/pull_unit_test.groovy
Due: none

feat: add 8.4 pipelines
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.4/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.4/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add 8.4 prow tirggers
  prow-jobs/pingcap/tiflash/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(prow-jobs): refactor ci prow job kustomization generation
  .ci/update-prow-job-kustomization.sh
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: split jobs for pd for branch less then v8.4
  jobs/tikv/pd/release-8.1/aa_folder.groovy
  jobs/tikv/pd/release-8.1/ghpr_build.groovy
  jobs/tikv/pd/release-8.1/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-8.1/ghpr_build.groovy
  pipelines/tikv/pd/release-8.1/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-8.1/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-8.1/pull_integration_copr_test.groovy
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update prow trigger
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(prow-jobs): refactor ci prow job kustomization generation (#3163)
  .ci/update-prow-job-kustomization.sh
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
