Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat(scripts/artifacts): add support for downloading etcdctl, go-ycsb, and schema-registry
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

feat(scripts/artifacts): add sync-diff-inspector download support in download oci artifact script
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

Update scripts/artifacts/download_pingcap_oci_artifact.sh
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

feat(scripts/artifacts): support more components in oci download script (#4053)
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

fix(scripts/artifacts): update etcdctl extraction to preserve permissions and clean up better
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

accept review suggestion
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

Apply suggestion from @wuhuizuo
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

update cpu resource for tikv unit-test-coverage job
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(tikv/unit-test-coverage): reduce CPU requests/limits from 8 to 6 (#4056)
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tidb):add env BRIETEST_TMPDIR for ghpr-check2 job (#4055)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

Update TiCDC integration test dependencies
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/ticdc): add MinIO tag variable to pipeline configurations
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines/pingcap/ticdc): fetch third-party binaries from OCI registry (#4054)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): correct BRIETEST_TMPDIR variable usage in ghpr_check2 job
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): update escaping for BRIETEST_TMPDIR variable
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

fix(libraries): update ssh-keyscan key types
  libraries/tipipeline/vars/component.groovy
  libraries/tipipeline/vars/git.groovy
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(libraries): update ssh-keyscan key types (#4058)
  libraries/tipipeline/vars/component.groovy
  libraries/tipipeline/vars/git.groovy
  libraries/tipipeline/vars/prow.groovy
Due: none

chore(jobs,pipelines): remove TiDB periodic integration test pipeline and related files
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

fix(tekton/v1/triggers/triggers/env-gcp): Update TiKV resource request to 56Gi
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
Due: none

opt(pipelines/pingcap/ticdc): move PR description setting to pipeline start
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

Move PR description setting to after component tags
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

Add dig command to net-tool container for DNS checks
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
Due: pull-verify-jenkins-pipelines

fix(prow-jobs/pingcap/ticdc): add max_concurrency to all TiCDC presubmit jobs
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap/ticdc): add max_concurrency to all TiCDC presubmit jobs (#4063)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines/pingcap/ticdc): remove debug info stage from all pipeline files
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

opt(pipelines/pingcap/ticdc): move PR description setting to pipeline (#4062)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

Remove network-multitool container from TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pod.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_storage_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_storage_integration_light.yaml
Due: none

fix(tekton/v1/triggers): try to reduce tikv binary build pod memory resource
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
Due: none

fix(tekton/v1/triggers): try to reduce tikv binary build pod memory resource (#4065)
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
Due: none

refactor(scripts/artifacts): Add community registry host for third-party artifacts
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

refactor(scripts/artifacts): Add community registry host for third-party artifacts (#4066)
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

feat(tikv/rust-rocksdb): refactor and migrate rust-rocksdb-ghpr-test from ci.pingcap.net to new prow job
  prow-jobs/tikv/rust-rocksdb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update prow-jobs/kustomization.yaml
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

To better utilize the requested CPU resources, run clang-format in parallel
  prow-jobs/tikv/rust-rocksdb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "fix(tekton/v1/triggers): try to reduce tikv binary build pod memory resource (#4065)"
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
Due: none

increase CI mem for tici
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
