Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat: add 8.4 prow tirggers
  prow-jobs/pingcap/tiflash/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add 8.4 jobs
  jobs/pingcap/tiflash/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.4/aa_folder.groovy
  jobs/tikv/tikv/release-8.4/pull_unit_test.groovy
Due: none

feat: update prow trigger
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update tiflow 8.4 trigger
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: tiflash & tikv & pd split release 8.4 jobs (#3164)
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  jobs/pingcap/tiflash/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  jobs/tikv/pd/release-8.1/aa_folder.groovy
  jobs/tikv/pd/release-8.1/ghpr_build.groovy
  jobs/tikv/pd/release-8.1/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-8.4/aa_folder.groovy
  jobs/tikv/tikv/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pull_unit_test.groovy
  pipelines/tikv/pd/release-8.1/ghpr_build.groovy
  pipelines/tikv/pd/release-8.1/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-8.1/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-8.1/pull_integration_copr_test.groovy
  pipelines/tikv/tikv/release-8.4/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.4/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-8.4-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: tiflow split release 8.4 jobs (#3161)
  jobs/pingcap/tiflow/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.4/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: bump nightly build version to v8.5.0-alpha
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Due: pull-verify-jenkins-pipelines

feat: support build for v8.4 (#3165)
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Due: pull-verify-jenkins-pipelines

fix: not build tidb-binlog from v8.4
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

fix: no build tidb-binlog from v8.4
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

chore: fix for nighlty build on tidb-binlog (#3166)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

fix pod file path
  pipelines/pingcap/tidb/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: correct pod file path (#3167)
  pipelines/pingcap/tidb/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

update
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Due: pull-verify-jenkins-pipelines

fix pod file path
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore update
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix pod file path (#3169)
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: user clang-format 15 after v7.4
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: use clang-format 15 after v7.4 (#3170)
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: user clang-format 15 after v7.4
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflash): user clang-format 15 after v7.4 (#3171)
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: enable ddlv1 ut pipeline
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: display pr info
  pipelines/tikv/pd/latest/ghpr_build.groovy
  pipelines/tikv/pd/latest/pull_integration_copr_test.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
  pipelines/tikv/pd/latest/pull_unit_test.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5/ghpr_build.groovy
  pipelines/tikv/pd/release-7.1/ghpr_build.groovy
  pipelines/tikv/pd/release-7.1/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-8.1/ghpr_build.groovy
  pipelines/tikv/pd/release-8.1/pull_integration_copr_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pd): display pr info on pipeline run (#3173)
  pipelines/tikv/pd/latest/ghpr_build.groovy
  pipelines/tikv/pd/latest/pull_integration_copr_test.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
  pipelines/tikv/pd/latest/pull_unit_test.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5/ghpr_build.groovy
  pipelines/tikv/pd/release-7.1/ghpr_build.groovy
  pipelines/tikv/pd/release-7.1/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-8.1/ghpr_build.groovy
  pipelines/tikv/pd/release-8.1/pull_integration_copr_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add a new integration e2e test in tidb
  jobs/pingcap/tidb/latest/merged_integration_e2e_test.groovy
  jobs/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add new integration e2e test
  pipelines/pingcap/tidb/latest/merged_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines

chore fix
  jobs/pingcap/tidb/latest/pull_integration_e2e_test.groovy
Due: none

chore fix
  pipelines/pingcap/tidb/latest/pod-merged_integration_e2e_test.yaml
Due: none

feat: add new pull integration e2e test (#3174)
  jobs/pingcap/tidb/latest/merged_integration_e2e_test.groovy
  jobs/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): enable ddlv1 ut pipeline (#3172)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

script: add find pod images script
  scripts/ops/find-all-pod-images.sh
Due: none

chore fix
  scripts/ops/find-all-pod-images.sh
Due: none

script: add find pod images script (#3176)
  scripts/ops/find-all-pod-images.sh
Due: none

fix(scripts/pingcap/community): fix /update-prow-owners.ts
  scripts/pingcap/community/update-prow-owners.ts
Due: none

fix(scripts/pingcap/community): fix /update-prow-owners.ts (#3177)
  scripts/pingcap/community/update-prow-owners.ts
Due: none

use clang-format 12
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: to use clang-format 12 for tiflash version less than v7.4 (#3178)
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore update blacklisttarget branch for 7.x
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

chore: disable tirgger for branch 6.5 on old pipelines
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
