Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

ci(pingcap-qe/ci): fix ci job
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(scripts/artifacts): add shell function `publish_tiup_from_oci_artifact_repos` (#2955)
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

try to collect failure log after test timeout
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: try to collect failure log after test timeout (#2986)
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: use prow job in 6.1
  jenkins/jobs/ci2/tikv/pd/ghpr_build.groovy
  prow-jobs/tikv/pd/release-6.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv-pd): use prow style job in 6.1 (#2987)
  jenkins/jobs/ci2/tikv/pd/ghpr_build.groovy
  prow-jobs/tikv/pd/release-6.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: ignore file changed when collect log file
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: ignore file changed when collect log file (#2988)
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

opt(pingcap/tidb-dashboard): speedup image building fo linux/arm64 target
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
Due: pull-verify-jenkins-pipelines

opt(pingcap/tidb-dashboard): speedup image building fo linux/arm64 target (#2989)
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
Due: pull-verify-jenkins-pipelines

opt(ti-community-infra/prow): move jobs from `test-infra` to `prow`
  prow-jobs/kustomization.yaml
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

opt(ti-community-infra/prow): move jobs from `test-infra` to `prow` (#2990)
  prow-jobs/kustomization.yaml
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: non-standard version information of dumpling
  scripts/ops/release-check-version/check_docker_images.py
  scripts/ops/release-check-version/check_offline_package.py
  scripts/ops/release-check-version/check_tiup.py
Due: none

chore
  scripts/ops/release-check-version/check_docker_images.py
  scripts/ops/release-check-version/check_offline_package.py
  scripts/ops/release-check-version/check_tiup.py
Due: none

fix(ti-community-infra/prow): bump job images
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ti-community-infra/prow): bump job images (#2992)
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb-tools): add prow style job with jenkins runner
  OWNERS_ALIASES
  jobs/pingcap/tidb-tools/latest/pull_verify.groovy
  pipelines/pingcap/tidb-tools/OWNERS
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update jobs/pingcap/tidb-tools/latest/pull_verify.groovy
  jobs/pingcap/tidb-tools/latest/pull_verify.groovy
Due: none

fix: handle non-standard version information of dumpling (#2991)
  scripts/ops/release-check-version/check_docker_images.py
  scripts/ops/release-check-version/check_offline_package.py
  scripts/ops/release-check-version/check_tiup.py
Due: none

fix(scripts/artifacts): not override other parts in output file
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-tiup.sh
Due: none

fix(scripts/artifacts): not override other parts in output file (#2994)
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-tiup.sh
Due: none

fix(jenkins/pipelines/cd): keep same tags with inner repositories on GCR
  jenkins/pipelines/cd/pre-release-docker-rocky-sync.groovy
Due: pull-verify-jenkins-pipelines

fix(jenkins/pipelines/cd): keep same tags with inner repositories on GCR (#2995)
  jenkins/pipelines/cd/pre-release-docker-rocky-sync.groovy
Due: pull-verify-jenkins-pipelines

fix(ti-community-infra/prow): fix image building jobs
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ti-community-infra/prow): fix image building jobs (#2996)
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap/tidb-tools/presubmits.yaml
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

fix: add jobs folder for tidb-tools
  jobs/pingcap/tidb-tools/aa_folder.groovy
Due: none

feat(pingcap/tidb-tools): add prow style job with jenkins runner (#2993)
  OWNERS_ALIASES
  jobs/pingcap/tidb-tools/aa_folder.groovy
  jobs/pingcap/tidb-tools/latest/pull_verify.groovy
  pipelines/pingcap/tidb-tools/OWNERS
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix repo name
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: fix tidb-tools presubmit config (#2997)
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ti-community-infra/prow): let the heavy job run in other cluster
  OWNERS
  OWNERS_ALIASES
  jenkins/OWNERS
  jenkins/jobs/cd/OWNERS
  jenkins/pipelines/cd/OWNERS
  jobs/OWNERS
  libraries/OWNERS
  pipelines/OWNERS
  prow-jobs/OWNERS
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
  scripts/plugins/OWNERS
  staging/OWNERS
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ti-community-infra/prow): let the heavy job run in other cluster (#2998)
  OWNERS
  OWNERS_ALIASES
  jenkins/OWNERS
  jenkins/jobs/cd/OWNERS
  jenkins/pipelines/cd/OWNERS
  jobs/OWNERS
  libraries/OWNERS
  pipelines/OWNERS
  prow-jobs/OWNERS
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
  scripts/plugins/OWNERS
  staging/OWNERS
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: temp comment cross-compile platform darwin
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

fix: temp comment cross-compile platform darwin (#2999)
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

feat: add integration tests
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb-tools): add integration tests (#3000)
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines
