Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

ci(tekton): drop deprecated v0 nextgen changes
  tekton/v0/tasks/pingcap-git-clone-ext.yaml
Due: none

ci(pipelines): remove long-time test check
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipelines(tekton): Add deliver-images to darwin
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
Due: none

ci(tekton): cover nextgen patch sequence from zero
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
Due: none

ci(tekton): support calendar-style nextgen tags (#4387)
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/tasks/pingcap-git-clone-ext.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

migrate tiflash-scripts ghpr test to native presubmit
  .ci/tiflash-scripts/archive_logs.sh
  .ci/tiflash-scripts/prepare_runtime_and_artifacts.sh
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

revert modify
  .ci/replay-jenkins-build.sh
Due: none

fix(ci): address replay job copilot review feedback
  .ci/replay-prow-job.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(replay): add auto context replay and simplify tiflash log archive
  .ci/replay-prow-job.sh
  .ci/tiflash-scripts/archive_logs.sh
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

tighten the timeout and remove unused code
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

docs(agents): Add tekton-cd-backend-worker skill
  .agents/skills/tekton-cd-backend-worker/SKILL.md
  .agents/skills/tekton-cd-backend-worker/agents/openai.yaml
Due: none

tekton(tasks): Add pingcap-git-clone task
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/pingcap-git-clone.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
Due: none

tekton(git-clone): Pick remote release branch
  tekton/v1/tasks/pingcap-git-clone.yaml
Due: none

fix(tekton): Remove prev-patch fallback
  tekton/v1/tasks/pingcap-git-clone.yaml
Due: none

keep only the parameters required by Prow in the Jenkins job DSL
  jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test.groovy
  jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test.groovy
Due: none

ci(prow): add tiflash sanitizer jobs and replay automation
  .ci/replay-prow-job.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflash-scripts): migrate pull test, regression and schrodinger jobs
  .ci/tiflash-scripts/prepare_runtime_and_artifacts.sh
  jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test.groovy
  jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflash-scripts): move artifact prepare script out of .ci
  pipelines/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(tekton/v1): fix tidb enterprise build for hotfox cases (#4389)
  .agents/skills/tekton-cd-backend-worker/SKILL.md
  .agents/skills/tekton-cd-backend-worker/agents/openai.yaml
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/pingcap-git-clone.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
Due: none

fix(prow): apply sanitizer affinity and safe yaml parsing
  .ci/replay-prow-job.sh
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tiflash-scripts): address regression and schrodinger review issues
  pipelines/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tiflash-scripts): add pull-test, regression, and schrodinger jobs (#4391)
  jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test.groovy
  jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(replay): enforce --run-timeout in pod mode
  .ci/replay-prow-job.sh
Due: none

fix(replay): enforce run-timeout across pod replay flow
  .ci/replay-prow-job.sh
Due: none

feat(pipeline) tidb ghpr_mysql_test job migrate to GCP
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refine format
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refine
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(pipeline) tidb ghpr_mysql_test job migrate to GCP (#4441)
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): add tiflash sanitizer jobs and replay automation (#4390)
  .ci/replay-prow-job.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): update nextgen trunk branch for CSE repo
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): keep dedicated alias for CSE realcluster
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipeline) remove legacy depends
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipeline) remove legacy depends (#4444)
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): update nextgen trunk branch for CSE repo (#4443)
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(nextgen): refresh exact image tag lookup branches
  scripts/ops/nextgen/README.md
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

migrate merged_integration_mysql_test
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

migrate merged_integration_jdbc
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

migrate merged_integration_copr_test and add flask case hotfix
  pipelines/pingcap/tidb/latest/merged_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

migrate ghpr_check2 to GCP
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

migrate merged_unit_test_ddlv1
  pipelines/pingcap/tidb/latest/merged_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pod-merged_unit_test_ddlv1.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
