Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-optional
      decorate: true
      max_concurrency: 1
      always_run: false
      optional: false
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            command: [bash, -ce]
            args:
              - |
                echo "This is a optional job, it will always fail."
                exit 1
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-prow-jobs
      decorate: true
      extra_refs:
        - org: ti-community-infra
          repo: configs
          base_ref: main
          repo_link: https://github.com/ti-community-infra/configs
      max_concurrency: 1
      run_if_changed: "^prow-jobs/.*\\.(yaml|yml)"
      branches:
        - ^main$
      spec:
        containers:
          - image: ticommunityinfra/checkconfig:v20230621-df5abce
            command:
              - /ko-app/checkconfig
            args:
              - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
              - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
              - --job-config-path=prow-jobs/
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            securityContext:
              runAsUser: 0 # the default user or the image is not root.
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m

feat: upload ut coverage to codecov if test passed
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

chore: Increase timeout for Tests stage in pipeline
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

feat: rename codecov env
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

feat: upload ut coverage in lts branch
  pipelines/pingcap/tiflow/release-6.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

feat: rename codecov token env
  pipelines/pingcap/tiflow/release-6.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

foramt: update
  pipelines/pingcap/tiflow/release-6.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

chore: no need upload codecov on 6.1 & 6.5
  pipelines/pingcap/tiflow/release-6.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

fix: remove commonent name from Flag
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflow): upload tiflow ut codecoverage if test passed (#2739)
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

fix rust tool chain file name for rust-rocksdb
  jenkins/pipelines/ci/rust-rocksdb/rust_rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

ci: fix rust tool chain file name for rust-rocksdb (#2740)
  jenkins/pipelines/ci/rust-rocksdb/rust_rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

chore: bump nightly version (#2737)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Due: pull-verify-jenkins-pipelines

fix: operator git commit
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

fix: operator git commit (#2741)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

fix: download dumpling for it instead of mydumper
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb-tools): download dumpling for inregration-tests instead of mydumper (#2742)
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: chore fix
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb-tools): chore fix (#2743)
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: tiflow add postsubmit
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tiflow merged_unit_test jobdsl
  jobs/pingcap/tiflow/latest/merged_unit_test.groovy
Due: none

feat: add tiflow merged_unit_test pipeline
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
Due: pull-verify-jenkins-pipelines

chore: not report before test passed
  prow-jobs/pingcap-tiflow-latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): add tiflow postsubmit (#2744)
  jobs/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: not upload to codecov on release branch
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflow): not upload to codecov on release branch (#2745)
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines

chore: upgrade tiup version
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Due: pull-verify-jenkins-pipelines

chore: upgrade tiup version (#2746)
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Due: pull-verify-jenkins-pipelines

fix mysql_test
  pipelines/pingcap/tiproxy/latest/merged_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

tiproxy: fix merged_mysql_test (#2747)
  pipelines/pingcap/tiproxy/latest/merged_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

replace unstable option -Zinstrument-coverage with -C instrument-coverage
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Due: pull-verify-jenkins-pipelines

add nodejs test
  jobs/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_prisma_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_sequelize.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

add missing files
  jobs/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
Due: pull-verify-jenkins-pipelines

tiproxy: add nodejs test (#2749)
  jobs/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_sequelize.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(monitoring): add job to auto update content for monitoring
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap-monitoring-periodics.yaml
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(monitoring): add job to auto update content for monitoring (#2750)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(monitoring): fix job step on git push
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(monitoring): fix job step on git push (#2751)
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(monitoring): fix job step on fetch
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
