Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

Revert "feat(tekton): update kaniko image to v1.27.6 from GHCR (#4662)"
  tekton/v1/tasks/pingcap-build-images.yaml
Due: none

revert(tekton/v1): revert #4662 (#4674)
  tekton/v1/tasks/pingcap-build-images.yaml
Due: none

ci(tikv/tikv): migrate jenkins jobs to GCP
  pipelines/tikv/tikv/latest/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_integration_test.groovy
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  prow-jobs/tikv/tikv/latest-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
  scripts/tikv/tikv/gen_test_binary_json.py
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refactor(tekton/v1/tasks): refactor tidbx delivery task to use issues
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
Due: none

refactor(tekton/v1/tasks): refactor tidbx delivery task to use rotating queue issues (#4677)
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
Due: none

ci(pingcap/tiflow): migrate release-8.5 jenkins jobs to GCP (#4670)
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

remove comments
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

.
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): add legacy safepoint integration tests (#4661)
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint/pod.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv/tikv): migrate jenkins jobs to GCP
  pipelines/tikv/tikv/latest/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
Due: none

ci(tikv/tikv): migrate jenkins jobs to GCP (#4675)
  pipelines/tikv/tikv/latest/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_integration_test.groovy
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  prow-jobs/tikv/tikv/latest-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
  scripts/tikv/tikv/gen_test_binary_json.py
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(cdc): add more legacy safepoint integration tests
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint/pod.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(cdc): add more legacy safepoint integration tests (#4679)
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen_legacy_safepoint/pod.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv/tikv): fix pull-unit-test build error
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tikv/tikv): fix pull-unit-test build error (#4680)
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): update docs build image to ghcr.io
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): update docs build image to ghcr.io (#4681)
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): switch publisher-url to in-cluster service for GCP builds
  tekton/v1/tasks/delivery/pingcap-notify-to-update-tcms-tidbx.yaml
  tekton/v1/triggers/bindings/gcp-classic-build-params.yaml
  tekton/v1/triggers/bindings/gcp-internal-build-params.yaml
  tekton/v1/triggers/bindings/gcp-ng-build-params.yaml
Due: none

ci(tekton): switch publisher-url to in-cluster service for GCP builds (#4682)
  tekton/v1/tasks/delivery/pingcap-notify-to-update-tcms-tidbx.yaml
  tekton/v1/triggers/bindings/gcp-classic-build-params.yaml
  tekton/v1/triggers/bindings/gcp-internal-build-params.yaml
  tekton/v1/triggers/bindings/gcp-ng-build-params.yaml
Due: none

ci(prow): update docs builder image for postsubmits
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate docs-tidb-operator postsubmit
  jobs/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  prow-jobs/pingcap/docs-tidb-operator/latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): reduce docs resource requests and add rclone progress flag
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestions from code review
  prow-jobs/pingcap/docs-tidb-operator/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(prow-jobs): migrate docs-tidb-operator postsubmit job to Prow (#4683)
  jobs/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  prow-jobs/pingcap/docs-tidb-operator/latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tidb): run next-gen starter realtikv tests
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb): run next-gen starter realtikv tests (#4666)
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tikv): migrate remaining tikv/copr-test and tikv/migration jenkins jobs to GCP
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv): adjust resource limit
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
Due: none

ci(tidb): migrate remaining tidb latest jenkins jobs to GCP
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv): migrate remaining tikv/copr-test and tikv/migration jenkins jobs to GCP (#4686)
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tidb): migrate remaining tidb latest jenkins jobs to GCP (#4687)
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tidb): complete 8.1-8.4 cloud migration gaps
  pipelines/pingcap/tidb/release-8.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.2/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.2/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.3/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.3/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.4/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.4/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb): migrate release 8.1 periodic br job to cloud
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb): unify 8.1 tidb-tools checkout style
  pipelines/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines
