Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

ci(tiflash): add new ci test pull_integration_next_gen_columnar running on GCP (#4633)
  jobs/pingcap/tiflash/latest/pull_integration_next_gen_columnar.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-build.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-test.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(pipeline): skip tidb-test checkout cache
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipeline): skip tidb-test checkout cache (#4635)
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): add retries to matrix kubernetes agents
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): add retries to matrix kubernetes agents (#4636)
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(pipelines): add pod retry for tidb integration ddl test
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): adjust BR integration test pod resources
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
Due: none

ci(pipelines): move tmp dir permissions to golang container postStart
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
Due: none

fix(pipelines): move chmod to initContainer for BR temp dir
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
Due: none

ci(pipelines): remove init container for tidb-temp-dir in release-8.5 BR test pod
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
Due: none

ci(pipelines): adjust BR integration test pod resources (#4637)
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(prow): sync owners to release branches (#4634)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/ticdc/common-postsubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/pingcap/tiflash/common-postsubmits.yaml
  prow-jobs/pingcap/tiflow/common-postsubmits.yaml
  scripts/plugins/sync-owners-to-release.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): increase memory limits for tiflow storage test pod
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
Due: none

ci(pipelines): increase cdc integration storage test memory limit
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
Due: none

ci(tekton): restrict trigger regex to release-7+ branches
  tekton/v1/triggers/triggers/env-gcp/_/git-create-branch.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-failpoint.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
Due: none

fix(tekton): update failpoint branch regex for TiKV builds
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-failpoint.yaml
Due: none

fix(prow-jobs/pingcap/tidb-operator): update nodeAffinity to presubmits
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap/tidb-operator): update nodeAffinity to presubmits (#4642)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflash): migrate tiflash ci tests to GCP
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  prow-jobs/pingcap/tiflash/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-postsubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(prow-jobs): use hyperdisk-rwo storage in tidb-operator presubmits
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): use hyperdisk-rwo storage in tidb-operator presubmits (#4643)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflash): migrate tiflash ci tests to GCP
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

tekton: add GIT_SSH_COMMAND to bypass SSH host key verification for cargo build
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
Due: none

fix(tekton/v1): add GIT_SSH_COMMAND to bypass SSH host key verification for cargo build (#4645)
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
Due: none

chore(deps): use Go 1.25.10 builders for v8.5.6+
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tiflash): migrate merged jobs to GCP
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  prow-jobs/pingcap/tiflash/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflash): migrate presubmit jobs to GCP
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflow): disable mysql ssl mode in release-8.5 dm pods
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

ci(tiflow): use public init image for release-8.5 dm pods
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

ci(tiflow): disable mysql ssl mode in release-8.5 dm pods (#4649)
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

Apply suggestions from code review
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
Due: none

ci(release-8.5): move mysql config setup to postStart
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

ci(release-8.5): create my.cnf dir in postStart
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

ci(release-8.5): disable mysql ssl mode in dm and br pods (#4650)
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

ci(prow): migrate docs merged update postsubmits
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(prow): use valid docs postsubmit job names
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
