Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

ci(pipelines): back BR integration temp dir with PVC
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
Due: none

feat(libraries): add matrixCache library for parallel stage caching
  libraries/tipipeline/vars/matrixCache.groovy
Due: none

ci(libraries): remove gitee.groovy library function
  libraries/tipipeline/vars/gitee.groovy
Due: none

test(libraries): add unit tests for matrixCache utility functions
  libraries/tipipeline/test/TestMatrixCache.groovy
Due: none

ci(pipelines): update pull integration test docker image for tiflash
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
Due: none

ci(prow): extend replay trigger to include pod template yaml changes
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "ci(prow): extend replay trigger to include pod template yaml changes"
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): update tiflash integration test pod image to base
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
Due: none

ci(pipelines): update tiflash integration test docker image to ghcr.io
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_integration_test.yaml
Due: none

refactor(pipelines): update pull integration test docker image for tiflash (#4587)
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_integration_test.yaml
Due: none

ci(libraries): make matrix cache axis inputs explicit
  libraries/tipipeline/test/TestMatrixCache.groovy
  libraries/tipipeline/vars/matrixCache.groovy
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(pipelines): refactor prow_debug
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines): remove explicit pod template for prow_debug
  pipelines/ti-community-infra/test-prod/pod-prow_debug.yaml
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

test(libraries): migrate matrix cache from single JSON to per-key marker files
  libraries/tipipeline/test/TestMatrixCache.groovy
  libraries/tipipeline/vars/matrixCache.groovy
Due: none

ci(prow): stabilize tiflash sanitizer presubmits (#4589)
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(libraries): implement Jenkins run matrix caching (#4583)
  libraries/tipipeline/test/TestMatrixCache.groovy
  libraries/tipipeline/vars/gitee.groovy
  libraries/tipipeline/vars/matrixCache.groovy
  pipelines/ti-community-infra/test-prod/pod-prow_debug.yaml
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(libraries): remove unused folder library config and simplify prow debug pipeline
  jobs/ti-community-infra/aa_folder.groovy
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(libraries): remove unused folder library config and simplify prow debug pipeline (#4593)
  jobs/ti-community-infra/aa_folder.groovy
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(libraries): rename and reorganize Jenkins shared libraries
  libraries/tipipeline/vars/git.groovy
  libraries/tipipeline/vars/log.groovy
  libraries/tisys/tests/TestMatrixCache.groovy
  libraries/tisys/vars/matrixCache.groovy
  libraries/tisys/vars/pod_label.groovy
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  libraries/tisys/tests/TestMatrixCache.groovy
Due: none

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  libraries/tisys/vars/pod_label.groovy
Due: none

Apply suggestions from code review
  libraries/tisys/vars/pod_label.groovy
Due: none

feat(libraries): standardize pod_label warning messages
  libraries/tipipeline/vars/pod_label.groovy
  libraries/tisys/vars/pod_label.groovy
Due: none

fix: update test directory path from `test/` to `tests/`
  AGENTS.md
  docs/guides/testing-library-code.md
  jenkins/pipelines/ci/tidb/tidb_ghpr_mysql_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  libraries/tipipeline/tests/TestComponent.groovy
  libraries/tipipeline/tests/TestParseCIParams.groovy
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): bump groovy image to 4.0.32-jdk17
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(libraries): rename and reorganize Jenkins shared libraries (#4596)
  AGENTS.md
  docs/guides/testing-library-code.md
  jenkins/pipelines/ci/tidb/tidb_ghpr_mysql_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  libraries/tipipeline/tests/TestComponent.groovy
  libraries/tipipeline/tests/TestParseCIParams.groovy
  libraries/tipipeline/vars/git.groovy
  libraries/tipipeline/vars/log.groovy
  libraries/tisys/tests/TestMatrixCache.groovy
  libraries/tisys/vars/matrixCache.groovy
  libraries/tisys/vars/pod_label.groovy
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): enable pod labels for remaining GCP jobs
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines): enable pod labels for remaining GCP jobs (#4598)
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): remove long-failing merged postsubmit jobs and reduce wasted CI resources
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tiproxy/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): revert pingcap/tidb/merged_sqllogic_test
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow): update kubekins image for prow jobs
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow): update kubekins image for prow jobs (#4601)
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): remove long-failing merged postsubmit jobs and reduce wasted CI resources (#4600)
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tiproxy/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

archive flaky analysis artifacts per cell
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines
