Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat: add jobdsl for old tidb-tools pipeline
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Due: none

feat: add jobdsl for old tidb-tools pipeline (#3001)
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Due: none

fix: add missing conf on joddsl
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Due: none

fix: add missing conf on joddsl (#3002)
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Due: none

feat: enable new tidb-tools pipelines
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: enable linux arm64 build
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb-tools): enable new tidb-tools pipelines (#3003)
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts/opt): update to new deno version
  scripts/ops/statics-repo-code-lines.ts
Due: none

fix(scripts/opt): update to new deno version (#3004)
  scripts/ops/statics-repo-code-lines.ts
Due: none

make test run
  prow-jobs/tikv/pd/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pd: make real cluster test run (#3006)
  prow-jobs/tikv/pd/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

tiflash: remove useless prepare tool stage
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(prow-jobs/pingcap/monitoring): add periodic type job to update file for release-8.2
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflash): upgrade to LLVM17 & remove useless prepare tool stage (#2901)
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Update prow-jobs/pingcap/monitoring/periodics.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tiflow 8.2 jobs
  jobs/pingcap/tiflow/release-8.2/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.2/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
Due: none

feat: add tiflow 8.2 pipelines
  pipelines/pingcap/tiflow/release-8.2/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiflow 8.2 presubmits
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tiflash 8.2 presubmits
  jobs/pingcap/tiflash/release-8.2/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.2/pull_unit_test.groovy
Due: none

feat: add tiflash 8.2 pipelines
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiflash 8.2 presubmits
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-8.2-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tikv 8.2 presubmits
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tikv 8.2 pipelines
  jobs/tikv/tikv/release-8.2/aa_folder.groovy
  jobs/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Update tikv_ghpr_cache.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat: add 8.2 tikv cache image build (#3010)
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tiflow): tiflow split release 8.2 jobs (#3008)
  jobs/pingcap/tiflow/release-8.2/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.2/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix
  prow-jobs/pingcap/tidb/release-8.2-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

auto update
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap/monitoring): add periodic type job to update file for release-8.2 (#3007)
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix jobdsl
  jobs/pingcap/tidb/release-8.2/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_lightning_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_tiflash_test.groovy
Due: none

fix: fix jobdsl error (#3012)
  jobs/pingcap/tidb/release-8.2/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_lightning_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_tiflash_test.groovy
Due: none

disable old jobs on 8.2
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

Update release_all_images_by_branch_for_internal.groovy
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Due: none

feat: tiflash and tikv split release 8.2 jobs (#3009)
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  jobs/pingcap/tiflash/release-8.2/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.2/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.2/aa_folder.groovy
  jobs/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: daily internal build add release-8.1 (#3013)
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Due: none

fix pod yaml path
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines
