Repository pingcap/tidb: changes, and which Prow jobs are due for each by the changed paths.
All: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, canary-notify-when-compatibility-sections-changed, pull-notify-when-compatibility-sections-changed, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

Path conditions:
  ci/e2e-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-ddl-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-jdbc-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/sqllogic-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-copr-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/tiflash-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/build: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  canary-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  pull-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  idc-jenkins-ci-tidb/build: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev_2: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  auto-sync-go-mods: any of: go\.mod$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/unit-test-ddlv1: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-python-orm-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-nodejs-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-br-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-lightning-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/tiflash-integration-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-ddlv1: any of: pkg/(ddl|meta)/.*
  pull-integration-e2e-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-br-integration-test: any of: (br|pkg/(ddl|domain|infoschema))/.*
  pull-lightning-integration-test: any of: (lightning|pkg/(domain|statistics|ddl|infoschema)|br/pkg/(checksum|httputil|membuf|pdutil|restore/split|storage))/.*
  pull-integration-ddl-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-scan-deps: any of: go\.mod

ddl: refine doc and test, and move test to a new file
  docs/agents/ddl/07-modify-column.md
  docs/agents/ddl/08-partition-ddl.md
  pkg/ddl/modify_column.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/ddl/tests/partition/modify_column_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/ddl: add collation-change partition test
  pkg/ddl/tests/partition/db_partition_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/ddl: fix partition test copyloopvar lint
  pkg/ddl/tests/partition/db_partition_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/ddl: rename exact partition helper
  pkg/ddl/tests/partition/db_partition_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/ddl: pin prune mode in partition tests
  pkg/ddl/tests/partition/db_partition_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/ddl: align partition shrink tests
  pkg/ddl/tests/partition/db_partition_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

objstore: regenerate BUILD.bazel for export_test.go and new lease tests
  pkg/objstore/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

add some reservation (!595) (!746)
  pkg/errno/errcode.go
  pkg/meta/model/job.go
  pkg/meta/model/pkdb_job.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fixup
  pkg/bindinfo/binding_operator_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/planner: preserve suffix order for MergeJoin with constant leading keys (#68001)
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/planner/core/operator/physicalop/BUILD.bazel
  pkg/planner/core/operator/physicalop/physical_merge_join.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

This is an automated cherry-pick of #68001
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/planner/core/operator/physicalop/BUILD.bazel
  pkg/planner/core/operator/physicalop/physical_merge_join.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

sessionctx: align auto analyze concurrency defaults with manual analyze (#67647) (#67972)
  pkg/sessionctx/variable/tidb_vars.go
  pkg/sessionctx/variable/variable_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

session,executor: scope finishStmt failpoint to current connection (#67655)
  pkg/executor/staticrecordset/integration_test.go
  pkg/session/tidb.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #67557
  pkg/ddl/db_change_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/metrics: add auto analyze failed alert rule (#67733) (#67973)
  pkg/metrics/alertmanager/tidb.rules.yml
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: change default tidb_auto_analyze_concurrency to 3 (#67823) (#67974)
  pkg/session/bootstraptest/BUILD.bazel
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  tests/integrationtest/r/session/variable.result
  tests/integrationtest/t/session/variable.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

br: disable ssl mode for user3 no-ssl check
  br/tests/br_full_cluster_restore/run.sh
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

br: revert ssl mode tweak in full cluster restore test
  br/tests/br_full_cluster_restore/run.sh
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

store/copr: use merged TiCI client-go deps
  go.mod
  go.sum
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

planner: address TiCI estimate review comments
  pkg/planner/core/stats.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: restore planner issue test helpers
  pkg/planner/core/issuetest/planner_issue_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: add likidu to critical approver aliases
  OWNERS_ALIASES
Due: none

executor: stabilize ddlargsv1 flaky tests
  pkg/executor/test/executor/executor_test.go
  pkg/executor/test/infoschema/infoschema_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

chore: update bazel file
  pkg/executor/windows/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #67839
  br/pkg/streamhelper/subscription_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: add missing bazel dep for infoschema test
  pkg/executor/test/infoschema/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #67700
  pkg/executor/test/analyzetest/memorycontrol/memory_control_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #66975
  br/pkg/restore/snap_client/pitr_collector_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/statistics: strengthen internal- column async histogram load tests
  pkg/statistics/handle/storage/read_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

statistics:rename internal-column guard var and assert stats warmup in test
  pkg/statistics/column.go
  pkg/statistics/handle/storage/read_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

statistics: update storage test shard_count after rebase
  pkg/statistics/handle/storage/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

statistics,planner: skip internal column IDs in async stats load queue
  pkg/planner/core/rule/collect_column_stats_usage.go
  pkg/planner/core/rule/collect_column_stats_usage_test.go
  pkg/statistics/column.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/read_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #67741
  br/pkg/streamhelper/subscription_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/statistics: fix invalid FLUSH STATS_DELTA syntax in storage test
  pkg/statistics/handle/storage/read_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

testkit: ignore global stats meta in histogram check
  pkg/testkit/testkit.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

statistics: capture stale delta after analyze
  pkg/statistics/handle/handletest/BUILD.bazel
  pkg/statistics/handle/handletest/handle_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

update
  pkg/planner/core/issuetest/BUILD.bazel
  tests/realtikvtest/addindextest4/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

bindinfo: add a binding cache reload concurrency test (#68066)
  pkg/bindinfo/binding_operator_test.go
  pkg/executor/windows/BUILD.bazel
  pkg/planner/core/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

This is an automated cherry-pick of #68066
  pkg/bindinfo/binding_operator_test.go
  pkg/executor/windows/BUILD.bazel
  pkg/planner/core/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review
