Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

ci(prow): migrate pingcap/tidb release-8.1 pull_mysql_client_test job to target jenkins (#5241)
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.1 pull_integration_mysql_test job to target jenkins (#5242)
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.1 pull_integration_jdbc_test job to target jenkins (#5243)
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.1 pull_integration_ddl_test job to target jenkins (#5244)
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines/ticdc): raise resources for ticdc light integration test pods
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-test.yaml
Due: none

chore(pipelines/ticdc): raise resources for ticdc light integration test pods (#5245)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-test.yaml
Due: none

chore(pipelines): align pingcap-inc/tidb release-8.5 jobs with pingcap (#5237)
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_integration_br_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_check.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate pingcap/ticdc/pull_cdc_storage_integration_light job to target jenkins (#5219)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/ticdc/pull_cdc_kafka_integration_light job to target jenkins (#5234)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/ticdc/pull_cdc_mysql_integration_light job to target jenkins (#5218)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): make CSE next-gen realcluster test optional
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(libraries): drive component branch mapping from a config file
  AGENTS.md
  libraries/tipipeline/resources/configs/component-branch-mapping.yaml
  libraries/tipipeline/tests/TestComponent.groovy
  libraries/tipipeline/vars/component.groovy
Due: none

fix(prow-jobs): make CSE next-gen realcluster test optional (#5246)
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(libraries): make patch-aware hotfix components configurable
  libraries/tipipeline/resources/configs/component-branch-mapping.yaml
  libraries/tipipeline/tests/TestComponent.groovy
  libraries/tipipeline/vars/component.groovy
Due: none

docs(libraries): tidy comments in component-branch-mapping.yaml
  libraries/tipipeline/resources/configs/component-branch-mapping.yaml
Due: none

feat(scripts): sync release branch into feature branches on schedule
  docs/guides/README.md
  docs/guides/feature-branch-sync.md
  prow-jobs/pingcap-qe/ci/periodics.yaml
  scripts/plugins/sync-branch.test.ts
  scripts/plugins/sync-branch.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(libraries): drive component branch mapping from a config file (#5247)
  AGENTS.md
  libraries/tipipeline/resources/configs/component-branch-mapping.yaml
  libraries/tipipeline/tests/TestComponent.groovy
  libraries/tipipeline/vars/component.groovy
Due: none

feat(scripts): sync feature branches across all v8.5 repositories
  docs/guides/feature-branch-sync.md
  prow-jobs/pingcap-qe/ci/periodics.yaml
  scripts/plugins/sync-branch.test.ts
  scripts/plugins/sync-branch.ts
  scripts/plugins/sync-branches.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(configs): move branch sync config into configs directory
  configs/sync-branches.yaml
  docs/guides/feature-branch-sync.md
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap/tidb): add feature/release-8.5-fts branch to job `pull_integration_tici_test`
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap/tidb): add feature/release-8.5-fts branch to job `pull_integration_tici_test` (#5249)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-inc/tiflash-scripts jobs to target jenkins
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Notes added by 'git notes add'
  ba5ea45f065254d5a052cb9d39e5eda121da59a6
Due: none

Notes added by 'git notes add'
  af35967ee7b8861af2cec3c0b711cecbadb8a37e
Due: none

ci(prow): migrate tikv/tikv release-8.1 jobs to target jenkins (#5156)
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Notes added by 'git notes add'
  197c20fe92065abf8dd5972d6761b4fc4e99c1f7
Due: none

Notes added by 'git notes add'
  1076fb9674ebbac09df724bed6be584f4c31af69
Due: none

Notes added by 'git notes add'
  bd33a72e3565a8c9558a777a73ec6a1973f803e6
Due: none

chore(agents): fix contradictory ci type commit example
  AGENTS.md
  conductor/tracks.md
  conductor/tracks/fix_agents_commit_example_20260916/index.md
  conductor/tracks/fix_agents_commit_example_20260916/metadata.json
  conductor/tracks/fix_agents_commit_example_20260916/plan.md
  conductor/tracks/fix_agents_commit_example_20260916/spec.md
Due: none

conductor(checkpoint): Checkpoint end of Phase 1
  conductor/product-guidelines.md
  conductor/tracks.md
  conductor/tracks/governance_20260909/plan.md
Due: none

conductor(plan): Mark phase 'Phase 2' as complete
  conductor/tracks/governance_20260909/plan.md
Due: none

conductor(plan): Mark phase 'Phase 1' as complete
  conductor/tracks/governance_20260909/plan.md
Due: none

chore(conductor): Add new track 'Co-locate Jenkins Job Artifacts in One Folder per Job'
  conductor/tracks.md
  conductor/tracks/jenkins_job_layout_20260916/index.md
  conductor/tracks/jenkins_job_layout_20260916/metadata.json
  conductor/tracks/jenkins_job_layout_20260916/plan.md
  conductor/tracks/jenkins_job_layout_20260916/spec.md
Due: none

conductor(checkpoint): Checkpoint end of Phase 3
  conductor/tracks/governance_20260909/plan.md
  docs/README.md
  docs/guides/README.md
  docs/guides/branch-support-and-eol.md
Due: none

conductor(checkpoint): Checkpoint end of Phase 2
  conductor/tracks/governance_20260909/plan.md
  docs/README.md
  docs/contributing.md
  docs/guides/README.md
  docs/guides/job-change-governance.md
Due: none

conductor(plan): Mark phase 'Phase 4' as complete
  conductor/tracks/governance_20260909/plan.md
Due: none

conductor(plan): Mark phase 'Phase 3' as complete
  conductor/tracks/governance_20260909/plan.md
Due: none

chore(conductor): Mark track 'Establish Conductor-based CI/CD governance for the PingCAP-QE/ci monorepo' as complete
  conductor/tracks.md
  conductor/tracks/governance_20260909/metadata.json
Due: none

chore(conductor): Mark track 'Fix the AGENTS.md commit-convention example' as complete
  conductor/tracks.md
  conductor/tracks/fix_agents_commit_example_20260916/metadata.json
Due: none

docs(conductor): Synchronize docs for track 'Establish Conductor-based CI/CD governance for the PingCAP-QE/ci monorepo'
  conductor/product.md
Due: none
