Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

ci(tidb-binlog): update prowjob configration for tidb-binlog
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(jenkins): disabled deprecated jenkins job on ci.pingcap.net and ci2.pingcap.net (#4533)
  jenkins/jobs/ci/tiflash/ghpr_build_sanitier.groovy
  jenkins/jobs/ci2/pingcap/tidb-binlog/ghpr_integration.groovy
Due: none

ci(tidb-binlog): update prowjob configration for tidb-binlog (#4535)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): hardcode PD OCI tag for release-8.5 pipelines
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines/pingcap-inc/tidb): hardcode PD OCI tag for release-8.5 pipelines (#4536)
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

dm: remove redundant MARIADB env vars from groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

enable new prowjob for titan and tiflash-scripts
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
  prow-jobs/tikv/titan/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipelines/pingcap/tiflow): add MariaDB source for DM integration test (#4496)
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

enable new prowjob for titan and tiflash-scripts (#4538)
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
  prow-jobs/tikv/titan/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow: migrate docs pull_verify presubmits to kubernetes
  prow-jobs/pingcap/docs/docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow(docs): reorder pull_verify checks and add bash shebang
  prow-jobs/pingcap/docs/docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow(docs): use k8s-safe names for pull_verify jobs
  prow-jobs/pingcap/docs/docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestions from code review
  prow-jobs/pingcap/docs/docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

dm: skip binary build when only test scripts changed
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

prow(docs): migrate pull_verify presubmits from jenkins to kubernetes (#4537)
  prow-jobs/pingcap/docs/docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): add presubmit secret scan gate with gitleaks
  .ci/verify-secret-scan.sh
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): add presubmit secret scan gate with gitleaks (#4540)
  .ci/verify-secret-scan.sh
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): narrow secret scan scope and add credential policy gate
  .ci/verify-jenkins-credential-policy.sh
  .ci/verify-secret-scan.sh
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): run credential policy check with bash in presubmit
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): focus secret gate on Jenkins credential misuse risks (#4541)
  .ci/verify-jenkins-credential-policy.sh
  .ci/verify-secret-scan.sh
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

cleanup: remove legacy docs pull_verify Jenkins configs
  jobs/pingcap/docs-cn/latest/pull_verify.groovy
  jobs/pingcap/docs/latest/pull_verify.groovy
  pipelines/pingcap/docs-cn/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

cleanup: remove docs/docs-cn legacy pull_verify Jenkins resources (#4542)
  jobs/pingcap/docs-cn/latest/pull_verify.groovy
  jobs/pingcap/docs/latest/pull_verify.groovy
  pipelines/pingcap/docs-cn/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb): align release-8.5 pull_unit_test pod storage
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(ci): enlarge tidbrelease-8.5 pull_unit_test pod storage (#4543)
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): remove release-fts special handling for PD OCI tags
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.3/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.4/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.0/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.0/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_lightning_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): remove release-fts special handling for PD OCI tags (#4544)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.3/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.4/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.0/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.0/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_lightning_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): verify PR titles
  .ci/check-pr-title.sh
  AGENTS.md
  docs/contributing.md
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(security): add regression presubmit for credential policy
  .ci/test-verify-jenkins-credential-policy.sh
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): fix regex quoting for policy test presubmit
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(security): add allowlist and harden credential scan operations
  .ci/security-policy-allowlist.txt
  .ci/test-verify-jenkins-credential-policy.sh
  .ci/verify-jenkins-credential-policy.sh
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(security): add regression presubmit for credential policy checks (#4546)
  .ci/security-policy-allowlist.txt
  .ci/test-verify-jenkins-credential-policy.sh
  .ci/verify-jenkins-credential-policy.sh
  docs/guides/CI.md
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

docs-pdf: remove v5.4 as it is archived
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tidb): align pull_unit_test_next_gen pod resources
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

ci(tidb): align pull_unit_test_next_gen pod resources (#4549)
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

enable timeout for new titan prowjob
  prow-jobs/tikv/titan/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(flaky-tests): reopen issues using build start time
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: none

fix(flaky-tests): reopen issues using build start time (#4551)
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: none

fix(flaky-tests): resolve build started time for reopen
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: none

fix(flaky-tests): resolve build started time for reopen (#4552)
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
