Repository pingcap/tidb: changes, and which Prow jobs are due for each by the changed paths.
All: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, canary-notify-when-compatibility-sections-changed, pull-notify-when-compatibility-sections-changed, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

ci/e2e-test:
  decorate: false

ci/common-test:
  decorate: false

ci/integration-common-test:
  decorate: false

ci/integration-ddl-test:
  decorate: false

ci/integration-jdbc-test:
  decorate: false

ci/integration-mysql-test:
  decorate: false

ci/sqllogic-test:
  decorate: false

ci/integration-copr-test:
  decorate: false

ci/tiflash-test:
  decorate: false

ci/build:
  decorate: false

ci/unit-test:
  decorate: false

canary-notify-when-compatibility-sections-changed:
  decorate: true
  optional: true
  spec:
    nodeSelector:
      kubernetes.io/arch: amd64
    containers:
    - name: check
      image: denoland/deno:1.35.1
      command:
      - bash
      - -exec
      args:
  ...

pull-notify-when-compatibility-sections-changed:
  decorate: true
  optional: true
  spec:
    nodeSelector:
      kubernetes.io/arch: amd64
    containers:
    - name: check
      image: denoland/deno:1.35.1
      command:
      - bash
      - -exec
      args:
  ...

idc-jenkins-ci-tidb/build:
  decorate: false

idc-jenkins-ci-tidb/check_dev:
  decorate: false

idc-jenkins-ci-tidb/check_dev_2:
  decorate: false

idc-jenkins-ci-tidb/mysql-test:
  decorate: false

idc-jenkins-ci-tidb/unit-test:
  decorate: false

auto-sync-go-mods:
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: golang:1.23
      env:
      - name: TARGET_FULL_REPO
        value: pingcap-inc/enterprise-plugin
      - name: GH_TOKEN
        valueFrom:
          secretKeyRef:
            key: token
            name: github-token
      command:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

wip/unit-test-ddlv1:
  decorate: false

ci/integration-python-orm-test:
  decorate: false

ci/integration-nodejs-test:
  decorate: false

wip/integration-br-test:
  decorate: false

wip/integration-lightning-test:
  decorate: false

wip/tiflash-integration-test:
  decorate: false

pull-build-next-gen:
  decorate: false

pull-unit-test-next-gen:
  decorate: false

pull-integration-realcluster-test-next-gen:
  decorate: false

pull-mysql-client-test-next-gen:
  decorate: false

pull-unit-test-ddlv1:
  labels:
    master: '0'
  decorate: false

pull-integration-e2e-test:
  labels:
    master: '0'
  decorate: false

pull-br-integration-test:
  labels:
    master: '0'
  decorate: false

pull-lightning-integration-test:
  labels:
    master: '0'
  decorate: false

pull-integration-ddl-test:
  labels:
    master: '0'
  decorate: false

pull-mysql-client-test:
  labels:
    master: '0'
  decorate: false

pull-error-log-review:
  decorate: true
  optional: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

ci: restore legacy toolchain and regression test compatibility
  DEPS.bzl
  go.mod
  go.sum
  pkg/server/conn_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

ci: restore legacy toolchain and regression test compatibility
  .bazelversion
  DEPS.bzl
  WORKSPACE
  build/patches/rules_go_bazel7.patch
  go.mod
  go.sum
  util/printer/printer.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

test: stabilize flaky TestGlobalMemArbitrator (#68700)
  pkg/executor/test/memtest/mem_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor, ddl: fix unparseable region split policy in SHOW CREATE TABLE
  pkg/ddl/table_split_test.go
  pkg/executor/show.go
  tests/integrationtest/r/executor/split_table.result
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: initialize stats lease for GC-blocking regression
  pkg/server/stat_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: make checkpoint cache failure injection deterministic
  br/pkg/streamhelper/advancer_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

build: preserve legacy Gazelle output with native patch support
  WORKSPACE
  build/patches/gazelle_native_patch.patch
  build/patches/io_etcd_go_etcd_raft_v3.patch
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

deps: align appdash module sources for plugin compatibility
  DEPS.bzl
  go.mod
  go.sum
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

test: keep index merge regressions within independent CI shards
  pkg/executor/test/indexmergereadtest/index_merge_reader_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: keep index merge regressions within independent CI shards
  pkg/executor/test/indexmergereadtest/BUILD.bazel
  pkg/executor/test/indexmergereadtest/index_merge_reader_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: cover change-user recovery when session cleanup reports errors
  pkg/server/conn_test.go
  pkg/server/driver_tidb.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

memory: refactor MemArbitrator initialization and reset logic
  pkg/executor/join/row_table_builder.go
  pkg/executor/test/memtest/mem_test.go
  pkg/session/BUILD.bazel
  pkg/session/session.go
  pkg/session/session_test.go
  pkg/util/memory/BUILD.bazel
  pkg/util/memory/arbitrator.go
  pkg/util/memory/arbitrator_test.go
  pkg/util/memory/global_arbitrator.go
  pkg/util/memory/heap_profile.go
  pkg/util/memory/heap_profile_test.go
  pkg/util/memory/tracker.go
  pkg/util/memory/tracker_test.go
  pkg/util/memory/utils.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: require SELECT privilege for the columns RETURNING reads
  pkg/planner/core/planbuilder.go
  pkg/privilege/privileges/privileges_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: count the RETURNING expressions in Insert.MemoryUsage
  pkg/planner/core/operator/physicalop/physical_common_plans.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: make the INSERT RETURNING retry test wait for the lock conflict
  pkg/executor/test/writetest/write_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: cover the prepared statement in the RETURNING privilege test
  pkg/privilege/privileges/privileges_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

statistics: report sync load failure regardless of result arrival order (#70316)
  pkg/statistics/handle/syncload/BUILD.bazel
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #71419
  tests/realtikvtest/txntest/shared_lock_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

build: announce legacy Go test shard support to Bazel 7
  build/patches/rules_go_bazel7.patch
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: match Go merge-join group boundaries
  rust/crates/tidb-executor/src/join.rs
  rust/crates/tidb-session/src/tests_explain_merge_join.rs
  rust/docs/planner/physicalop-package-parity-execplan.md
  rust/docs/planner/physicalop-source-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ranger: borrow conditions through range detachment
  rust/crates/tidb-planner/src/ranger/detacher.rs
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: check subquery privileges before executing them
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/planbuilder.go
  pkg/privilege/privileges/privileges_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: match Go typed group-key evaluation
  rust/crates/tidb-executor/src/vec_group_checker.rs
  rust/docs/planner/physicalop-package-parity-execplan.md
  rust/docs/planner/physicalop-source-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: simplify global memory arbitrator assertions in tests
  pkg/executor/test/memtest/mem_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: preserve Go group-key runtime semantics
  rust/crates/tidb-codec/src/error.rs
  rust/crates/tidb-codec/src/package.rs
  rust/crates/tidb-codec/tests/codec_package_source.rs
  rust/crates/tidb-executor/src/vec_group_checker.rs
  rust/docs/codec-divergence-inventory.md
  rust/docs/operations/util-codec-audit-execplan.md
  rust/docs/planner/physicalop-package-parity-execplan.md
  rust/docs/planner/physicalop-source-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

store: back off when TiKV ignores cop lock hints (#71446)
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/BUILD.bazel
  pkg/executor/lock_hint_test.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/coprocessor.go
  pkg/store/copr/coprocessor_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

test: repair distributed add-index DML hooks on the legacy branch
  pkg/ddl/backfilling_operators.go
  tests/realtikvtest/addindextest4/integration_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: serialize ingest backend publication with directory cleanup
  ddl/index.go
  ddl/ingest/backend_mgr.go
  ddl/ingest/mock.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/backend_cleanup_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: mark unused cleanup context for legacy logging
  ddl/ingest/backend_mgr.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: align typed constant grouping and reuse string keys
  rust/crates/tidb-datatype/src/datum/convert.rs
  rust/crates/tidb-executor/benches/pipeline.rs
  rust/crates/tidb-executor/src/shuffle.rs
  rust/crates/tidb-executor/src/stmt_context.rs
  rust/crates/tidb-executor/src/vec_group_checker.rs
  rust/crates/tidb-expr/src/constant.rs
  rust/crates/tidb-expr/src/context.rs
  rust/crates/tidb-expr/src/tests/constant_test_go_tables_source.rs
  rust/docs/planner/physicalop-package-parity-execplan.md
  rust/docs/planner/physicalop-source-inventory.md
  rust/docs/types-datatype-divergence-audit.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tests: align local FTS and optimizer backport regressions
  pkg/ddl/index.go
  pkg/expression/builtin_fts_test.go
  pkg/planner/core/fts_like_fallback_test.go
  pkg/planner/util/null_misc_test.go
  tests/integrationtest/r/cte.result
  tests/integrationtest/r/ddl/db_integration.result
  tests/integrationtest/r/executor/index_lookup_join.result
  tests/integrationtest/r/executor/index_lookup_pushdown.result
  tests/integrationtest/r/executor/partition/issues.result
  tests/integrationtest/r/executor/show.result
  tests/integrationtest/r/explain_cte.result
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
  tests/integrationtest/r/tpch.result
  tests/integrationtest/t/ddl/db_integration.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tests: tolerate floating-point rounding and fix callback lint
  pkg/planner/core/fts_like_fallback_test.go
  tests/integrationtest/r/expression/builtin.result
  tests/integrationtest/t/expression/builtin.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: match deferred and correlated grouping evaluation
  rust/crates/tidb-executor/src/vec_group_checker.rs
  rust/crates/tidb-expr/src/column.rs
  rust/crates/tidb-expr/src/constant.rs
  rust/docs/planner/physicalop-package-parity-execplan.md
  rust/docs/planner/physicalop-source-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tests: run concurrent sessions within a serial test
  pkg/planner/core/fts_like_fallback_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Path conditions:
  ci/e2e-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-ddl-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-jdbc-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/sqllogic-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-copr-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/tiflash-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/build: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  canary-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  pull-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  idc-jenkins-ci-tidb/build: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev_2: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  auto-sync-go-mods: any of: go\.mod$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/unit-test-ddlv1: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-python-orm-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-nodejs-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-br-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-lightning-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/tiflash-integration-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-ddlv1: any of: pkg/(ddl|meta)/.*
  pull-integration-e2e-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-br-integration-test: any of: (br|pkg/(ddl|domain|infoschema))/.*
  pull-lightning-integration-test: any of: (lightning|pkg/(domain|statistics|ddl|infoschema)|br/pkg/(checksum|httputil|membuf|pdutil|restore/split|storage))/.*
  pull-integration-ddl-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-scan-deps: any of: go\.mod
