Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

Update resource requests and limits for cronjob
  tekton/v1/triggers/triggers/env-prod2/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
Due: none

Update tag processing with better logging
  tekton/v1/triggers/triggers/env-prod2/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
Due: none

Remove datetime comparison function and simplify logic
  tekton/v1/triggers/triggers/env-prod2/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
Due: none

Update tag comparison logic for image sync cronjob
  tekton/v1/triggers/triggers/env-prod2/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
Due: none

feat(tekton/v1/triggers): add cronjob to sync pre-release image tags to hub (#4011)
  tekton/v1/triggers/triggers/env-prod2/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

disabled old ci job on ci.pingcap.net
  jenkins/jobs/ci/tiflash/ghpr_build_arm64.groovy
  jenkins/jobs/ci/tiflash/ghpr_build_release.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build_arm64.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build_release.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_integration_compatibility_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_integration_copr_test.groovy
Due: none

feat(tekton/v1/triggers): port trigger from tekton/v0 into prod2 env for dev-builds
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/shared-overlays.yaml
  tekton/v1/triggers/triggers/env-prod2/_/harbor/artifact-push-on-harbor.yaml.disable
  tekton/v1/triggers/triggers/env-prod2/_/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
  tekton/v1/triggers/triggers/env-prod2/_/harbor/image-push-on-harbor-for-pingkai.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

Deprecate old ci job on ci.pingcap.net (#4012)
  jenkins/jobs/ci/tiflash/ghpr_build_arm64.groovy
  jenkins/jobs/ci/tiflash/ghpr_build_release.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build_arm64.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build_release.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_integration_compatibility_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_integration_copr_test.groovy
Due: none

Remove fake-github shared overlays from prod2 triggers
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/shared-overlays.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

Add multi-arch image collect task
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/multi-arch-image-collect.yaml
Due: none

Add Harbor image push trigger binding
  tekton/v1/triggers/bindings/harbor-image-push.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
Due: none

feat(prow-jobs/pingcap-qe/ci): add periodic job for flaky test reporting on release-8.5 (#4010)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add publish fileserver from OCI artifact task
  tekton/v1/tasks/delivery/publish-fileserver-from-oci-artifact.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/multi-arch-image-collect.yaml
  tekton/v1/triggers/templates/_/collect-multi-arch-image.yaml
  tekton/v1/triggers/templates/_/push-oci-artifact-to-fileserver.yaml
  tekton/v1/triggers/templates/kustomization.yaml
Due: none

feat(tekton/v1/triggers): port trigger from tekton/v0 into prod2 env for dev-builds (#4013)
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
  tekton/v1/tasks/delivery/publish-fileserver-from-oci-artifact.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/multi-arch-image-collect.yaml
  tekton/v1/triggers/bindings/harbor-image-push.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/templates/_/collect-multi-arch-image.yaml
  tekton/v1/triggers/templates/_/push-oci-artifact-to-fileserver.yaml
  tekton/v1/triggers/templates/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-prod2/_/harbor/artifact-push-on-harbor.yaml.disable
  tekton/v1/triggers/triggers/env-prod2/_/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
  tekton/v1/triggers/triggers/env-prod2/_/harbor/image-push-on-harbor-for-pingkai.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

add codecov-token for uploading code coverage report to codecov.io
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update latest-postsubmits.yaml
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update latest-postsubmits.yaml for tikv/tikv code coverage test (#4022)
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v1): update image reference in sync cronjob
  tekton/v1/triggers/triggers/env-prod2/_/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
Due: none

Remove unused harbor cronjob resource from prod2 kustomization
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

fix(tekton/v1): fix image sync cronjob (#4023)
  tekton/v1/triggers/triggers/env-prod2/_/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

feat(tekton/v1): add git insteadOf configuration to speed up cloning
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
Due: none

chore(tekton/v1): address review comments
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
Due: none

feat(tekton/v1): add git insteadOf configuration to speed up cloning (#4024)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
Due: none

fix(tekton/v1): fix git CDN service port
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
Due: none

fix(tekton/v1): add docker config volume to fetch-sync cronjob
  tekton/v1/triggers/triggers/env-prod2/_/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
Due: none

refactor(tekton/v1/trggers/triggers/env-prod2): add ksy-classic-build-params to prod2 trigger bindings
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-prod2/ctl/artifact-push-on-harbor.yaml
Due: none

chore(tekton/v1/tasks): remove hub-mig domain replacement from build scripts
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
Due: none

refactor(tekton/v1/trggers/triggers/env-prod2): add ksy-classic-build-params to prod2 trigger bindings (#4025)
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-prod2/ctl/artifact-push-on-harbor.yaml
Due: none

feat(pingcap/tidb): add merged-build postsubmit job
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): add merged-build postsubmit job (#4026)
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(tekton/v1/triggers): move triggers from prod2 to GCP for linux builds
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-failpoint.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-on-fips-branches.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

refactor(tekton/v1/triggers): move triggers from prod2 to GCP for linux builds (#4027)
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-failpoint.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-on-fips-branches.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

refactor(tekton/v1): update artifact-push-on-harbor triggers for prod2 and gcp env
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/ctl/artifact-push-on-harbor.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/ctl/artifact-push-on-harbor.yaml
Due: none

refactor(tekton/v1): update artifact-push-on-harbor triggers for prod2 and gcp env (#4028)
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/ctl/artifact-push-on-harbor.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/ctl/artifact-push-on-harbor.yaml
Due: none

fix(pingcap/tidb): update unit test pipeline to remove coverage upload step
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Update unit test pipeline to remove codecov upload step
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tidb): add skip_submodules to `merged-build` job
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/tidb): add skip_submodules to `merged-build` job (#4030)
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/tidb): rename merged-build job name to merged-tidb-build
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
