Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat: add daily br it jobs on lts branch
  jobs/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
Due: none

feat: add periodic BR integration test jobs for multiple TiDB release branches
  prow-jobs/pingcap/tidb/release-6.1-periodics.yaml
  prow-jobs/pingcap/tidb/release-6.5-periodics.yaml
  prow-jobs/pingcap/tidb/release-7.1-periodics.yaml
  prow-jobs/pingcap/tidb/release-7.5-periodics.yaml
  prow-jobs/pingcap/tidb/release-8.1-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add periodic jobs for multiple TiDB release branches
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: update pipeline name
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat(br): add daily br it pipeline on lts branch (#3423)
  jobs/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-6.1-periodics.yaml
  prow-jobs/pingcap/tidb/release-6.5-periodics.yaml
  prow-jobs/pingcap/tidb/release-7.1-periodics.yaml
  prow-jobs/pingcap/tidb/release-7.5-periodics.yaml
  prow-jobs/pingcap/tidb/release-8.1-periodics.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(br): remove CODECOV_TOKEN and timeout options from integration test stages
  pipelines/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(br): remove CODECOV_TOKEN and timeout options on test stages of periodics jobs (#3424)
  pipelines/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat(br): add failure notification for daily BR integration tests
  pipelines/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(ticdc): reduce CPU limit for MySQL integration light pod from 4 to 2
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
Due: none

chore(ticdc): update presubmit job configurations to include skip_if_only_changed and modify triggers
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add periodic CI data crawler job for insights
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ci/OWNERS
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add periodic CI data crawler job for insights (#3425)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ci/OWNERS
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ticdc): update presubmit job configurations to modify triggers (#3426)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: remove wip on context
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tiflow): remove wip on context of mysql it pipeline (#3427)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update periodic-crawl-ci-run-data job to run hourly with network perms
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): update periodic-crawl-ci-run-data job to run hourly with network perms (#3428)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Fix DSN parameter format in prow-jobs.ts crawler
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ticdc): Use high-spec CPUs to shorten build compilation time
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
Due: pull-verify-jenkins-pipelines

chore(ticdc): increase CPU limit for MySQL integration light pod from 2 to 4
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
Due: none

fix(prow-jobs/tidb): update presubmit job name for release 9.0-beta
  prow-jobs/pingcap/tidb/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/docs): add trigger for release-cloud branch in presubmits configuration
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/docs): add trigger for release-cloud branch in presubmits configuration (#3429)
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pipelines): update download script for enterprise tools in syncdiff integration tests
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines): standardize download script label for enterprise tools in syncdiff integration tests
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(tiflow): update container images and resource requests for integration tests
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_verify.yaml
Due: none

chore(tiflow): remove report container from integration test configurations
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_verify.yaml
Due: none

chore(tiflow): remove resource requests from integration test configurations
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_engine_integration_test.yaml
Due: none

chore(tiflow): further simplify resource configurations for integration tests
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
Due: none

chore(tiflow): update container images and resource requests for integration tests (#3431)
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_verify.yaml
Due: none

fix(pipelines): update download script comment for enterprise tools in syncdiff integration tests
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update .gitignore to include cursor files
  .gitignore
Due: none

feat(pipelines): enhance proxy cache upload logic with validation and conditional checks
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/merged_build.groovy
Due: pull-verify-jenkins-pipelines

feat(pipelines): Add proxy cache upload logic on master merged-build pipeline (#3432)
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/merged_build.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/artifacts): add ticdc package and image for v9.0.0 and above
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

feat(scripts/flow/rc/): add support for pingcap/ticdc repository
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Due: none

Support beta release branch naming
  scripts/flow/ga/create-patch-release-branches.ts
  scripts/flow/ga/create_github_release.ts
Due: none

feat(prow-jobs): add periodic job to crawl Git commits data
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add periodic job to crawl Git commits data (#3435)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): remove deprecated release-6.1 periodic job configuration
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-6.1-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
