Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

feat(pipelines): restructure tiflash pull unit test pipeline
  jobs/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test/pod-test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(jobs/pingcap/tiflash): fix replay pod inference and restructure tiflash pull_unit_test (#5071)
  .ci/replay-jenkins-build.sh
  jobs/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test/pod-test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(libraries): create git askpass helper in shared workspace
  libraries/tipipeline/vars/prow.groovy
Due: none

refactor(libraries): declare askpass path as final before try
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(libraries): create git askpass helper in shared workspace (#5072)
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(pipelines): correct pod template path in tiflash unit test
  pipelines/pingcap/tiflash/latest/pull_unit_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate pingcap-qe/tidb-test release-8.5 jobs to target jenkins
  prow-jobs/pingcap-qe/tidb-test/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-qe/tidb-test release-6.5 jobs to target jenkins
  prow-jobs/pingcap-qe/tidb-test/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-qe/tidb-test release-7.1 jobs to target jenkins
  prow-jobs/pingcap-qe/tidb-test/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/pd release-7.1 job to target jenkins
  prow-jobs/tikv/pd/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/pd release-7.5 job to target jenkins
  prow-jobs/tikv/pd/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/pd release-8.1 job to target jenkins
  prow-jobs/tikv/pd/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/pd release-8.5 job to target jenkins
  prow-jobs/tikv/pd/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/pd release-9.0-beta job to target jenkins
  prow-jobs/tikv/pd/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-inc/enterprise-extensions pr-verify to target jenkins
  prow-jobs/pingcap-inc/enterprise-extensions/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(.ci): fall back to buildWithParameters when triggering paramless jobs
  .ci/verify-jenkins-migration.sh
Due: none

fix(.ci): fall back to buildWithParameters when triggering paramless jobs (#5082)
  .ci/verify-jenkins-migration.sh
Due: none

pipelines(tiflash): drop ephemeral-storage from unit-test pods and ccache to workspace
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipelines(tiflash): drop ephemeral-storage from build and integration pods
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-build.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
Due: none

pipelines(tidb): drop ephemeral-storage from bazel pod templates
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test_ddlv1.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check2.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: none

pipelines(tidb): move unit-test repository cache to workspace volume
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines/tiflash): drop ephemeral-storage from build and integration pods (#5086)
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-build.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
Due: none

fix(prow): remove replay pipeline concurrency limit
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow): remove replay pipeline concurrency limit (#5094)
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines/tiflash): drop ephemeral-storage from unit-test pods and move ccache to workspace (#5085)
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines): drop ephemeral-storage from bazel pod templates (#5087)
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test_ddlv1.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check2.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: none

chore(pipelines/tidb): move unit-test repository cache to workspace volume (#5088)
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb-test): fix mysql_test stash unstash nesting and test.sh args
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb-test): fix mysql_test stash unstash nesting and test.sh args (#5095)
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Revert "ci(prow): roll back tidb/ticdc/tiflow latest-branch jenkins-agent job…"
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-qe/tidb-test release-8.5 jobs to target jenkins (#5073)
  prow-jobs/pingcap-qe/tidb-test/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-qe/tidb-test release-6.5 jobs to target jenkins (#5074)
  prow-jobs/pingcap-qe/tidb-test/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-qe/tidb-test release-7.1 jobs to target jenkins (#5075)
  prow-jobs/pingcap-qe/tidb-test/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap-inc/enterprise-extensions pr-verify to target jenkins (#5081)
  prow-jobs/pingcap-inc/enterprise-extensions/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines/enterprise-extensions): drop bazel-out-data PVC from pr-verify pod template
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
Due: none

chore(prow-jobs): isolate tiflash pull unit test migration (#5062)
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines/enterprise-extensions): drop bazel-out-data PVC from pr-verify pod template (#5098)
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
Due: none
