Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

Apply suggestion from @wuhuizuo
  scripts/flow/build/versioning-strategy.test.ts
Due: none

fix(scripts): keep release.<n> version unchanged in versioning strategy (#4373)
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Due: none

chore(pipeline) migrate tidb pull check and check2 to gcp and moidfy codecov upload (#4372)
  libraries/tipipeline/vars/prow.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_check.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_build.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(pipeline) migrate tidb pull unit test and pull integration test to GCP
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_integration_br_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_mysql_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipeline) migrate tidb pull unit test and pull integration test to GCP (#4374)
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_integration_br_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_mysql_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipeline) migrate tidb pull integration e2e and pull_unit_test_ddlv1 to gcp
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipeline) enable
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipeline) migrate tidb pull integration e2e and pull_unit_test_ddlv1 to gcp (#4375)
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test_ddlv1.groovy
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflow): drop hard-coded go toolchain in release-8.5 ghpr_verify
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

update go1.25.8 toolchain pin for tiflow/ticdc unit jobs
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update go1.25.8 toolchain pin for tiflow/ticdc unit jobs (#4376)
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflow): keep latest gcp migration and rollback release-8.5
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflow): remove release-8.5 cdc build pod file
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_build.yaml
Due: none

ci(prow): route tiflow latest postsubmit unit test to gcp
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(yaml) tidb/release-8.1 move utils sidecar from volumes to containers in ghpr_check2 pod
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
Due: none

fix(yaml) tidb/release-8.1 move utils sidecar from volumes to containers in ghpr_check2 pod (#4378)
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
Due: none

Migrate prow kubernetes jobs from `gcp-prow-ksyun` to `default` cluster (#4340)
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
  prow-jobs/tikv/pd/release-6.1-presubmits.yaml
  prow-jobs/tikv/raft-engine/presubmits.yaml
  prow-jobs/tikv/rust-rocksdb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(Jenkins yaml) move utils sidecar from volumes to containers in ghpr_check2 pod
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.2/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.3/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.2/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.0/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-8.2/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.3/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check2.yaml
Due: none

fix(Jenkins yaml) move utils sidecar from volumes to containers in ghpr_check2 pod (#4379)
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.2/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.3/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.2/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.0/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-8.2/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.3/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check2.yaml
Due: none

chore(pipeline) next-gen migrate to GCP
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/main-pod.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(pipeline) remove dead addindextest4 retry branch in next-gen realcluster job
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipeline) next-gen migrate to GCP (#4377)
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/main-pod.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflow): migrate latest Jenkins jobs to GCP (#4367)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflow): migrate release-8.5 ghpr_verify to gcp
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

update go toolchain pin for tiflow/ticdc unit jobs
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflow): migrate release-8.5 ghpr_verify to gcp (#4380)
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

feat(CI) update tikv pull ut job image
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-9.0-beta/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

escape the dollar sign ($HOME),
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-9.0-beta/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(CI) update tikv pull ut job CI image (#4382)
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-9.0-beta/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(CI) update pull-clippy-linux job base image
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(CI) update pull-clippy-linux job base image (#4383)
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines): make tiflash release-8.5 ut cache prepare idempotent
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): make tiflash release-8.5 ut cache prepare idempotent (#4384)
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(build-common): increase tikv build timeout to 300 minutes
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

ci(next-gen): enable cloud-engine branch for cse presubmits
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): support cloud-engine branch in ng push trigger
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

ci(next-gen): add cloud-engine branch support for cse CI/CD (#4386)
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): support nextgen calendar-style tags
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
  tekton/v0/tasks/pingcap-git-clone-ext.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/tasks/pingcap-git-clone-ext.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

ci(tekton): align nextgen image tags and profile alias
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none

ci(tekton): drop extra nextgen delivery filter
  tekton/v1/triggers/triggers/env-gcp/_/notify/notified-successful-image-delivery-tidbx.yaml
Due: none
