Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

chore: enable trigger for new tikv ut on lts branch (#2920)
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-tikv-release-6.5-presubmits.yaml
  prow-jobs/tikv-tikv-release-7.1-presubmits.yaml
  prow-jobs/tikv-tikv-release-7.5-presubmits.yaml
  prow-jobs/tikv-tikv-release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: revert to use llvm13 image on master
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
Due: none

chore(tiflash): revert to use llvm13 image on master (#2921)
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
Due: none

chore: reduce cpu request to 6 core on tikv ut
  pipelines/tikv/tikv/release-6.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
Due: none

chore(tikv): reduce cpu request to 6 core on tikv ut (#2922)
  pipelines/tikv/tikv/release-6.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
Due: none

fix(old-cd): workaround crage fetching failure for git type crates
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix(old-cd): workaround cargo fetching failure for git type crates (#2923)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix(scripts/pingcap): fix regexp in file add-placeholder-version-in-readme.ts
  scripts/ops/statics-repo-code-lines.ts
  scripts/pingcap/add-placeholder-version-in-readme.ts
Due: none

fix(scripts/pingcap): fix regexp in file add-placeholder-version-in-readme.ts (#2924)
  scripts/ops/statics-repo-code-lines.ts
  scripts/pingcap/add-placeholder-version-in-readme.ts
Due: none

chore: set retry to 5 on new ut on lts branch
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update build pdf script
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Due: pull-verify-jenkins-pipelines

fix(docs-tidb-operator): update build pdf script (#2926)
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Due: pull-verify-jenkins-pipelines

chore: enable pdf upload and pipeline context report
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  prow-jobs/pingcap-docs-tidb-operator-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: print version info
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Due: pull-verify-jenkins-pipelines

chore(docs-tidb-operator): enable pdf upload and pipeline context report (#2927)
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  prow-jobs/pingcap-docs-tidb-operator-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

use failpoint tidb-server instead
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Update dm_ghpr_compatibility_test.groovy
  jenkins/pipelines/ci/ticdc/dm_ghpr_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

chore(dm): use target branch to downloda tidb binary (#2929)
  jenkins/pipelines/ci/ticdc/dm_ghpr_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

fix(br): use failpoint tidb-server instead (#2928)
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add scripts for parse jenkins build log
  scripts/ops/parse-jenkins-build-log/main.py
  scripts/ops/parse-jenkins-build-log/requirements.txt
Due: none

chore: update comment
  scripts/ops/parse-jenkins-build-log/main.py
Due: none

feat(scripts): add scripts parse jenkins build log (#2930)
  scripts/ops/parse-jenkins-build-log/main.py
  scripts/ops/parse-jenkins-build-log/requirements.txt
Due: none

chore: bump nightly version to v8.2.0-alpha (#2898)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Due: pull-verify-jenkins-pipelines

increase ticdc pulsar integration test resource
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
Due: none

increase ticdc pulsar integration test resource (#2932)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
Due: none

chore: update dind image version
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
Due: none

increase ticdc kafka integration test resource
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

increase ticdc kafka integration test resource (#2934)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

use failpoint tidb-server instead
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(scripts/pingcap): fix script of adding version placeholder
  scripts/pingcap/add-placeholder-version-in-readme.ts
Due: none

fix(br): use failpoint tidb-server instead (#2936)
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update tiflash new merged ut
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix script
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: enable job
  jobs/pingcap/tiflash/latest/merged_unit_test.groovy
Due: none

fix
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(scripts/pingcap): fix script of adding version placeholder (#2937)
  scripts/pingcap/add-placeholder-version-in-readme.ts
Due: none

chore(tiflash): update tiflash new merged ut (#2938)
  jobs/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
