Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

chore: upgrade tidb CI image for go1.25
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: pull-verify-jenkins-pipelines

chore: upgrade tidb CI image for go1.25
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: none

feat(tekton/v1): update binary and image delivery conditions
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
Due: none

feat(tekton/v1): update binary and image delivery conditions (#4000)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
Due: none

fix(tekton/v1/triggers): fix nodeSelector to use amd64 for triggertemplate `build-ctl-single-platform`
  tekton/v1/triggers/templates/pingcap/ctl/build-component-single-platform.yaml
Due: none

refactor(tekton/v1/triggers): update trigger for ctl component to new registries
  tekton/v1/triggers/triggers/env-prod2/ctl/artifact-push-on-harbor.yaml
Due: none

Add debug output for event data in pingcap-deliver-binaries task
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
Due: none

docs(tekton): move triggers README to v1 and update structure
  tekton/v1/triggers/README.md
Due: none

Update artifact push filter for prod2 environment
  tekton/v1/triggers/triggers/env-prod2/ctl/artifact-push-on-harbor.yaml
Due: none

refactor(tekton/v1/triggers): update trigger for ctl component to new registries (#4001)
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
  tekton/v1/triggers/README.md
  tekton/v1/triggers/triggers/env-prod2/ctl/artifact-push-on-harbor.yaml
Due: none

refactor(tekton/v1): migrate build triggers from prod to gcp for tidb-operator and advance-statefulset
  .ci/update-tekton-kustomizations.sh
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

refactor(tekton/v1): migrate build triggers from prod to gcp for tidb-operator and advance-statefulset (#4002)
  .ci/update-tekton-kustomizations.sh
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

add a new postsubmit task for tikv to report the code coverage of the tikv repository
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/tikv/latest-postsubmits-coverage.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

add a new postsubmit task for tikv to report the code coverage of the tikv repository
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

add a new postsubmit task for tikv to report the code coverage of the tikv repository
  prow-jobs/tikv/tikv/latest-postsubmits-coverage.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v1/triggers): update resources for gcp cluster
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-push.yaml
Due: none

Increase builder resources for TiDB Operator pipeline
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-push.yaml
Due: none

fix(tekton/v1/triggers): update resources for gcp cluster (#4005)
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb-operator/git-push.yaml
Due: none

ticdc: modify kafka resources
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

fix: prioritize exact suite matches over parent suite matches in flaky test owner resolution
  tools/reporters/ci/flaky-tests/core/OwnerResolver.test.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/core/types.ts
Due: none

test: add test case for exact suite precedence with priority override
  tools/reporters/ci/flaky-tests/core/OwnerResolver.test.ts
Due: none

refactor: use constant map for level priorities and add documentation
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/core/types.ts
Due: none

fix: add repo-branch to LEVEL_PRIORITY constant
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
Due: none

ticdc: modify kafka resources (#4007)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

Update import path for assertEquals
  tools/reporters/ci/flaky-tests/core/OwnerResolver.test.ts
Due: none

fix: prioritize exact suite matches over parent suite matches (#4008)
  tools/reporters/ci/flaky-tests/core/OwnerResolver.test.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/core/types.ts
Due: none

add a new postsubmit task for tikv to report the code coverage of the tikv repository
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

add a new postsubmit task for tikv to report the code coverage of the tikv repository
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add a new postsubmit task for tikv to report the code coverage of the tikv repository (#4003)
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/tikv/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v0/triggers/triggers): fix kustomization
  tekton/v0/triggers/triggers/kustomization.yaml
Due: none

fix(tekton/v0/triggers/triggers): fix kustomization (#4009)
  tekton/v0/triggers/triggers/kustomization.yaml
Due: none

fix(tekton/v0): fix typo in apiVersion field
  tekton/v0/triggers/triggers/_/harbor/image-push-on-harbor-for-pingkai.yaml
Due: none

feat(prow-jobs/pingcap-qe/ci): add periodic job for flaky test reporting on release-8.5
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tekton/v1/triggers): add cronjob to sync pre-release image tags to hub
  tekton/v1/triggers/triggers/env-prod2/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

Update cronjob name and source repo prefix for Zot migration
  tekton/v1/triggers/triggers/env-prod2/harbor/cronjobs/fetch-sync-pre-ver-image-tags-to-hub.yaml
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
