Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

ci(tekton): allow customize repo in trigger filters (#4309)
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

ci(prow): remove internal registry dependencies for tiflash-scripts pull-test
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): prefer native custom integration script for tiflash-scripts
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton/v1): update repository name mapping in fake GitHub triggers
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

docs(tekton): add comprehensive README for Tekton directory
  tekton/README.md
Due: none

docs(tekton): add README with v0 deprecation notice
  tekton/README.md
Due: none

docs(tekton): add README with v0 deprecation notice and update resource config mapping (#4310)
  tekton/README.md
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

pipeline(tiflow): add ci for syncdiff in release-8.5 (#4299)
  jobs/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

feat(skills): load Jenkins credentials from .env file by default
  .agents/skills/test-jenkins-pipeline-changes-in-pr-by-replaying/SKILL.md
Due: none

ci(tiflash): restructure license check stage in pipelines
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): fix periodic job name format
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflash): restructure license check stage in pipelines (#4311)
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.4/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): fix periodic job name format (#4312)
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines/tidb): symlink tiflash binary
  pipelines/pingcap/tidb/latest/merged_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap/tiflow/latest-presubmits-wip.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): update tiflow wip presubmits to use default cluster
  prow-jobs/pingcap/tiflow/latest-presubmits-wip.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): update tiflow wip presubmits to use default cluster (#4328)
  prow-jobs/pingcap/tiflow/latest-presubmits-wip.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): refresh tikv migration pod images
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
Due: none

fix(pipelines/tidb): handle missing pulls in merged tiflash
  pipelines/pingcap/tidb/latest/merged_tiflash_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

hub registry: migrate tikv/migration pipeline images off hub.pingcap.net (#4327)
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
Due: none

chore(pipelines): remove upload stage from tidb release branch builds
  pipelines/pingcap/tidb/release-6.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_build.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): remove timeout from stage 'checkout&prepare' of lightning integration tests
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.0/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): remove empty post block in tidb integration test pipeline
  pipelines/pingcap/tidb/latest/periodics_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tiflow): restructure unit test jobs in verify pipeline
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits-wip.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflow): enable native Prow pull-build/check/unit-test-cdc (#4329)
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits-wip.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): refactor tiflash-scripts pull-test to native ops-ti
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): make tiflash-scripts pull-test optional for trial
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): drop extra setup from tiflash-scripts pull-test
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): remove unnecessary chmod for oci script
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflow): archive cdc junit reports in prow presubmit
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): move standalone check/build/unit-test jobs before integration tests
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): add unit test presubmit for ticdc
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): switch tiflash-scripts download domain to .com
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(tiflow): migrate build, check and cdc unit test to standalone prow jobs and archive JUnit reports (#4331)
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tekton): extend branch regex for tikv darwin builds
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
Due: none

Revert "ci(tekton): extend branch regex for tikv darwin builds"
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community-darwin.yaml
Due: none

ci(tekton): expand branch pattern for release builds
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community-linux.yaml
Due: none
