Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

ci(flaky-tests): add issue comment toggle
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/main.ts
Due: none

ci(prow): enable issue comments for flaky report
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(flaky-tests): set issue type and fix note
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/IssueUtils.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: none

ci(flaky-tests): address review feedback
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/IssueUtils.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/main.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(flaky-tests): sync GitHub issues and update report (#4296)
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/IssueUtils.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tools): update flaky test issue subscription instructions
  tools/reporters/ci/flaky-tests/core/IssueUtils.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: none

chore(lib) remove rawBuild function only check env.BUILD_USER
  libraries/tipipeline/vars/pod_label.groovy
Due: none

Add CI for sync-diff-inspector in release 8.5
  jobs/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv/migration): revert pull-unit-test changes from oci migration pr
  pipelines/tikv/migration/latest/pull_unit_test.groovy
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv/migration): remove pull_unit_test job definitions
  jobs/tikv/migration/latest/pull_unit_test.groovy
  pipelines/tikv/migration/latest/pod-pull_unit_test.yaml
  pipelines/tikv/migration/latest/pull_unit_test.groovy
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(tikv/migration): keep pull_unit_test stanza unchanged
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tikv/migration): remove pull_unit_test job (#4301)
  jobs/tikv/migration/latest/pull_unit_test.groovy
  pipelines/tikv/migration/latest/pod-pull_unit_test.yaml
  pipelines/tikv/migration/latest/pull_unit_test.groovy
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv/migration): point OCI_ARTIFACT_HOST to hub-zot mirror
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tikv/migration): cover prepare_test_binaries artifacts in OCI step
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(tikv/migration): migrate CI artifacts from fileserver to OCI registry (#4272)
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
  prow-jobs/tikv/migration/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pipelines(docs-cn): remove fileserver.pingcap.net references (#4269)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fileserver: remove unused fileserver.pingcap.net reference from docs-tidb-operator pipeline (#4270)
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): fix duplicate environment block in tiproxy pipeline
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fileserver: migrate pingcap/tiproxy artifacts to OCI registry (#4273)
  pipelines/pingcap/tiproxy/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_mysql_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(ci): add emojis to replay script log messages
  .ci/replay-jenkins-build.sh
Due: none

Update scripts/artifacts/upload_pingcap_oci_artifact_from_github_release.sh
  scripts/artifacts/upload_pingcap_oci_artifact_from_github_release.sh
Due: none

fix(job): support withCiLabels in pod yaml inlining
  .ci/replay-jenkins-build.sh
Due: none

fix(job) refine check
  .ci/replay-jenkins-build.sh
Due: none

fix(job): improve readability
  .ci/replay-jenkins-build.sh
Due: none

ci(ticdc): mark v7.5.0 and v8.1.0 jobs optional
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tiflash-scripts ghpr test to native presubmit
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestions from code review
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(job): support withCiLabels in pod yaml inlining (#4303)
  .ci/replay-jenkins-build.sh
Due: none

chore(pipelines): Update upstream branch and component tags for TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): add v7.5.0 and v8.1.0 integration variants (#4304)
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1/pod-test.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Update release-1.x-presubmits.yaml for e2e-across-k8s job
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pipelines(qa): migrate fileserver.pingcap.net artifacts to OCI registry (#4302)
  jenkins/pipelines/qa_release_test.groovy
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Update release-1.x-presubmits.yaml for e2e-across-k8s job (#4308)
  prow-jobs/pingcap/tidb-operator/release-1.x-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): allow customize repo in trigger filters
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
