Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat: print all check failed images
  scripts/ops/release-check-version/main.py
Due: none

feat: split tiflow pipelines for branch release-6.5-20241101-v6.5.7
  jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7/aa_folder.groovy
  jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_cdc_integration_test.groovy
  jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_dm_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add two presubmit for branch release-6.5-20241101-v6.5.7
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: disable fail fast for image check (#3227)
  scripts/ops/release-check-version/main.py
Due: none

fix(jobs): fix folder DSLs
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix(jobs): fix folder DSLs (#3229)
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix: correct folder lib jobdsl error
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix(jobdsl): fix jobdsl error for folder lib git (#3230)
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix: correct folder lib jobdsl error (#3231)
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

chore: update image to go1.23
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: update image to go1.23 (#3232)
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update periodics.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "Update check-tiup.ts (#3224)"
  scripts/flow/rc/check-tiup.ts
Due: none

Revert "Update check-tiup.ts" (#3234)
  scripts/flow/rc/check-tiup.ts
Due: none

Update periodics.yaml (#3233)
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(jenkins): remove the deprecated CI jobs
  jenkins/jobs/ci2/tikv/importer/ghpr_build.groovy
  jenkins/jobs/ci2/tikv/importer/ghpr_test.groovy
  jenkins/pipelines/ci/importer/importer_ghpr_build.groovy
  jenkins/pipelines/ci/importer/importer_ghpr_test.groovy
  jenkins/pipelines/ci/tidb-and-tools/tidb_and_tools_e2e_test.groovy
  jenkins/pipelines/nightly/tidb/tidb_nightly_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: add python-orm trigger
  prow-jobs/pingcap/tidb/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add python-orm trigger
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add python-orm trigger for 8.5 (#3236)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(jenkins): remove the deprecated CI jobs (#3235)
  jenkins/jobs/ci2/tikv/importer/ghpr_build.groovy
  jenkins/jobs/ci2/tikv/importer/ghpr_test.groovy
  jenkins/pipelines/ci/importer/importer_ghpr_build.groovy
  jenkins/pipelines/ci/importer/importer_ghpr_test.groovy
  jenkins/pipelines/ci/tidb-and-tools/tidb_and_tools_e2e_test.groovy
  jenkins/pipelines/nightly/tidb/tidb_nightly_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflash): use hub.pingcap.net/tiflash/tiflash-llvm-base:rocky8-llvm-17.0. as build image
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
Due: none

fix(scripts/artifacts): fix check-tiup.sh
  scripts/artifacts/check-tiup.sh
Due: none

feat: enable trigger for tidb pull-integration-e2e-test
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): enable trigger for tidb pull-integration-e2e-test (#3239)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts/flow/ga): update repo for creating github release
  scripts/flow/ga/create_github_release.ts
Due: none

Revert "Update tag-rc2ga-on-repos.sh (#3222)"
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

fix(scripts/artifacts): fix tag-rc2ga-on-repos.sh file
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

fix(scripts): fix tag-rc2ga-on-repos.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

fix(scripts/artifacts): fix check-tiup.sh (#3238)
  scripts/artifacts/check-tiup.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/ga/create_github_release.ts
Due: none

fix: Compatible with the Go version requirements on the base branch.
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/flow/ga): add GA flow script for create patch release branches on some repos
  scripts/flow/ga/create-patch-release-branches.ts
Due: none

fix(tiflow): compatible with the Go version requirements on the base branch. (#3240)
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/flow/ga): add GA flow script for create patch release branches on some repos (#3241)
  scripts/flow/ga/create-patch-release-branches.ts
Due: none

feat: add tidb-binlog pipeline for qa release-test
  jobs/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tidb-binlog pipeline for qa release-test
  pipelines/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  scripts/pingcap/tidb-binlog/download_pingcap_artifact.sh
Due: pull-verify-jenkins-pipelines
