Repository pingcap/tidb: changes, and which Prow jobs are due for each by the changed paths.
All: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, canary-notify-when-compatibility-sections-changed, pull-notify-when-compatibility-sections-changed, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

Path conditions:
  ci/e2e-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-ddl-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-jdbc-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/sqllogic-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-copr-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/tiflash-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/build: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  canary-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  pull-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  idc-jenkins-ci-tidb/build: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev_2: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  auto-sync-go-mods: any of: go\.mod$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/unit-test-ddlv1: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-python-orm-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-nodejs-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-br-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-lightning-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/tiflash-integration-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-ddlv1: any of: pkg/(ddl|meta)/.*
  pull-integration-e2e-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-br-integration-test: any of: (br|pkg/(ddl|domain|infoschema))/.*
  pull-lightning-integration-test: any of: (lightning|pkg/(domain|statistics|ddl|infoschema)|br/pkg/(checksum|httputil|membuf|pdutil|restore/split|storage))/.*
  pull-integration-ddl-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-scan-deps: any of: go\.mod

u
  pkg/distsql/select_result.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

u
  pkg/executor/distsql.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

add tests
  pkg/executor/distsql.go
  pkg/executor/distsql_test.go
  pkg/store/copr/copr_test/coprocessor_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix compile error
  pkg/executor/distsql.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix deadlock issue
  pkg/distsql/request_builder.go
  pkg/executor/distsql.go
  pkg/executor/distsql_test.go
  pkg/kv/kv.go
  pkg/store/copr/copr_test/coprocessor_test.go
  pkg/store/copr/coprocessor.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix unstable TestResourceGroupRunawayFlood
  pkg/resourcegroup/tests/resource_group_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

update test
  pkg/executor/distsql_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

u
  pkg/distsql/request_builder.go
  pkg/executor/distsql.go
  pkg/kv/kv.go
  pkg/store/copr/coprocessor.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

update bazel
  pkg/store/copr/copr_test/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

merge some same code for two fetchHandles functions
  pkg/executor/distsql.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

refactor
  pkg/distsql/select_result.go
  pkg/executor/distsql.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: fix a performance regression on IndexLookUp queries with small limit (#68605)
  pkg/executor/distsql.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

bazel prepare
  br/pkg/restore/log_client/migration.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "build: update bazel generated metadata"
  br/pkg/task/BUILD.bazel
  br/pkg/task/operator/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Apply suggestions from code review
  pkg/statistics/handle/handletest/initstats/init_stats_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

lightning: disable PD router client for local imports (#69330)
  br/pkg/task/BUILD.bazel
  br/pkg/task/operator/BUILD.bazel
  lightning/pkg/importer/BUILD.bazel
  lightning/pkg/importer/import.go
  pkg/ingestor/ingestctrl/local.go
  pkg/ingestor/ingestctrl/local_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

test: stabilize flaky TestTiFlashReplica (#68801)
  pkg/server/handler/tests/BUILD.bazel
  pkg/server/handler/tests/http_handler_serial_test.go
  pkg/server/handler/tests/http_handler_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

planner: allow matching external ID for nextgen import
  pkg/planner/core/planbuilder.go
  pkg/planner/core/planbuilder_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tidb: allow standby internal read-only startup checks
  pkg/domain/pkdb_repl/pkdb_standby.go
  pkg/domain/schema_checker.go
  pkg/domain/schema_checker_test.go
  pkg/sessiontxn/isolation/base.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

build: update release-8.5 dependency fixed versions
  DEPS.bzl
  cmd/mirror/mirror.go
  go.mod
  go.sum
  pkg/parser/go.mod
  pkg/parser/go.sum
  pkg/parser/terror/terror_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

test: stabilize flaky TestTLSBasic (#68800)
  pkg/server/tests/tls/tls_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #69338
  pkg/server/conn_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: forbid the creation of mlog for unsupported column type (#68997)
  pkg/ddl/executor.go
  pkg/ddl/materialized_view.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/executor/test/ddl/mview_log_ddl_test.go
  pkg/executor/test/writetest/mview_log_write_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tidb: use min resolved ts for standby reads
  pkg/executor/stale_txn_test.go
  pkg/planner/core/planbuilder.go
  pkg/sessiontxn/staleread/processor.go
  pkg/sessiontxn/staleread/processor_test.go
  pkg/sessiontxn/staleread/util.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tidb: retry standby privilege cache bootstrap
  pkg/domain/domain.go
  pkg/domain/pkdb_privilege_test.go
  pkg/executor/stale_txn_test.go
  pkg/sessiontxn/staleread/processor.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix: stabilize flaky issue #69337
  pkg/meta/autoid/autoid_service_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tidb: retry standby sysvar cache bootstrap
  pkg/domain/domain.go
  pkg/domain/pkdb_privilege_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tidb: allow standby root auth before privilege reload
  pkg/domain/domain.go
  pkg/domain/pkdb_privilege_test.go
  pkg/privilege/privileges/cache.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

tidb: initialize standby root host matcher
  pkg/domain/pkdb_privilege_test.go
  pkg/privilege/privileges/cache.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

build: update release-8.5 dependency fixed versions (#69320)
  DEPS.bzl
  cmd/mirror/mirror.go
  go.mod
  go.sum
  pkg/parser/go.mod
  pkg/parser/go.sum
  pkg/parser/terror/terror_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

ddl: forbid creating materialized view on partition table
  pkg/ddl/create_table.go
  pkg/ddl/ddl_test.go
  pkg/ddl/executor.go
  pkg/ddl/materialized_view.go
  pkg/ddl/mv_index_test.go
  pkg/ddl/schematracker/dm_tracker.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor, store/copr: address review nits on #69300
  pkg/executor/analyze.go
  pkg/executor/analyze_utils_test.go
  pkg/store/copr/coprocessor.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor, store/copr: extract broadcast-error helper and comment guards
  pkg/executor/analyze.go
  pkg/executor/analyze_utils_test.go
  pkg/store/copr/coprocessor.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor, store/copr: fix ANALYZE failure against an old peer during upgrade (#69300)
  pkg/executor/analyze.go
  pkg/executor/analyze_utils_test.go
  pkg/store/copr/coprocessor.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: update mlog partition table test expectation
  pkg/executor/test/writetest/mview_log_write_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: update mv partitioning ddl test expectation
  pkg/executor/test/ddl/materialized_view_ddl_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: update exchange partition mv test expectation
  pkg/executor/test/ddl/materialized_view_ddl_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ddl: forbid the creating of mlog on partition base table (#68903)
  pkg/ddl/create_table.go
  pkg/ddl/ddl_test.go
  pkg/ddl/executor.go
  pkg/ddl/materialized_view.go
  pkg/ddl/mv_index_test.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/executor/test/ddl/materialized_view_ddl_test.go
  pkg/executor/test/writetest/mview_log_write_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

session: wait source writes during learner recovery
  pkg/domain/domain.go
  pkg/domain/pkdb_repl/pkdb_source_write_gate.go
  pkg/domain/pkdb_repl/pkdb_source_write_gate_test.go
  pkg/session/session.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review
