Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-optional
      decorate: true
      max_concurrency: 1
      always_run: false
      optional: false
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            command: [bash, -ce]
            args:
              - |
                echo "This is a optional job, it will always fail."
                exit 1
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-prow-jobs
      decorate: true
      extra_refs:
        - org: ti-community-infra
          repo: configs
          base_ref: main
          repo_link: https://github.com/ti-community-infra/configs
      max_concurrency: 1
      run_if_changed: "^prow-jobs/.*\\.(yaml|yml)"
      branches:
        - ^main$
      spec:
        containers:
          - image: ticommunityinfra/checkconfig:v20230621-df5abce
            command:
              - /ko-app/checkconfig
            args:
              - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
              - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
              - --job-config-path=prow-jobs/
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            securityContext:
              runAsUser: 0 # the default user or the image is not root.
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m

fix: update tikv refactor ut (#2834)
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  scripts/tikv/tikv/gen_test_binary_json.py
Due: pull-verify-jenkins-pipelines

fix(jenkins/pipelines/cd/atom-jobs): avoid useless clonings of CI repo
  jenkins/pipelines/cd/atom-jobs/jenkins-image-syncer.groovy
Due: pull-verify-jenkins-pipelines

fix(jenkins/pipelines/cd/atom-jobs): avoid useless clonings of CI repo (#2835)
  jenkins/pipelines/cd/atom-jobs/jenkins-image-syncer.groovy
Due: pull-verify-jenkins-pipelines

fix: update refactor ut pipeline
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update refactor ut pipeline
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
Due: none

fix: update refactor ut pipeline (#2837)
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix missing var
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add PCC for all platform
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Due: pull-verify-jenkins-pipelines

feat: add PCC for all platform (#2839)
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Due: pull-verify-jenkins-pipelines

use custom golang and pulsar docker image to run ticdc pulsar integration tests (#2821)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add postsubmit to auto handle tidb-test pr
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
  scripts/pingcap/tidb/auto-handle-tidb-test-pr.py
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: support checkout tidb-test with pr in batch merge (#2838)
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: use python image
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: update env reading from prow job
  scripts/pingcap/tidb/auto-handle-tidb-test-pr.py
Due: none

fix: update image
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add postsubmit file
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: use less cpu request
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): add postsubmit to auto merge tidb test pr (#2840)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
  scripts/pingcap/tidb/auto-handle-tidb-test-pr.py
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: batch merge suuport specify tidb-test pr in title
  pipelines/pingcap/tidb/release-6.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: fix download scripts error
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
  scripts/pingcap/tidb/auto-handle-tidb-test-pr.py
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: fix run scripts error (#2842)
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
  scripts/pingcap/tidb/auto-handle-tidb-test-pr.py
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: Optimize and streamline the pipeline
  jenkins/pipelines/cd/multibranch/build_tikv_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

feat: batch merge support specify tidb-test pr in title (#2841)
  pipelines/pingcap/tidb/release-6.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  prow-jobs/pingcap-tidb-common-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: update src code dir
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tikv presubmit config
  jobs/tikv/tikv/aa_folder.groovy
  jobs/tikv/tikv/latest/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-tikv-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: format
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
Due: none

add utf ci and merge upstream master
  jenkins/pipelines/utf-ci/utf-go-test.groovy
  jenkins/pipelines/utf-ci/utf-pr-ci.groovy
  jenkins/pipelines/utf-ci/utf-py-batch-test.groovy
  jenkins/pipelines/utf-ci/utf-py-test.groovy
Due: pull-verify-jenkins-pipelines

fix
  jenkins/pipelines/utf-ci/utf-go-test.groovy
  jenkins/pipelines/utf-ci/utf-py-batch-test.groovy
  jenkins/pipelines/utf-ci/utf-py-test.groovy
Due: pull-verify-jenkins-pipelines

fix
  jenkins/pipelines/utf-ci/utf-pr-ci.groovy
Due: pull-verify-jenkins-pipelines

remove some unnessary file
  jenkins/pipelines/utf-ci/utf-affect-check.groovy
  jenkins/pipelines/utf-ci/utf-affect-update.groovy
  jenkins/pipelines/utf-ci/utf-go-test.groovy
  jenkins/pipelines/utf-ci/utf-pr-ci.groovy
  jenkins/pipelines/utf-ci/utf-py-batch-test.groovy
  jenkins/pipelines/utf-ci/utf-py-test.groovy
Due: pull-verify-jenkins-pipelines

feat: set randon timezone before run ut
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: set randon timezone before run ut (#2846)
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: stop push docker for rc
  jenkins/pipelines/cd/tiup/pre-release-tiup.groovy
Due: pull-verify-jenkins-pipelines

feat: add 8.0 tikv cache image build
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat: add 8.0 tikv cache image build (#2850)
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat: add tidb release-8.0 jobs
  jobs/pingcap/tidb/release-8.0/aa_folder.groovy
  jobs/pingcap/tidb/release-8.0/ghpr_build.groovy
  jobs/pingcap/tidb/release-8.0/ghpr_check.groovy
  jobs/pingcap/tidb/release-8.0/ghpr_check2.groovy
  jobs/pingcap/tidb/release-8.0/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-8.0/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-8.0/pull_br_integration_test.groovy
  jobs/pingcap/tidb/release-8.0/pull_lightning_integration_test.groovy
Due: none

feat: add tidb release-8.0 presubmit config
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-8.0-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tidb release-8.0 pipelines
  pipelines/pingcap/tidb/release-8.0/ghpr_build.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_check.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.0/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-8.0/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-8.0/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.0/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.0/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.0/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-8.0/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-8.0/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.0/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines
