Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

fix(prow): pin docs merged update runtime
  images/docs-merged-update/Dockerfile
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow): restore docs release-5.4 postsubmits
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestions from code review
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow): drop duplicated docs runtime dockerfile
  images/docs-merged-update/Dockerfile
Due: none

chore(prow-jobs): rename docs jobs to latest, add docs-cn OWNERS
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/docs-cn/OWNERS
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs-cn/latest-presubmits.yaml
  prow-jobs/pingcap/docs-tidb-operator/OWNERS
  prow-jobs/pingcap/docs-tidb-operator/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tekton): extend tiflash single-platform trigger timeouts
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
Due: none

Update prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap/docs/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate docs merged update postsubmits (#4592)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/docs-cn/OWNERS
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs-cn/latest-presubmits.yaml
  prow-jobs/pingcap/docs-tidb-operator/OWNERS
  prow-jobs/pingcap/docs-tidb-operator/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tekton): extend tiflash single-platform trigger timeouts (#4651)
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
Due: none

removing the stale NFS-backed cross-job cache
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

revert(tiflow): remove release-8.5 dm mysql ssl override
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

revert(tiflow): remove release-8.5 dm mysql ssl override (#4652)
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Due: none

reduce useless code
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(jobs): remove deprecated extensions wrapper and githubProjectUrl
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
Due: none

fix(jobs): remove more deprecated extensions wrappers
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix(jobs): remove deprecated extensions wrapper and githubProjectUrl (#4653)
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

Revert "fix(jobs): remove deprecated extensions wrapper and githubProjectUrl …"
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

Revert "fix(jobs): remove deprecated extensions wrapper and githubProjectUrl" (#4654)
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

Revert "Revert "fix(jobs): remove deprecated extensions wrapper and githubPro…"
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix(jobs): remove githubProjectUrl (#4655)
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
Due: none

reduce useless code
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

reduce useless code
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ticdc: avoid regular integration jobs on nextgen branches
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(ticdc): avoid regular integration jobs on nextgen branches (#4656)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ticdc: switch mysql heavy pipeline to stash
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): replace workspace cache with stash
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): drop Jenkins canary test job; migrate to k8s presubmits
  jobs/pingcap/tidb/latest/canary_ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-canary.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): drop Jenkins canary test job; migrate to k8s presubmits (#4657)
  jobs/pingcap/tidb/latest/canary_ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-canary.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflash): migrate merged jobs to GCP (#4647)
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  prow-jobs/pingcap/tiflash/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

reduce useless code
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-build.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): replace workspace cache with stash for heavy mysql IT (#4658)
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix grammatical errors
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): migrate remaining latest pipelines to stash
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): migrate remaining latest pipelines to stash (#4659)
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(docs): fix merged update runtime drift
  jobs/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  jobs/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

init
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen_legacy_safepoint/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen_legacy_safepoint/pod.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

feat(tekton): update kaniko image to v1.27.6 from GHCR
  tekton/v1/tasks/pingcap-build-images.yaml
Due: none

feat(tekton): update kaniko image to v1.27.6 from GHCR (#4662)
  tekton/v1/tasks/pingcap-build-images.yaml
Due: none

prow: require TiFlash columnar presubmit on supported branches
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
