Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat: use git shallow clone for lib cache
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix git extensions conf
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

feat(lib): use git shallow clone for lib cache (#3207)
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

Update pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

fix(ticdc): update env for debezium test (#3208)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

fix: link git and registry cargo cache
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add more cpu resource
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tidb-engine-ext): link git and registry cargo cache (#3210)
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: Mount the necessary cargo home cache directory to reduce cache size.
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
Due: none

fix(ticdc): update env for debezium test for release-8.5 (#3213)
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
Due: none

Update presubmits.yaml
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tikv/raft-engine): limit job on master branche (#3214)
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

script: monitor s3 objects and clean
  scripts/plugins/monitor-s3-object-size.ts
Due: none

script: support clean oversize objects
  scripts/plugins/monitor-s3-object-size.ts
Due: none

fix(tiflash): fix script path
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

rename
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(tiflash): update CI/CD pipelines
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: use english comments
  scripts/plugins/monitor-s3-object-size.ts
Due: none

chore(tiflash): update CI/CD pipelines (#3219)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Update pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Update prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb-engine-ext): Mount the necessary cargo home cache directory (#3212)
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(script): add s3 object monitor clean script (#3215)
  scripts/plugins/monitor-s3-object-size.ts
Due: none

Update pull_integration_test.groovy (#3220)
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: correct pod yaml path
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb): correct pod yaml path (#3221)
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines

Update tag-rc2ga-on-repos.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

Update tag-rc2ga-on-repos.sh (#3222)
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

Update create_github_release.ts
  scripts/flow/ga/create_github_release.ts
Due: none

Update create_github_release.ts (#3223)
  scripts/flow/ga/create_github_release.ts
Due: none

Update check-tiup.ts
  scripts/flow/rc/check-tiup.ts
Due: none

Update check-tiup.ts (#3224)
  scripts/flow/rc/check-tiup.ts
Due: none

Update check-tiup.sh
  scripts/artifacts/check-tiup.sh
Due: none

Update check-tiup.sh (#3225)
  scripts/artifacts/check-tiup.sh
Due: none

chore: remove binlog from v8.4
  scripts/ops/release-check-version/check_offline_package.py
Due: none

chore: update
  scripts/ops/release-check-version/check_offline_package.py
Due: none

chore(check-scipts): remove binlog from v8.4 (#3226)
  scripts/ops/release-check-version/check_offline_package.py
Due: none

feat: disable fail fast for image check
  scripts/ops/release-check-version/main.py
Due: none
