Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

chore(prow-jobs): remove orphan pingcap/tiflow release-6.2 CI resources (#5030)
  jobs/pingcap/tiflow/release-6.2/aa_folder.groovy
  jobs/pingcap/tiflow/release-6.2/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.2/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.2/pod-ghpr_verify.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate ticdc kafka integration light test to target jenkins
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate ticdc v7.5 mysql integration tests to target jenkins
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pipelines(tidb): reduce check2 golang container memory to 12Gi
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: none

chore(pipelines/pingcap/tidb): reduce check2 golang container memory to 12Gi (#5032)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: none

Revert "chore(pipelines/pingcap/tidb): reduce check2 golang container memory …"
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: none

Revert "chore(pipelines/pingcap/tidb): reduce check2 golang container memory to 12Gi" (#5035)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: none

chore(prow-jobs): mark pull-verify-jenkins-migration as optional
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate pingcap/ticdc latest jobs to target jenkins (#4987)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate 5 optional tidb-test tiproxy jobs to target jenkins
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate 5 optional tidb-test tiproxy jobs to target jenkins (#5038)
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate 5 required tidb-test jobs to target jenkins
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): roll back latest-branch jenkins-agent jobs to from Jenkins (master: "0" -> "1") [tidb/ticdc/tiflow]
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tidb): prepare TiFlash for next-gen starter tests
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): roll back tidb/ticdc/tiflow latest-branch jenkins-agent jobs to from Jenkins (master: "0" -> "1") (#5043)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): migrate pingcap-qe/tidb-test latest jobs to target jenkins (#4986)
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipelines/pingcap/tidb): prepare TiFlash for next-gen starter tests (#5041)
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): point tidb-test TIDB_SERVER_PATH to tidb/bin/tidb-server
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): copy tidb binaries into tidb-test/bin for start_tikv.sh
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): point tidb-test TIDB_SERVER_PATH to tidb/bin/tidb-server (#5044)
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(libraries): remove unused checkoutPrivateRefsWithCache* methods
  libraries/tipipeline/vars/prow.groovy
Due: none

refactor(libraries): remove unused checkoutPrivateRefsWithCache* methods (#5047)
  libraries/tipipeline/vars/prow.groovy
Due: none

prow-jobs(tiflash): add pull-license-check presubmit and prow job validator
  .ci/verify-prow-jobs-run.sh
  configs/prow-job-validation/rbac.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ci/presubmits.yaml
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow-jobs(tiflash): move job-validation RBAC to ee-ops GitOps
  .ci/verify-prow-jobs-run.sh
  configs/prow-job-validation/rbac.yaml
Due: none

prow-jobs(ci): run prow-job validation with dedicated ServiceAccount
  .ci/verify-prow-jobs-run.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow-jobs(ci): place job validation RBAC and ProwJob in the right namespaces
  .ci/verify-prow-jobs-run.sh
Due: none

feat(prow-jobs): add general kubernetes-agent prow job validator
  .ci/verify-prow-jobs-run.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add tiflash pull-license-check presubmit
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): wait for validation ProwJob completion instead of pod start
  .ci/verify-prow-jobs-run.sh
Due: none

feat(prow-jobs): add general kubernetes-agent prow job validator (#5051)
  .ci/verify-prow-jobs-run.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): move skip_submodules to presubmit top level
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): use pod-safe job name and drop always_run
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add tiflash pull-license-check presubmit (#5052)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): run license-eye in a glibc-based container
  prow-jobs/pingcap/tiflash/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
