Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

refactor(pingcap/ticdc): make CI job `pingcap/ticdc/pull_cdc_mysql_integration_light` run on GCP jenkins sharding
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/ticdc): make CI job (#4082)
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: migrate ticdc latest pipelines to GCP
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: migrate ticdc latest pipelines to GCP (#4083)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/ticdc): migrate jenkins ci jobs for tirunk branch to gcp sharding
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pingcap/ticdc): migrate jenkins ci jobs for trunk branch to gcp sharding (#4084)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "feat(tiflow): add periodics pipeline for cdc kafka test (#3268)"
  jobs/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  prow-jobs/kustomization.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Remove CDC MySQL integration test pipeline
  jobs/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_mysql_test.yaml
Due: pull-verify-jenkins-pipelines

Remove periodic monitoring jobs for release-6.5
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
  prow-jobs/ti-community-infra/configs/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): rm periodics jobs of release-6.5 branch of tidb repo
  prow-jobs/pingcap/tidb/release-6.5-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

opt: remove useless periodic CI jobs (#4081)
  jobs/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_mysql_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
  prow-jobs/pingcap/tidb/release-6.5-periodics.yaml
  prow-jobs/ti-community-infra/configs/periodics.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ticdc): reduce resource allocation for TiCDC test pipelines
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pod.yaml
Due: none

TiCDC: Reduce resource allocations in TiCDC test pipelines to optimize cost efficiency (#4086)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pod.yaml
Due: none

fix(pipelines/pingcap/ticdc/latest): add Docker authentication to TiCDC integration pipelines
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines): increase memory limits for TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pod.yaml
Due: none

fix(pipelines/pingcap/ticdc/latest): add Docker authentication to TiCDC integration pipelines (#4088)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/ticdc/latest): increase memory limits for TiCDC integration test pods to prevent out-of-memory failures (#4087)
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pod.yaml
Due: none

fix(jobs/pingcap/tidb): update TiDB periodic integration test to disable concurrent builds
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
Due: none

fix(jobs/pingcap/tidb): update TiDB periodic integration test to disable concurrent builds (#4089)
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
Due: none

chore(ticdc): Increase memory limits for TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pod.yaml
Due: none

Apply suggestions from code review
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pod.yaml
Due: none

TiCDC: Increase memory limits for TiCDC integration test pods to improve stability (#4090)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pod.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pod.yaml
Due: none

tici: Make pull-e2e required (#4091)
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Change error throws to console errors and exits for image checks
  scripts/flow/rc/check-images-internal.ts
Due: none

Add OCI registry parameter to upload tasks
  tekton/v1/pipelines/pingcap-release-ga.yaml
Due: none

Add publisher URL parameter and delivery functionality to pipeline
  tekton/v1/pipelines/pingcap-release-ga.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/release/tag-and-delivery-rc2ga-on-oci-artifacts.yaml
  tekton/v1/tasks/release/tag-rc2ga-on-oci-artifacts.yaml
Due: none

refactor(tekton/v1): refactor ga release flow (#4092)
  scripts/flow/rc/check-images-internal.ts
  tekton/v1/pipelines/pingcap-release-ga.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/release/tag-and-delivery-rc2ga-on-oci-artifacts.yaml
  tekton/v1/tasks/release/tag-rc2ga-on-oci-artifacts.yaml
Due: none

Update tiproxy image repository references
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

fix(scripts/ops/nextgen): fix the nextgen image tag fetching script (#4093)
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

feat(ticdc): increase memory limits for TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pod.yaml
Due: none

TiCDC: Increase memory limits for TiCDC integration test pods to 24Gi (#4094)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pod.yaml
Due: none

feat(script/ops/release-check-version): add script to generate components JSON for release checks
  scripts/ops/release-check-version/create_components_json.ts
Due: none

chore(scripts/flow/ga): fix github release collecting script
  scripts/flow/ga/collect-info-for-release-issue.sh
Due: none

chore(scripts): update ga flow scripts (#4095)
  scripts/flow/ga/collect-info-for-release-issue.sh
  scripts/ops/release-check-version/create_components_json.ts
Due: none

chore(tekton/v1/tasks/release): update registry URLs to use GAR under pingcap-testing-account project
  tekton/v1/tasks/release/pingcap-compose-offline-pkgs.yaml
  tekton/v1/tasks/release/pingcap-upload-enterprise-plugins.yaml
  tekton/v1/tasks/release/pingcap-upload-offline-package.yaml
  tekton/v1/tasks/release/tag-and-delivery-rc2ga-on-oci-artifacts.yaml
  tekton/v1/tasks/release/wait-delivery-images.yaml
  tekton/v1/tasks/release/wait-delivery-tiup.yaml
Due: none

Update default OCI registry to testing account hub
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-tiup.sh
Due: none

chore(tekton/v1/tasks/release): update registry URLs to use GAR under pingcap-testing-account project (#4096)
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-tiup.sh
  tekton/v1/tasks/release/pingcap-compose-offline-pkgs.yaml
  tekton/v1/tasks/release/pingcap-upload-enterprise-plugins.yaml
  tekton/v1/tasks/release/pingcap-upload-offline-package.yaml
  tekton/v1/tasks/release/tag-and-delivery-rc2ga-on-oci-artifacts.yaml
  tekton/v1/tasks/release/wait-delivery-images.yaml
  tekton/v1/tasks/release/wait-delivery-tiup.yaml
Due: none

chore(TiCDC): increase memory limits for TiCDC Pulsar integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pod.yaml
Due: none

TiCDC: Increase memory limits for TiCDC Pulsar integration tests to improve stability (#4097)
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pod.yaml
Due: none
