Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix: not to set jnlp conf in pod file (#3106)
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: cache build in tiflash pipeline (#3107)
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Static link
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

RocksDB CI: use static link (#3108)
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

Accomodate rocksdb 8.10 (#3110)
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

chore: Support downloading dependencies from a specified branch
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

chore: Support downloading dependencies from a specified branch
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update dm scripts
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: engine test support specify branch
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflow): support downloading dependencies from a specified branch (#3111)
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: refactor pd ut pipelines (#3098)
  jobs/tikv/pd/latest/pull_unit_test.groovy
  pipelines/tikv/pd/latest/pod-pull_unit_test.yaml
  pipelines/tikv/pd/latest/pull_unit_test.groovy
  prow-jobs/tikv/pd/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: change tikv wip it job name
  jobs/tikv/tikv/latest/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-8.1/pull_integration_test.groovy
Due: none

fix: change tikv wip it job name (#3113)
  jobs/tikv/tikv/latest/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-8.1/pull_integration_test.groovy
Due: none

fix: fix pdo yaml file name
  pipelines/tikv/tikv/latest/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.1/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.5/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.1/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.5/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-8.1/pod-pull_integration_test.yaml
Due: none

fix: fix pod yaml file name (#3114)
  pipelines/tikv/tikv/latest/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.1/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.5/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.1/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.5/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-8.1/pod-pull_integration_test.yaml
Due: none

Update README.md
  README.md
Due: none

feat: switch to use new pipeline trigger by prow
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: remove comment
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: switch to use new pipeline trigger by prow in branch 8.1 (#3116)
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add retry and check binary
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

remove useless chmod
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_python_orm_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add retry and check binary (#3117)
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat: print pr info in pipeline details
  pipelines/pingcap/tiproxy/latest/ghpr_build.groovy
  pipelines/pingcap/tiproxy/latest/ghpr_check.groovy
  pipelines/pingcap/tiproxy/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiproxy): print pr info in pipeline details (#3118)
  pipelines/pingcap/tiproxy/latest/ghpr_build.groovy
  pipelines/pingcap/tiproxy/latest/ghpr_check.groovy
  pipelines/pingcap/tiproxy/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

chore: simple pod jnlp container conf
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore(tiflash): simplify pod jnlp container conf (#3119)
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: print pr info in pipeline details
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_build.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_mysql_connector_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_ruby_orm_test.groovy
Due: pull-verify-jenkins-pipelines

feat: print pr info in pipeline details (#3120)
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_build.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_mysql_connector_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_ruby_orm_test.groovy
Due: pull-verify-jenkins-pipelines

update
  pipelines/tikv/pd/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update pd wip ut pipeline (#3121)
  pipelines/tikv/pd/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Fix typo
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

Remove comments
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

Fix test
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

ci(ti-community-infra/configs): remove archived repo from sync list
  prow-jobs/ti-community-infra/configs/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(ti-community-infra/configs): remove archived repo from sync list (#3126)
  prow-jobs/ti-community-infra/configs/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Fix RocksDB CI (#3125)
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

Use RocksDB native parallel testing
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

feat: support checkout to not merged pr commit sha
  libraries/tipipeline/vars/component.groovy
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
