Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat(scripts/ops): add script to statics code line for repo
  scripts/ops/statics-repo-code-lines.ts
Due: none

support kafka it
  jobs/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  prow-jobs/tikv-migration-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feature(scripts/ops): add script `cherry_pick_pull.sh` (#2579)
  scripts/ops/cherry_pick_pull.sh
Due: none

tikv-migration: support Kafka integration tests (#2727)
  jobs/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  prow-jobs/tikv-migration-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update tikv_ghpr_cache.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat: update release-7.6 tikv cache image build (#2728)
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

fix: fix missing volume
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
Due: none

fix(tikv/migration): fix missing volume (#2729)
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
Due: none

fix: fix tiup version to 1.13
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Due: pull-verify-jenkins-pipelines

refract: verison in one line
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Due: pull-verify-jenkins-pipelines

fix: wget -O
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Due: pull-verify-jenkins-pipelines

fix: fix tiup verison to 1.13 (#2730)
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Due: pull-verify-jenkins-pipelines

feat: add tidb release-7.6 presubmit
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.6-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tidb release-7.6 jobs
  jobs/pingcap/tidb/release-7.6/aa_folder.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
Due: none

feat: add tidb release-7.6 pipelines
  pipelines/pingcap/tidb/release-7.6/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: adjust timeout for build
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
Due: pull-verify-jenkins-pipelines

chore: adjust timeout for build (#2732)
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
Due: pull-verify-jenkins-pipelines

Update pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
Due: none

chore: increase cpu request on build (#2733)
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
Due: none

feat(tidb): tidb split release 7.6 jobs (#2731)
  jobs/pingcap/tidb/release-7.6/aa_folder.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.6-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): tiflow split release 7.6 jobs (#2723)
  jobs/pingcap/tiflow/release-7.6/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.6/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.6/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.6-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: correct podtemplate file path
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: correct test script name
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: correct podtemplate file path (#2734)
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: build 7.6 image nightly
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Due: none

feat: build 7.6 image nightly (#2735)
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Due: none

feat: add docs-cn postsubmit
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add docs-cn jobdsl
  jobs/pingcap/docs-cn/aa_folder.groovy
  jobs/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
Due: none

feat: add docs-cn pipelines
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs.yaml
Due: pull-verify-jenkins-pipelines

fix: update job name
  jobs/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
Due: none

chore: Change file name to include language suffix
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
Due: none

fix: update job name
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: bump nightly version
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Due: pull-verify-jenkins-pipelines

feat: add docs-cn presubmit conf
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-cn-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add docs-cn jobdsl
  jobs/pingcap/docs-cn/aa_folder.groovy
  jobs/pingcap/docs-cn/latest/pull_verify.groovy
Due: none

feat: add docs-cn pipelines
  pipelines/pingcap/docs-cn/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

foramt: add new line
  jobs/pingcap/docs-cn/aa_folder.groovy
Due: none

fix: update dir path
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

fix: update file name
  pipelines/pingcap/docs/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
