Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat(ticdc): Add run_before_merge and rerun_command to presubmits
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(ticdc): Use double quotes for string literals in pipeline scripts
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(jobs): disabled old jenkins job for https://ci.pingcap.net/job/tiflash-ghpr-build/
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
Due: none

refactor(ticdc): Remove redundant `ls -alh ./bin` commands
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(jobs): disabled old jenkins job for https://ci.pingcap.net/job/tiflash-ghpr-integration-tests/ and https://ci.pingcap.net/job/tiflash-ghpr-unit-tests/
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
Due: none

feat(jobs): disabled old jenkins job for https://ci.pingcap.net/job/tiflash-ghpr-build/ (#3837)
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
Due: none

refactor(ticdc): Update download script label
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

refactor(ticdc): Rename download script variable
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(tidbcloud/cloud-storage-engine): fix and enable nextgen real cluster test job (#3835)
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipeline): Remove trailing quote from script path
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines): Fix indentation in TiCDC integration pipelines
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(ticdc): Add tiflash to TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines): Adjust tiflash directory handling in TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(ticdc): Disable run_before_merge for ticdc presubmits
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pipeline): Improve tiflash extraction in TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts): Add support for downloading pd-ctl
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

fix(scripts): Correct TiKV worker OCI URL
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

feat(scripts/artifacts): add support for downloading pd-ctl and fix downloading tikv-worker (#3843)
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

feat(pipelines): Add --pd-ctl flag to TiCDC integration tests
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

TiCDC: Update Prow jobs to use dedicated build and test pod templates and enable 'all' trigger. (#3836)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-build.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tekton/v1): add pingcap/tiproxy to Next-Gen build triggers (#3841)
  tekton/v1/triggers/triggers/_/git-create-branch-ng.yaml
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/_/git-push-branch-build-ng.yaml
Due: none

fix(tekton/v0, tekton/v1): support ticdc and tiproxy for next-gen
  tekton/v0/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tiproxy/git-push.yaml
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/_/git-push-branch-build-ng.yaml
  tekton/v1/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/pingcap/ticdc/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/pingcap/ticdc/git-push-branch-build-ng.yaml
Due: none

chore(tekton/v1): add release-8.5 branch and tag support for pingcap/ticdc next-gen builds (#3840)
  tekton/v0/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tiproxy/git-push.yaml
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/_/git-push-branch-build-ng.yaml
Due: none

chore(pipeline): Update pod template file names
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

fix(tekton/v1/triggers): fix trigger for ticdc tag events
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
Due: none

fix(tekton/*/tasks): fix tast `create-pr-to-add-release-anchor-commit`
  tekton/v0/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  tekton/v1/tasks/release/create-pr-to-add-release-anchor-commit.yaml
Due: none

Update pipeline to use separate pod templates for build and test stages (#3844)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(prow-jobs/pingcap-qe/ci): update periodic reporter cron to Friday for `periodic-reporter-flaky-tests-tidb` job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap-qe/ci/periodics.yaml
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap-qe/ci): update `periodic-reporter-flaky-tests-tidb` job (#3845)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tekton/v0/triggers): relax tag ref regex for fake GitHub triggers
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Due: none

chore(tekton/v0/triggers): relax tag ref regex for fake GitHub triggers (#3846)
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Due: none

feat(scripts/ops): add NextGen image tag fetcher script and README
  scripts/ops/nextgen/README.md
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

Update scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

refactor(ticdc): Update download directory and add binary checks
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipeline): Use REFS.repo for ticdc directory
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Declare locals and pick first matching tag
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

Fix script path in nextgen README
  scripts/ops/nextgen/README.md
Due: none

feat(scripts/ops): add NextGen image tag fetcher script and README (#3847)
  scripts/ops/nextgen/README.md
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

feat(ci): Update presubmit triggers for next-gen jobs
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
