Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

fix(prow-jobs): add step markers to ee-infra tofu commands (#4837)
  prow-jobs/pingcap-qe/ee-infra/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tools): validate-repair-zot-image correctly resolve layer blob digests
  tools/validate-repair-zot-image.sh
Due: none

fix(tekton): zot-validate-repair-image resolve layer digests from manifest
  tekton/v1/tasks/zot-validate-repair-image.yaml
Due: none

fix(tekton): iterate all manifest layers to find every broken blob
  tekton/v1/tasks/zot-validate-repair-image.yaml
Due: none

refactor(tekton): simplify zot-validate-repair-image to single step
  tekton/v1/tasks/zot-validate-repair-image.yaml
Due: none

fix(tools): validate-repair-zot-image correctly resolve layer blob digests (#4838)
  tekton/v1/tasks/zot-validate-repair-image.yaml
  tools/validate-repair-zot-image.sh
Due: none

chore(prow-jobs): replace raw GitHub URLs with jsdelivr CDN
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap-inc/tici/presubmits.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/ticdc/common-postsubmits.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/common-postsubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/common-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/community/postsubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): replace raw GitHub URLs with jsDelivr CDN
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap-inc/tici/presubmits.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/docs-cn/latest-presubmits.yaml
  prow-jobs/pingcap/docs/latest-presubmits.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/ticdc/common-postsubmits.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/common-postsubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/common-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/community/postsubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/rust-rocksdb/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipelines): replace raw GitHub URLs with jsDelivr CDN
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/tidb/release-6.5/pull_tiflash_test.groovy
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.2/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.0/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.3/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.3/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.4/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-9.0-beta/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(prow-jobs): replace raw GitHub URLs with jsdelivr CDN (#4839)
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap-inc/tici/presubmits.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/ticdc/common-postsubmits.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/common-postsubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/common-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/community/postsubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): replace raw GitHub URLs with jsDelivr CDN (#4840)
  prow-jobs/pingcap/docs-cn/latest-presubmits.yaml
  prow-jobs/pingcap/docs/latest-presubmits.yaml
  prow-jobs/tikv/rust-rocksdb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipelines): replace raw GitHub URLs with jsDelivr CDN (#4841)
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen_legacy_safepoint/pod-test.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/tidb/release-6.5/pull_tiflash_test.groovy
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.2/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.0/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.3/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.3/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.4/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-9.0-beta/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines): replace raw GitHub URLs with jsDelivr CDN in CD pipeline files
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/build-arm-image.groovy
  jenkins/pipelines/cd/build-operator-arm-image.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/optimization-libs.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-community-docker.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  scripts/pingcap/tidb-binlog/pull_integration_test.sh
Due: pull-verify-jenkins-pipelines

fix(tekton): replace raw github URLs with jsdelivr CDN in v0 tasks
  tekton/v0/tasks/build/pingcap-build-binaries-darwin.yaml
  tekton/v0/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v0/tasks/pingcap-get-set-release-version.yaml
  tekton/v0/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  tekton/v0/tasks/release/pingcap-create-github-alpha-tags.yaml
Due: none

chore(pipelines): replace raw GitHub URLs with jsDelivr CDN in CD pipeline files (#4842)
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/build-arm-image.groovy
  jenkins/pipelines/cd/build-operator-arm-image.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/optimization-libs.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-community-docker.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  scripts/pingcap/tidb-binlog/pull_integration_test.sh
Due: pull-verify-jenkins-pipelines

fix(tekton): replace raw github URLs with jsdelivr CDN in v0 tasks (#4843)
  tekton/v0/tasks/build/pingcap-build-binaries-darwin.yaml
  tekton/v0/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v0/tasks/pingcap-deliver-image.yaml
  tekton/v0/tasks/pingcap-get-set-release-version.yaml
  tekton/v0/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  tekton/v0/tasks/release/pingcap-create-github-alpha-tags.yaml
Due: none

pipelines(tiflash): migrate release-6.5 and 8.5 to ephemeral storage and generic volumes
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines): remove unused variables in tiflash release-6.5 integration test
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipelines(tiflash): add fsGroup security context to release-6.5 pod spec
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
Due: none

fix(tekton): map last line git-instead-of
  tekton/v1/tasks/pingcap-git-clone.yaml
Due: none

pipelines(tiflash): fallback when release-6.5 tidb failpoint image missing
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): raise jnlp memory for pull_unit_test_next_gen
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

fix(pipelines): raise jnlp memory for pull_unit_test_next_gen (#4846)
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

fix(pipelines): cap golang memory to stop pull_unit_test_next_gen eviction
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

fix(pipelines): cap golang memory to stop pull_unit_test_next_gen eviction (#4847)
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

fix(pipelines): raise golang memory request to 60Gi, restore 64Gi limit
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

fix(pipelines): lower golang cpu to 20 for next-gen unit test
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

fix(pipelines): raise golang memory request to 60Gi, restore 64Gi limit (#4848)
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

fix(pipelines/tiflash): rewrite untagged tiflash-ci-base on release-6.5
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflash): fallback when release-6.5 tidb failpoint image missing
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflash): release-6.5 IT image rewrite + failpoint fallback (#4849)
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflash): use tiflash-base+mysql for release-6.5 IT runtime
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflash): release-6.5 IT runtime needs mysql client (#4850)
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): use PVC for realcluster bazel cache
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: none

fix(pipelines): use PVC for realcluster bazel cache (#4851)
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: none

fix(pipelines/tiflash): always skip fail-point-tests on release-6.5
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflash): always skip fail-point-tests on release-6.5 (#4852)
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(scripts): add analyze-nextest-output.sh for cargo nextest flaky test analysis
  scripts/plugins/analyze-nextest-output.sh
  scripts/plugins/test_analyze-nextest-output.sh
  scripts/plugins/testdata/analyze-nextest-output/all_pass.log
  scripts/plugins/testdata/analyze-nextest-output/flaky_retry_pass.log
  scripts/plugins/testdata/analyze-nextest-output/flaky_timeout.log
  scripts/plugins/testdata/analyze-nextest-output/multiple_binaries.log
  scripts/plugins/testdata/analyze-nextest-output/no_flaky_no_crash.log
  scripts/plugins/testdata/analyze-nextest-output/persistent_fail.log
  scripts/plugins/testdata/analyze-nextest-output/sample.log
  scripts/plugins/testdata/analyze-nextest-output/slow_pass.log
Due: none

feat(scripts): add analyze-nextest-output.sh for cargo nextest flaky test analysis (#4853)
  scripts/plugins/analyze-nextest-output.sh
  scripts/plugins/test_analyze-nextest-output.sh
  scripts/plugins/testdata/analyze-nextest-output/all_pass.log
  scripts/plugins/testdata/analyze-nextest-output/flaky_retry_pass.log
  scripts/plugins/testdata/analyze-nextest-output/flaky_timeout.log
  scripts/plugins/testdata/analyze-nextest-output/multiple_binaries.log
  scripts/plugins/testdata/analyze-nextest-output/no_flaky_no_crash.log
  scripts/plugins/testdata/analyze-nextest-output/persistent_fail.log
  scripts/plugins/testdata/analyze-nextest-output/sample.log
  scripts/plugins/testdata/analyze-nextest-output/slow_pass.log
Due: none

feat(plugins): add cargo nextest flaky test analyzer
  scripts/plugins/analyze-nextest-output.sh
  scripts/plugins/test_analyze-nextest-output.sh
  scripts/plugins/testdata/analyze-nextest-output/all_pass.log
  scripts/plugins/testdata/analyze-nextest-output/flaky_retry_pass.log
  scripts/plugins/testdata/analyze-nextest-output/flaky_timeout.log
  scripts/plugins/testdata/analyze-nextest-output/multiple_binaries.log
  scripts/plugins/testdata/analyze-nextest-output/no_retry_fail.log
  scripts/plugins/testdata/analyze-nextest-output/persistent_fail.log
  scripts/plugins/testdata/analyze-nextest-output/sample.log
  scripts/plugins/testdata/analyze-nextest-output/slow_pass.log
Due: none
