Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix(tekton/v1): fix taskrun `auto-add-approved-label-to-pr-on-special-branch-` (#3886)
  tekton/v1/triggers/triggers/_/github-pr-labeled-with-lgtm.yaml
Due: none

feat(presubmit): Add release-8.5 branch to ticdc presubmits
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): Add release-8.5 branch to presubmits
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add release-8.5 branch to presubmit jobs to ensure CI coverage for the new release branch. (#3887)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): Add release-nextgen branch to presubmits
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add release-nextgen branch to presubmit jobs to ensure compatibility with upcoming releases. (#3888)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Require META to contain images in trigger filter
  docs/guides/README.md
  docs/guides/tekton/trigger-CEL.md
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

Save Ops ticket URLs and notify Lark
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

Refactor notify task params and update docs
  docs/guides/tekton/trigger-CEL.md
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

Add support for release-2.x branches in presubmits
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestions from code review
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add support for release-2.x branches in presubmits (#3893)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Address review issues in pingcap notify task
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

feat(tekton/v1): update notify for ops flow (#3892)
  docs/guides/README.md
  docs/guides/tekton/trigger-CEL.md
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
  tekton/v1/triggers/triggers/_/notify/notified-successful-image-delivery-cloud-tidbx.yaml
Due: none

fix(tekton/v1): fix payload variable name for image version
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

fix(tekton/v1): fix payload variable name for image version (#3894)
  tekton/v1/tasks/delivery/pingcap-notify-to-update-ops-tidbx.yaml
Due: none

Treat vX.Y.Z-release.N tags as pre and add new build tag vX.Y.Z
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Due: none

Unify pingcap/ticdc trigger filters
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/_/git-push-branch-build-ng.yaml
Due: none

refactor(scripts/flow/build): treat vX.Y.Z-release.N tags as pre and add new build tag vX.Y.Z (#3895)
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/_/git-push-branch-build-ng.yaml
Due: none

refactor(pingcap/tidb): refactor pipeline paths and post steps for `ghpr_check2` job
  jobs/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2/pipeline.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Use REFS.repo for bazel test log paths
  pipelines/pingcap/tidb/latest/ghpr_check2/pipeline.groovy
Due: pull-verify-jenkins-pipelines

fix(prow): Update skip_if_only_changed regex and trigger commands
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow): Add release-nextgen-\d+ branch to presubmits
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(presubmits): Update branch regex in ticdc prow jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ticdc: Update Prow configuration to include YAML files in skip_if_only_changed and add 'all' to test triggers (#3896)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add main branch to for tidb operator e2e test
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(prow-jobs/pingcap/tidb-operator): switch from feature/v2 to main branch for e2e test (#3897)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add resolve_pr_conflicts.py to supprot ai-based merge conflict resolution
  scripts/plugins/resolve_pr_conflicts.py
Due: none

feat(tekton/v1/tasks): add Tekton Task and include in kustomization
  tekton/v1/tasks/ci/resolve-cherrypick-conflicts.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

Add OpenAI workspace and conflict resolver steps
  tekton/v1/tasks/ci/resolve-cherrypick-conflicts.yaml
Due: none

feat: update resolve_pr_conflicts.py to supprot ai-based merge conflict resolution
  scripts/plugins/resolve_pr_conflicts.py
Due: none

Enhance resolve-cherrypick-conflicts task
  tekton/v1/tasks/ci/resolve-cherrypick-conflicts.yaml
Due: none

Update release branches and add image repo logs
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

Apply suggestion from @wuhuizuo
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

Use release branch for ticdc image tags
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

Remove pingcap/ticdc image fetch from script
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

fix(scripts/ops/nextgen): update release branches and add image repo logs (#3900)
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

Increase timeout from 20m to 60m in git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/ticdc/git-create-tag.yaml
Due: none

chore(pingcap/ticdc): Increase timeout from 20m to 60m in git-create-tag.yaml (#3901)
  tekton/v0/triggers/triggers/pingcap/ticdc/git-create-tag.yaml
Due: none

chore(tekton/v0): update triggers to match branches for tidb-operator repo
  tekton/v0/triggers/triggers/pingcap/tidb-operator/git-push.yaml
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
