Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

chore(ticdc): disable failfast for new ticdc wip pipeline
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Due: pull-verify-jenkins-pipelines

chore(ticdc): disable failfast for new ticdc wip pipeline (#3401)
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflow): download exact version content for tiflow hotfix (#3394)
  pipelines/pingcap/tiflow/release-6.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1.0/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflow): update cp download script path
  pipelines/pingcap/tiflow/release-6.1/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(scripts/flow/ga): do not create github version tag on tidb-tools repo for since v9.0.0
  scripts/flow/ga/create_github_release.ts
Due: none

chore(ticdc): increase memory limit for cdc mysql integration light pipeline
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
Due: none

fix(release-check): update wget command for offline package download
  scripts/ops/release-check-version/check_offline_package.py
Due: none

fix(release-check): remove tidb-dashboard from offline package version check
  scripts/ops/release-check-version/check_offline_package.py
Due: none

chore: tidb-dashboard in offline package since v6.6.0
  scripts/ops/release-check-version/check_offline_package.py
Due: none

feat: support use internal url by read env
  scripts/ops/release-check-version/check_offline_package.py
Due: none

update name
  scripts/ops/release-check-version/check_offline_package.py
Due: none

chore: remove function
  scripts/ops/release-check-version/check_offline_package.py
Due: none

format
  scripts/ops/release-check-version/check_offline_package.py
Due: none

feat(tiflash): compile bench_dbms in PR pipelines
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore(check-release-version): support for differences in tidb-dashboard across different branches (#3403)
  scripts/ops/release-check-version/check_offline_package.py
Due: none

feat: update trigger
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(scripts/flow/ga): do not create github version tag on tidb-tools repo for since v9.0.0 (#3402)
  scripts/flow/ga/create_github_release.ts
Due: none

feat(tiflash): compile bench_dbms in PR pipelines (#3404)
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: update trigger to match two hotfix with same tag in same day
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update trigger to match two hotfix with same tag in same day
  prow-jobs/pingcap/tiflash/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-trigger): update trigger to match two hotfix with same tag in same day (#3405)
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): synfdiff it remove wip and enable condition trigger
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pd): split 7.5 and 8.5 lts jobs
  jobs/tikv/pd/release-7.5/aa_folder.groovy
  jobs/tikv/pd/release-7.5/ghpr_build.groovy
  jobs/tikv/pd/release-7.5/pull_integration_copr_test.groovy
  jobs/tikv/pd/release-8.5/aa_folder.groovy
  jobs/tikv/pd/release-8.5/ghpr_build.groovy
  jobs/tikv/pd/release-8.5/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-7.5/ghpr_build.groovy
  pipelines/tikv/pd/release-7.5/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-7.5/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-7.5/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-8.5/ghpr_build.groovy
  pipelines/tikv/pd/release-8.5/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-8.5/pull_integration_copr_test.groovy
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-6.5-presubmits.yaml
  prow-jobs/tikv/pd/release-7.1-presubmits.yaml
  prow-jobs/tikv/pd/release-7.5-presubmits.yaml
  prow-jobs/tikv/pd/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add new branch presubmit to trigger config
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pd): split 7.5 and 8.5 lts jobs (#3407)
  jobs/tikv/pd/release-7.5/aa_folder.groovy
  jobs/tikv/pd/release-7.5/ghpr_build.groovy
  jobs/tikv/pd/release-7.5/pull_integration_copr_test.groovy
  jobs/tikv/pd/release-8.5/aa_folder.groovy
  jobs/tikv/pd/release-8.5/ghpr_build.groovy
  jobs/tikv/pd/release-8.5/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-7.5/ghpr_build.groovy
  pipelines/tikv/pd/release-7.5/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-7.5/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-7.5/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-8.5/ghpr_build.groovy
  pipelines/tikv/pd/release-8.5/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-8.5/pull_integration_copr_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-6.5-presubmits.yaml
  prow-jobs/tikv/pd/release-7.1-presubmits.yaml
  prow-jobs/tikv/pd/release-7.5-presubmits.yaml
  prow-jobs/tikv/pd/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add pd jobs of release-9.0-beta.1
  prow-jobs/tikv/pd/release-9.0-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tikv jobs of release-9.0-beta.1
  prow-jobs/tikv/tikv/release-9.0-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tikv and pd jobs of release-9.0-beta.1
  jobs/tikv/pd/release-9.0/aa_folder.groovy
  jobs/tikv/pd/release-9.0/ghpr_build.groovy
  jobs/tikv/pd/release-9.0/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-9.0/aa_folder.groovy
  jobs/tikv/tikv/release-9.0/pull_unit_test.groovy
Due: none

feat: add tikv and pd pipelines of release-9.0-beta.1
  pipelines/tikv/pd/release-9.0/ghpr_build.groovy
  pipelines/tikv/pd/release-9.0/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-9.0/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-9.0/pull_integration_copr_test.groovy
  pipelines/tikv/tikv/release-9.0/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-9.0/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tikv and pd presubmit of release-9.0-beta.1 to prow trigger
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflash): add presubmit jobs for release-9.0 branch
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-9.0-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tiflash job on branch release-9.0-beta.1
  jobs/pingcap/tiflash/release-9.0/aa_folder.groovy
  jobs/pingcap/tiflash/release-9.0/merged_build.groovy
  jobs/pingcap/tiflash/release-9.0/merged_unit_test.groovy
  jobs/pingcap/tiflash/release-9.0/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-9.0/pull_unit_test.groovy
Due: none

feat: add tiflash pipelines on branch release-9.0-beta.1
  pipelines/pingcap/tiflash/release-9.0/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-9.0/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-9.0/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-9.0/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-9.0/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-9.0/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-9.0/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-9.0/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(prow-jobs): add TiFlash presubmit jobs for release-9.0
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(scripts/flow/build): add versioning strategy script
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Due: none

feat(scripts/flow/build): add versioning strategy script (#3410)
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Due: none

feat: update auto flow jobs for release 9.x
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/tikv/community/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap/monitoring/periodics.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add perioldic job for monitoring repo to support v9.x
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(libraries/tipipeline): update function `component.computeBranchFromPR`
  libraries/tipipeline/vars/component.groovy
Due: none
