Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

chore(pingcap/tidb): add temporary UT fail fast hacks for next-gen
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): add temporary UT fail fast hacks for next-gen (#3698)
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Revert "chore(pingcap.tidb): Comment out integration test with -d y in pipeline"
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore: The retention period for job logs has been shortened to 14 days.
  jobs/pingcap/tidb/latest/pull_unit_test_next_gen.groovy
Due: none

chore(tidb): shorten retention period for job logs to 14 days (#3699)
  jobs/pingcap/tidb/latest/pull_unit_test_next_gen.groovy
Due: none

Update config.yaml
  configs/error-log-review/config.yaml
Due: none

chore(error-log-review): temporarily add error log reviewer to verify the approval (#3700)
  configs/error-log-review/config.yaml
Due: none

fix(pingcap/tidb): fix update test script path for job `pull_integration_e2e_test_next_gen`
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Revert "chore(error-log-review): temporarily add error log reviewer to verif…"
  configs/error-log-review/config.yaml
Due: none

Revert "chore(error-log-review): temporarily add error log reviewer to verify the approval" (#3701)
  configs/error-log-review/config.yaml
Due: none

chore(error-log-review): add approvers for error log review
  OWNERS_ALIASES
  configs/error-log-review/OWNERS
Due: none

chore(error-log-review): ensure newline at end of OWNERS file
  configs/error-log-review/OWNERS
Due: none

Apply suggestion from @wuhuizuo
  OWNERS_ALIASES
Due: none

chore(presubmits): update error log review jobs to skip if only changed files are present
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(error-log-review): add OWNERS file for error log review config (#3702)
  OWNERS_ALIASES
  configs/error-log-review/OWNERS
Due: none

Add minio version to e2e test script arguments
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): adjust next-gen ci jobs (#3704)
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tidb): fix job `pull_integration_e2e_test_next_gen` job
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

add an approver for tiflow in error-log-review
  configs/error-log-review/config.yaml
Due: none

make ci happy
  configs/error-log-review/config.yaml
Due: none

chore(error-log-review): add an approver for tiflow in error-log-review (#3705)
  configs/error-log-review/config.yaml
Due: none

chore(presubmits): officially effective error log review check in go based repos (#3703)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): enable job `pull-integration-realcluster-test-next-gen`
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): enable auto trigger for job `pull-mysql-client-test-next-gen` job
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): enable job `pull-integration-realcluster-test-next-gen` (#3706)
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): enable auto trigger for `pull-mysql-client-test-next-gen` job (#3707)
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(operator): fix e2e ci job of tidb operator
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

change to hyperdisk-rwo
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

change dind sidecar container back to normal container
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

choose a instance type
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

change instance type to e2-highmem-8
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update resource and use sidecar container
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(scripts/ops/nextgen): add NextGen test failure statistics analyzer script and documentation
  scripts/ops/nextgen/README.md
  scripts/ops/nextgen/statistics_failure_tests_from_junit_report.ts
Due: none

feat(scripts/ops/nextgen): add NextGen test failure statistics analyzer script (#3709)
  scripts/ops/nextgen/README.md
  scripts/ops/nextgen/statistics_failure_tests_from_junit_report.ts
Due: none

fix(pingcap/tidb): make integration test optional and update context
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/tidb): make integration test optional and update context (#3710)
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): add flaky test analysis and reporting for bazel tests
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Update pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Revert "fix(pingcap/tidb): make integration test optional and update context …"
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
