Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix(tekton/v1/tasks): fix image build task for more common stories (#3916)
  tekton/v1/tasks/pingcap-build-images.yaml
Due: none

refactor(tekton): remove tidb-operator and move tiflow-operator
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-push.yaml
Due: none

refactor(tekton): remove tidb-operator and move tiflow-operator (#3917)
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-push.yaml
Due: none

disabled old jenkins job
  jenkins/jobs/ci/tikv/tikv/ghpr_build_clippy_darwin_amd64.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build_clippy_darwin_arm64.groovy
Due: none

refactor(tekton): move advanced-statefulset triggers to env-prod2
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

feat(jobs): disabled old jenkins job for running tikv clippy on Darwin machines (#3918)
  jenkins/jobs/ci/tikv/tikv/ghpr_build_clippy_darwin_amd64.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_build_clippy_darwin_arm64.groovy
Due: none

refactor(tekton): move advanced-statefulset triggers to env-prod2 (#3919)
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

fix(scripts): update ticdc publishing threshold to v8.5.4
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/ga/collect-info-for-release-issue.sh
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Due: none

Update scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

Fix ticdc version boundary check
  scripts/flow/rc/check-tiup.ts
Due: none

feat(release-check): add version parsing and branch comparison for release management
  scripts/ops/release-check-version/create_components_json.py
Due: none

fix(scripts): update ticdc publishing threshold to v8.5.4 (#3920)
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/ga/collect-info-for-release-issue.sh
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Due: none

Update scripts/ops/release-check-version/create_components_json.py
  scripts/ops/release-check-version/create_components_json.py
Due: none

refactor(release-check): streamline repository selection logic
  scripts/ops/release-check-version/create_components_json.py
Due: none

feat(release-check): add version parsing and branch comparison for ticdc release check (#3922)
  scripts/ops/release-check-version/create_components_json.py
Due: none

refactor(release-check): enhance version parsing and comparison logic
  scripts/ops/release-check-version/create_components_json.py
Due: none

feat(release-check): add version parsing and branch comparison for ticdc release check (#3923)
  scripts/ops/release-check-version/create_components_json.py
Due: none

feat(ci): Add json and toml to skip_if_only_changed
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(presubmits): Remove toml from skip_if_only_changed regex
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts): use ticdc OCI repo and drop cdc in tiflow from v8.5.4
  scripts/artifacts/check-tiup.sh
  scripts/flow/rc/check-tiup.ts
Due: none

fix(scripts): use ticdc OCI repo and drop cdc in tiflow from v8.5.4 (#3925)
  scripts/artifacts/check-tiup.sh
  scripts/flow/rc/check-tiup.ts
Due: none

chore(prow-jobs/pingcap/ticdc): prevent unnecessary job runs for only json file changes (#3924)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(script/flow/ga): release ticdc releases from 8.5.4
  scripts/flow/ga/create_github_release.ts
Due: none

Use v8.5.4 as ticdc release cutoff
  scripts/flow/sprint/create_github_alpha_tags.ts
Due: none

fix(script/flow/ga): release ticdc releases from 8.5.4 (#3926)
  scripts/flow/ga/create_github_release.ts
  scripts/flow/sprint/create_github_alpha_tags.ts
Due: none

fix(tekton/v1): move advanced-statefulset triggers into pingcap
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-push.yaml
Due: none

refactor(tekton/v0): remove unused triggers and move unusual triggers to v1
  tekton/v0/triggers/triggers/_/github-pr-labeled-with-needs-ok-to-test.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/_/git-create-branch-gomod-update.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-branch.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb/git-push-branch-build.yaml
Due: none

tests(tekton): add GitHub events test script
  tekton/tests/test-github-events.ts
Due: none

refactor(tekton): remove unused triggers and move unusual triggers to v1 (#3927)
  tekton/tests/test-github-events.ts
  tekton/v0/triggers/triggers/_/github-pr-labeled-with-needs-ok-to-test.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/_/git-create-branch-gomod-update.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-branch.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb/git-push-branch-build.yaml
Due: none

feat(tikv/tikv): test tikv-ghpr-clippy-linux-arm64-job
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Change timeout to 3h for tidb-operator e2e
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap/tidb-operator): increase timeout to 3h for tidb-operator e2e (#3931)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv/tikv): test tikv-ghpr-clippy-linux-arm64-job
  ai_conflict_resolver_demo.py
  all.csv
  all.xlsx
  costs.csv
  jobs/tikv/tikv/latest/pull_clippy_darwin_amd64.groovy
  pipelines/tikv/tikv/latest/pull_clippy_darwin_amd64.groovy
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv/tikv): use prow-job to run tikv clippy on linux arm64 (#3933)
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tekton/v0): include pingcap-inc/tici in fake GitHub triggers
  tekton/v0/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-pr.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Due: none

feat(tekton/v0): include pingcap-inc/tici in fake GitHub triggers (#3935)
  tekton/v0/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-pr.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v0/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Due: none

feat(tikv/tikv): update pull-clippy-linux-arm64-job image
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
