Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat(prow-jobs/pingcap-inc/enterprise-plugin): add `pull-build` job (#3774)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Improve plugin build and TiDB startup script for presubmit job
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Improve plugin build and TiDB startup script for presubmit job (#3775)
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-inc/enterprise-plugin): add logging for TiDB PR ref and merge commit
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-inc/enterprise-plugin): add logging for TiDB PR ref and merge commit (#3776)
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add PD real cluster integration test job for next-gen kernel
  jobs/tikv/pd/latest/pull_integration_realcluster_test_next_gen.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton/v0): fix cel filter for trigger `artifact-push-on-harbor-forward-to-tiup`
  tekton/v0/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
Due: none

chore(tekton): add OWNERS file
  tekton/OWNERS
Due: none

fix(tekton/v0): fix cel filter for trigger `artifact-push-on-harbor-forward-to-tiup` (#3778)
  tekton/OWNERS
  tekton/v0/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
Due: none

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-inc/enterprise-plugin): remove backticks from loading-test.log in echo message
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-inc/enterprise-plugin): fix pull-build job (#3782)
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines/pingcap/tiflash): fix cache key from it-build to ut-build
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tiflash): fix cache key from it-build to ut-build (#3784)
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
Due: pull-verify-jenkins-pipelines

fix(prow-jobs/pingcap-inc/enterprise-plugin): add build step for tidb-server in presubmit job
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): update secret references for DSN and WEBHOOK_URL params
  prow-jobs/pingcap-qe/ci/periodics.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): update secret references for DSN and WEBHOOK_URL params (#3785)
  prow-jobs/pingcap-qe/ci/periodics.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: Add exclusion patterns support to error-log-review CI tool (#3787)
  .gitignore
  configs/error-log-review/config.yaml
  tools/error-log-review/README.md
  tools/error-log-review/config.go
  tools/error-log-review/config.yaml.example
  tools/error-log-review/matcher.go
  tools/error-log-review/matcher_test.go
Due: none

Refactor flaky tests reporter job to use parameterized env vars
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update flaky tests report email subject to include branch name
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap-qe/ci): add periodic job to report flaky tests (#3763)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): fix shell command typo
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): fix shell command typo (#3789)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): update Deno image and fix date command in periodics.yaml
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update Deno image to version 2.5.4 in periodics job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): update Deno image and fix date command (#3790)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: fix email-cc flag parsing and update script argument style
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: fix email-cc flag parsing and update script argument style (#3791)
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap-qe/ci): restore weekly schedule for flaky tests job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(tekton/v1/tasks): update Tekton tasks to v1 and add schema reference
  tekton/v1/tasks/git-clone.yaml
  tekton/v1/tasks/github-set-status.yaml
  tekton/v1/tasks/golang-build.yaml
  tekton/v1/tasks/golang-test.yaml
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-images.yaml
  tekton/v1/tasks/pingcap-get-builder-image.yaml
  tekton/v1/tasks/pingcap-get-set-release-version-v2.yaml
  tekton/v1/tasks/pingcap-git-clone-ext.yaml
Due: none

Update Tekton pipelines to v1 and add schema reference
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
Due: none

Replace resources with computeResources in Tekton templates
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
Due: none

refactor(tekton/v1/tasks): update Tekton tasks and pipelines to v1 and add schema reference (#3795)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/git-clone.yaml
  tekton/v1/tasks/github-set-status.yaml
  tekton/v1/tasks/golang-build.yaml
  tekton/v1/tasks/golang-test.yaml
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-images.yaml
  tekton/v1/tasks/pingcap-get-builder-image.yaml
  tekton/v1/tasks/pingcap-get-set-release-version-v2.yaml
  tekton/v1/tasks/pingcap-git-clone-ext.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
Due: none

feat(prow-jobs/pingcap-inc/enterprise-plugin): enable job `pull-build` for pull requests
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Apply suggestion from @wuhuizuo
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap-inc/enterprise-plugin): enable job `pull-build` for pull requests (#3798)
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidbcloud/cloud-storage-engine): add Jenkins pipeline for next-gen realcluster integration tests
  jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/main-pod.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add bash strict mode to build script in pipeline
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Increase pipeline timeout to 90 minutes
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines
