Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

refactor(jobs): migrate ti-community-infra/test-prod to job folders
  jenkins/jobs/ti-community-infra/aa_folder.groovy
  jenkins/jobs/ti-community-infra/test-prod/aa_folder.groovy
  jenkins/jobs/ti-community-infra/test-prod/prow_debug/Jenkinsfile
  jenkins/jobs/ti-community-infra/test-prod/prow_debug/dsl.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/ti-community-infra/test-prod/aa_folder.groovy
  jobs/ti-community-infra/test-prod/prow_debug.groovy
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate tikv/copr-test to the job-folder layout
  jenkins/jobs/tikv/aa_folder.groovy
  jenkins/jobs/tikv/copr-test/aa_folder.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/Jenkinsfile
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/dsl.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/pod.yaml
  jobs/tikv/aa_folder.groovy
  jobs/tikv/copr-test/aa_folder.groovy
  jobs/tikv/copr-test/latest/pull_integration_test.groovy
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate pingcap/tidb-tools to the job-folder layout
  jenkins/jobs/pingcap/aa_folder.groovy
  jenkins/jobs/pingcap/tidb-tools/aa_folder.groovy
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/Jenkinsfile
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/dsl.groovy
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/pod.yaml
  jenkins/jobs/pingcap/tidb/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/pingcap/tidb-tools/aa_folder.groovy
  jobs/pingcap/tidb-tools/latest/pull_verify.groovy
  jobs/pingcap/tidb/aa_folder.groovy
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate pingcap-inc/enterprise-extensions to the job-folder layout
  jenkins/jobs/pingcap-inc/aa_folder.groovy
  jenkins/jobs/pingcap-inc/enterprise-extensions/aa_folder.groovy
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/Jenkinsfile
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/dsl.groovy
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/pod.yaml
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-inc/enterprise-extensions/aa_folder.groovy
  jobs/pingcap-inc/enterprise-extensions/latest/pr_verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate pingcap-inc/tiflash-scripts to the job-folder layout
  jenkins/jobs/pingcap-inc/tiflash-scripts/aa_folder.groovy
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
  jobs/pingcap-inc/tiflash-scripts/aa_folder.groovy
  jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test.groovy
  jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate tidbcloud/cloud-storage-engine to the job-folder layout
  jenkins/jobs/tidbcloud/aa_folder.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/aa_folder.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/aa_folder.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/Jenkinsfile
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/dsl.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pod-main.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pod-test.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/Jenkinsfile
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/dsl.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/main-pod.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/pod-main.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/pod-test.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
  jobs/tidbcloud/aa_folder.groovy
  jobs/tidbcloud/cloud-storage-engine/aa_folder.groovy
  jobs/tidbcloud/cloud-storage-engine/dedicated/aa_folder.groovy
  jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen.groovy
  jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen.groovy
  pipelines/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/main-pod.yaml
  pipelines/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate tikv/migration to the job-folder layout
  jenkins/jobs/tikv/migration/aa_folder.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/Jenkinsfile
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/dsl.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/pod.yaml
  jenkins/jobs/tikv/migration/latest/pull_integration_test/Jenkinsfile
  jenkins/jobs/tikv/migration/latest/pull_integration_test/dsl.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_test/pod.yaml
  jobs/tikv/migration/aa_folder.groovy
  jobs/tikv/migration/latest/pull_integration_kafka_test.groovy
  jobs/tikv/migration/latest/pull_integration_test.groovy
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate pingcap-inc/tiflow to the job-folder layout
  jenkins/jobs/pingcap-inc/tiflow/aa_folder.groovy
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/aa_folder.groovy
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test/pod-pull_cdc_integration_build.yaml
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test/pod-pull_cdc_integration_kafka_test.yaml
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test/pod-pull_cdc_integration_build.yaml
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test/pod-pull_cdc_integration_mysql_test.yaml
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test/pod-pull_cdc_integration_build.yaml
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test/pod-pull_cdc_integration_pulsar_test.yaml
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test/pod-pull_cdc_integration_build.yaml
  jenkins/jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test/pod-pull_cdc_integration_storage_test.yaml
  jobs/pingcap-inc/tiflow/aa_folder.groovy
  jobs/pingcap-inc/tiflow/release-8.5/aa_folder.groovy
  jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate remaining aa_folder definitions to jenkins/jobs
  jenkins/jobs/pingcap/docs-cn/aa_folder.groovy
  jenkins/jobs/pingcap/docs-tidb-operator/aa_folder.groovy
  jenkins/jobs/pingcap/docs/aa_folder.groovy
  jobs/pingcap/docs-cn/aa_folder.groovy
  jobs/pingcap/docs-tidb-operator/aa_folder.groovy
  jobs/pingcap/docs/aa_folder.groovy
Due: none

refactor(jobs): migrate qa to the job-folder layout
  jenkins/jobs/qa/aa_folder.groovy
  jenkins/jobs/qa/qa_release_br_integration_test/Jenkinsfile
  jenkins/jobs/qa/qa_release_br_integration_test/dsl.groovy
  jenkins/jobs/qa/qa_release_br_integration_test/pod.yaml
  jenkins/jobs/qa/qa_release_lightning_integration_test/Jenkinsfile
  jenkins/jobs/qa/qa_release_lightning_integration_test/dsl.groovy
  jenkins/jobs/qa/qa_release_lightning_integration_test/pod.yaml
  jobs/qa/aa_folder.groovy
  jobs/qa/qa_release_br_integration_test.groovy
  jobs/qa/qa_release_lightning_integration_test.groovy
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate ti-community-infra/test-prod to job folders (#5255)
  jenkins/jobs/ti-community-infra/aa_folder.groovy
  jenkins/jobs/ti-community-infra/test-prod/aa_folder.groovy
  jenkins/jobs/ti-community-infra/test-prod/prow_debug/Jenkinsfile
  jenkins/jobs/ti-community-infra/test-prod/prow_debug/dsl.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/ti-community-infra/test-prod/aa_folder.groovy
  jobs/ti-community-infra/test-prod/prow_debug.groovy
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(prow-jobs): use quay.io mirror for minio sidecar image
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tests): rename aux fixture paths to avoid Windows reserved device name
  .ci/test-migrate-jenkins-jobs.sh
  tests/fixtures/jenkins-migration/jobs/acme/widget/latest/auxiliary.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/aux/run.sh
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/auxiliary/pipeline.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/auxiliary/pod.yaml
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/auxiliary/run.sh
Due: pull-verify-jenkins-pipelines

fix(tests): rename aux fixture paths to avoid Windows reserved device name (#5276)
  .ci/test-migrate-jenkins-jobs.sh
  tests/fixtures/jenkins-migration/jobs/acme/widget/latest/auxiliary.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/aux/run.sh
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/auxiliary/pipeline.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/auxiliary/pod.yaml
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/auxiliary/run.sh
Due: pull-verify-jenkins-pipelines

conductor(checkpoint): Checkpoint end of Phase 3
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
  tekton/v1/triggers/README.md
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb/git-push-branch-build-rust.yaml
Due: none

revert(scripts): drop the rust branch rule from versioning-strategy
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Due: none

feat(triggers): add rust build profile trigger for tidb hparser-integration (#5277)
  tekton/v1/triggers/README.md
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb/git-push-branch-build-rust.yaml
Due: none

fix(triggers): pin external-git-ref=master for the tidb rust trigger
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb/git-push-branch-build-rust.yaml
Due: none

fix(tekton): fetch external repo only for tidb enterprise builds
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/triggers/bindings/gcp-dev-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb/git-push-branch-build-rust.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

fix(tekton): fetch external repo only for tidb enterprise builds (#5278)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/triggers/bindings/gcp-dev-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap/tidb/git-push-branch-build-rust.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

fix(artifacts): prefer inline OCI config data over fetching the config blob
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

fix(artifacts): prefer inline OCI config data over fetching the config blob (#5279)
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

fix(prow-jobs): update client-go nextgen Go image
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): update client-go Go image to 1.25.14 (#5280)
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add staging Jenkins target to ci seed postsubmit
  prow-jobs/pingcap-qe/ci/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add staging Jenkins target to ci seed postsubmit (#5282)
  prow-jobs/pingcap-qe/ci/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(jobs): migrate job folders without back-compat symlinks
  .ci/test-migrate-jenkins-jobs.sh
  scripts/migrate-jenkins-jobs.sh
  tests/fixtures/jenkins-migration/jobs/acme/widget/latest/nopod.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/nopod.groovy
Due: pull-verify-jenkins-pipelines

feat(ci): validate and trigger the job-folder layout
  .agents/skills/test-jenkins-pipeline-changes-in-pr-by-replaying/SKILL.md
  .ci/check-jenkins-job-references.sh
  .ci/replay-jenkins-build.sh
  .ci/test-check-jenkins-job-references.sh
  .ci/verify-jenkins-credential-policy.sh
  .github/renovate.json
  prow-jobs/pingcap-qe/ci/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

docs: document the no-symlink job-folder migration
  AGENTS.md
  docs/designs/jenkins-job-folder-layout.md
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
