Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat: update branch regex
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update branch regex to match feature branch on lts
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add blank line
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): presubmit branch trigger match feature branch on 8.1 (#3390)
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update CI
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update script name
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflow): download exact version content in hotfix branch (#3380)
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  scripts/pingcap/tiflow/ticdc_integration_test_download_dependency.sh
Due: pull-verify-jenkins-pipelines

change CI
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

update ns name to jenkins-tiflow
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add trigger for new sync_diff pipeline
  jobs/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add new CI for tiflow to enable integration tests of sync_diff_inspector (#3387)
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore:update trigger cmds
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): add trigger for new sync_diff pipeline (#3392)
  jobs/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tidb): update to correct repo dir
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Update pod-periodics_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_mysql_test.yaml
Due: none

Update pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
Due: none

modify cdc integration test memory limit (#3393)
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
Due: none

feat: support download exact version binary on 8.5 hotfix
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update branch name
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: support download exact version binary on 7.5 hotfix
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update default branch name
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: support download exact version binary on 7.1 hotfix
  pipelines/pingcap/tiflow/release-7.1.0/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: support download exact version binary on 6.5&6.1
  pipelines/pingcap/tiflow/release-6.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat(dev-build): support new ticdc build in devbuild
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

chore to fix
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

feat(dev-build): support new ticdc build in devbuild (#3396)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

feat: build job add ticdc-newarch choice
  jenkins/jobs/cd/devbuild.groovy
Due: none

feat(dev-build): build job add ticdc-newarch choice (#3397)
  jenkins/jobs/cd/devbuild.groovy
Due: none

Run gtest_10x when script is available
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Update merged_unit_test
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(ticdc): add two cdc mysql it pipeline job
  jobs/pingcap/ticdc/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Due: none

feat(ticdc): add two cdc mysql it pipeline and trigger
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tiflow): fix cp dir failed
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

feat(ticdc): new ticdc add mysql it pipeline (#3399)
  jobs/pingcap/ticdc/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ticdc): update dir name to ticdc
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Due: pull-verify-jenkins-pipelines

chore(dm): to avoid build and download timeout
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

chore(ticdc): remove unnecessary test build
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Due: pull-verify-jenkins-pipelines

chore(ticdc): remove unnecessary test build (#3400)
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
