Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

fix(pipelines): fallback to fileserver dumpling in syncdiff replay
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(prow,tekton): support CI/CD for active-active repos pingcap-inc/tidb and pingcap-inc/ticdc (#4282)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
  tekton/v1/triggers/bindings/gcp-internal-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/ticdc/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tidb/git-create-tag.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines): fallback codecovcli download for tiflow unit jobs
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): use latest codecov cli download URL
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(prow): extract _checkoutRefsImpl to deduplicate checkout logic (#4284)
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(prow-jobs/pingcap-inc/tidb,ticdc): refactor Prow job configs to use YAML anchors and merges
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

use tekton to replace jenkins job migration-docker-release
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/tikv/migration/git-push.yaml
Due: none

fix(pow-jobs): remove skip_if_only_changed from storage integration job
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-inc/ticdc): update release presubmit job configuration
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-inc/tidb,ticdc): refactor Prow job configs to use YAML anchors and merges (#4285)
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tipipeline): relax gitBaseUrl host detection
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(jobs): set library cache refresh time to 60 minutes
  jobs/pingcap/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
Due: none

udpate tikv/migration/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/tikv/migration/git-push.yaml
Due: none

fix(libraries): fix SSH URL parsing for private repository checkouts to avoid Jenkins security denies
  libraries/tipipeline/vars/prow.groovy
Due: none

ci(pipelines): set release-8.5 git credentials id
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb/release-8.5): migrate artifact downloads to OCI
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_build.groovy
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb/release-8.5): split changes into #4293
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_build.groovy
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(tidb): Refactor release-8.5 pull_check2
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tidb): Remove debug and report
  pipelines/pingcap/tidb/release-8.5/pull_build.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb/release-8.5): fix pull_check2 utils container placement
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
Due: none

fileserver: migrate pingcap/tidb release-8.5 artifact downloads to OCI (#4293)
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_build.groovy
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(tekton/tikv/migration): use tekton to replace jenkins job migration-docker-release (#4287)
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/tikv/migration/git-push.yaml
Due: none

Revert "refactor(pipelines/tidb): extract TIDB_TEST_BRANCH as final var to improve maintainability"
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Revert "fix(pipelines): adjust binary download OCI registry and tidb-test checkout for pingcap-inc repos"
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow,tekton): add active-active branch triggers for pingcap-inc repos
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/ticdc/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tidb/git-push.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines/ticdc): revert environment OCI_ARTIFACT_HOST changes
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow,tekton,pipelines): add pingcap-inc active-active triggers and revert ticdc env OCI host change (#4291)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/ticdc/git-push.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tidb/git-push.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(ticdc): use computeArtifactOciTagFromPR for integration OCI tags
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): replace computeBranchFromPR with computeArtifactOciTagFromPR (#4294)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): replace internal mirror URL for ticdc GCP jobs
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): replace internal mirror URL for ticdc GCP jobs (#4295)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): sanitize TiDB OCI tag for pingcap-inc PRs
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(flaky-tests): sync GitHub issues and update report
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/IssueUtils.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
