Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

chore(pipelines/tidb-test): remove unnecessary excludes and cache blocks
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb-test): stash from within dir() blocks to fix unstash failures (#4750)
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/ghpr_integration_mysql_test): copy tidb binaries and fix tikv start path
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines): simplify tidb-test mysql build and execution flow
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tidb-test): apply stash/unstash pattern to release branch integration-mysql-test
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fixup: add check-binary step and move start_tikv.sh into dir('mysql_test')
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fixup: align download_pingcap_oci_artifact.sh usage with latest
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor: align release branches with latest download/prepare pattern
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): fix escape of newline in tikv config echo command
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tidb-test): apply stash/unstash to release branch ghpr_integration_mysql_test (#4751)
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.2/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(tekton): add pluginGitRef plumbing for devbuilds
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/pingcap-git-clone.yaml
  tekton/v1/triggers/bindings/gcp-dev-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

fix(tekton): use literal replace for pluginGitRef CEL overlay
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

feat(tekton): add pluginGitRef plumbing for devbuilds (FLA-225 PR2) (#4752)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/pingcap-git-clone.yaml
  tekton/v1/triggers/bindings/gcp-dev-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

chore(tekton): rename external-git-ref to git-ref in tasks and pipelines
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/pingcap-git-clone.yaml
Due: none

refactor(tekton): rename pluginGitRef to external-git-ref
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/pingcap-git-clone.yaml
  tekton/v1/triggers/bindings/gcp-dev-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

refactor(tekton-v1): rename param of task `pingcap-git-clone` (#4753)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/pingcap-git-clone.yaml
  tekton/v1/triggers/bindings/gcp-dev-build-params.yaml
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-gcp/_/fake-github/fake-github-tag-create.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

fix(tekton): remove unused pingcap-qe/artifacts trigger source
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

feat(configs): add kustomization for error-log-review ConfigMap (#4745)
  configs/error-log-review/kustomization.yaml
Due: none

Revert "fix(scripts): prevent SKIP-only tests from being marked as new_flaky …"
  scripts/plugins/analyze-go-test-from-bazel-output.sh
Due: none

Revert "fix(scripts): prevent SKIP-only tests from being marked as new_flaky" (#4754)
  scripts/plugins/analyze-go-test-from-bazel-output.sh
Due: none

feat(tekton): use ConfigMap volumes for delivery configs instead of GitHub downloads
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/pipelines/pingcap-release-ga.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-images.yaml
  tekton/v1/tasks/release/tag-and-delivery-rc2ga-on-oci-artifacts.yaml
  tekton/v1/tasks/release/wait-delivery-images.yaml
Due: none

test(plugins): add TDD tests for flaky detection bugs
  scripts/plugins/test_analyze-go-test-from-bazel-output.sh
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/flaky_two_shards.log
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/skip_and_flaky.log
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/skip_only.log
Due: none

fix(pipelines): remove timeout and credentials args from checkoutRefsWithCacheLock
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(dockerfile): install Python 3.11 via Miniconda in CI base image
  dockerfiles/ci/base/Dockerfile
Due: none

test(plugins): add TDD tests for flaky detection bugs (#4757)
  scripts/plugins/test_analyze-go-test-from-bazel-output.sh
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/flaky_two_shards.log
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/skip_and_flaky.log
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/skip_only.log
Due: none

feat(dockerfiles): add Python 3.12 and pip to base Docker image
  dockerfiles/ci/base/Dockerfile
Due: none

feat(dockerfiles): add Python 3.12 and pip to base Docker image (#4760)
  dockerfiles/ci/base/Dockerfile
Due: none

revert(prow): restore COS upload for docs PDF jobs and use kce-pingcap-cicd cluster
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs-tidb-operator/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

revert(prow): restore COS upload for docs PDF jobs and use kce-pingcap-cicd cluster (#4761)
  prow-jobs/pingcap/docs-cn/latest-postsubmits.yaml
  prow-jobs/pingcap/docs-tidb-operator/latest-postsubmits.yaml
  prow-jobs/pingcap/docs/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(ci): add skaffold build and publish for tidb-operator images
  .github/workflows/pull-ci-runtime-images.yaml
  .github/workflows/release-ci-runtime-images.yaml
  dockerfiles/ci/skaffold.yaml
  dockerfiles/ci/tidb-operator/backup-manager-base/Dockerfile
  dockerfiles/ci/tidb-operator/e2e-base/Dockerfile
Due: none

fix(dockerfiles): fix shell syntax error in backup-manager-base Dockerfile
  dockerfiles/ci/tidb-operator/backup-manager-base/Dockerfile
Due: none

tiflow: replace internal registry refs with public equivalents
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.2/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.2/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.0/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.0/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.3/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.3/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_verify.yaml
Due: none

ci(dockerfiles): add go1.19 and go1.20 jenkins image profiles
  .github/workflows/release-ci-runtime-images.yaml
  dockerfiles/ci/skaffold.yaml
Due: none

fix(dockerfiles): fix variable name case in e2e-base AWS CLI install
  dockerfiles/ci/tidb-operator/e2e-base/Dockerfile
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
