Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat(pingcap/tidb): refactor ghpr_build pipeline and add new pod configuration
  jobs/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Improve Go version mismatch messages with update instructions
  pipelines/pingcap/tidb/latest/ghpr_build/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): add go version checking in plugin testing stage (#3683)
  jobs/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Revert "feat(pingcap/tidb): add go version checking in plugin testing stage (…"
  jobs/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): remove Go version check from build pipelines
  pipelines/pingcap/tidb/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): remove Go version check from build pipelines (#3686)
  pipelines/pingcap/tidb/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines): update docker image references for Python ORM tests
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pod.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_python_orm_test.yaml
Due: none

fix(pipelines): update docker image references for Python ORM tests (#3687)
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pod.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_python_orm_test.yaml
Due: none

feat(error-log-review): add new repo pingcap/tidcdc in error logging
  configs/error-log-review/config.yaml
Due: none

feat(presubmits): add pull-error-log-review job across multiple repositories
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(presubmits): add missing newline at end of latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipelines): add pull-error-log-review job to multi repos (#3689)
  configs/error-log-review/config.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipelines/tidb): update pull-error-log-review job configuration of tidb
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines/tidb): update skip_report for pull-error-log-review job
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines/tidb): update pull-error-log-review job configuration
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(jenkins/pipelines/cd): add semverCompare function and use it for version checks
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

feat(pipelines/tidb): update pull-error-log-review job configuration of tidb (#3691)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(jenkins/pipelines/cd): use new base images since v6.5.12 (#3692)
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

fix(jenkisn/pipelines/cd): add Dockerfile URLs for versions >= v6.5.12 and < v6.6.0
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/tidb): reduce log retention period for integration tests from 30 to 7 days
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
Due: none

chore(pipelines/tidb): reduce log retention period for integration tests from 30 to 7 days (#3693)
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
Due: none

fix(jenkins/pipelines/cd): update version comparison to use v6.5.12-0 in dev-build pipeline
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/tici): update Docker image version to v2025.8.10-2-gc9e3144 for build-debug and e2e jobs
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines/tici): update Docker image version to v2025.8.10-2-gc9e3144 for build-debug and e2e jobs (#3695)
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(scripts/flow/build): add feature branch prerelease support to versioning strategy
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Due: none

refactor: simplify feature branch version suffix formatting
  scripts/flow/build/versioning-strategy.ts
Due: none

feat(scripts/flow/build): add feature branch prerelease support to versioning strategy (#3696)
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Due: none

chore(scripts): log feature branch detection in versioning strategy
  scripts/flow/build/versioning-strategy.ts
Due: none

chore(scripts): log rawVersion and commitInBranches for debugging
  scripts/flow/build/versioning-strategy.ts
Due: none

fix(scripts): fix feature branch suffix extraction in versioning strategy
  scripts/flow/build/versioning-strategy.ts
Due: none

fix(scripts): fix feature branch regex and update main for testing
  scripts/flow/build/versioning-strategy.ts
Due: none

fix(scripts): fix versioning-strategy script
  scripts/flow/build/versioning-strategy.ts
Due: none

fix(scripts/pingcap/community): handle 404 error in getFileContent and return undefined
  scripts/pingcap/community/prow-owners-updater.ts
Due: none

fix: address the review comment
  scripts/pingcap/community/prow-owners-updater.ts
Due: none

fix(scripts/pingcap/community): handle 404 error in getFileContent and return undefined (#3697)
  scripts/pingcap/community/prow-owners-updater.ts
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
