Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

feat(ci): add Docker build workflows for CI runtime images
  .github/workflows/pull-ci-runtime-images.yaml
  .github/workflows/release-ci-runtime-images.yaml
  .github/workflows/weekly-release.yaml
  dockerfiles/ci/base/Dockerfile
  dockerfiles/ci/jenkins/Dockerfile
  dockerfiles/ci/jenkins/tiflash/Dockerfile
  dockerfiles/ci/jenkins/tikv/Dockerfile
  dockerfiles/ci/skaffold.yaml
  dockerfiles/ci/tici/Dockerfile
Due: none

feat(ci): add Docker build workflows for CI runtime images (#4720)
  .github/workflows/pull-ci-runtime-images.yaml
  .github/workflows/release-ci-runtime-images.yaml
  .github/workflows/weekly-release.yaml
  dockerfiles/ci/base/Dockerfile
  dockerfiles/ci/jenkins/Dockerfile
  dockerfiles/ci/jenkins/tiflash/Dockerfile
  dockerfiles/ci/jenkins/tikv/Dockerfile
  dockerfiles/ci/skaffold.yaml
  dockerfiles/ci/tici/Dockerfile
Due: none

feat(ci): restrict workflow_dispatch to main branch
  .github/workflows/weekly-release.yaml
Due: none

ci: increase Checkout & Prepare stage timeout from 5 to 10 minutes
  pipelines/pingcap-qe/tidb-test/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(scripts): update default OCI registry for RC check
  scripts/flow/rc/check-tiup.ts
Due: none

feat(ci): restrict workflow_dispatch to main branch (#4721)
  .github/workflows/weekly-release.yaml
  scripts/flow/rc/check-tiup.ts
Due: none

feat(ci): refactor tidb-test latest stage agents with serial stage merging and stash/unstash (#4716)
  pipelines/pingcap-qe/tidb-test/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(renovate): restrict Docker update types and add regex manager
  .github/renovate.json
Due: none

fix(scripts): prevent SKIP-only tests from being marked as new_flaky
  scripts/plugins/analyze-go-test-from-bazel-output.sh
Due: none

ci(renovate): restrict Docker update types and add regex manager (#4723)
  .github/renovate.json
Due: none

ci(prow, tekton): bump deno image to 2.8.3 across projects
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/periodics.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/ticdc/common-postsubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/pingcap/tiflash/common-postsubmits.yaml
  prow-jobs/pingcap/tiflow/common-postsubmits.yaml
  prow-jobs/tikv/community/postsubmits.yaml
  tekton/v0/tasks/hotfix/create-pr-to-sync-owners.yaml
  tekton/v0/tasks/pingcap-get-set-release-version.yaml
  tekton/v0/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  tekton/v1/tasks/pingcap-get-set-release-version.yaml
  tekton/v1/tasks/release/create-pr-to-add-release-anchor-commit.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): downgrade golang image to 1.25.11 for monitoring periodics
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): update Go images used in Prow jobs
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/pingcap/tidb/common-presubmits.yaml
  prow-jobs/ti-community-infra/configs/postsubmits.yaml
  prow-jobs/ti-community-infra/configs/presubmits.yaml
  prow-jobs/tikv/pd/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow): downgrade Go image from 1.26.4 to 1.21.13 in monitoring periodics
  prow-jobs/pingcap/monitoring/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts): prevent SKIP-only tests from being marked as new_flaky (#4724)
  scripts/plugins/analyze-go-test-from-bazel-output.sh
Due: none

ci: update Jenkins backend URL from do.pingcap.net to prow.tidb.net
  .ci/check-pr-content-policy.sh
  AGENTS.md
  docs/contributing.md
  docs/core-concepts.md
  docs/guides/CI.md
Due: none

pipelines(tiflash): simplify checkout stage and use REFS for tag
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): fix tiflash integration test script parameter syntax
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

docs(agents): clarify when to use ci commit type
  AGENTS.md
Due: none

fix(pipelines/pingcap/tiflash): simplify checkout stage and use REFS for tag (#4739)
  AGENTS.md
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(prow): add retry wrapper around cache step to survive interrupted cache save
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(pipelines): disable cached checkout for tiflash jobs
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): increase tiflash checkout timeout
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix: disable cached checkout for TiFlash pipeline jobs (#4743)
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_build_next_gen.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/pingcap/tiflash): use ci/base image for release-6.5 integration test pod
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
Due: none

feat(configs): add kustomization for error-log-review ConfigMap
  configs/error-log-review/kustomization.yaml
Due: none

fix(pipelines/pingcap/tiflash): use ci/base image for release-6.5 int… (#4744)
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
Due: none

chore(prow-jobs): update tikv release-7.5 master label from 0 to 1
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): update tikv release-7.5 master label from 0 to 1 (#4746)
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipelines): align tikv release-7.5 pipeline and pod template with 8.5
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(pipelines): align tikv release-7.5 pipeline and pod template with 8.5 (#4747)
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipelines(tiflash): increase pull_unit_next_gen timeout to 120min
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

tiflash: increase pull_unit_test timeout to 120min
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/pingcap/tiflash): increase pull_unit_next_gen and pull_unit_test timeout to 120min (#4748)
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb-test): move unstash outside dir() to fix double-nesting
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb-test): move unstash outside dir() to fix double-nesting (#4749)
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb-test): exclude .git from stash to fix AccessDeniedException
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb-test): stash from within dir() blocks to avoid .git conflicts
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
