Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix(tiflash): adjust parallelism in ut from 16 to 12 (#2902)
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: print pr info in pipelinerun
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: print pr info in pipelinerun (#2904)
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add josdsl for tikv lts branch
  jobs/tikv/tikv/release-6.1/aa_folder.groovy
  jobs/tikv/tikv/release-6.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-6.5/aa_folder.groovy
  jobs/tikv/tikv/release-6.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.1/aa_folder.groovy
  jobs/tikv/tikv/release-7.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.5/aa_folder.groovy
  jobs/tikv/tikv/release-7.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.1/aa_folder.groovy
  jobs/tikv/tikv/release-8.1/pull_unit_test.groovy
Due: none

feat: add pipelines for tikv lts branch
  pipelines/tikv/tikv/release-6.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add pipeline for tikv refactor ut in lts branch (#2905)
  jobs/tikv/tikv/release-6.1/aa_folder.groovy
  jobs/tikv/tikv/release-6.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-6.5/aa_folder.groovy
  jobs/tikv/tikv/release-6.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.1/aa_folder.groovy
  jobs/tikv/tikv/release-7.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.5/aa_folder.groovy
  jobs/tikv/tikv/release-7.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.1/aa_folder.groovy
  jobs/tikv/tikv/release-8.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add two qa-release-test pipeline
  jenkins/jobs/ci/qa/qa_release_br_integration_test.groovy
  jenkins/jobs/ci/qa/qa_release_lightning_integration_test.groovy
  jenkins/pipelines/qa/qa-release-br-integration-test.groovy
  jenkins/pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines

feat: add two qa-release-test pipeline (#2906)
  jenkins/jobs/ci/qa/qa_release_br_integration_test.groovy
  jenkins/jobs/ci/qa/qa_release_lightning_integration_test.groovy
  jenkins/pipelines/qa/qa-release-br-integration-test.groovy
  jenkins/pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines

feat: add two qa-release-test pipeline
  jobs/qa/aa_folder.groovy
  jobs/qa/qa_release_br_integration_test.groovy
  jobs/qa/qa_release_lightning_integration_test.groovy
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines

fix: update scripts in jobdsl
  jobs/qa/qa_release_br_integration_test.groovy
  jobs/qa/qa_release_lightning_integration_test.groovy
Due: none

feat: add two qa-release-test pipeline (#2907)
  jobs/qa/aa_folder.groovy
  jobs/qa/qa_release_br_integration_test.groovy
  jobs/qa/qa_release_lightning_integration_test.groovy
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines

fix: checkout with tags
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines

init
  prow-jobs/pingcap-tidb-engine-ext-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Increase memory limit for TiFlash Proxy (#2909)
  prow-jobs/pingcap-tidb-engine-ext-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: update
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines

chore: disable trigger on tikv old ut master branch
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

feat: make tikv ut on master ready
  prow-jobs/tikv-tikv-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: checkout with tags (#2908)
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Due: pull-verify-jenkins-pipelines

feat(tikv): make tikv ut on master ready (#2911)
  prow-jobs/tikv-tikv-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: disable trigger on tikv old ut master branch (#2910)
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

Revert "Revert "feat: br ci support run_if_changed" (#2899)"
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): support run_if_changed for br module (#2913)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add 8.0 support
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(docs&docs-cn): add 8.0 support (#2914)
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: enable upload pdf and context report
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: get version from branch string
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

feat(docs&docs-cn): enable upload pdf and context report (#2915)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: print branch info in docs merged pipeline
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

chore(docs&docs-cn): print branch info in docs merged pipeline (#2916)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

run tikv coverage test with enxtest and ignore corrupted rawdata file when generate coverage result
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Due: pull-verify-jenkins-pipelines

feat: add jobdsl for repo pingcap/docs-tidb-operator
  jobs/pingcap/docs-tidb-operator/aa_folder.groovy
  jobs/pingcap/docs-tidb-operator/latest/merged_update.groovy
Due: none

feat: add pipeline and trigger for docs-tidb-operator
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-tidb-operator-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(docs-tidb-operator): add docs tidb operator merged pipeline (#2918)
  jobs/pingcap/docs-tidb-operator/aa_folder.groovy
  jobs/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-tidb-operator-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tiproxy): delete the old cd jobs
  jobs/pingcap/tiproxy/cd/OWNERS
  jobs/pingcap/tiproxy/cd/latest/release_tiproxy_tiup.groovy
  pipelines/pingcap/tiproxy/cd/OWNERS
  pipelines/pingcap/tiproxy/cd/latest/pod-go-amd64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-go-arm64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-tiup.yaml
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tiproxy): delete the old cd jobs (#2919)
  jobs/pingcap/tiproxy/cd/OWNERS
  jobs/pingcap/tiproxy/cd/latest/release_tiproxy_tiup.groovy
  pipelines/pingcap/tiproxy/cd/OWNERS
  pipelines/pingcap/tiproxy/cd/latest/pod-go-amd64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-go-arm64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-tiup.yaml
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

tikv: run coverage test with nextest and ignore corrupted profile files (#2917)
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Due: pull-verify-jenkins-pipelines

chore: enable trigger for new tikv ut on lts branch
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-tikv-release-6.5-presubmits.yaml
  prow-jobs/tikv-tikv-release-7.1-presubmits.yaml
  prow-jobs/tikv-tikv-release-7.5-presubmits.yaml
  prow-jobs/tikv-tikv-release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: format
  prow-jobs/tikv-tikv-release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
