Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

chore(pingcap/tidb): remove flaky_test_attempts modification from UT hack for next-gen UT job
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): remove flaky_test_attempts modification from UT hack for next-gen (#3749)
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(tools): add reporter tool for flaky test analysis and reporting
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/Database.ts
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/deno.json
  tools/reporters/ci/flaky-tests/deno.lock
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/docs/owner-map.example.yaml
  tools/reporters/ci/flaky-tests/flaky-report.html
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
  tools/reporters/ci/flaky-tests/utils/EmailClient.ts
  tools/reporters/ci/flaky-tests/utils/db.ts
Due: none

Restrict pull-check-deps job to specific branches
  prow-jobs/tikv/pd/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): update ci job `pull_br_intergration_test_next_gen` (#3738)
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): increase timeout for CI jobs in release branches
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): increase test timeout in ghpr_check2.groovy files
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): increase timeout for CI jobs in release branches (#3751)
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

feat(prow-jobs/tikv/pd): update job `pull-check-deps` (#3742)
  prow-jobs/tikv/pd/common-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

opt(tools/reporters/ci/flaky-tests): improve HTML report UI
  tools/reporters/ci/flaky-tests/flaky-report.html
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

Rename Suite to Package and format suite names in HTML report
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

Refactor owner resolution logic and add tests
  tools/reporters/ci/flaky-tests/core/Database.ts
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.test.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/deno.json
Due: none

Add repo and branch filters to flaky test reporter
  .gitignore
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/Database.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/main.ts
Due: none

Remove debug console.dir statement from OwnerResolver
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
Due: none

Add rank bars to flaky test report tables
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

Revert "Revert "Remove dind-daemon initContainer configuration" (#3747)"
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: "Revert "Remove dind-daemon initContainer configuration"" (#3752)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: increase tidb br integration test timeout duration
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: increase tidb br integration test timeout duration (#3753)
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "chore: "Revert "Remove dind-daemon initContainer configuration"" (#3…"
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

revert: Revert "Remove dind-daemon initContainer configuration (#3754)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

cdc:Support specifying component versions in comments
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

Add email CC support and improve HTML email rendering
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/deno.lock
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
  tools/reporters/ci/flaky-tests/utils/EmailClient.ts
Due: none

docs: update README and owner-map example to reflect current semantics
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/docs/owner-map.example.yaml
Due: none

Apply suggestion from @gemini-code-assist[bot]
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
Due: none

Refactor DSN parsing to use URL API and improve validation
  tools/reporters/ci/flaky-tests/utils/db.ts
Due: none

Remove unused queryOwner method from Database class
  tools/reporters/ci/flaky-tests/core/Database.ts
Due: none

Add default TLS mode VERIFY_IDENTITY to DB config
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
Due: none

feat(tools): add reporter tool for flaky test analysis and reporting (#3750)
  .gitignore
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/Database.ts
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.test.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/deno.json
  tools/reporters/ci/flaky-tests/deno.lock
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/docs/owner-map.example.yaml
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
  tools/reporters/ci/flaky-tests/utils/EmailClient.ts
  tools/reporters/ci/flaky-tests/utils/db.ts
Due: none

chore(pingcap/tidb): disable periodics_tidb_next_gen_smoke_test job (#3739)
  jobs/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Comment out skip_if_only_changed in presubmits
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: Add context for pull-cdc-storage-integration-light
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: comment out skip_if_only_changed in presubmits (#3756)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add Tencent COS upload functionality to pipeline
  jenkins/pipelines/cd/tidb-operator.groovy
  scripts/artifacts/README_tencent_cos.md
  scripts/artifacts/upload_tencent_cos.py
Due: pull-verify-jenkins-pipelines

docs: update README for Tencent COS upload script
  scripts/artifacts/README_tencent_cos.md
Due: none

docs: remove error handling section from Tencent COS README
  scripts/artifacts/README_tencent_cos.md
Due: none

Update scripts/artifacts/README_tencent_cos.md
  scripts/artifacts/README_tencent_cos.md
Due: none

docs: update Tencent COS README for clarity and consistency
  scripts/artifacts/README_tencent_cos.md
Due: none

fix(prow-jobs/pingcap/ticdc): support `/test all` trigger for all required integration jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(cd/tidb-operator): add Tencent COS upload functionality to pipeline (#3757)
  jenkins/pipelines/cd/tidb-operator.groovy
  scripts/artifacts/README_tencent_cos.md
  scripts/artifacts/upload_tencent_cos.py
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
