Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

Remove privileged securityContext from golang container
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: none

Rename container from tikv to builder in pipeline config
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/main-pod.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

Add cloud-storage-engine latest-presubmits-next-gen config
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Extract MinIO version to variable in pipeline script
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

ci: update Renovate config
  .github/renovate.json
Due: none

fix(deps): bump release utils image to v2025.10.12-7-gfdd779c
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pod.yaml
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pod.yaml
  tekton/v0/tasks/build/pingcap-build-binaries-darwin.yaml
  tekton/v0/tasks/build/pingcap-build-binaries-linux.yaml
  tekton/v0/tasks/build/pingcap-build-images.yaml
  tekton/v0/tasks/gen-build-binaries-scripts.yaml
  tekton/v0/tasks/gen-build-images-scripts.yaml
  tekton/v0/tasks/multi-arch-image-collect.yaml
  tekton/v0/tasks/ops/scan-go-modules-in-binaries.yaml
  tekton/v0/tasks/pingcap-auto-add-image-major-tag.yaml
  tekton/v0/tasks/pingcap-compose-offline-pkgs.yaml
  tekton/v0/tasks/pingcap-get-builder-image.yaml
  tekton/v0/tasks/pingcap-upload-enterprise-plugins.yaml
  tekton/v0/tasks/pingcap-upload-offline-package.yaml
  tekton/v0/tasks/publish-tiup-from-oci-artifact.yaml
  tekton/v0/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  tekton/v0/tasks/release/create-pr-to-bump-tikv-version.yaml
  tekton/v0/tasks/release/pingcap-upload-hotfix-tarball-from-url.yaml
  tekton/v0/tasks/release/tag-rc2ga-on-oci-artifacts.yaml
  tekton/v0/tasks/release/wait-delivery-images.yaml
  tekton/v0/tasks/release/wait-delivery-tiup.yaml
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
  tekton/v1/tasks/pingcap-build-images.yaml
  tekton/v1/tasks/pingcap-get-builder-image.yaml
Due: none

fix: bump release utils image for offline package composing task (#3801)
  .github/renovate.json
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pod.yaml
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pod.yaml
  tekton/v0/tasks/build/pingcap-build-binaries-darwin.yaml
  tekton/v0/tasks/build/pingcap-build-binaries-linux.yaml
  tekton/v0/tasks/build/pingcap-build-images.yaml
  tekton/v0/tasks/gen-build-binaries-scripts.yaml
  tekton/v0/tasks/gen-build-images-scripts.yaml
  tekton/v0/tasks/multi-arch-image-collect.yaml
  tekton/v0/tasks/ops/scan-go-modules-in-binaries.yaml
  tekton/v0/tasks/pingcap-auto-add-image-major-tag.yaml
  tekton/v0/tasks/pingcap-compose-offline-pkgs.yaml
  tekton/v0/tasks/pingcap-get-builder-image.yaml
  tekton/v0/tasks/pingcap-upload-enterprise-plugins.yaml
  tekton/v0/tasks/pingcap-upload-offline-package.yaml
  tekton/v0/tasks/publish-tiup-from-oci-artifact.yaml
  tekton/v0/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  tekton/v0/tasks/release/create-pr-to-bump-tikv-version.yaml
  tekton/v0/tasks/release/pingcap-upload-hotfix-tarball-from-url.yaml
  tekton/v0/tasks/release/tag-rc2ga-on-oci-artifacts.yaml
  tekton/v0/tasks/release/wait-delivery-images.yaml
  tekton/v0/tasks/release/wait-delivery-tiup.yaml
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
  tekton/v1/tasks/pingcap-build-images.yaml
  tekton/v1/tasks/pingcap-get-builder-image.yaml
Due: none

fix(pipelines): fix cache key function call syntax in pipeline script
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(tidbcloud/cloud-storage-engine): add Jenkins pipeline for next-gen realcluster integration tests (#3800)
  jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/main-pod.yaml
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/test-pod.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/tidbcloud/cloud-storage-engine/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Remove pull_tiflash_test jobs for release-8.5 and release-9.0-beta branches (#3806)
  jobs/pingcap/tidb/release-8.5/pull_tiflash_test.groovy
  jobs/pingcap/tidb/release-9.0-beta/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.5/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_tiflash_test.groovy
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tekton/v1): add deliver-images task for image delivery in pipelines and triggers
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/pingcap-deliver-images.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
Due: none

Apply suggestion from @wuhuizuo
  tekton/v1/tasks/pingcap-deliver-images.yaml
Due: none

Combine image command generation steps into one script
  tekton/v1/tasks/pingcap-deliver-images.yaml
Due: none

Update deliver-images trigger to use build-images result
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
Due: none

Update taskRef to use pingcap-deliver-images
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
Due: none

feat(tekton/v1): add deliver-images task for image delivery in pipelines and triggers (#3807)
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/pingcap-deliver-images.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
Due: none

fix(jobs/tidbcloud): add folder DSLs for tidbcloud
  jobs/tidbcloud/aa_folder.groovy
  jobs/tidbcloud/cloud-storage-engine/aa_folder.groovy
  jobs/tidbcloud/cloud-storage-engine/dedicated/aa_folder.groovy
Due: none

fix(jobs/tidbcloud): fix folder name
  jobs/tidbcloud/aa_folder.groovy
Due: none

fix(jobs/tidbcloud): add folder DSLs for tidbcloud (#3808)
  jobs/tidbcloud/aa_folder.groovy
  jobs/tidbcloud/cloud-storage-engine/aa_folder.groovy
  jobs/tidbcloud/cloud-storage-engine/dedicated/aa_folder.groovy
Due: none

fix(tekton/v1/triggers): update Tekton templates to use v1 API version
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
  tekton/v1/triggers/templates/_/ci-helper-for-pr.yaml
  tekton/v1/triggers/templates/pingcap/bump-placeholder-version-in-readme.yaml
  tekton/v1/triggers/templates/pingcap/sync-owners-for-hotfix-branch.yaml
  tekton/v1/triggers/templates/pingcap/tidb/update-gomod-fix-ladp-for-hotfix-branch.yaml
  tekton/v1/triggers/templates/tikv/tikv/bump-tikv-cargo-pkg-version.yaml
  tekton/v1/triggers/triggers/_/github-pr-labeled-with-lgtm.yaml
Due: none

fix(tekton/v1/triggers): update Tekton templates to use v1 API version (#3809)
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
  tekton/v1/triggers/templates/_/ci-helper-for-pr.yaml
  tekton/v1/triggers/templates/pingcap/bump-placeholder-version-in-readme.yaml
  tekton/v1/triggers/templates/pingcap/sync-owners-for-hotfix-branch.yaml
  tekton/v1/triggers/templates/pingcap/tidb/update-gomod-fix-ladp-for-hotfix-branch.yaml
  tekton/v1/triggers/templates/tikv/tikv/bump-tikv-cargo-pkg-version.yaml
  tekton/v1/triggers/triggers/_/github-pr-labeled-with-lgtm.yaml
Due: none

fix(tekton/v1): update Tekton templates for v1beta1 compatibility
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
Due: none

fix(tekton/v1): update Tekton templates to use pipelinerun v1 (#3810)
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
Due: none

Refactor triggers for next-gen builds and add tag support
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/_/git-push-branch-build-ng.yaml
  tekton/v1/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/pingcap/ticdc/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/pingcap/tidb/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/pingcap/tiflash/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/tidbcloud/cloud-storage-engine/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/tikv/pd/git-push-branch-build.yaml
Due: none

Remove tidbcloud cloud-storage-engine triggers from kustomization
  tekton/v1/triggers/triggers/kustomization.yaml
Due: none

refactor(tekton/v1): refactor triggers for next-gen builds and add tag support (#3812)
  tekton/v1/triggers/triggers/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/_/git-push-branch-build-ng.yaml
  tekton/v1/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/pingcap/ticdc/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/pingcap/tidb/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/pingcap/tiflash/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/tidbcloud/cloud-storage-engine/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/tikv/pd/git-push-branch-build.yaml
Due: none

refactor(tekton/v0/triggers/triggers): remove next-gen build triggers and consolidate branch build triggers
  tekton/v0/triggers/triggers/_/git-push-branch-build-community.yaml
  tekton/v0/triggers/triggers/_/git-push-branch-build-enterprise.yaml
  tekton/v0/triggers/triggers/_/git-push-branch-build-failpoint.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/_/git-push-branch-build-enterprise.yaml
  tekton/v0/triggers/triggers/pingcap/_/git-push-branch-build-failpoint.yaml
  tekton/v0/triggers/triggers/pingcap/ticdc/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/pingcap/tidb/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/pingcap/tiflash/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/tidbcloud/cloud-storage-engine/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/tikv/_/git-push-branch-build-enterprise.yaml
  tekton/v0/triggers/triggers/tikv/_/git-push-branch-build-failpoint.yaml
  tekton/v0/triggers/triggers/tikv/pd/git-push-branch-build.yaml
Due: none

refactor(tekton/v0/triggers/triggers): remove next-gen build triggers (#3813)
  tekton/v0/triggers/triggers/_/git-push-branch-build-community.yaml
  tekton/v0/triggers/triggers/_/git-push-branch-build-enterprise.yaml
  tekton/v0/triggers/triggers/_/git-push-branch-build-failpoint.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap/_/git-push-branch-build-enterprise.yaml
  tekton/v0/triggers/triggers/pingcap/_/git-push-branch-build-failpoint.yaml
  tekton/v0/triggers/triggers/pingcap/ticdc/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/pingcap/tidb/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/pingcap/tiflash/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/tidbcloud/cloud-storage-engine/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/tikv/_/git-push-branch-build-enterprise.yaml
  tekton/v0/triggers/triggers/tikv/_/git-push-branch-build-failpoint.yaml
  tekton/v0/triggers/triggers/tikv/pd/git-push-branch-build.yaml
Due: none

feat(tekton/v0): add ticdc tag trigger
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap-inc/tici/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/advanced-statefulset/git-push.yaml
  tekton/v0/triggers/triggers/pingcap/ticdc/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-ctl/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-ctl/git-push.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-operator/git-push.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-tools/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
Due: none

feat(tekton/v0): add ticdc tag trigger (#3814)
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap-inc/tici/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/advanced-statefulset/git-push.yaml
  tekton/v0/triggers/triggers/pingcap/ticdc/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-ctl/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-ctl/git-push.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-operator/git-push.yaml
  tekton/v0/triggers/triggers/pingcap/tidb-tools/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tidb/git-push-branch-build.yaml
  tekton/v0/triggers/triggers/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
Due: none

Add release-nextgen branch pattern to presubmit configs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines): fix target branches based on base_ref for nextgen integration pipelines
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines

feat: add release-nextgen branch pattern to presubmit configs (#3815)
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/tikv/pd): set `pull-unit-test-next-gen` as required job for PRs
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Set resource requests for pd coverage job
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  prow-jobs/tikv/pd/common-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
