Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

update
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

ticdc: collect kafka logs (#3969)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

update(pd): bump builder and base images to v2025.12.7-3-g1c0b8cf-go1.25 for improved compatibility
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update(pd): downgrade builder image to v2025.11.30-5-gd8d742b-centos7-go1.25 for compatibility
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap/tidb): update TiDB periodic ut jobs to monthly schedule and reduce resources (#3968)
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update(pd): bump builder and base images to v2025.12.7-3-g1c0b8cf-go1.25 (#3970)
  prow-jobs/tikv/pd/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines): update container images and resource allocations for golang jobs
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines): update golang image to v1.25 and adjust resource requests
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
Due: none

chore(pipelines): update golang image to v1.25 in pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
Due: none

chore(ticdc&tiflow): ticdc and tiflow update to go1.25 in master branch (#3971)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ticdc): update container image from jenkins to base in presubmit configurations
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ticdc): update container image from jenkins to base in ticdc presubmit jobs (#3972)
  prow-jobs/pingcap/ticdc/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Add week-on-week flaky test comparison to reports
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

Remove unused previousWeekThresholdedCount field
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

feat(tekton/v1): add ksy classic build params trigger binding
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-failpoint.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-on-fips-branches.yaml
Due: none

ticdc: revert collect kafka logs
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

ticdc: revert collect kafka logs (#3974)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
Due: pull-verify-jenkins-pipelines

Address the review suggestions
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
Due: none

refactor(prow): Use specific skip_if_only_changed for pull-check
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb,pd): use component.fetchAndExtractArtifact replace for artifact download
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines): increase CPU and timeout settings for CDC integration tests
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feature(tools/reports): add contrast column for flaky report (#3973)
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

chore(tiflow): increase CPU and timeout settings for CDC integration tests (#3977)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines

update
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
Due: none

fixup
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
Due: none

chore(tiflow): update MySQL version for sync-diff-inspector (#3978)
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
Due: none

refactor(tekton): migrate builds for community linux target to prod2
  tekton/v0/triggers/triggers/_/git-push-branch-build-community-darwin.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

refactor(tekton): migrate builds for community linux target to prod2 (#3979)
  tekton/v0/triggers/triggers/_/git-push-branch-build-community-darwin.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

fix(tekton): move TikV version bump trigger and task files from v0 to v1
  tekton/v0/tasks/kustomization.yaml
  tekton/v0/triggers/templates/kustomization.yaml
  tekton/v0/triggers/templates/tikv/tikv/bump-tikv-cargo-pkg-version.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/release/create-pr-to-bump-tikv-version.yaml
Due: none

fix(tekton): move TikV version bump trigger and task files from v0 to v1 (#3980)
  tekton/v0/tasks/kustomization.yaml
  tekton/v0/triggers/templates/kustomization.yaml
  tekton/v0/triggers/templates/tikv/tikv/bump-tikv-cargo-pkg-version.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/release/create-pr-to-bump-tikv-version.yaml
Due: none

refactor(tekton): update build templates for Darwin and Linux platforms
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-failpoint.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-on-fips-branches.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-push.yaml
Due: none

refactor(tekton): update build templates for Darwin and Linux platforms (#3981)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/triggers/bindings/ksy-classic-build-params.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-failpoint.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-on-fips-branches.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/advanced-statefulset/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb-operator/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tidb/git-push-branch-build.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap/tiflow-operator/git-push.yaml
Due: none

feat(tidb,pd): use component.fetchAndExtractArtifact replace for artifact download
  pipelines/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: remove the outer script block to simplify the code
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
Due: pull-verify-jenkins-pipelines

add ready-for-review job for tidb-operator
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(tidb/release-8.5): Increase the timeout duration for tidb unit-test and integration-br-test
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb,pd): use component.fetchAndExtractArtifact replace for artifact download
  pipelines/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(tidb/release-8.5): Increase the timeout duration for tidb unit-test and integration-br-test (#3984)
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(tidb/release-8.5): remove the stage-level timeout setting
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
