Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat: upadte new ut on tikv 6.1
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: use ks3 download and upload from library
  libraries/tipipeline/vars/component.groovy
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add trigger on 6.1
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-tikv-release-6.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: tikv new ut add trigger on 6.1 (#2940)
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-tikv-release-6.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add legacy python script for branch 6.1
  scripts/tikv/tikv/release-6.1/gen_test_binary.py
Due: none

fix: remove extra backslash
  scripts/tikv/tikv/release-6.1/gen_test_binary.py
Due: none

fix some script
  pipelines/tikv/tikv/release-6.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore add new line
  libraries/tipipeline/vars/component.groovy
Due: none

fix: upadte new ut on tikv 6.1 (#2939)
  libraries/tipipeline/vars/component.groovy
  pipelines/tikv/tikv/release-6.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  scripts/tikv/tikv/release-6.1/gen_test_binary.py
Due: pull-verify-jenkins-pipelines

feat(scripts/aritfacts): add scripts to check internal images
  scripts/artifacts/check-images-internal.sh
Due: none

feat(scripts/aritfacts): add scripts to check internal images (#2941)
  scripts/artifacts/check-images-internal.sh
Due: none

upate
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb): test flashbacktest package (#2942)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

feat: enable report and trigger on tiflash master new pipeline
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: disable old pipeline trigger on tiflash master
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
Due: none

feat: enable report and trigger on tiflash master new pipeline (#2943)
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/ng-monitoring): fix the base_ref arg for create pull request on pingcap/monitoring
  prow-jobs/pingcap-ng-monitoring-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: retry only after get src code cache from ks3
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/ng-monitoring): fix the base_ref arg for create pull request on pingcap/monitoring (#2945)
  prow-jobs/pingcap-ng-monitoring-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tiflash): retry only after get src code cache from ks3 (#2946)
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: disable old pipeline trigger on tiflash master (#2944)
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
Due: none

fix: correct the dir to collect log
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: user image with tini
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
Due: none

fix: Restrict the node nodes for Pod scheduling
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
Due: none

chore update
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
Due: none

fix: Restrict the node nodes for Pod scheduling (#2948)
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
Due: none

fix(tiflash): correct the dir to collect log (#2947)
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

use failpoint tidb-server instead
  pipelines/qa/qa-release-br-integration-test.groovy
Due: pull-verify-jenkins-pipelines

fix(br): use failpoint tidb-server instead (#2950)
  pipelines/qa/qa-release-br-integration-test.groovy
Due: pull-verify-jenkins-pipelines

fix
  pipelines/qa/qa-release-br-integration-test.groovy
Due: pull-verify-jenkins-pipelines

fix(br): use failpoint tidb-server instead (#2951)
  pipelines/qa/qa-release-br-integration-test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tikv raft-engine pipeline
  jobs/tikv/raft-engine/aa_folder.groovy
  jobs/tikv/raft-engine/latest/pull_unit_test.groovy
  pipelines/tikv/raft-engine/latest/pod-pull_unit_test.yaml
  pipelines/tikv/raft-engine/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: update pod image
  pipelines/tikv/raft-engine/latest/Dockerfile
  pipelines/tikv/raft-engine/latest/pod-pull_unit_test.yaml
Due: none

feat(tikv/*): add job to sync prow OWNERS files
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-community-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

apply to all branches
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix regexp
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv/*): add job to sync prow OWNERS files (#2953)
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-community-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tiproxy): apply prow-jobs to all branches (#2954)
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(scripts/artifacts): add shell function `publish_tiup_from_oci_artifact_repos`
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

fix(scripts/pingcap/community): add sign-off in commit message
  scripts/pingcap/community/update-prow-owners.ts
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
