Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

ci(prow): migrate pingcap/tiflow release-7.5 jobs to target jenkins (#5142)
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(libraries): keep .git/refs non-empty for stashed workspaces
  libraries/tipipeline/tests/TestProw.groovy
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(libraries): keep .git/refs non-empty for stashed workspaces (#5204)
  libraries/tipipeline/tests/TestProw.groovy
  libraries/tipipeline/vars/prow.groovy
Due: none

fix(scripts): put real-tikv PD/TiKV data dir under /tmp
  scripts/pingcap/tidb/run_real_tikv_tests.sh
  scripts/pingcap/tidb/run_real_tikv_tests_with_gotest.sh
Due: none

ci(prow): migrate pingcap/tidb release-7.1 optional jobs to target jenkins
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): return release-7.1 optional jobs for a separate PR
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.1 optional jobs to target jenkins (#5206)
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci: add pre-commit hook to check yaml files
  .pre-commit-config.yaml
Due: none

chore(pre-commit): support multi-doc yaml files
  .pre-commit-config.yaml
Due: none

ci: add pre-commit hook to check yaml files (#5207)
  .pre-commit-config.yaml
Due: none

fix(scripts): put real-tikv PD/TiKV data dir under /tmp (#5205)
  scripts/pingcap/tidb/run_real_tikv_tests.sh
  scripts/pingcap/tidb/run_real_tikv_tests_with_gotest.sh
Due: none

ci(prow): migrate pingcap/tiflow release-6.5 jobs to target jenkins (#5140)
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tidb): drop enterprise extension tests from v7.1 unit job
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate pingcap/tidb release-7.1 jobs to target jenkins (#5135)
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): migrate pingcap/tidb ghpr_check2 job to target jenkins (#5200)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.5 pull_unit_test job to target jenkins
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.5 pull_check2 job to target jenkins
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.1 ghpr_build job to target jenkins
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.1 ghpr_mysql_test job to target jenkins
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.5 ghpr_build job to target jenkins
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.5 ghpr_mysql_test job to target jenkins
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.1 ghpr_mysql_test job to target jenkins
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-6.5 ghpr_mysql_test job to target jenkins
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.5 ghpr_mysql_test job to target jenkins (#5215)
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/ticdc/pull_cdc_mysql_integration_light job to target jenkins
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/ticdc/pull_cdc_storage_integration_light job to target jenkins
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb/pull_integration_tici_test job to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/ticdc/pull_cdc_mysql_integration_light_v7_5 job to target jenkins
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb/pull_integration_mysql_test job to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb/pull_integration_common_test job to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/ticdc/pull_cdc_mysql_integration_heavy_v7_5 job to target jenkins
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb/pull_tiflash_integration_test job to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.5 pull_unit_test job to target jenkins (#5210)
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.5 pull_check2 job to target jenkins (#5211)
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.1 ghpr_build job to target jenkins (#5212)
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-8.1 ghpr_mysql_test job to target jenkins (#5213)
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.5 ghpr_build job to target jenkins (#5214)
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.1 ghpr_mysql_test job to target jenkins (#5216)
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-6.5 ghpr_mysql_test job to target jenkins (#5217)
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/ticdc/pull_cdc_mysql_integration_heavy_v7_5 job to target jenkins (#5221)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
