Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

ci(prow): migrate pingcap/tiflash release-7.1 jobs to target jenkins
  prow-jobs/pingcap/tiflash/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tiflash release-7.5 jobs to target jenkins
  prow-jobs/pingcap/tiflash/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tiflash release-8.1 jobs to target jenkins
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/tikv release-6.5 jobs to target jenkins
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/tikv release-7.1 jobs to target jenkins
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/tikv release-7.5 jobs to target jenkins
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/tikv release-8.1 jobs to target jenkins
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tikv/tikv release-8.5 jobs to target jenkins
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(verify-jenkins-migration): skip empty parameter builds
  .ci/verify-jenkins-migration.sh
Due: none

ci(verify-jenkins-migration): skip empty parameter builds (#5172)
  .ci/verify-jenkins-migration.sh
Due: none

libraries(tisys): throw when pod template read fails in withCiLabels
  libraries/tisys/vars/pod_label.groovy
Due: none

fix(tisys): throw when pod template read fails in withCiLabels (#5173)
  libraries/tisys/vars/pod_label.groovy
Due: none

ci(prow): migrate tidb release-7.1 ghpr build
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate verified tidb release-8.5 jobs
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate tidb release-7.1 ghpr build (#5174)
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): remove pod scheduling stage timeouts
  pipelines/pingcap-qe/tidb-test/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(ci): define replay pod yaml variables
  .ci/replay-jenkins-build.sh
Due: none

ci(pipelines): remove pod scheduling stage timeouts (#5176)
  .ci/replay-jenkins-build.sh
  pipelines/pingcap-qe/tidb-test/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate verified tidb jobs
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): return verified job to parent migration PR
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): return verified jobs to parent migration PR
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tiflash release-6.5 jobs to target jenkins (#5146)
  prow-jobs/pingcap/tiflash/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): retain unverified latest migration jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate 30 verified latest jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate verified tidb jobs (#5177)
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate more verified tidb jobs
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate more verified tidb jobs (#5179)
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(artifacts): discard incomplete OCI downloads
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

fix(artifacts): discard incomplete OCI downloads (#5180)
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

feat(prow): migrate eight verified latest jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow): retain unverified latest jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): return verified jobs to parent migration PR
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): return verified jobs to parent migration PR
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): return verified jobs to parent migration PR
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pipelines(tidb): redirect lightning DDL ingest tmp to workspace volume
  pipelines/pingcap/tidb/latest/pod-merged_integration_lightning_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_lightning_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_integration_lightning_test.yaml
Due: none

fix(artifacts): preserve shared read access for OCI binaries
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

fix(artifacts): preserve OCI binary read permissions across containers (#5183)
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none
