Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

chore(pingcap/tidb-operator): update presubmit job to use rootless Docker
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb-operator): enhance presubmit job for rootless Docker support
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb-operator): add command to Docker daemon for presubmit job
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb-operator): add new e2e presubmit on branch feature/v2 (#3529)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb-operator): update dind-daemon command and args in latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): increase timeout values in vector search test configuration
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/artifacts): add gethash.py for retrieving git hashes from GitHub API
  scripts/artifacts/gethash.py
Due: none

feat(scripts/artifacts): add gethash.py for retrieving git hashes from GitHub API (#3530)
  scripts/artifacts/gethash.py
Due: none

chore(pingcap/tidb-operator): update dind-daemon configuration in latest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb-operator): update dind-daemon configuration in laest-presubmits.yaml (#3532)
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): refactor vector search test setup for improved caching and organization
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): refactor vector search test for parallel test (#3533)
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/artifacts/gethash.py): enhance gethash.py to support tag and commit version formats
  scripts/artifacts/gethash.py
Due: none

chore(jenkins/pipelines/devbuild): update gethash image tag in dev-build.groovy
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

chore(jenkins/pipelines/devbuild): update gethash image tag in dev-build (#3534)
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

chore(jenkins/pipelines/devbuild): add new ticdc image mapping in dev-build.groovy
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

chore(jenkins/pipelines/devbuild): Rename the GCR image of newarch ticdc to ticdc. (#3535)
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): support for feature/next-gen* branch to run for CI jobs
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): support for feature/next-gen* branch to run for CI jobs (#3538)
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines/pingcap/tiflash): add support for next-gen branch in integration tests
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/tidb): enhance vector search test caching and add v8.5.1 support
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "chore(pipelines/pingcap/tidb): enhance vector search test caching and add v8.5.1 support"
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): enhance vector search test caching and add tiup v8.5.1 support
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): add missing newline at end of pull_vector_search_test.groovy
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): enhance vector search test caching and add tiup v8.5.1 support (#3540)
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): rename pull_vector_search_test to pull_tiflash_integration_test
  jobs/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): rename pull_vector_search_test to pull_tiflash_integration_test (#3545)
  jobs/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines/pingcap/tiflash): add next-gen support for unit and integration tests
  jobs/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  jobs/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

revert: revert next-gen changes in original pull-integration
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Update pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines

feat(pipelines/pingcap/tiflash): add support for next-gen branch integration tests (#3539)
  jobs/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  jobs/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Fix tiflash-proxy cache commit for classic/next-gen
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Fix tiflash-proxy cache commit for classic/next-gen (#3546)
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

Fix getting submodule commit hash
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/tiflash): Fix getting submodule commit hash (#3547)
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/tiflash): update cache keys for next-gen integration and unit tests
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/tiflash): update cache keys for next-gen integration and unit tests (#3549)
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
Due: pull-verify-jenkins-pipelines

Update the integration tests of next-gen tiflash
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/tiflash): Update the integration tests of next-gen tiflash (#3550)
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/tiflash): update context names for merged unit and build tests
  prow-jobs/pingcap/tiflash/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
