Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

feat: add more presubmit jobs on 7.5
  jobs/pingcap/tidb/release-7.5/pull_common_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_tiflash_test.groovy
Due: none

feat: add more presubmit trigger on 7.5
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add more presubmit pipelines on 7.5
  pipelines/pingcap/tidb/release-7.5/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add more presubmit jobs on 7.1
  jobs/pingcap/tidb/release-7.1/pull_common_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_tiflash_test.groovy
Due: none

feat: add more presubmit tirgger on 7.1
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add more presubmit pipelines on 7.1
  pipelines/pingcap/tidb/release-7.1/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

fix(jobs/pingcap/tidb): delete the wrong jobs
  jobs/pingcap/tidb/release-6.1/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-6.1/pull_integration_lightning_test.groovy
  jobs/pingcap/tidb/release-6.5/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-6.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-6.1/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-6.5/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): delete useless containers from task pods
  pipelines/pingcap/tidb/release-6.1/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_copr_test.yaml
Due: none

Update prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add nettool container
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_python_orm_test.yaml
Due: none

chore: disable failfast on some pipelines
  pipelines/pingcap/tidb/release-8.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tiflash): add refactored jobs for release-8.1
  jobs/pingcap/tiflash/release-8.1/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: add net-tool container (#3062)
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tikv/tikv): add refactored jobs for LTS branches
  prow-jobs/tikv/tikv/latest-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(jobs/tikv/tikv): refactor job DSLs
  jobs/tikv/tikv/latest/pull_unit_test.groovy
  jobs/tikv/tikv/release-6.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-6.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.2/pull_unit_test.groovy
Due: none

feat(jobs/tikv/tikv): add new job DSLs for LTS branches
  jobs/tikv/tikv/latest/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/latest/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-6.1/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-6.1/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-6.5/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-6.5/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-7.1/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-7.1/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-7.5/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-7.5/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-8.1/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-8.1/pull_integration_copr_test.groovy
Due: none

fix: to remove not exist jdbc test on 6.1
  jobs/pingcap/tidb/release-6.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_jdbc_test.groovy
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: test passed remove wip/
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: not fail fast on pipelins
  pipelines/pingcap/tidb/release-6.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

fix: build tiflash nightly image with a specify dockerfile
  jenkins/Dockerfile/release/linux-amd64/tiflash_nightly
  jenkins/Dockerfile/release/linux-arm64/tiflash_nightly
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

fix: remove wip
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: fix on presubmit 6.1 (#3066)
  jenkins/Dockerfile/release/linux-amd64/tiflash_nightly
  jenkins/Dockerfile/release/linux-arm64/tiflash_nightly
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jobs/pingcap/tidb/release-6.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_jdbc_test.groovy
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix
  jobs/pingcap/tidb/release-8.1/pull_common_test.groovy
Due: none

chore: disable failfast
  pipelines/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

chore: disable failfast
  pipelines/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add presubmit pipelines on 7.1 (#3061)
  jobs/pingcap/tidb/release-7.1/pull_common_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_tiflash_test.groovy
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add more presubmit pipelines on 7.5 (#3058)
  jobs/pingcap/tidb/release-7.5/pull_common_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_tiflash_test.groovy
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: add missing nettool container
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_python_orm_test.yaml
Due: none

fix: add missing nettool container (#3068)
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_python_orm_test.yaml
Due: none

feat(jobs/tikv/tikv): add new job pipelines for LTS branches
  pipelines/tikv/tikv/latest/pull_integration_test.groovy
  pipelines/tikv/tikv/latest/pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.1/pull_integration_test.groovy
  pipelines/tikv/tikv/release-6.1/pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.5/pull_integration_test.groovy
  pipelines/tikv/tikv/release-6.5/pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.1/pull_integration_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.5/pull_integration_test.groovy
  pipelines/tikv/tikv/release-7.5/pull_integration_test.yaml
  pipelines/tikv/tikv/release-8.1/pull_integration_test.groovy
  pipelines/tikv/tikv/release-8.1/pull_integration_test.yaml
  scripts/tikv/tikv/run_compatible_tests.sh
Due: pull-verify-jenkins-pipelines

fix(script/pingcap/tidb): fix try cache exit code judging in scripts
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
  scripts/pingcap/tidb/integrationtest.sh
  scripts/pingcap/tidb/integrationtest_v2.sh
  scripts/pingcap/tidb/integrationtest_with_tikv.sh
  scripts/pingcap/tidb/run_real_tikv_tests.sh
  scripts/pingcap/tidb/run_real_tikv_tests_with_gotest.sh
Due: pull-verify-jenkins-pipelines

refactor(tikv/tikv): combine copr test with compatibility test
  jobs/tikv/tikv/latest/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/latest/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.1/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-6.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.5/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-6.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.1/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-7.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.5/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-7.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-8.1/pull_integration_compatibility_test.groovy
  jobs/tikv/tikv/release-8.1/pull_integration_test.groovy
  prow-jobs/tikv/tikv/latest-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: tiflash test ci need install mysql cli in image
  jenkins/Dockerfile/release/linux-amd64/tiflash_ci
  jenkins/Dockerfile/release/linux-amd64/tiflash_ci_base
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

add new line
  jenkins/Dockerfile/release/linux-amd64/tiflash_ci_base
Due: none

fix: tiflash test ci need mysql cli (#3074)
  jenkins/Dockerfile/release/linux-amd64/tiflash_ci
  jenkins/Dockerfile/release/linux-amd64/tiflash_ci_base
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

remove wip/ on test passed pipelines
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: remove wip/ on test passed pipelines (#3075)
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
