Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

chore(prow-jobs): remove deprecated release-6.1 periodic job configuration (#3436)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-6.1-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts/flow/rc): fix rc check scripts (#3433)
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Due: none

docs(README): Revise and expand CI/CD documentation for clarity and structure
  README.md
Due: none

docs: update
  README.md
Due: none

docs(README): Revise and expand CI/CD documentation for clarity and structure (#3437)
  README.md
Due: none

chore(owners): update OWNERS files for ticdc and tiflash projects
  OWNERS_ALIASES
  pipelines/pingcap/ticdc/OWNERS
  pipelines/pingcap/tiflash/OWNERS
Due: none

chore(owners): update OWNERS files for ticdc and tiflash projects (#3438)
  OWNERS_ALIASES
  pipelines/pingcap/ticdc/OWNERS
  pipelines/pingcap/tiflash/OWNERS
Due: none

refactor(tiflow): update download script for enterprise tools in syncdiff integration tests (#3430)
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add new ticdc jobs dsl
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light.groovy
Due: none

feat: add new jobs to ticdc prow triggers
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add new ticdc it pipelines
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

feat(ticdc): ticdc add new integration pipelines (#3439)
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ticdc): fix download script path
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light.groovy
Due: pull-verify-jenkins-pipelines

fix(prow-jobs/pingcap-qe/ci): add SSH key and custom clone URI for PingCAP-QE periodics job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): add SSH key and custom clone URI for PingCAP-QE periodics job (#3440)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ticdc): add net-tool cpu from 100m to 300m for kafka light pipelines
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
Due: none

feat(ticdc): add net-tool cpu from 100m to 300m for kafka light pipelines (#3441)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
Due: none

feat(scripts/flow/ga): support beta release branch naming (#3434)
  scripts/flow/ga/create-patch-release-branches.ts
  scripts/flow/ga/create_github_release.ts
Due: none

fix tag-rc2ga-on-repos.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

fix tag-rc2ga-on-repos.sh (#3442)
  scripts/artifacts/tag-rc2ga-on-repos.sh
Due: none

feat: support beta & rc version check
  scripts/ops/release-check-version/check_info.py
Due: none

Add fallback for repos without previous releases
  scripts/flow/ga/create_github_release.ts
Due: none

feat(release-check-version): support beta & rc version check (#3443)
  scripts/ops/release-check-version/check_info.py
Due: none

fix(scripts/flow/ga): add fallback for repos without previous releases (#3444)
  scripts/flow/ga/create_github_release.ts
Due: none

Add ticdc package to gather_results function
  scripts/artifacts/check-tiup.sh
Due: none

fix(scripts/artifacts): add TiCDC to source OCI repos for v9.0.0 and above
  scripts/artifacts/check-tiup.sh
Due: none

feat: add prow job on tikv/copr-test repo
  jobs/tikv/copr-test/aa_folder.groovy
  jobs/tikv/copr-test/latest/pull_integration_test.groovy
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv/copr-test): add prow job on tikv/copr-test repo (#3445)
  jobs/tikv/copr-test/aa_folder.groovy
  jobs/tikv/copr-test/latest/pull_integration_test.groovy
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: enable trigger and report
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tikv/copr-test): enable test pipeline trigger and report (#3446)
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): use OAuth token instead of SSH key for GitHub authentication
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): use OAuth token instead of SSH key for GitHub authentication (#3447)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(br): Download test dependencies using the fixed lts branch.
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
Due: pull-verify-jenkins-pipelines

chore(prow-jobs/pingcap-qe/ci): update periodic-crawl-commits job schedule and config
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap-qe/ci): change periodic-crawl-commits to run daily for tikv org
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap-qe/c9): add periodic job to crawl pull requests and issues
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/pingcap-qe/ci): add periodic job to crawl pull requests and issues (#3449)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-qe/ci): add jq to periodic job dependencies
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix:(prow-jobs/pingcap-qe/ci): fix git push authentication in periodic jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap-qe/ci/periodics.yaml
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
