Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

fix(pipelines): mount ephemeral tmp volume for ghpr_check2 DDL tests
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(prow-jobs): migrate pingcap/tiflash latest jobs to target jenkins (#4989)
  prow-jobs/pingcap/tiflash/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

conductor(setup): add conductor setup files
  conductor/code_styleguides/general.md
  conductor/code_styleguides/go.md
  conductor/code_styleguides/python.md
  conductor/code_styleguides/shell.md
  conductor/code_styleguides/typescript.md
  conductor/index.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/governance_20260909/index.md
  conductor/tracks/governance_20260909/metadata.json
  conductor/tracks/governance_20260909/plan.md
  conductor/tracks/governance_20260909/spec.md
  conductor/workflow.md
Due: none

fix(pipelines): mount ephemeral tmp volume for ghpr_check2 DDL tests (#5192)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

docs(conductor): adapt workflow guide for CI repository
  conductor/workflow.md
Due: none

docs: add conductor setup files (#5193)
  conductor/code_styleguides/general.md
  conductor/code_styleguides/go.md
  conductor/code_styleguides/python.md
  conductor/code_styleguides/shell.md
  conductor/code_styleguides/typescript.md
  conductor/index.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/governance_20260909/index.md
  conductor/tracks/governance_20260909/metadata.json
  conductor/tracks/governance_20260909/plan.md
  conductor/tracks/governance_20260909/spec.md
  conductor/workflow.md
Due: none

chore(prow-jobs): migrate tikv/tikv latest jobs to target jenkins (#4990)
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pipelines): remove unused tiflow coveralls credential declarations
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(ticdc): isolate Pulsar heavy test tmp storage with a PVC
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pod-test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(ticdc): preserve dynamic pod template declarations
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines): remove unused tiflow coveralls credential declarations (#5194)
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(ticdc): isolate Pulsar heavy test tmp storage with a PVC (#5195)
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pod-test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate 30 verified latest jobs (#5178)
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(libraries): redirect bazel output root off node-local .tidb dir
  docs/guides/bazel-workspace-preparation.md
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
  scripts/pingcap/tidb/prepare-bazel-workspace.sh
Due: none

fix(libraries): redirect bazel output root off node-local .tidb dir (#5196)
  docs/guides/bazel-workspace-preparation.md
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
  scripts/pingcap/tidb/prepare-bazel-workspace.sh
Due: none

ci(prow): migrate pingcap/tidb release-6.5 jobs to target jenkins (#5134)
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tekton): exclude calendar-semver tags from v26 onward
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag.yaml
Due: none

fix(libraries): drop check-bazel-prepare from bazel_coverage_test
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
  scripts/pingcap/tidb/prepare-bazel-workspace.sh
Due: none

fix(scripts/tidb): fix TiKV status ports and explaintest binary
  scripts/pingcap/tidb/integrationtest_with_tikv.sh
Due: none

fix(pipelines): use explaintest target for release-7.1 ghpr_check
  pipelines/pingcap/tidb/release-7.1/ghpr_check.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(tidb): unblock pingcap/tidb release-7.1 jenkins jobs (#5198)
  libraries/tipipeline/tests/TestBazel.groovy
  libraries/tipipeline/vars/bazel.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check.groovy
  scripts/pingcap/tidb/integrationtest_with_tikv.sh
  scripts/pingcap/tidb/prepare-bazel-workspace.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): align check2 pod resources to 24Gi/3C across release branches
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
Due: none

fix(pipelines): align check2 pod resources to 24Gi/3C across release branches (#5199)
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
Due: none

fix(tekton/v1): reorder default stages to "prod dev" to call ops API
  tekton/v1/step-actions/request-kernel-image-sync.yaml
  tekton/v1/tasks/delivery/pingcap-notify-to-deliver-images-to-cloud-tidbx.yaml
Due: none

ci(prow): migrate pingcap/tidb release-7.5 jobs to target jenkins (#5136)
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb ghpr_check2 job to target jenkins
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tiflow release-8.5 jobs to target jenkins (#5144)
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipelines): update ghpr unit test image for tidb release-7.1
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
Due: none

refactor(pipelines/tidb): remove redundant git status output
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): migrate pingcap/tidb release-7.1 verified jobs to target jenkins
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines): reduce tidb ghpr_check2 storage to 100Gi
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
Due: none

style(pipelines): format ghpr check2 pipeline on release-7.5
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): return verified release-7.1 ghpr_check jobs for a separate PR
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): migrate pingcap/tidb release-7.1 verified jobs to target jenkins (#5201)
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipelines): reduce tidb ghpr_check2 storage to 100Gi (#5202)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): mount bazel volume as tmp at /tmp with 100Gi
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_check.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/latest/ghpr_build/pod.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test_ddlv1.yaml
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/test-pod.yaml
Due: none

chore(pipelines): remove redundant git diff/status debug steps
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
