Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

enable timeout for new titan prowjob
  prow-jobs/tikv/titan/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): expand flaky reporter issue mutation limit
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): expand flaky reporter issue mutation limit (#4554)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflow): simplify dm integration test flow
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflow): restore dm binary cache comments
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tiflow): deduplicate dm diff-check comment
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): move dm integration skip logic to prow filters
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): restore dm run_if_changed pattern
  prow-jobs/pingcap/tiflow/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflow): simplify dm integration test flow (#4539)
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(scripts/ops/nextgen): rename "next-gen" to "nextgen" and "TiDB X" labels
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

fix(pipelines): update OCI tags to use "master-nextgen" and "cloud-engine-nextgen"
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(nextgen): rename next-gen tags to nextgen (#4556)
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipelines(tiflash): migrate ks3util image to ghcr.io simplify container config
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_unit-test.yaml
Due: none

fix(pipelines/pingcap/tiflash): update Docker image registry
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_integration_test.yaml
Due: none

fix(pipelines): batch failpoint-ctl in ddlv1 unit test jobs
  pipelines/pingcap-inc/tidb/release-8.5/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(prow-jobs/pingcap/docs): remove v5.4 as it is archived (#4548)
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

migrate image hub.pingcap.net/tiflash/tiflash-llvm-base:amd64 to a public registry
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb-engine-ext): migrate image hub.pingcap.net/tiflash/tiflash-llvm-base:amd64 to a public registry (#4559)
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tools): extend error-log-review to go.mod version review
  configs/error-log-review/config.yaml
  tools/error-log-review/README.md
  tools/error-log-review/config.go
  tools/error-log-review/config.yaml.example
  tools/error-log-review/main.go
  tools/error-log-review/matcher.go
  tools/error-log-review/matcher_test.go
Due: none

chore(pipelines/pingcap/tiflash): use public images to prepare to migrate to clouds (#4557)
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-9.0-beta/pod-pull_unit-test.yaml
Due: none

ci(pipelines): update tidb ghpr_unit_test image
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
Due: none

ci(pipelines): update tidb ghpr_unit_test image (#4561)
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
Due: none

chore(script/tikv/titan): clear conclusion will be printed first when the format check fails
  scripts/tikv/titan/format.sh
Due: none

chore(script/tikv/titan): clear conclusion will be printed first when the format check fails (#4562)
  scripts/tikv/titan/format.sh
Due: none

flaky-tests: unify issue mutation gating
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/main.ts
Due: none

fix(flaky-tests): apply issue mutation limit consistently (#4563)
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/main.ts
Due: none

fix(tikv/rust-rocksdb): migrate CI from CentOS 7 to Rocky Linux 8
  prow-jobs/tikv/rust-rocksdb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tikv/rust-rocksdb): migrate CI from CentOS 7 to Rocky Linux 8 (#4564)
  prow-jobs/tikv/rust-rocksdb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs/pingcap-qe/ci): change issue labels to type/enhancement
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): update component JSON URLs
  jenkins/pipelines/cd/release_check_offline_version.groovy
  jenkins/pipelines/cd/release_check_version.groovy
  scripts/ops/release-check-version/README.md
Due: pull-verify-jenkins-pipelines

chore(owners): update reviewing owner membership
  OWNERS
  OWNERS_ALIASES
Due: none

chore(prow-jobs/pingcap-qe/ci): change issue labels to type/enhancement (#4565)
  OWNERS
  OWNERS_ALIASES
  jenkins/pipelines/cd/release_check_offline_version.groovy
  jenkins/pipelines/cd/release_check_version.groovy
  prow-jobs/pingcap-qe/ci/periodics.yaml
  scripts/ops/release-check-version/README.md
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/tikv/tikv): add release arm64 clippy presubmits
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/tikv/tikv): use valid arm64 presubmit names
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(prow-jobs/tikv/tikv): add release arm64 clippy presubmits (#4566)
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: update legend labels from "week" to "duration"
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

feat(tools/reporters/ci/flaky-tests): rename "Flaky WoW" to "Flaky Comparison" in HTML labels
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

feat(flaky-tests): integrate Octokit for GitHub API interaction
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/deno.json
  tools/reporters/ci/flaky-tests/deno.lock
Due: none

feat: add GitHub API version header to Octokit instance
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
