Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

fix(scripts/pingcap/tidb): log when test make target exists (#3956)
  scripts/pingcap/tidb/run_real_tikv_tests.sh
Due: none

feat(tidb/ghpr_check2): disable artifactVerify for feature branches
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb/ghpr_check2): disable artifactVerify for feature branches (#3958)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb-test): use component.fetchAndExtractArtifact for artifact download
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tekton/v0): update tasks to use new publisher services and cli images
  tekton/v0/pipelines/pingcap-build-package-darwin.yaml
  tekton/v0/pipelines/pingcap-build-package-linux.yaml
  tekton/v0/tasks/kustomization.yaml
  tekton/v0/tasks/pingcap-get-set-release-version-v2.yaml
  tekton/v0/tasks/pingcap-get-set-release-version.yaml
  tekton/v0/tasks/publish-fileserver-from-oci-artifact.yaml
  tekton/v0/tasks/publish-tiup-from-oci-artifact-v2.yaml
  tekton/v0/tasks/publish-tiup-from-oci-artifact.yaml
  tekton/v0/tasks/release/pingcap-create-github-alpha-tags.yaml
  tekton/v0/triggers/templates/_/push-oci-artifact-to-tiup.yaml
Due: none

refactor(tekton/v1): rename pingcap-get-set-release-version-v2 task
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/pingcap-get-set-release-version.yaml
Due: none

refactor(tekton): refactor tekton tasks in v0 and v1 (#3960)
  tekton/v0/pipelines/pingcap-build-package-darwin.yaml
  tekton/v0/pipelines/pingcap-build-package-linux.yaml
  tekton/v0/tasks/kustomization.yaml
  tekton/v0/tasks/pingcap-get-set-release-version-v2.yaml
  tekton/v0/tasks/pingcap-get-set-release-version.yaml
  tekton/v0/tasks/publish-fileserver-from-oci-artifact.yaml
  tekton/v0/tasks/publish-tiup-from-oci-artifact-v2.yaml
  tekton/v0/tasks/publish-tiup-from-oci-artifact.yaml
  tekton/v0/tasks/release/pingcap-create-github-alpha-tags.yaml
  tekton/v0/triggers/templates/_/push-oci-artifact-to-tiup.yaml
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/kustomization.yaml
  tekton/v1/tasks/pingcap-get-set-release-version.yaml
Due: none

fix(tekton/v1/triggers/templates): fix publisher url and add tiup_mirror param
  tekton/v0/triggers/templates/_/push-oci-artifact-to-fileserver.yaml
  tekton/v0/triggers/templates/_/push-oci-artifact-to-tiup.yaml
Due: none

fix(tekton/v1/triggers/templates): fix publisher url and add tiup_mirror param (#3961)
  tekton/v0/triggers/templates/_/push-oci-artifact-to-fileserver.yaml
  tekton/v0/triggers/templates/_/push-oci-artifact-to-tiup.yaml
Due: none

feat(tekton/v1): implement tiup delivery logic
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
Due: none

feat(tekton/v1): add deliver-binaries Tekton task and steps (#3945)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
  tekton/v1/tasks/kustomization.yaml
Due: none

fix(tekton/v1): add tiup_mirror parameter to Tekton triggers
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

Rename tiup_mirror param to publisher-url in Tekton
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

fix(tekton/v1): add `publisher-url` parameter to Tekton triggers (#3962)
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

fix(tekton/v1/triggers/triggers/env-gcp): fix publisher urls
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

fix(tekton/v1/triggers/triggers/env-gcp): fix publisher urls (#3963)
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

Add GCP next-gen build TriggerBinding and use it
  tekton/v1/triggers/bindings/gcp-ng-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

opt(tekton/v1): add GCP next-gen build TriggerBinding and use it (#3964)
  tekton/v1/triggers/bindings/gcp-ng-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-create-tag-build-ng.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-ng.yaml
Due: none

fix(tekton/v0,tekton/v1): move tici triggers to v1 env-prod2
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-push.yaml
Due: none

refactor(tekton/v0,tekton/v1): split the linux platforms builds to prod2 for tici component
  tekton/v0/triggers/templates/_/build-component-darwin.yaml
  tekton/v0/triggers/templates/kustomization.yaml
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap-inc/tici/git-create-tag.yaml
  tekton/v0/triggers/triggers/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-create-tag.yaml
Due: none

fix(tekton/v0,tekton/v1): move tici triggers to v1 env-prod2 (#3947)
  tekton/v0/triggers/templates/_/build-component-darwin.yaml
  tekton/v0/triggers/templates/kustomization.yaml
  tekton/v0/triggers/triggers/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-prod2/pingcap-inc/tici/git-push.yaml
Due: none

use make build in CSE CI
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat: use make build in CSE CI (#3965)
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb-test): use component.fetchAndExtractArtifact replace for artifact download
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/release-6.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_jdbc_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb-test): use component.fetchAndExtractArtifact for artifact download (#3959)
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/release-6.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_jdbc_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_jdbc_test.groovy
  pipelines/pingcap-qe/tidb-test/release-8.5/ghpr_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(tekton): memove enterprise and failpoint build triggers to prod2
  tekton/v0/triggers/triggers/kustomization.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/_/build-component.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-enterprise.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-branch-build-failpoint.yaml
  tekton/v1/triggers/triggers/env-prod2/_/git-push-on-fips-branches.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

refactor(tekton/v1): move linux classic builds to GCP for tici
  tekton/v1/triggers/bindings/gcp-classic-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

refactor(tekton): migrate linux builds for FTS to GCP cluster
  tekton/v0/triggers/triggers/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
Due: none

refactor(tekton): move linux classic builds to GCP for FTS (#3966)
  tekton/v0/triggers/triggers/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/bindings/gcp-classic-build-params.yaml
  tekton/v1/triggers/bindings/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/_/git-push-branch-build-community.yaml
  tekton/v1/triggers/triggers/env-gcp/kustomization.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-create-tag.yaml
  tekton/v1/triggers/triggers/env-gcp/pingcap-inc/tici/git-push.yaml
  tekton/v1/triggers/triggers/env-prod2/kustomization.yaml
Due: none

Update Kafka pod configuration for resource limits
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
Due: none

Update pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
Due: none

Update pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
Due: none

Update pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
Due: none

Update pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
Due: none

Update pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

chore(prow-jobs/pingcap/tidb): update TiDB periodic ut jobs to monthly schedule and reduce resources
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(ticdc): increase kafka container resources (#3967)
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pod-test.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pod-test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

Update log collection to include Kafka logs
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
Due: pull-verify-jenkins-pipelines
