Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

ci(prow): remove clone_uri from release presubmits
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "ci(prow): remove clone_uri from release presubmits"
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): Drop oauth token from release jobs
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): add auto replay for changed native jobs
  .ci/replay-changed-prow-jobs.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

build importer from source
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipeline(tiflow): change download url for sync-diff-inspector test dependencies (#4351)
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): Use OAuth token for tiflow presubmits
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "ci(prow): Use OAuth token for tiflow presubmits"
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow-jobs): add ssh host fingerprints
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): Fix ssh_host_fingerprints YAML lists
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): Use known_hosts entries for GitHub
  prow-jobs/pingcap-inc/ticdc/release-presubmits.yaml
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pipelines(tiflow): Remove prepare stage timeout
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tiflow): run pingcap-inc release-8.5 cdc integration on cloud
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): skip jenkins jobs in auto replay
  .ci/replay-changed-prow-jobs.sh
Due: none

refactor(pipelines): split tiflow tidb component downloads
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pingcap-inc/prow): turn on jenkins jobs run on GCP controller
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflow): run pingcap-inc release-8.5 cdc integration on cloud (#4353)
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  prow-jobs/pingcap-inc/tiflow/release-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refactor(tipipeline): Move git host param to end
  libraries/tipipeline/vars/prow.groovy
Due: none

ci(prow): merge changed-job replay into single script
  .ci/replay-changed-prow-jobs.sh
  .ci/replay-prow-job.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): remove tiflash sanitizer decoration override
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): infer replay submodule skip paths by repo
  .ci/replay-prow-job.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tipipeline): support release-8.5.5 branch
  libraries/tipipeline/vars/component.groovy
Due: none

Revert "pipeline(tiflow): change download url for sync-diff-inspector test de…"
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Revert "pipeline(tiflow): change download url for sync-diff-inspector test dependencies" (#4354)
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(tiflow): Checkout base SHA for previous build
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.0/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipelines(tiflow): Remove stage timeouts from CDC
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(tiflow): Checkout base SHA for previous build (#4355)
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.0/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): Remove coverage tokens from tiflow
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap-inc/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines/pingcap-inc/tidb): Use REFS.repo instead of 'tidb' dir
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_mysql_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_build.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): Apply pod labels and remove report sidecar
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_mysql_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pipelines(tidb): Update Go image and remove net-tool
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_mysql_test.yaml
Due: none

pipelines(tidb): remove gopathcache and gocache
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_mysql_test.yaml
Due: none

ci(tidb): Remove mysql-test timeouts; tag job GCP
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pipelines(tidb): set agent none and add stage agent
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines/pingcap-inc/tidb): migrate private mysql test job to GCP (#4356)
  pipelines/pingcap-inc/tidb/release-8.5/pod-pull_mysql_test.yaml
  pipelines/pingcap-inc/tidb/release-8.5/pull_build.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  prow-jobs/pingcap-inc/tidb/release-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tiflash): add jenkins-triggered prow jobs for regression and schrodinger tests
  jobs/pingcap/tiflash/latest/pull_regression_test.groovy
  jobs/pingcap/tiflash/latest/pull_schrodinger_test.groovy
  pipelines/pingcap/tiflash/latest/pull_regression_test.groovy
  pipelines/pingcap/tiflash/latest/pull_schrodinger_test.groovy
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

feat(flaky-tests): Reopen only after 10 days
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: none

ci(prow): Expose flaky reporter periodics
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tools, prow-jobs): fix test issue reopen problem (#4360)
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/docs/README.md
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
