Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

pull_sqllogic_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_unit_test_ddlv1
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_integration_python_orm_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_integration_e2e_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_integration_common_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_mysql_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_check job
  pipelines/pingcap/tidb/release-8.5/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.5/pull_check.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

enable trigger
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull_check2
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_unit_test
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_integration_ddl_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_e2e_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_mysql_client_test
  pipelines/pingcap/tidb/release-8.5/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

pull_build
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.5/pull_build.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Apply suggestion from @wuhuizuo
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): update TiFlash integration test pod template
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
Due: none

ci(pipelines): update TiKV OCI tag base ref for TiFlash integration
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

apply comments
  pipelines/pingcap/tidb/release-8.5/pod-pull_unit_test.yaml
Due: none

ci(tiflash-scripts): refine regression and schrodinger pipeline configs
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pipeline.groovy
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(pipelines): fix nextgen OCI tag computation for release branches
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Apply suggestion from @wuhuizuo
  pipelines/pingcap/tidb/release-8.5/pod-pull_build.yaml
Due: none

ci(tiflash-scripts): revert presubmits trigger simplification
  prow-jobs/pingcap-inc/tiflash-scripts/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pipelines): migrate TiFlash next-gen integration test to OCI artifacts (#4478)
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): add ci repo seed postsubmit job (#4347)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ci/postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(tikv/copr-test): migrate images to cloud-accessible registries (#4322)
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tidb-tools): migrate container images from hub.pingcap.net to cloud-accessible registries (#4324)
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
Due: none

ci(pipelines): enable submodule checkout for tidb pipelines
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

update pod resource
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
Due: none

chore(pipelines): remove redundant stage timeouts from tidb pipelines
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines): remove redundant stage timeouts from tidb pipelines (#4484)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines/pingcap/tidb/latest): remove redundant stage timeouts from tidb pipelines
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

tiflow: add MariaDB source for DM integration test
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): update cron times for flaky tests reporters
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(flaky-tests): add loose+exact github issue search and ranking
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/IssueUtils.ts
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: none

chore(tools): update flaky report job and implementation (#4486)
  prow-jobs/pingcap-qe/ci/periodics.yaml
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.test.ts
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/core/IssueUtils.ts
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

update resources config
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  pipelines/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
Due: none

fix(pipeline): guard replay-only bazel exclusion for missing variable tests package
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
