Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$

fix(pipelines/tidb): add error handling to build scripts in smoke test pipeline
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pipelines/tidb): enhance smoke test pipeline with TiDB cluster startup and SQL execution
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines/tidb): update smoke test pipeline with increased timeout and repository adjustments
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/tidb): streamline tiup and MySQL client installation in smoke test pipeline
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines/tidb): simplify TiDB cluster startup and cleanup in smoke test pipeline
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb/next-gen): add smoke test prow job for tidb next gen (#3486)
  jobs/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_tidb_next_gen_smoke_test.yaml
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(jobs): update smoke test job folder path to 'latest' (#3487)
  jobs/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: none

chore(pipelines/pingcap/tidb): increase resource limits for smoke test job
  pipelines/pingcap/tidb/latest/pod-periodics_tidb_next_gen_smoke_test.yaml
Due: none

chore(pipelines/pingcap/tidb): increase resource limits for smoke test job (#3487)
  pipelines/pingcap/tidb/latest/pod-periodics_tidb_next_gen_smoke_test.yaml
Due: none

refactor(pipelines/pingcap/tidb): update smoke test job to use new checkout method and adjust build commands
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): escape variables in smoke test configuration for proper execution
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines/pingcap/tidb): reorganize build steps in smoke test for clarity and efficiency
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): enable devtoolset and verify gcc version in smoke test
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(pipelines/pingcap/tidb): enhance smoke test caching and logging
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb/next-gen): update tidb next gen smoke test pipeline (#3488)
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb/next-gen): update smoke test command to use --without-monitor flag
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb/next-gen): update smoke test command to use --without-monitor flag (#3489)
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tiflow): remove engine integration tests from tiflow presubmits
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.6-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-centos-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pingcap/tiflow): remove engine integration tests from presubmits jobs (#3490)
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.6-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-centos-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(tidb): rename smoke test job to include full path (#3491)
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update component.groovy
  libraries/tipipeline/vars/component.groovy
Due: none

chore(pingcap/tidb, pingcap-qe/ee-apps): remove security scan presubmit jobs
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb, pingcap-qe/ee-apps): remove security scan presubmit jobs (#3492)
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add new next-gen real tikv test pipeline
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add pod yaml for new pipeline
  pipelines/pingcap/tidb/latest/pod-pull_next_gen_real_tikv_test.yaml
Due: none

feat: build pd & tikv in current pipeline temporaily
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add jobdsl of next gen real tikv test
  jobs/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Due: none

fix(prow-jobs/pingcap-inc/tici): enable devtoolset-10 and increase resource limits
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add next-gen presubmit job for TiDB
  prow-jobs/kustomization.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs/pingcap-inc/tici): enable devtoolset-10 (#3494)
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: rename next-gen real tikv test job for consistency
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(scripts/flow/rc): simplify image validation and mapping structure
  scripts/flow/rc/check-images-internal.ts
Due: none

feat: add rust container to next-gen real tikv test pod configuration
  pipelines/pingcap/tidb/latest/pod-pull_next_gen_real_tikv_test.yaml
Due: none

fix: update devtoolset version in next-gen real tikv test configuration
  pipelines/pingcap/tidb/latest/pod-pull_next_gen_real_tikv_test.yaml
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): add new pipeline for next gen real tikv test (#3495)
  jobs/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_next_gen_real_tikv_test.yaml
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pingcap/tidb): add Git credentials ID for next gen real tikv test pipeline
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): disable fast failure for parallel execution in TikV test pipeline
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): add Git credentials ID for next gen real tikv test pipeline (#3497)
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Due: pull-verify-jenkins-pipelines

fix(jenkins/pipelines/cd): update ticdc Docker image repository path
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines
