Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

ci(pipelines): add docker auth for tidbcloud integration test
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): update OCI artifact host for cloud-storage-engine (#4454)
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): change flaky test reports from weekly to daily
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): change flaky test reports from weekly to daily (#4455)
  prow-jobs/pingcap-qe/ci/periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @wuhuizuo
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

udpate
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci: replace deprecated PingCAP chart domains (#4452)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

chore(tidb/presubmit): migrate pull jobs to gcp
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pod.yaml
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(tidb/postsubmit): migrate merged jobs to gcp
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tidb/presubmit): enable 3 migrated jobs on master
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(pipeline): migrate tidb postsubmit jobs to gcp (#4456)
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestion from @gemini-code-assist[bot]
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

chore(scripts): update nextgen TiProxy release branch to 202603
  scripts/ops/nextgen/README.md
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

fix(nextgen): harden exact image tag lookup auth checks (#4448)
  scripts/ops/nextgen/README.md
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

fix(pipelines/tidb): remove redundant helper link in jdbc test
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tekton): use dynamic registry for hotfix builds
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

ci(tidb): remove redundant tiflash relink in pull_lightning_integration_test
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

update
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(pipelines/tidb): migrate latest pod images and sqllogic artifact to GAR
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pod.yaml
Due: none

fix(pipelines/pingcap/tidb/latest): remove randgen partition cleanup in pull_integration_common_test
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tidb): remove temporary BR integration hotfix scripts
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): stop exposing github token to PR jobs (latest-8.5-tikv)
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test.groovy
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): stop exposing github token to PR jobs (8.4-8.2)
  pipelines/pingcap/tidb/release-8.2/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_mysql_client_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): stop exposing github token to PR jobs (8.1-7.5)
  pipelines/pingcap/tidb/release-7.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_mysql_client_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): stop exposing github token to PR jobs (7.1-6.5)
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pull_common_test.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): stop exposing github token to PR jobs (6.1-9.0beta)
  pipelines/pingcap/tidb/release-6.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_common_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_mysql_client_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

update
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
Due: none

update
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(pipeline): migrate tidb presubmit jobs to gcp (#4457)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_tici_test/pod.yaml
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(tekton): use startsWith in hotfix registry CEL
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

ci(tekton): use dynamic registry for hotfix builds (#4459)
  tekton/v1/triggers/bindings/ksy-dev-build-params.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-branch-push.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-pr.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/fake-github/fake-github-tag-create.yaml
Due: none

chore(tidb): remove periodic integration pipeline
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(tidb): remove periodic integration pipeline (#4466)
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(pipeline) check two tidb master pipeline never run in IDC
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipeline) check two tidb master pipeline never run in IDC (#4467)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipeline) revert pull_integration_e2e_test job
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(pipeline) revert pull_integration_e2e_test job (#4469)
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pipeline) migrate pull-integration-e2e-test job to gcp again
  pipelines/pingcap/tidb/latest/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
