Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix(scripts/pingcap/community): add sign-off in commit message (#2956)
  scripts/pingcap/community/update-prow-owners.ts
Due: none

refactor(jenkins/pipelines,pipelines): use the new dockerfile url location
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(jenkins/pipelines,pipelines): use the new dockerfile url location (#2958)
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "refactor(jenkins/pipelines,pipelines): use the new dockerfile url loc…"
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "refactor(jenkins/pipelines,pipelines): use the new dockerfile url location" (#2959)
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "Revert "refactor(jenkins/pipelines,pipelines): use the new dockerfile…"
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/*docs*): fix pip3 install issue
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/*docs*): fix pip3 install issue (#2961)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

refactor(jenkins/pipelines,pipelines): use the new dockerfile url location (#2960)
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "refactor(jenkins/pipelines,pipelines): use the new dockerfile url loc…"
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "refactor(jenkins/pipelines,pipelines): use the new dockerfile url location" (#2962)
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

refactor(jenkins/pipelines,pipelines): use the new dockerfile url location (#2963)
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

update
  jenkins/pipelines/ci/ticdc/integration_test_common.groovy
Due: pull-verify-jenkins-pipelines

Update sync diff version in ci test (#2964)
  jenkins/pipelines/ci/ticdc/integration_test_common.groovy
Due: pull-verify-jenkins-pipelines

update utf go build image
  jenkins/pipelines/utf-ci/utf-go-build.groovy
Due: pull-verify-jenkins-pipelines

update utf go build image (#2965)
  jenkins/pipelines/utf-ci/utf-go-build.groovy
Due: pull-verify-jenkins-pipelines

add dockerfile for docs ci
  dockerfile/docs-cn-checker.Dockerfile
Due: none

feat: add new dockerfile for docs ci
  dockerfile/docs-cn-checker-update.Dockerfile
Due: none

docs: bump pdf stable version to release-8.1
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

k8s docs: bump pdf stable version to release-1.6
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Due: pull-verify-jenkins-pipelines

docs: bump pdf stable version to release-8.1 (#2968)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts): fix update-prow-owners.ts
  scripts/pingcap/community/update-prow-owners.ts
Due: none

fix(scripts): fix update-prow-owners.ts (#2972)
  scripts/pingcap/community/update-prow-owners.ts
Due: none

Update ticdc_download_integration_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5/ticdc_download_integration_test_binaries.sh
Due: none

cdc: fix sync diff version (#2973)
  scripts/pingcap/tiflow/release-6.5/ticdc_download_integration_test_binaries.sh
Due: none

Update README.md
  README.md
Due: none

Update README.md (#2977)
  README.md
Due: none

ci(pingcap-qe/ci): fix presubmits job
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pingcap-qe/ci): fix presubmits job
  .ci/update-prow-job-kustomization.sh
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: update to usr image with pre install packages
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
Due: none

chore: packages has been install in images
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

fix(docs&docs-cn): update to image with pre install python3 packages (#2978)
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
Due: pull-verify-jenkins-pipelines

chore: update deprecated domain name
  jenkins/pipelines/ci/ticdc/engine_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update deprecated domain name (#2979)
  jenkins/pipelines/ci/ticdc/engine_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

k8s docs: bump pdf stable version to release-1.6 (#2969)
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Due: pull-verify-jenkins-pipelines

feat: add owners file to docs&docs-cn dir
  pipelines/pingcap/docs-cn/OWNERS
  pipelines/pingcap/docs/OWNERS
Due: none

ci: fix script update-prow-job-kustomization.sh
  .ci/update-prow-job-kustomization.sh
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
