Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-optional
      decorate: true
      max_concurrency: 1
      always_run: false
      optional: false
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            command: [bash, -ce]
            args:
              - |
                echo "This is a optional job, it will always fail."
                exit 1
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-prow-jobs
      decorate: true
      extra_refs:
        - org: ti-community-infra
          repo: configs
          base_ref: main
          repo_link: https://github.com/ti-community-infra/configs
      max_concurrency: 1
      run_if_changed: "^prow-jobs/.*\\.(yaml|yml)"
      branches:
        - ^main$
      spec:
        containers:
          - image: ticommunityinfra/checkconfig:v20230621-df5abce
            command:
              - /ko-app/checkconfig
            args:
              - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
              - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
              - --job-config-path=prow-jobs/
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            securityContext:
              runAsUser: 0 # the default user or the image is not root.
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m

update new container
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

update
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

feat(tidb): skip ci on some images file change on tidb lts 6.1 & 6.5 (#2774)
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-with-kv-timeout-feature-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

not set limit for connect container
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

Add new container in kafka integration test (#2802)
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Due: none

feat(tidb): skip ci on some images file change on 7.1 & 7.5 (#2775)
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(tidb): skip ci on some images file change on tidb master (#2773)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: update checkout param to ensure submodule update correctly
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: remove unnecessary timeout
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update checkout param to ensure submodule update correctly (#2804)
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

*: upgrade go1.22 for tidb
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Due: pull-verify-jenkins-pipelines

remove cache_enable
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

tidb-test: remove cache_enable (#2806)
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

update: tidb-test: remove cache_enable
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

tidb-test: remove cache_enable (#2807)
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat: double build request resource to reduce build time
  pipelines/pingcap/tidb/release-6.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
Due: none

feat: double build request resource to reduce build time (#2808)
  pipelines/pingcap/tidb/release-6.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
Due: none

Update jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
Due: pull-verify-jenkins-pipelines

fix: fix get pr diff files not incomplete
  libraries/tipipeline/vars/component.groovy
Due: none

fix(tiflow): fix get pr diff files not incomplete (#2809)
  libraries/tipipeline/vars/component.groovy
Due: none

fix: fix archvie log file
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-5.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-5.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflow): fix archvie log file (#2810)
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-5.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-5.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

Update pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflow): update pull_dm_compatibility_test.groovy (#2811)
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "fix(tiflow): update pull_dm_compatibility_test.groovy (#2811)"
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

Revert "fix(tiflow): update pull_dm_compatibility_test.groovy" (#2812)
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add build failure cause config yaml
  docs/failure-cause/failure-cause.yaml
Due: none

fix: update indecation type name
  docs/failure-cause/failure-cause.yaml
Due: none

script: add analyse script to get prow job weekly data
  scripts/ops/statics-prow-jobs-weekly.py
Due: none

script: add analyse script to get prow job weekly data (#2815)
  scripts/ops/statics-prow-jobs-weekly.py
Due: none

chore(scripts/ops): update insight pr timeline script
  prow-jobs/pingcap-monitoring-periodics.yaml
  scripts/ops/insight-the-pr.ts
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update scripts/ops/statics-repo-code-lines.ts
  scripts/ops/statics-repo-code-lines.ts
Due: none

feat(scripts/ops): add script to statics code line for repo (#2816)
  scripts/ops/statics-repo-code-lines.ts
Due: none

fix(prow-jobs): make the label wont be removed by bot
  prow-jobs/pingcap-monitoring-periodics.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs
