Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

fix(scripts): replace fileserver.pingcap.net with sunset-fileserver.pingcap.net + add exemption
  .ci/check-pr-content-policy.sh
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  scripts/pingcap/br/integration_test_download_dependency.sh
  scripts/pingcap/tidb/br_integration_test_download_dependency.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(scripts): replace download.pingcap.org with sunset-fileserver.pingcap.net in FIPS scripts + add exemption
  .ci/check-pr-content-policy.sh
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

feat(scripts): mark fileserver.pingcap.net as decommissioned via .invalid domain (#4780)
  .ci/check-pr-content-policy.sh
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  scripts/pingcap/br/integration_test_download_dependency.sh
  scripts/pingcap/tidb/br_integration_test_download_dependency.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(scripts): mark fileserver.pingcap.net as decommissioned via .invalid domain (FIPS) (#4782)
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

chore(scripts): replace fileserver.pingcap.net with sunset-fileserver.pingcap.net in FIPS scripts
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

Apply suggestion from @wuhuizuo
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

Apply suggestions from code review
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
Due: none

chore(scripts): correct fileserver replacement target to sunset-fileserver.pingcap.net in FIPS scripts (#4783)
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
Due: none

feat(tekton): remove internal endpoint defaults from registry and publisher-url params
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
  tekton/v1/tasks/pingcap-build-images.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/pingcap/ctl/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/harbor/image-push-on-harbor-for-pingkai.yaml
Due: none

feat(tekton): remove internal endpoint defaults from registry and publisher-url params (#4785)
  tekton/v1/pipelines/pingcap-build-package-darwin.yaml
  tekton/v1/pipelines/pingcap-build-package-linux.yaml
  tekton/v1/tasks/delivery/pingcap-deliver-binaries.yaml
  tekton/v1/tasks/pingcap-build-binaries-darwin.yaml
  tekton/v1/tasks/pingcap-build-binaries-linux.yaml
  tekton/v1/tasks/pingcap-build-images.yaml
  tekton/v1/triggers/templates/_/build-component-all-platforms.yaml
  tekton/v1/triggers/templates/_/build-component-darwin.yaml
  tekton/v1/triggers/templates/_/build-component-linux.yaml
  tekton/v1/triggers/templates/_/build-component-single-platform.yaml
  tekton/v1/triggers/templates/pingcap/ctl/build-component-single-platform.yaml
  tekton/v1/triggers/triggers/env-prod2/_/harbor/image-push-on-harbor-for-pingkai.yaml
Due: none

fix(tekton): revert image-push-on-harbor-for-pingkai trigger filter
  tekton/v1/triggers/triggers/env-prod2/_/harbor/image-push-on-harbor-for-pingkai.yaml
Due: none

prow-jobs(tiflow): remove release-6.0 and 6.2 presubmits, set master label for remaining releases
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-6.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.6-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-9.0-beta-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

refactor(pipelines/tiflow): align release-8.1 pipelines with release-8.5 refactoring
  pipelines/pingcap/tiflow/release-8.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.1/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tiflow): align release-8.1 pipelines with release-8.5 refactoring (#4787)
  pipelines/pingcap/tiflow/release-8.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.1/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tiflow): align release-7.5 pipelines with release-8.5 refactoring
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tiflow): align release-7.5 pipelines with release-8.5 refactoring (#4788)
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): revert 4 CDC integration tests to a80d7d9c state
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): revert 4 CDC integration tests to a80d7d9c state (#4789)
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Revert "fix(pipelines/tiflow): revert 4 CDC integration tests to a80d7d9c state (#4789)"
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): use go1.25 image with tini for 4 CDC tests
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
Due: none

fix(pipelines/tiflow): align 4 CDC pod commands with release-8.5
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
Due: none

fix(pipelines/tiflow): restore CDC integration tests refactoring for release-7.5 (#4790)
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): use centos7-go1.21 image with /tini for 4 CDC tests
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
Due: none

fix(pipelines/tiflow): keep go1.21 without tini for mysql/storage/pulsar
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
Due: none

fix(pipelines/tiflow): disable fast fail for 4 CDC integration tests
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): use centos7-go1.21 image + /tini for release-7.5 CDC tests (#4791)
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(scripts): handle semver tags for sync-diff-inspector OCI download
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

fix(pipelines/tiflow): set sync-diff-inspector to v7.5.7 for release-7.5 CDC tests
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): set sync-diff-inspector to v7.5.7 for DM tests
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): use sync-diff-inspector v7.5.7 for release-7.5 and update OCI download script (#4792)
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): use sync-diff-inspector v8.1.2 for release-8.1 and revert kafka pod to centos7-go1.21
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines/tiflow): use sync-diff-inspector v8.1.2 for release-8.1 and revert kafka pod to centos7-go1.21 (#4793)
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(tekton): revert image-push-on-harbor-for-pingkai trigger filter (#4786)
  tekton/v1/triggers/triggers/env-prod2/_/harbor/image-push-on-harbor-for-pingkai.yaml
Due: none

refactor(pipelines/tiflow): align release-7.1 pipelines with release-7.5 and fix release-7.5 pulsar pod
  jobs/pingcap/tiflow/release-7.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refactor(pipelines/tiflow): align release-7.1 pipelines with release-7.5 and fix release-7.5 pulsar pod (#4794)
  jobs/pingcap/tiflow/release-7.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

refactor(pipelines/tidb-test): align release-7.1 with release-8.5
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_common_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_jdbc_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_common_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_integration_common_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_integration_jdbc_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-7.1/pod-ghpr_mysql_test.yaml
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(pipelines/tidb-test): rename release-6.2 to release-6.5
  jobs/pingcap-qe/tidb-test/release-6.5/aa_folder.groovy
  jobs/pingcap-qe/tidb-test/release-6.5/ghpr_build.groovy
  jobs/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-6.5/pod-ghpr_mysql_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/tidb-test/release-6.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

chore(pipelines/tidb-test): remove release-6.0 CI jobs (EOL)
  jobs/pingcap-qe/tidb-test/release-6.0/aa_folder.groovy
  jobs/pingcap-qe/tidb-test/release-6.0/ghpr_build.groovy
  jobs/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  jobs/pingcap-qe/tidb-test/release-6.0/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_build.groovy
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_integration_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.0/ghpr_mysql_test.groovy
  pipelines/pingcap-qe/tidb-test/release-6.0/pod-ghpr_build.yaml
  pipelines/pingcap-qe/tidb-test/release-6.0/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap-qe/tidb-test/release-6.0/pod-ghpr_mysql_test.yaml
  prow-jobs/pingcap-qe/tidb-test/release-6.0-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines
