Repository pingcap/tidb: changes, and which Prow jobs are due for each by the changed paths.
All: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, canary-notify-when-compatibility-sections-changed, pull-notify-when-compatibility-sections-changed, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

Path conditions:
  ci/e2e-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-ddl-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-jdbc-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/sqllogic-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-copr-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/tiflash-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/build: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  canary-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  pull-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  idc-jenkins-ci-tidb/build: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev_2: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  auto-sync-go-mods: any of: go\.mod$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/unit-test-ddlv1: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-python-orm-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-nodejs-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-br-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-lightning-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/tiflash-integration-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-ddlv1: any of: pkg/(ddl|meta)/.*
  pull-integration-e2e-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-br-integration-test: any of: (br|pkg/(ddl|domain|infoschema))/.*
  pull-lightning-integration-test: any of: (lightning|pkg/(domain|statistics|ddl|infoschema)|br/pkg/(checksum|httputil|membuf|pdutil|restore/split|storage))/.*
  pull-integration-ddl-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-scan-deps: any of: go\.mod

address comment
  pkg/ddl/masking_policy.go
  pkg/ddl/masking_policy_test.go
  pkg/errno/errcode.go
  pkg/errno/errname.go
  pkg/meta/meta.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

.
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_out.json
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_xut.json
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

lightning/mydump: align recursive CTE visibility
  pkg/lightning/mydump/view_restore.go
  pkg/lightning/mydump/view_restore_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: refine lease lock instance protocol
  docs/agents/br/lease-lock-business-review-notes.md
  docs/agents/br/lease-lock-family-acquire-protocol.md
  docs/agents/br/lease-lock-instance-generation-design.md
Due: pull-br-integration-test

make errdoc
  errors.toml
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

meta: clarify partial index foreign key coverage
  pkg/meta/model/index.go
  pkg/meta/model/index_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: fix CI failures
  br/tests/br_db_online_newkv/run.sh
  br/tests/br_full_cluster_restore/run.sh
  pkg/ddl/tests/partition/multi_domain_test.go
  pkg/domain/infosync/tiflash_manager.go
  pkg/executor/plan_replayer.go
  pkg/planner/core/casetest/rule/testdata/outer2inner_out.json
  pkg/planner/core/testdata/runtime_filter_generator_suite_out.json
  tests/integrationtest/r/clustered_index.result
  tests/integrationtest/r/expression/explain.result
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/r/planner/core/casetest/index/index.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_join_reorder.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/rule_constant_propagation.result
  tests/integrationtest/r/planner/core/rule_outer2inner.result
  tests/integrationtest/t/expression/issues.test
  tests/integrationtest/t/planner/core/integration.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

pkg/planner: build multiple logical plans from shared AST in optimize (#66743)
  pkg/planner/optimize.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

.
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_out.json
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: add comments for two sample rates
  pkg/statistics/row_sampler.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

expression: localize folded branch type cloning
  pkg/expression/builtin.go
  pkg/expression/constant_fold.go
  pkg/expression/constant_test.go
  pkg/expression/scalar_function.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

revert the old way
  pkg/lightning/mydump/schema_import.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

remove useless test
  pkg/lightning/mydump/schema_import_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: add comments for Sketeches
  pkg/statistics/row_sampler.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

remove useless check
  pkg/lightning/mydump/schema_import.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

.
  pkg/planner/core/casetest/testdata/json_plan_suite_out.json
  pkg/planner/core/casetest/testdata/json_plan_suite_xut.json
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

metrics records api call
  pkg/objstore/ossstore/client.go
  pkg/objstore/s3like/metrics.go
  pkg/objstore/s3store/client.go
  pkg/objstore/s3store/client_test.go
  pkg/objstore/s3store/ks3.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rm useless part
  pkg/lightning/mydump/schema_import.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

br: use generated lease lock instances
  br/pkg/stream/stream_metas_test.go
  br/pkg/task/stream.go
  docs/agents/br/lease-lock-instance-generation-implementation-plan.md
  pkg/objstore/export_test.go
  pkg/objstore/locking.go
  pkg/objstore/locking_test.go
  pkg/objstore/s3store/s3_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: address keyspace observability review comments
  cmd/tidb-server/BUILD.bazel
  cmd/tidb-server/main.go
  cmd/tidb-server/main_test.go
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/keyspace_observability.go
  pkg/keyspace/BUILD.bazel
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/standby/BUILD.bazel
  pkg/standby/standby.go
  pkg/standby/standby_test.go
  pkg/util/metricsutil/common.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: fix remaining CI failures
  pkg/ddl/executor.go
  pkg/executor/executor_failpoint_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

util/stmtsummary: set time range for evicted records
  pkg/util/stmtsummary/v2/stmtsummary.go
  pkg/util/stmtsummary/v2/stmtsummary_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

br: harden lease lock race coverage
  docs/agents/br/lease-lock-instance-generation-implementation-plan.md
  pkg/objstore/export_test.go
  pkg/objstore/locking.go
  pkg/objstore/locking_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

standby: pass keyspace ID in activate request
  cmd/tidb-server/main.go
  cmd/tidb-server/main_test.go
  pkg/standby/standby.go
  pkg/standby/standby_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix ut
  pkg/server/http_status.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix logs
  pkg/metaservice/BUILD.bazel
  pkg/metaservice/etcd.go
  pkg/metaservice/metamanager.go
  pkg/server/BUILD.bazel
  pkg/server/http_status.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

statistics: keep per-region singleton sketches when merging
  pkg/statistics/row_sampler.go
  pkg/statistics/sample_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

rename restore to import
  lightning/tests/lightning_view/run.sh
  lightning/tests/lightning_view_dependency/run.sh
  pkg/lightning/mydump/BUILD.bazel
  pkg/lightning/mydump/loader.go
  pkg/lightning/mydump/schema_import.go
  pkg/lightning/mydump/schema_import_test.go
  pkg/lightning/mydump/view_import.go
  pkg/lightning/mydump/view_import_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

fix ut
  pkg/session/bootstrap_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

vars: validate some vars for tidb x (#68196) (#68458)
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/distsql_test.go
  pkg/executor/executor_failpoint_test.go
  pkg/executor/test/distsqltest/BUILD.bazel
  pkg/executor/test/distsqltest/distsql_test.go
  pkg/session/test/variable/BUILD.bazel
  pkg/session/test/variable/variable_test.go
  pkg/sessionctx/variable/nextgen_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/varsutil_test.go
  pkg/sessiontxn/isolation/main_test.go
  pkg/sessiontxn/staleread/BUILD.bazel
  pkg/sessiontxn/staleread/provider_test.go
  tests/realtikvtest/sessiontest/session_fail_test.go
  tests/realtikvtest/txntest/replica_read_test.go
  tests/realtikvtest/txntest/stale_read_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

*: fix materialized view DDL test expectation
  pkg/executor/test/ddl/mview_log_ddl_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

parser, bindinfo: normalize binding parentheses with AST restore (#68359)
  .agents/skills/tidb-test-guidelines/references/bindinfo-case-map.md
  pkg/bindinfo/binding_operator_test.go
  pkg/bindinfo/tests/bind_test.go
  pkg/parser/ast/expressions.go
  pkg/parser/ast/functions.go
  pkg/parser/format/format.go
  pkg/util/parser/ast.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

bazel prepare
  pkg/session/BUILD.bazel
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

session: guard next-gen user keyspace bootstrap by target version (#68609)
  pkg/session/BUILD.bazel
  pkg/session/session.go
  pkg/session/session_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

session: assert user KS bootstrap guard panic message
  pkg/session/session_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

change
  pkg/session/BUILD.bazel
  pkg/session/session.go
  pkg/session/session_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: fix ddlv1 column count expectation
  pkg/executor/infoschema_reader_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

*: force hash join in full outer join planner test
  pkg/planner/core/logical_plans_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review
