Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

pull-replay-jenkins-pipelines:
  labels:
    owner: wei_zheng
    team: qe
    env: cicd
    component: jenkins
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: ghcr.io/pingcap-qe/cd/utils/release:v2026.2.1-3-gb0438c3
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins-beta
  ...

remove always_run for pull-integration-next-gen-columnar
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix AccessDeniedException when cache plugin try to mkdir
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(tools/flaky-tests): allow comments on closed issues
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/deno.lock
Due: none

fix(tools/flaky-tests): allow comments on closed issues (#4665)
  tools/reporters/ci/flaky-tests/core/GithubIssueManager.ts
  tools/reporters/ci/flaky-tests/deno.lock
Due: none

refactor code
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-build.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(tiflash): require TiFlash columnar presubmit on supported branches (#4663)
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): add client-go next-gen integration presubmit
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): pin client-go integration artifacts
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/client-go/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): add client-go next-gen integration presubmit (#4667)
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/client-go/latest-postsubmits.yaml
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(tiflash): migrate presubmit jobs to GCP (#4648)
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-build.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen_columnar/pod-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(tikv/pd): migrate release-8.5 jenkins job to GCP
  pipelines/tikv/pd/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-8.5/pull_integration_copr_test.groovy
  prow-jobs/tikv/pd/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): migrate client-go next-gen integration test to presubmit only
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/client-go/latest-postsubmits.yaml
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): replace sidecar processes with containers in client-go presubmit
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): switch tikv-data volume from emptyDir to ephemeral in client-go presubmits
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): rename client-go integration presubmit job
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pingcap/tiflow): migrate release-8.5 jenkins jobs to GCP
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

feat(prow): convert integration test to multi-container with lifecycle management
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Revert "feat(prow): convert integration test to multi-container with lifecycle management"
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): rename and restructure client-go presubmit job
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): update minio credentials for client-go presubmits
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pingcap/tiflow): migrate release-8.5 jenkins jobs to GCP
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(prow): add restartPolicy: Always to sidecar containers in client-go presubmits
  prow-jobs/tikv/client-go/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): rename tikv/client-go presubmits to nextgen and fix kustomization
  .ci/security-policy-allowlist.txt
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci: update security policy allowlist for tikv/client-go nextgen presubmits
  .ci/security-policy-allowlist.txt
Due: none

ci: fix tab formatting in security-policy-allowlist.txt
  .ci/security-policy-allowlist.txt
Due: none

feat(prow): add sidecar containers for pull-integration-test-nextgen job (#4669)
  .ci/security-policy-allowlist.txt
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pingcap/tiflow): migrate release-8.5 jenkins jobs to GCP
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_build.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(scripts): fix tiflash layout permissions for extracted directory
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

ci(scripts): fix tiflash layout permissions for extracted directory (#4671)
  scripts/artifacts/download_pingcap_oci_artifact.sh
Due: none

chore(permission) add nongfusanquan and lidezhu into pingcap/ticdc approvers
  configs/error-log-review/config.yaml
Due: none

update nongfushanquan id
  configs/error-log-review/config.yaml
Due: none

chore(permission): add nongfusanquan and lidezhu into pingcap/ticdc approver (#4672)
  configs/error-log-review/config.yaml
Due: none

ci(tikv/pd): migrate release-8.5 jenkins job to GCP
  pipelines/tikv/pd/release-8.5/pod-pull_integration_copr_test.yaml
Due: none

ci(tikv/pd): migrate release-8.5 jenkins job to GCP (#4668)
  pipelines/tikv/pd/release-8.5/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-8.5/pull_integration_copr_test.groovy
  prow-jobs/tikv/pd/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

ci(pingcap/tiflow): migrate release-8.5 jenkins jobs to GCP
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_syncdiff_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(prow): increase pd_next_gen test storage and fix volume mounts
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): add test log capture for client-go nextgen presubmit
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): add presubmit for client-go release-nextgen-202603 integration test
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(prow): increase pd_next_gen test storage and fix volume mounts (#4673)
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

ci(pingcap/tiflow): migrate release-8.5 jenkins jobs to GCP
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_syncdiff_integration_test.yaml
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$
