Repository pingcap/tidb: changes, and which Prow jobs are due for each by the changed paths.
All: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, canary-notify-when-compatibility-sections-changed, pull-notify-when-compatibility-sections-changed, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

ci/e2e-test:
  decorate: false

ci/common-test:
  decorate: false

ci/integration-common-test:
  decorate: false

ci/integration-ddl-test:
  decorate: false

ci/integration-jdbc-test:
  decorate: false

ci/integration-mysql-test:
  decorate: false

ci/sqllogic-test:
  decorate: false

ci/integration-copr-test:
  decorate: false

ci/tiflash-test:
  decorate: false

ci/build:
  decorate: false

ci/unit-test:
  decorate: false

canary-notify-when-compatibility-sections-changed:
  decorate: true
  optional: true
  spec:
    nodeSelector:
      kubernetes.io/arch: amd64
    containers:
    - name: check
      image: denoland/deno:1.35.1
      command:
      - bash
      - -exec
      args:
  ...

pull-notify-when-compatibility-sections-changed:
  decorate: true
  optional: true
  spec:
    nodeSelector:
      kubernetes.io/arch: amd64
    containers:
    - name: check
      image: denoland/deno:1.35.1
      command:
      - bash
      - -exec
      args:
  ...

idc-jenkins-ci-tidb/build:
  decorate: false

idc-jenkins-ci-tidb/check_dev:
  decorate: false

idc-jenkins-ci-tidb/check_dev_2:
  decorate: false

idc-jenkins-ci-tidb/mysql-test:
  decorate: false

idc-jenkins-ci-tidb/unit-test:
  decorate: false

auto-sync-go-mods:
  decorate: true
  optional: true
  spec:
    containers:
    - name: main
      image: golang:1.23
      env:
      - name: TARGET_FULL_REPO
        value: pingcap-inc/enterprise-plugin
      - name: GH_TOKEN
        valueFrom:
          secretKeyRef:
            key: token
            name: github-token
      command:
  ...

pull-check-deps:
  decorate: true
  optional: true
  spec:
    containers:
    - name: build
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 100m
      image: golang:1.25
      command:
      - bash
      - -ceo
      - pipefail
      args:
  ...

wip/unit-test-ddlv1:
  decorate: false

ci/integration-python-orm-test:
  decorate: false

ci/integration-nodejs-test:
  decorate: false

wip/integration-br-test:
  decorate: false

wip/integration-lightning-test:
  decorate: false

wip/tiflash-integration-test:
  decorate: false

pull-build-next-gen:
  decorate: false

pull-unit-test-next-gen:
  decorate: false

pull-integration-realcluster-test-next-gen:
  decorate: false

pull-mysql-client-test-next-gen:
  decorate: false

pull-unit-test-ddlv1:
  labels:
    master: '0'
  decorate: false

pull-integration-e2e-test:
  labels:
    master: '0'
  decorate: false

pull-br-integration-test:
  labels:
    master: '0'
  decorate: false

pull-lightning-integration-test:
  labels:
    master: '0'
  decorate: false

pull-integration-ddl-test:
  labels:
    master: '0'
  decorate: false

pull-mysql-client-test:
  labels:
    master: '0'
  decorate: false

pull-error-log-review:
  decorate: true
  optional: true
  spec:
    containers:
    - name: check
      image: ghcr.io/pingcap-qe/ci/base:v2024.10.8-32-ge807718-go1.23
      command:
      - /bin/bash
      - -ce
      args:
  ...

This is an automated cherry-pick of #71139
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/helper.go
  pkg/objstore/storage_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

objstore: wait for metadata workers after directory listing errors
  pkg/objstore/BUILD.bazel
  pkg/objstore/helper.go
  pkg/objstore/storage_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

objstore: cover metadata worker errors after channel closure
  pkg/objstore/storage_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: preserve master index-join reader semantics
  rust/crates/tidb-executor/src/access_path.rs
  rust/crates/tidb-executor/src/driver/physical_builder.rs
  rust/crates/tidb-executor/src/driver/planner_bridge.rs
  rust/crates/tidb-executor/src/driver/tests/index_prefix_reads.rs
  rust/crates/tidb-executor/src/kv_table/table_scan.rs
  rust/crates/tidb-planner/src/find_best_task/dispatch.rs
  rust/crates/tidb-planner/src/logical/data_source.rs
  rust/crates/tidb-planner/src/logical/rewrite.rs
  rust/crates/tidb-planner/src/logical/rule.rs
  rust/crates/tidb-planner/src/logical/rule_join_reorder.rs
  rust/crates/tidb-planner/src/logical/rule_tests.rs
  rust/crates/tidb-planner/tests/core_logical_cte_topn_prune_source.rs
  rust/docs/planner/physicalop-package-parity-execplan.md
  rust/docs/planner/physicalop-source-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: record published index-join parity checkpoint
  rust/docs/planner/physicalop-package-parity-execplan.md
Due: none

executor: propagate index-join inner reader failures
  rust/crates/tidb-executor/src/access_path.rs
  rust/crates/tidb-executor/src/join.rs
  rust/crates/tidb-executor/src/remote_scan.rs
  rust/crates/tidb-executor/src/tests_index_join.rs
  rust/docs/planner/physicalop-package-parity-execplan.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

[skip ci] update README.md file
  README.md
Due: none

fix: stabilize flaky issue #71486
  br/pkg/restore/snap_client/client_test.go
  br/pkg/restore/snap_client/export_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-br-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

distsql: retire coprocessor limiter waiters safely
  rust/crates/tidb-distsql/src/cop_paging/direct_unary_query_transport.rs
  rust/crates/tidb-distsql/tests/direct_unary_paging_and_close.rs
  rust/crates/tidb-txnkv/src/kv_contract.rs
  rust/crates/tidb-txnkv/tests/kv_package_source.rs
  rust/docs/operations/kv-audit-execplan.md
  rust/docs/parity/copr-package-inventory.md
  rust/docs/planner/physicalop-package-parity-execplan.md
  rust/testport/receipts/kv.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: record published limiter lifecycle checkpoint
  rust/docs/operations/kv-audit-execplan.md
Due: none

chore: add placeholder version in README.md file (#71506)
  README.md
Due: none

stmtsummary: start concurrent test workers behind a readiness barrier
  pkg/util/stmtsummary/v2/stmtsummary_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

server: restore session on change user auth failure (#69692)
  pkg/server/conn.go
  pkg/server/conn_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

ci: restore legacy toolchain and regression test compatibility
  DEPS.bzl
  go.mod
  go.sum
  pkg/privilege/privileges/ldap/test/ca.crt
  pkg/privilege/privileges/ldap/test/ldap.crt
  pkg/privilege/privileges/ldap/test/ldap.key
  pkg/util/printer/printer.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

build: use archived AppDash module sources
  DEPS.bzl
  go.mod
  go.sum
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

server: restore session on change user auth failure (release-6.5-20260921-v6.5.1) (#71458)
  .bazelversion
  DEPS.bzl
  WORKSPACE
  build/patches/gazelle_native_patch.patch
  build/patches/io_etcd_go_etcd_raft_v3.patch
  build/patches/rules_go_bazel7.patch
  go.mod
  go.sum
  server/conn.go
  server/conn_test.go
  util/printer/printer.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

server: restore session on change user auth failure (release-6.5-20260921-v6.5.0) (#71456)
  .bazelversion
  DEPS.bzl
  WORKSPACE
  build/patches/gazelle_native_patch.patch
  build/patches/io_etcd_go_etcd_raft_v3.patch
  build/patches/rules_go_bazel7.patch
  go.mod
  go.sum
  server/conn.go
  server/conn_test.go
  util/printer/printer.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, auto-sync-go-mods, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review, pull-scan-deps

distsql: back off ignored request lock hints
  rust/crates/tidb-distsql/src/cop_paging/direct_unary_query_transport.rs
  rust/crates/tidb-distsql/src/query_runtime/query_response.rs
  rust/crates/tidb-distsql/src/response_channel.rs
  rust/crates/tidb-distsql/tests/direct_unary_dispatch_contract.rs
  rust/crates/tidb-distsql/tests/query_runtime_source.rs
  rust/crates/tidb-exec/src/cop_scan.rs
  rust/crates/tidb-exec/src/pessimistic_lock_error.rs
  rust/crates/tidb-txnkv/src/driver_error.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-txnlock-package-inventory.md
  rust/docs/parity/copr-package-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

docs: record the FIFO-limiter gate -- total 1.74x, q10 3.21x (from 8.00x)
  rust/docs/tpch50-perf-parity-2026-09-22.md
Due: none

planner: reconcile original and plan-derived LEADING hints in EXPLAIN FORMAT=hint
  pkg/planner/core/common_plans.go
  pkg/planner/core/hint_utils.go
  pkg/planner/core/hint_utils_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

memory: disable arbitrator by default
  pkg/executor/test/memtest/mem_test.go
  pkg/sessionctx/vardef/tidb_vars.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor: add adaptive admission control for ordered LIMIT scans (#70252)
  docs/design/2026-07-31-adaptive-limit-scan.md
  pkg/executor/builder.go
  pkg/executor/distsql.go
  pkg/executor/distsql_test.go
  pkg/executor/internal/exec/BUILD.bazel
  pkg/executor/internal/exec/adaptive_limit_controller.go
  pkg/executor/internal/exec/adaptive_limit_controller_test.go
  pkg/executor/join/index_lookup_join.go
  pkg/executor/join/join_stats_test.go
  pkg/executor/pkg_test.go
  pkg/executor/select.go
  pkg/session/upgrade_backfill_test.go
  pkg/session/upgrade_def.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/varsutil_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

txnkv: align snapshot lock retries with master
  rust/crates/tidb-exec/src/cluster_table_storage.rs
  rust/crates/tidb-exec/src/multi_statement_transaction.rs
  rust/crates/tidb-exec/src/real_tikv_dml.rs
  rust/crates/tidb-txnkv/src/retry.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/mod.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_read.rs
  rust/crates/tidb-txnkv/tests/region_error_recovery_source.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-retry-package-inventory.md
  rust/docs/parity/client-go-txnsnapshot-package-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

txnkv: match master MaxTS first-lock reads
  rust/crates/tidb-txnkv/src/lock/resolver.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_read.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-retry-package-inventory.md
  rust/docs/parity/client-go-txnlock-package-inventory.md
  rust/docs/parity/client-go-txnsnapshot-package-inventory.md
  rust/docs/parity/copr-package-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

txnkv: run snapshot batch recovery independently
  rust/crates/tidb-txnkv/src/lock/mod.rs
  rust/crates/tidb-txnkv/src/lock/pessimistic.rs
  rust/crates/tidb-txnkv/src/read_runtime.rs
  rust/crates/tidb-txnkv/src/transaction/command_client.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/mod.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_batch_get.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_read.rs
  rust/crates/tidb-txnkv/src/transaction/mod.rs
  rust/crates/tidb-txnkv/tests/lock_resolver_source.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-txnsnapshot-package-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

txnkv: honor the published async BatchGet setting
  rust/Cargo.lock
  rust/crates/tidb-config/src/tikvcfg.rs
  rust/crates/tidb-txnkv/Cargo.toml
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_batch_get.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-config-package-inventory.md
  rust/docs/parity/client-go-txnsnapshot-package-inventory.md
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "parser, sessionctx: add mlog purge SQL surface (#71045)"
  pkg/parser/ast/ast.go
  pkg/parser/ast/misc.go
  pkg/parser/ast/misc_test.go
  pkg/parser/ast/sem.go
  pkg/parser/ast/visitor_codegen/generator.go
  pkg/parser/ast/visitor_codegen/generator_test.go
  pkg/parser/ast/visitor_inplace_generated.go
  pkg/parser/ast/visitor_test.go
  pkg/parser/parser.go
  pkg/parser/parser.y
  pkg/parser/parser_test.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/varsutil_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "test: port and organize materialized view regression tests (#71025)"
  br/pkg/restore/snap_client/export_test.go
  pkg/ddl/mv_index_test.go
  pkg/ddl/mview_worker_test.go
  pkg/ddl/tests/materializedview/BUILD.bazel
  pkg/ddl/tests/materializedview/main_test.go
  pkg/ddl/tests/materializedview/materialized_view_alter_test.go
  pkg/ddl/tests/materializedview/materialized_view_basic_test.go
  pkg/ddl/tests/materializedviewlog/BUILD.bazel
  pkg/ddl/tests/materializedviewlog/main_test.go
  pkg/ddl/tests/materializedviewlog/materialized_view_alter_test.go
  pkg/ddl/tests/materializedviewlog/materialized_view_basic_test.go
  pkg/ddl/tests/materializedviewlog/materialized_view_create_test.go
  pkg/ddl/tests/materializedviewlog/materialized_view_drop_test.go
  pkg/ddl/tests/metadatalock/BUILD.bazel
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/executor/import_into_test.go
  pkg/executor/test/ddl/BUILD.bazel
  pkg/executor/test/ddl/materialized_view_alter_test.go
  pkg/executor/test/ddl/materialized_view_basic_test.go
  pkg/executor/test/ddl/materialized_view_create_test.go
  pkg/executor/test/ddl/materialized_view_drop_test.go
  pkg/planner/core/util_test.go
  pkg/sessionctx/stmtctx/stmtctx_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "ddl, statistics: guard materialized view partition DDL (#71012)"
  pkg/ddl/executor.go
  pkg/ddl/executor_nokit_test.go
  pkg/executor/test/ddl/materialized_view_alter_test.go
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/ddl/subscriber.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "executor, ddl: support base table DML with materialized view logs (#70941)"
  pkg/ddl/column.go
  pkg/executor/builder.go
  pkg/executor/test/writetest/BUILD.bazel
  pkg/executor/test/writetest/mview_log_write_basic_test.go
  pkg/executor/test/writetest/mview_log_write_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/variable/tests/BUILD.bazel
  pkg/sessionctx/variable/tests/session_test.go
  pkg/table/tables/BUILD.bazel
  pkg/table/tables/mview_log.go
  tests/integrationtest/r/executor/mview_log_dml.result
  tests/integrationtest/t/executor/mview_log_dml.csv
  tests/integrationtest/t/executor/mview_log_dml.test
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "ddl: port materialized view alter support (#70927)"
  pkg/ddl/BUILD.bazel
  pkg/ddl/add_column.go
  pkg/ddl/executor.go
  pkg/ddl/index.go
  pkg/ddl/job_worker.go
  pkg/ddl/materialized_view.go
  pkg/ddl/modify_column.go
  pkg/ddl/multi_schema_change.go
  pkg/ddl/mview_worker.go
  pkg/ddl/notifier/BUILD.bazel
  pkg/ddl/notifier/events.go
  pkg/ddl/notifier/events_test.go
  pkg/ddl/rollingback.go
  pkg/ddl/schematracker/checker.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/executor/ddl.go
  pkg/executor/test/ddl/BUILD.bazel
  pkg/executor/test/ddl/materialized_view_alter_test.go
  pkg/executor/test/ddl/materialized_view_basic_test.go
  pkg/meta/model/bdr.go
  pkg/meta/model/job.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/preprocess.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "ddl: support drop materialized view and log (#70874)"
  pkg/ddl/bdr/bdr_test.go
  pkg/ddl/delete_range.go
  pkg/ddl/executor.go
  pkg/ddl/job_worker.go
  pkg/ddl/job_worker_test.go
  pkg/ddl/materialized_view.go
  pkg/ddl/mview_worker.go
  pkg/ddl/mview_worker_test.go
  pkg/ddl/rollingback.go
  pkg/ddl/sanity_check.go
  pkg/ddl/schema.go
  pkg/ddl/schema_version.go
  pkg/ddl/schematracker/BUILD.bazel
  pkg/ddl/schematracker/checker.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/ddl/schematracker/dm_tracker_test.go
  pkg/ddl/table.go
  pkg/executor/ddl.go
  pkg/executor/test/ddl/BUILD.bazel
  pkg/executor/test/ddl/materialized_view_basic_test.go
  pkg/executor/test/ddl/materialized_view_create_test.go
  pkg/executor/test/ddl/materialized_view_drop_test.go
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder.go
  pkg/infoschema/builder_mview_test.go
  pkg/meta/model/bdr.go
  pkg/meta/model/job.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
  pkg/meta/model/job_test.go
  pkg/meta/model/table.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/preprocess.go
  pkg/store/gcworker/gc_worker.go
  pkg/store/gcworker/gc_worker_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

txnkv: preserve snapshot response statistics and coverage
  rust/Cargo.lock
  rust/crates/tidb-proto/Cargo.toml
  rust/crates/tidb-proto/build.rs
  rust/crates/tidb-proto/proto/kvrpcpb.proto
  rust/crates/tidb-proto/src/lib.rs
  rust/crates/tidb-proto/tests/transaction_wire_source.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/mod.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_batch_get.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_read.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-txnsnapshot-package-inventory.md
  rust/docs/parity/client-go-util-package-inventory.md
  rust/third_party/tikv-client-rs/src/store/batch.rs
  rust/third_party/tikv-client-rs/src/store/client.rs
  rust/third_party/tikv-client-rs/src/transaction/snapshot_stats.rs
  rust/third_party/tikv-client-rs/src/util/mod.rs
  rust/third_party/tikv-client-rs/src/util/point_response_stats.rs
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

txnkv: record native snapshot RPC runtime statistics
  rust/crates/tidb-txnkv/src/rpc/batch/completion.rs
  rust/crates/tidb-txnkv/src/rpc/mod.rs
  rust/crates/tidb-txnkv/src/rpc/transaction.rs
  rust/crates/tidb-txnkv/src/transaction/command_client.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_batch_get.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_read.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-txnsnapshot-package-inventory.md
  rust/third_party/tikv-client-rs/src/transaction/snapshot_stats.rs
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

memory: reduce overhead of global memory arbitration (#71346)
  pkg/executor/join/row_table_builder.go
  pkg/session/BUILD.bazel
  pkg/session/session.go
  pkg/session/session_test.go
  pkg/util/memory/BUILD.bazel
  pkg/util/memory/arbitrator.go
  pkg/util/memory/arbitrator_test.go
  pkg/util/memory/global_arbitrator.go
  pkg/util/memory/heap_profile.go
  pkg/util/memory/heap_profile_test.go
  pkg/util/memory/tracker.go
  pkg/util/memory/tracker_test.go
  pkg/util/memory/utils.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

txnkv: preserve snapshot backoff histories and resolver timing
  rust/crates/tidb-txnkv/src/retry.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/mod.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_batch_get.rs
  rust/crates/tidb-txnkv/src/transaction/coordinator/snapshot_read.rs
  rust/crates/tidb-txnkv/tests/snapshot_lock_wait_source.rs
  rust/docs/operations/store-copr-audit-execplan.md
  rust/docs/parity/client-go-retry-package-inventory.md
  rust/docs/parity/client-go-txnsnapshot-package-inventory.md
  rust/third_party/tikv-client-rs/src/transaction/snapshot_stats.rs
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Revert "parser: port materialized view DDL syntax (#70744)"
  pkg/parser/BUILD.bazel
  pkg/parser/ast/ast.go
  pkg/parser/ast/ddl.go
  pkg/parser/ast/sem.go
  pkg/parser/ast/visitor_codegen/generator.go
  pkg/parser/ast/visitor_codegen/generator_test.go
  pkg/parser/ast/visitor_inplace_generated.go
  pkg/parser/ast/visitor_test.go
  pkg/parser/keywords.go
  pkg/parser/keywords_test.go
  pkg/parser/misc.go
  pkg/parser/mview_stmt_options.go
  pkg/parser/parser.go
  pkg/parser/parser.y
  pkg/parser/parser_test.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-integration-e2e-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

executor, planner: support materialized view log purge (#71118)
  pkg/ddl/materialized_view.go
  pkg/ddl/mview_schedule_expr.go
  pkg/ddl/mview_worker.go
  pkg/ddl/schematracker/dm_tracker_test.go
  pkg/ddl/tests/materializedview/materialized_view_alter_test.go
  pkg/ddl/tests/materializedview/materialized_view_basic_test.go
  pkg/ddl/tests/materializedviewlog/materialized_view_basic_test.go
  pkg/executor/BUILD.bazel
  pkg/executor/adapter.go
  pkg/executor/builder.go
  pkg/executor/mlog_purge.go
  pkg/executor/mview_task.go
  pkg/executor/slow_query_sql_test.go
  pkg/executor/test/materializedviewlog/BUILD.bazel
  pkg/executor/test/materializedviewlog/main_test.go
  pkg/executor/test/materializedviewlog/materialized_view_purge_test.go
  pkg/executor/utils_test.go
  pkg/expression/BUILD.bazel
  pkg/expression/helper.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
  pkg/meta/model/table.go
  pkg/meta/model/table_test.go
  pkg/metrics/executor.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/preprocess.go
  pkg/session/session.go
  pkg/util/generatedexpr/BUILD.bazel
  pkg/util/generatedexpr/gen_expr_test.go
  pkg/util/generatedexpr/generated_expr.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

TTL: use 15m default TTL interval in starter mode (#71445)
  pkg/ddl/BUILD.bazel
  pkg/ddl/executor.go
  pkg/ddl/ttl.go
  pkg/ddl/ttl_sql_test.go
  pkg/ddl/ttl_test.go
  pkg/meta/model/table.go
  pkg/meta/model/table_test.go
  pkg/util/dbterror/ddl_terror.go
Due: ci/e2e-test, ci/common-test, ci/integration-common-test, ci/integration-ddl-test, ci/integration-jdbc-test, ci/integration-mysql-test, ci/sqllogic-test, ci/integration-copr-test, ci/tiflash-test, ci/build, ci/unit-test, idc-jenkins-ci-tidb/build, idc-jenkins-ci-tidb/check_dev, idc-jenkins-ci-tidb/check_dev_2, idc-jenkins-ci-tidb/mysql-test, idc-jenkins-ci-tidb/unit-test, pull-check-deps, wip/unit-test-ddlv1, ci/integration-python-orm-test, ci/integration-nodejs-test, wip/integration-br-test, wip/integration-lightning-test, wip/tiflash-integration-test, pull-build-next-gen, pull-unit-test-next-gen, pull-integration-realcluster-test-next-gen, pull-mysql-client-test-next-gen, pull-unit-test-ddlv1, pull-integration-e2e-test, pull-br-integration-test, pull-lightning-integration-test, pull-integration-ddl-test, pull-mysql-client-test, pull-error-log-review

Path conditions:
  ci/e2e-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-common-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-ddl-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-jdbc-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/sqllogic-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/integration-copr-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  ci/tiflash-test: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/build: unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  canary-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  pull-notify-when-compatibility-sections-changed: any of: ^(session/bootstrap\.go|sessionctx/variable/(sysvar|session|tidb_vars)\.go|config/(config\.go|config\.toml\.example)|br/tidb-lightning\.toml|parser/parser\.y)$
  idc-jenkins-ci-tidb/build: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/check_dev_2: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/mysql-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  idc-jenkins-ci-tidb/unit-test: (unless all of: (\.md|Dockerfile|OWNERS|OWNERS_ALIASES)$) or (unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$)
  auto-sync-go-mods: any of: go\.mod$
  pull-check-deps: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/unit-test-ddlv1: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-python-orm-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  ci/integration-nodejs-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-br-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/integration-lightning-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  wip/tiflash-integration-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-build-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-integration-realcluster-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test-next-gen: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-unit-test-ddlv1: any of: pkg/(ddl|meta)/.*
  pull-integration-e2e-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-br-integration-test: any of: (br|pkg/(ddl|domain|infoschema))/.*
  pull-lightning-integration-test: any of: (lightning|pkg/(domain|statistics|ddl|infoschema)|br/pkg/(checksum|httputil|membuf|pdutil|restore/split|storage))/.*
  pull-integration-ddl-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-mysql-client-test: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-error-log-review: unless all of: (\.(md|png|jpeg|jpg|gif|svg|pdf|gitignore)|Dockerfile|OWNERS|OWNERS_ALIASES)$
  pull-scan-deps: any of: go\.mod
