Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

refactor(pipelines): archive bazel artifacts in always
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(pipelines): analyze pd realcluster go test output
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
  scripts/plugins/analyze-go-test-output.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(pipelines): archive flaky analysis artifacts per cell (#4602)
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  scripts/plugins/analyze-go-test-output.sh
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(jobs): add tipipeline library for ti-community-infra
  jobs/ti-community-infra/aa_folder.groovy
Due: none

ci(jobs): add tipipeline shared library to ti-community-infra folder
  jobs/ti-community-infra/aa_folder.groovy
Due: none

ci(jobs): add tipipeline library for ti-community-infra (#4603)
  jobs/ti-community-infra/aa_folder.groovy
Due: none

fix(jobs): set includeInChangesets to false for tipipeline shared library
  jobs/ti-community-infra/aa_folder.groovy
Due: none

fix(jobs): set includeInChangesets to false for all tipipeline share libraries
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/qa/aa_folder.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

Fix Bazel skip detection in test parser
  scripts/plugins/analyze-go-test-from-bazel-output.sh
  scripts/plugins/test_analyze-go-test-from-bazel-output.sh
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/sample.log
Due: none

fix(pipelines): move test execution outside cache block in jdbc integration test pipelines
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(jobs): set includeInChangesets to false for all tipipeline share libraries (#4607)
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/qa/aa_folder.groovy
  jobs/ti-community-infra/aa_folder.groovy
  jobs/tidbcloud/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Due: none

fix(scripts/plugins): match SKIP test status to prevent false .fatal.log, add regression validation (#4606)
  scripts/plugins/analyze-go-test-from-bazel-output.sh
  scripts/plugins/test_analyze-go-test-from-bazel-output.sh
  scripts/plugins/testdata/analyze-go-test-from-bazel-output/sample.log
Due: none

fix(pipelines): move test execution outside cache block in jdbc integration test pipelines (#4608)
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

chore(libraries): remove pod_label from tipipeline
  libraries/tipipeline/vars/pod_label.groovy
Due: none

test(libraries): rewrite parse ci params test
  libraries/tipipeline/tests/TestParseCIParams.groovy
Due: none

chore(libraries): remove pod_label from tipipeline (#4610)
  libraries/tipipeline/tests/TestParseCIParams.groovy
  libraries/tipipeline/vars/pod_label.groovy
Due: none

chore: ignore deprecated tekton v0 renovate paths
  .github/renovate.json
Due: none

chore: ignore deprecated tekton v0 renovate paths (#4611)
  .github/renovate.json
Due: none

ci(ticdc): enable matrix cache for storage light next gen
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

fix(ticdc): stabilize matrix cache keys
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

ci(ticdc): enable matrix cache for storage light next gen (#4614)
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(ci): add query image tag workflow
  .ci/test-query-image-tag.sh
  .github/workflows/query-image-tag.yml
  scripts/artifacts/query-image-tag.sh
Due: none

fix(ci): rename query image timestamp contract
  .ci/test-query-image-tag.sh
  .github/workflows/query-image-tag.yml
  scripts/artifacts/query-image-tag.sh
Due: none

feat(ci): add query image tag workflow (#4615)
  .ci/test-query-image-tag.sh
  .github/workflows/query-image-tag.yml
  scripts/artifacts/query-image-tag.sh
Due: none

Revert "feat(ci): add query image tag workflow (#4615)"
  .ci/test-query-image-tag.sh
  .github/workflows/query-image-tag.yml
  scripts/artifacts/query-image-tag.sh
Due: none

ci(pipelines): update pull_unit_test_next_gen image
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

chore(pipelines): update pull_unit_test_next_gen image (#4617)
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
Due: none

chore(ci): split stage retry changes into replay batches
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(ci): add stage retries for batch 2 gke pipelines
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(ci): add stage retries for batch 3 gke pipelines
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

docs: add matrixCache guide
  docs/README.md
  docs/images/matrix-cache/first-run.png
  docs/images/matrix-cache/rerun-skipped.png
  docs/matrixCache.md
Due: none

docs: add matrixCache guide (#4621)
  docs/README.md
  docs/images/matrix-cache/first-run.png
  docs/images/matrix-cache/rerun-skipped.png
  docs/matrixCache.md
Due: none

update
  prow-jobs/pingcap/tiflow/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Apply suggestions from code review
  prow-jobs/pingcap/tiflow/latest-presubmits-next-gen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(ci): add stage agent retries for pingcap/ticdc latest (#4618)
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v7_5/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light_v8_1/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy_next_gen/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light_next_gen/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(ci): add stage agent retries for ticdc-inc tiflow and tidb latest (#4619)
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_kafka_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_mysql_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_pulsar_integration_light/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_heavy/pipeline.groovy
  pipelines/pingcap-inc/ticdc/latest/pull_cdc_storage_integration_light/pipeline.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap-inc/tidb/release-8.5/pull_mysql_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(ci): add stage agent retries for tidb release-8.5 (#4620)
  pipelines/pingcap/tidb/release-8.5/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(ci): refactor tidb-test latest stage agents
  pipelines/pingcap-qe/tidb-test/latest/ghpr_build/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_integration_python_orm_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/ghpr_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_common_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_jdbc_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_connector_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_mysql_test/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_tiproxy_ruby_orm_test/pipeline.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines
