Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

feat(qa-release-test): add binlog integration test pipeline (#3242)
  jobs/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  scripts/pingcap/tidb-binlog/download_pingcap_artifact.sh
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add tidb-tools integration test for qa-release-test
  jobs/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat(qa-release-test): add tidb-tools integration test for qa-release-test (#3243)
  jobs/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix checkout error
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines

add python orm test in master verify
  jobs/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add python orm test in master verify (#3245)
  jobs/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
Due: pull-verify-jenkins-pipelines

chore: increase timeout
  pipelines/pingcap/tidb/release-8.1/pull_integration_binlog_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add binlog and tidb-toosl pipelines to lts branch
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add binlog and tidb-toosl pipelines to lts branch
  jobs/pingcap/tidb/release-6.1/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-6.5/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore add new line
  jobs/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

feat: add binlog and tidb-tools integration test pipeline to lts branch (#3244)
  jobs/pingcap/tidb/release-6.1/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-6.5/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_binlog_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_tidb_tools_test.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_binlog_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_integration_binlog_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test.groovy
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore: archive unit junit xml file for test
  pipelines/pingcap/tidb/release-6.1/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: build tidb-tools with go1.21
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines

archive junit xml file for test analystic
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: build tidb-tools with go1.21 (#3247)
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines

fix: run tidb-tools it with go1.21
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines

fix: run tidb-tools integration-test with go1.21 (#3248)
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
Due: pull-verify-jenkins-pipelines

fix
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add test junit xml to codecov test analystic
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
Due: pull-verify-jenkins-pipelines

feat: uplaod test junit xml to codecov test analystic
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(scripts/flow/rc): fix artifacts check scripts
  scripts/flow/ga/create_github_release.ts
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Due: none

feat: try codecov test-analystic on tiflow (#3249)
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
Due: pull-verify-jenkins-pipelines

fix(scripts/flow/rc): fix artifacts check scripts (#3250)
  scripts/flow/ga/create_github_release.ts
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Due: none

chore: disable trigger for all lts and hotfix branch
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

Update jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
Due: none

Update jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

Update jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
Due: none

Update jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
Due: none

chore: disable trigger for all lts and hotfix branch (#3251)
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Due: none

feat: use go1.23 for tidb-tools in master
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb-tools): use go1.23 for tidb-tools in master (#3252)
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb-tools): use go1.23 for tidb-tools in master (#3253)
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore(tidb-tools): pod-pull_verify.yaml
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
Due: none

chore: disable old tidb-jobs
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Due: none

chore(tidb-tools): disable old tidb-tools jobs (#3255)
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Due: none

fix(scripts): fix script to sync OWNERS file
  scripts/pingcap/community/update-prow-owners.ts
Due: none

fix(scripts): fix script to sync OWNERS file (#3256)
  scripts/pingcap/community/update-prow-owners.ts
Due: none

Update merged_update_docs.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
