Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs, pull-replay-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
  pull-replay-jenkins-pipelines: any of: ^pipelines/.*\.groovy$

chore(jobs): drop the pilot back-compat symlinks
  jobs/ti-community-infra/aa_folder.groovy
  jobs/ti-community-infra/test-prod/aa_folder.groovy
  jobs/ti-community-infra/test-prod/prow_debug.groovy
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

feat(scripts): let --only select a repo or branch slice
  scripts/migrate-jenkins-jobs.sh
Due: none

fix(scripts): never overwrite an already-migrated job folder
  scripts/migrate-jenkins-jobs.sh
Due: none

fix(ci): do not treat a back-compat symlink as a duplicate job
  .ci/check-jenkins-job-references.sh
  .ci/test-check-jenkins-job-references.sh
Due: none

fix(scripts): keep OWNERS moves inside the selected --only slice
  scripts/migrate-jenkins-jobs.sh
Due: none

refactor(jobs): migrate tikv/copr-test to the job-folder layout
  jenkins/jobs/tikv/copr-test/aa_folder.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/Jenkinsfile
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/dsl.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/pod.yaml
Due: none

chore(prow-jobs): point client-go ng release test to release-nextgen-202609
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): add client-go ng release test for release-nextgen-202609
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): rename staging Jenkins secret keys in ci seed jobs
  prow-jobs/pingcap-qe/ci/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): rename staging Jenkins secret keys in ci seed jobs (#5286)
  prow-jobs/pingcap-qe/ci/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ops): bump nextgen image tag script to release-nextgen-202609
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

refactor(jobs): harden the one-folder-per-job migration (no symlinks) (#5283)
  .agents/skills/test-jenkins-pipeline-changes-in-pr-by-replaying/SKILL.md
  .ci/check-jenkins-job-references.sh
  .ci/replay-jenkins-build.sh
  .ci/test-check-jenkins-job-references.sh
  .ci/test-migrate-jenkins-jobs.sh
  .ci/verify-jenkins-credential-policy.sh
  .github/renovate.json
  AGENTS.md
  docs/designs/jenkins-job-folder-layout.md
  prow-jobs/pingcap-qe/ci/postsubmits.yaml
  prow-jobs/pingcap-qe/ci/presubmits.yaml
  scripts/migrate-jenkins-jobs.sh
  tests/fixtures/jenkins-migration/jobs/acme/widget/latest/nopod.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/nopod.groovy
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(prow-jobs): add client-go ng release test job for release-nextgen-202609 (#5285)
  prow-jobs/tikv/client-go/latest-presubmits-nextgen.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(ops): bump nextgen image tag script to release-nextgen-202609 (#5287)
  scripts/ops/nextgen/get-next-gen-exact-image-tags.sh
Due: none

chore(jobs): drop the pilot back-compat symlinks (#5284)
  jobs/ti-community-infra/aa_folder.groovy
  jobs/ti-community-infra/test-prod/aa_folder.groovy
  jobs/ti-community-infra/test-prod/prow_debug.groovy
  pipelines/ti-community-infra/test-prod/prow_debug.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate tikv/copr-test to the job-folder layout (#5257)
  jenkins/jobs/tikv/copr-test/aa_folder.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/Jenkinsfile
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/dsl.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/pod.yaml
Due: none

fix(scripts): move Jenkins job artifacts during migration instead of copying
  .ci/test-migrate-jenkins-jobs.sh
  docs/designs/jenkins-job-folder-layout.md
  scripts/migrate-jenkins-jobs.sh
Due: none

perf(scripts): index Jenkins artifact references instead of grepping per job
  scripts/migrate-jenkins-jobs.sh
Due: none

fix(scripts): resolve templated scriptPath targets in the reference index
  .ci/test-migrate-jenkins-jobs.sh
  scripts/migrate-jenkins-jobs.sh
  tests/fixtures/jenkins-migration/jobs/acme/widget/dedicated/shared_tmpl.groovy
  tests/fixtures/jenkins-migration/jobs/acme/widget/latest/shared_tmpl.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/shared_tmpl/pipeline.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/shared_tmpl/pod.yaml
Due: pull-verify-jenkins-pipelines

perf(scripts): scope the reference pre-pass to the slice and append consumes
  scripts/migrate-jenkins-jobs.sh
Due: none

fix(scripts): detect cross-branch shared sources when applying in chunks
  .ci/test-migrate-jenkins-jobs.sh
  scripts/migrate-jenkins-jobs.sh
Due: none

feat(scripts): relocate pipelines/ OWNERS files with the jobs
  .ci/test-migrate-jenkins-jobs.sh
  scripts/migrate-jenkins-jobs.sh
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/OWNERS
Due: none

fix(scripts): let --cleanup run once the legacy jobs/ tree is already empty
  scripts/migrate-jenkins-jobs.sh
Due: none

refactor(jobs): migrate pingcap/tidb-tools to the job-folder layout
  jenkins/jobs/pingcap/tidb-tools/OWNERS
  jenkins/jobs/pingcap/tidb-tools/aa_folder.groovy
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/Jenkinsfile
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/dsl.groovy
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/pod.yaml
Due: none

chore(jobs): drop the tikv/copr-test legacy pipeline copies
  pipelines/tikv/copr-test/latest/pod-pull_integration_test.yaml
  pipelines/tikv/copr-test/latest/pull_integration_test.groovy
Due: pull-verify-jenkins-pipelines, pull-replay-jenkins-pipelines

refactor(jobs): migrate pingcap/tidb-tools to the job-folder layout (#5258)
  .ci/test-migrate-jenkins-jobs.sh
  docs/designs/jenkins-job-folder-layout.md
  jenkins/jobs/pingcap/tidb-tools/OWNERS
  jenkins/jobs/pingcap/tidb-tools/aa_folder.groovy
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/Jenkinsfile
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/dsl.groovy
  jenkins/jobs/pingcap/tidb-tools/latest/pull_verify/pod.yaml
  scripts/migrate-jenkins-jobs.sh
  tests/fixtures/jenkins-migration/jobs/acme/widget/dedicated/shared_tmpl.groovy
  tests/fixtures/jenkins-migration/jobs/acme/widget/latest/shared_tmpl.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/OWNERS
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/shared_tmpl/pipeline.groovy
  tests/fixtures/jenkins-migration/pipelines/acme/widget/latest/shared_tmpl/pod.yaml
Due: pull-verify-jenkins-pipelines

feat(scripts): rewrite scriptPath through a ciGroovyPath variable
  .ci/test-migrate-jenkins-jobs.sh
  scripts/migrate-jenkins-jobs.sh
Due: none

fix(scripts): update an existing ciGroovyPath in place instead of duplicating it
  scripts/migrate-jenkins-jobs.sh
Due: none

docs(designs): document the ciGroovyPath scriptPath convention
  docs/designs/jenkins-job-folder-layout.md
Due: none

feat(scripts): normalize already-migrated DSLs to ciGroovyPath
  jenkins/jobs/ti-community-infra/test-prod/prow_debug/dsl.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/dsl.groovy
  scripts/migrate-jenkins-jobs.sh
Due: none

refactor(jobs): migrate pingcap-inc/enterprise-extensions to the job-folder layout
  jenkins/jobs/pingcap-inc/enterprise-extensions/OWNERS
  jenkins/jobs/pingcap-inc/enterprise-extensions/aa_folder.groovy
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/Jenkinsfile
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/dsl.groovy
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/pod.yaml
Due: none

refactor(jobs): migrate tikv/migration to the job-folder layout
  jenkins/jobs/tikv/migration/aa_folder.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/Jenkinsfile
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/dsl.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/pod.yaml
  jenkins/jobs/tikv/migration/latest/pull_integration_test/Jenkinsfile
  jenkins/jobs/tikv/migration/latest/pull_integration_test/dsl.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_test/pod.yaml
Due: none

refactor(jobs): migrate tidbcloud/cloud-storage-engine to the job-folder layout
  jenkins/jobs/tidbcloud/cloud-storage-engine/aa_folder.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/aa_folder.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/Jenkinsfile
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/dsl.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pod-main.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/dedicated/pull_integration_realcluster_test_next_gen/pod-test.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/Jenkinsfile
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/dsl.groovy
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/pod-main.yaml
  jenkins/jobs/tidbcloud/cloud-storage-engine/latest/pull_integration_realcluster_test_next_gen/pod-test.yaml
Due: none

refactor(jobs): migrate pingcap-inc/tiflash-scripts to the job-folder layout
  jenkins/jobs/pingcap-inc/tiflash-scripts/aa_folder.groovy
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/common/prepare_runtime_and_artifacts.sh
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_regression_test/pod.yaml
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/Jenkinsfile
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/dsl.groovy
  jenkins/jobs/pingcap-inc/tiflash-scripts/latest/pull_schrodinger_test/pod.yaml
Due: none

refactor(jobs): migrate pingcap-inc/enterprise-extensions to the job-folder layout (#5259)
  .ci/test-migrate-jenkins-jobs.sh
  docs/designs/jenkins-job-folder-layout.md
  jenkins/jobs/pingcap-inc/enterprise-extensions/OWNERS
  jenkins/jobs/pingcap-inc/enterprise-extensions/aa_folder.groovy
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/Jenkinsfile
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/dsl.groovy
  jenkins/jobs/pingcap-inc/enterprise-extensions/latest/pr_verify/pod.yaml
  jenkins/jobs/ti-community-infra/test-prod/prow_debug/dsl.groovy
  jenkins/jobs/tikv/copr-test/latest/pull_integration_test/dsl.groovy
  scripts/migrate-jenkins-jobs.sh
Due: none

refactor(jobs): migrate tikv/migration to the job-folder layout (#5260)
  jenkins/jobs/tikv/migration/aa_folder.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/Jenkinsfile
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/dsl.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_kafka_test/pod.yaml
  jenkins/jobs/tikv/migration/latest/pull_integration_test/Jenkinsfile
  jenkins/jobs/tikv/migration/latest/pull_integration_test/dsl.groovy
  jenkins/jobs/tikv/migration/latest/pull_integration_test/pod.yaml
Due: none
