Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/checkconfig:v20230621-df5abce
      command:
      - /ko-app/checkconfig
      args:
      - --plugin-config=../../ti-community-infra/configs/prow/config/plugins.yaml
      - --config-path=../../ti-community-infra/configs/prow/config/config.yaml
  ...

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      securityContext:
        runAsUser: 0
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
  ...

fix: correct script name for upgrade test in vector search pipeline
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add new params useBranchInArtifactUrl, default to false
  libraries/tipipeline/vars/component.groovy
Due: none

docs: add note about useBranchInArtifactUrl for tiflash component in fetchAndExtractArtifact function
  libraries/tipipeline/vars/component.groovy
Due: none

fix: update tiflash artifact extraction and move files in vector search pipeline
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): add new vector search test presubmit job (#3519)
  jobs/pingcap/tidb/latest/pull_vector_search_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_vector_search_test.yaml
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix: correct artifact URL construction in fetchAndExtractArtifact function
  libraries/tipipeline/vars/component.groovy
Due: none

feat(lib): add new params useBranchInArtifactUrl to support tiflash download url (#3520)
  libraries/tipipeline/vars/component.groovy
Due: none

chore(pingcap/tidb): enhance vector search test setup by adding version printout and Python environment setup
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/tidb): disable artifact verification for tiflash extraction in vector search test
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): update Python environment setup in vector search test
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

a
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

tici: Use makefile commands to build (#3521)
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update latest-presubmits.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update rustc version
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Update rustc version (#3523)
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Use TiKV's rustc nightly ver
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): add TiUP installation to vector search test setup
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

Create pull_cdc_kafka_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
Due: none

Create pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
Due: none

Create pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
Due: pull-verify-jenkins-pipelines

Update pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
Due: none

Use TiKV's rustc nightly ver (#3524)
  prow-jobs/tikv/raft-engine/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Create pull_cdc_storage_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
Due: none

Create pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
Due: pull-verify-jenkins-pipelines

Create pod-pull_cdc_storage_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_heavy.yaml
Due: none

Update pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
Due: pull-verify-jenkins-pipelines

ticdc: add integration test and make it ready (#3522)
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

fix(scripts/pingcap/community): use correct key for aliases in OWNERS file
  scripts/pingcap/community/prow-owners-updater.ts
Due: none

refactor(scripts/pingcap/community): remove unnecessary JSON stringify/parse
  scripts/pingcap/community/prow-owners-updater.ts
  scripts/pingcap/community/update-prow-owners.ts
Due: none

fix(scripts/pingcap/community): use correct key for aliases in OWNERS file (#3525)
  scripts/pingcap/community/prow-owners-updater.ts
  scripts/pingcap/community/update-prow-owners.ts
Due: none

chore(pingcap/tidb): add skip_if_only_changed condition to postsubmit jobs
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): add skip_if_only_changed condition to postsubmit jobs (#3526)
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): add download step for test assets in vector search test setup
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): set assets directory in vector search test setup
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(tici): update test image
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): add download step for test assets in vector search test setup (#3527)
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb-operator): add latest presubmit job configuration
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb-operator): remove oauth_token_secret from presubmit job configuration
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

chore(tici): update test image (#3528)
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Due: pull-verify-prow-jobs, pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-prow-jobs: any of: ^prow-jobs/.*\.(yaml|yml)
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
